<style>
  .scorekit.vcomp {
    position: relative;
    width: 100%;
  }

  .scorekit.vcomp > .scores {
    position: relative;
    width: 100%;
    height: var(--w-52);
    background: white;
  }

  .scorekit.vcomp > .scores img.pix-ab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }

  .scorekit.vcomp > .scores span.mypick {
    position: absolute;
    top: 101%;
    left: 50%;
    transform: translateX(-50%);
  }

  .scorekit.vcomp > .voters {
    width: 100%;
    height: var(--w-16);
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: var(--w-4);
    box-sizing: border-box;
  }

  .scorekit.vcomp > .voters > .profile {
    position: relative;
    width: var(--w-8);
    height: var(--w-8);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    margin-right: var(--w-2);
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scorekit.vcomp > .voters > .profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>


<script type='text/x-template' id='scorekit-template'>
  <div class='scorekit vcomp' v-if='vote_state != -1'>

    <div class='voters'>
      <div class='profile' v-for='v in voterlist[focused]' @click='session.open_boopage(v)'>
        <img :src='v.profile.pix'>
      </div>

      <div class='profile' v-if='(n_more_voters[focused]>0) && !post.voters[focused].onloading' @click='show_more_voters'>
        +[[ n_more_voters[focused] ]]
      </div>
    </div>


    <div class='scores'>
      <oxcard :rawkeys='rawkeys'>
        <template #O='sprops'>
          <img class='pix-ab' :src='post.pix_a' v-if='post.pix_a'>
          <oxer
            @click.native='focus(0)'
            :keyvalue='sprops.keyvalue'
            :act='0'
            :vote_state='focused'
            :score='post.nvotes_up'
            :is_active='true'
          ></oxer>
          <span class='mypick' v-if='vote_state==0'>마이픽</span>
        </template>

        <template #X='sprops'>
          <img class='pix-ab' :src='post.pix_b' v-if='post.pix_b'>
          <oxer
            @click.native='focus(1)'
            :keyvalue='sprops.keyvalue'
            :act='1'
            :vote_state='focused'
            :score='post.nvotes_down'
            :is_active='true'
          ></oxer>
          <span class='mypick' v-if='vote_state==1'>마이픽</span>
        </template>
      </oxcard>
    </div>
  </div>
</script>


<script>
  Vue.component('scorekit', {
    template: '#scorekit-template',
    delimiters: ['[[', ']]'],
    props: [ 'session', 'post' ],
    data: function() {
      return {
        focused: 0
      }
    },

    watch: {
      'post.id': {
        handler: function() {
          this.focused = this.vote_state;
        }, immediate: true
      }
    },

    methods: {
      focus: function(act) {
        this.focused = act;
      },

      show_more_voters: function() {
        // alert('선택놀이 참여한 부캐 더보기')
        this.session.open_network(this.post.voters[this.focused]);
      },
    },

    computed: {
      is_postvoteox: function() {
        return this.post.type == 'postvoteox'
      },

      is_postvoteab: function() {
        return this.post.type == 'postvoteab'
      },

      rawkeys: function() {
        if (this.is_postvoteox) {
          return 'OX'

        } else if (this.is_postvoteab) {
          return 'AB'
        }
      },

      vote_state: function() {
        if (this.session.auth) {
          return this.session.auth.has_voted_as(this.post.id)
        } else {
          return -1
        }
      },

      voterlist: function() {
        if (this.post.voters) {
          return {
            0: this.post.voters[0].list.slice(0, 5),
            1: this.post.voters[1].list.slice(0, 5)
          }
        } else {
          return { 0: [], 1: []}
        }
      },

      n_more_voters: function() {
        if (this.post.voters) {
          return {
            0: Math.max(this.post.voters[0].idlist.length, this.post.voters[0].list.length - 5),
            1: Math.max(this.post.voters[1].idlist.length, this.post.voters[1].list.length - 5)
          }
        } else {
          return { 0:0, 1:0}
        }
      },
    }
  });
</script>
