<style>
  .about.vcomp .page-body {
    background: white;
  }

  .about.vcomp .page-body > .container {
    width: 100%;
    /* height: 200px; */
    margin-top: var(--w-16);
    margin-bottom: var(--w-20);
    background: none;
    padding-left: var(--w-6);
    padding-right: var(--w-6);
    box-sizing: border-box;
  }

  .about.vcomp .page-body > .container > .section {
    font-size: 13px;
    white-space: pre-line;
  }

  .about.vcomp .page-body > .container > .section > .text {
    margin-top: var(--w-15);
    margin-bottom: var(--w-18);
    padding-left: var(--w-5);
    padding-right: var(--w-5);
    text-align: center;
    line-height: 1.5;
  }

  .about.vcomp .page-body > .container > .section > img {
    width: 100%;
    height: auto;
  }

  .about.vcomp .page-body > .container > .section > .tail {
    width: 100%;
    background: none;
    font-size: 11px;
    color: #CCCCCC;
    text-align: center;
    margin-bottom: 100px;
  }

  .about.vcomp .page-body > .container > .section > .tail > .item {
    margin-left: 5px;
    margin-right: 5px;
  }
</style>

<script type='text/x-template' id='about-template'>
  <page
    class='about vcomp'
    :order='session.page.about.order'
    :open='session.page.about.open'
    :from='session.page.about.from'
    :hide_menu='true'
    @close='session.close_page()'>

    <template #headerbar-body-trans>
      <span style='font-size:20px;font-weight:bold'>회사소개</span>
    </template>

    <template #headerbar-body-default>
      <span style='font-size:20px;font-weight:bold'>회사소개</span>
    </template>

    <template #page-body>
      <div class='container'>
        <div ref='upmost'></div>

        <div class='section'>
          <img src='/static/materials/pages/about2.jpg'>

          <div class='text'>
            <p>“요즘 뭐 입어?” 고민될 때?
              <b>스타일 맞춤연결, 모이버!</b></p>

            <p>팀 모이버는 혁신적인 패션 생태계를 만들어 가는
               스타일 테크 스타트업 입니다.</p>
          </div>

          <img src='/static/materials/pages/about3.jpg'>
          <div class='text'>
            <p>대량 생산 시스템과 대중 매체가 유행 이라는 이름으로
               불특정 다수에게 일방적으로 강요해 온
               표준 취향과 대세 추종의 시대는 저물고 있습니다.</p>


            <p>새로운 물결은 적극적으로 목소리를 높여
              각각 자기 취향을 찾고
              양방향 소통을 하며
              트랜드와 제품을 함께 만들어 나가길 원합니다.</p>
          </div>

          <img src='/static/materials/pages/about1.jpg'>

          <div class='text'>
            <p>모이버는 인공지능의 혁신적인 테크 솔루션으로
               양방향, 맞춤연결이 가능한 패션 애플리케이션을 만들어
               마케팅 커뮤니케이션과 브랜드 기획/생산의
               새로운 패러다임을 만들어 가고 있습니다. </p>
          </div>

          <img src='/static/materials/pages/about4.jpg'>

          <div class='text'>
            <p><b>임동석</b>(@magrittelim)은 모이버를 공동 설립하고
              CEO로서 전에 없던 롱테일 이코노미 시대의
              파괴적 혁신적인 패션 솔루션을
              만들고 있습니다.
            </p>
            <p style='margin-top:20px;'><b>강세진</b>(@gem763)은 모이버를 공동 설립하고
              CTO로서 패션에 최적화 된
              인공지능 모이버 엔진을 설계하고
              학습시키며 기술적인 혁신으로 아이디어를
              솔루션으로 진화시키고 있습니다.
            </p>
          </div>
        </div>
      </div>
    </template>

  </page>
</script>


<script>
  Vue.component('about', {
    template: '#about-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    },

    watch: {
      'session.page.about.section': function() {
        this.goto_upmost();
      }
    },

    methods: {
      goto_upmost: function() {
        if (this.$refs) {
          this.$refs.upmost.scrollIntoView({behavior: 'smooth', block: 'end', inline: 'nearest'});
        }
      }
    }
  });
</script>
