<style>
  .accountcheck.vcomp .page-body {
    width: 100%;
    height: 100%;
    background: white;
    font-size: 12px;
  }

  .accountcheck.vcomp .page-body > .section {
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .accountcheck.vcomp .page-body > .section.top {
    height: 20%;
  }

  .accountcheck.vcomp .page-body > .section.middle {
    height: 60%;
    background: white;
  }

  .accountcheck.vcomp .page-body > .section.bottom {
    height: 20%;
  }

  .accountcheck.vcomp .page-body > .section.middle > .action {
    width: var(--w-50);
    height: var(--w-10);
    border-radius: var(--w-3);
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    /* margin-bottom: 4%; */
  }

  .accountcheck.vcomp .page-body > .section.middle > .action.login-kakao {
    background: #FFE810;
    color: var(--color-dark);
  }

  .accountcheck.vcomp .page-body > .section.middle > .action.login-naver {
    background: #04C75A;
  }

  .accountcheck.vcomp .page-body > .section.middle > .action.login-facebook {
    background: #0095F6;
  }

  .accountcheck.vcomp .page-body > .section.middle > .action.login-email {
    background: var(--color-dark);
  }

  .accountcheck.vcomp .page-body > .section.middle > .action.next {
    margin-bottom: 0;
    background: var(--color-dark);
    border-radius: var(--w-3);
    opacity: 0.2;
    pointer-events: none;
  }

  .accountcheck.vcomp .page-body > .section.middle > .action.next.active {
    opacity: 1;
    pointer-events: auto;
  }

  .accountcheck.vcomp .page-body > .section.middle > .desc {
    width: 100%;
    text-align: center;
  }

  .accountcheck.vcomp .page-body > .section.middle > .title.desc {
    margin-bottom: 2%;
    font-size: 20px;
    /* color: gray; */
    color: var(--color-dark);
  }

  .accountcheck.vcomp .page-body > .section.middle > .title.desc > span.nick {
    color: var(--color-dark);
  }

  .accountcheck.vcomp .page-body > .section.middle > .subtitle.desc {
    margin-bottom: 10%;
    color: #CCCCCC;
  }

  .accountcheck.vcomp .page-body > .section.middle > .explain.desc {
    margin-top: 10%;
    margin-bottom: 5%;
    color: #CCCCCC;
  }

  .accountcheck.vcomp .page-body > .section.middle > .agree.desc {
    margin-top: 5%;
    color: #CCCCCC;
  }

  .accountcheck.vcomp .page-body > .section.middle > img.profilepix {
    width: var(--w-35);
    height: var(--w-35);
    background: white;
    filter: brightness(95%);
    border-radius: 50%;
    object-fit: cover;
  }

  .accountcheck.vcomp .page-body > .section.bottom > .tail {
    width: 100%;
    background: none;
    font-size: 11px;
    color: #CCCCCC;
    text-align: center;
  }

  .accountcheck.vcomp .page-body > .section.bottom > .tail > .item {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
</style>


{% load socialaccount %}
<script type='text/x-template' id='accountcheck-template'>
  <page
    class='accountcheck vcomp'
    :order='session.page.accountcheck.order'
    :open='session.page.accountcheck.open'
    :from='session.page.accountcheck.from'
    :hide_headerbar='true'
    @close='session.close_page()'>

    <template #page-body>
      <div class='section top'></div>

      <div class='section middle'>
        <div class='desc title'>혹시 <span class='nick'><b>[[ nick ]]</b></span>님 이신가요?</div>
        <div class='desc subtitle'>[[ email ]]</div>

        <img class='profilepix' :src='profilepix'>
        <div class='desc explain'>맞다면, 이미 [[ provider_kr ]]로 가입하셨어요</div>

        <div class='action login-kakao' v-if='provider=="kakao"' @click='login_kakao'>카카오로 로그인하기</div>
        <div class='action login-naver' v-else-if='provider=="naver"' @click='login_naver'>네이버로 로그인하기</div>
        <div class='action login-facebook' v-else-if='provider=="facebook"' @click='login_facebook'>페이스북으로 로그인하기</div>
        <div class='action login-email' v-else @click='session.open_emailogin(email)'>이메일로 로그인하기</div>
        <div class='desc agree'>약관에 동의하고 로그인합니다.</div>
      </div>

      <div class='section bottom'>
        <div class='tail'>
          <span class='item' @click='session.open_about()'>회사소개</span>
          <span class='item' @click='session.open_landing()'>서비스소개</span>
          <span class='item' @click='session.open_recruit()'>채용</span>
          <span class='item' @click='session.open_policy()'>약관</span>
          <span class='item' @click='session.open_privacy()'>개인정보보호</span>
          <span class='item' @click='session.contact()'>문의</span>
        </div>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('accountcheck', {
    template: '#accountcheck-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        facebook_login_url: "{% provider_login_url 'facebook' method='oauth2' %}",
        google_login_url: "{% provider_login_url 'google' method='oauth2' %}",
        kakao_login_url: "{% provider_login_url 'kakao' method='oauth2' %}",
        naver_login_url: "{% provider_login_url 'naver' method='oauth2' %}"
      }
    },

    computed: {
      existing: function() {
        return this.session.page.accountcheck.existing
      },

      email: function() {
        if (this.existing) {
          return this.existing.email
        }
      },

      nick: function() {
        if (this.existing) {
          return this.existing.nick
        }
      },

      profilepix: function() {
        if (this.existing) {
          return this.existing.profilepix
        }
      },

      provider: function() {
        if (this.existing) {
          return this.existing.provider
        }
      },

      provider_kr: function() {
        switch (this.provider) {
          case 'kakao':
            return '카카오'
          case 'naver':
            return '네이버'
          case 'facebook':
            return '페이스북으'
          default:
            return '이메일'
        }
      }
    },

    methods: {
      login_facebook: function() {
        window.location.assign(this.facebook_login_url);
      },

      login_kakao: function() {
        window.location.assign(this.kakao_login_url);
      },

      login_naver: function() {
        window.location.assign(this.naver_login_url);
      },
    }
  });
</script>
