<style>
  .agit.vcomp .page-body {
    background: #f8f8f8;
  }

  .agit.vcomp .page-body > .container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 200px;
  }

  .agit.vcomp .page-body > .container > .segment {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .agit.vcomp .page-body > .container > .segment > .menu {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 12px;
    width: calc(100% - 32px);
  }

  .agit.vcomp .page-body > .container > .segment > .spacer {
    height: 4px
  }

  .agit.vcomp .page-body > .container > .segment > .menu > .item {
    /* width: 76px; */
    height: 36px;
    /* background: var(--color-dark); */
    line-height: 36px;
    text-align: center;
    border-radius: 100px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--color-dark);
    cursor: pointer;
  }

  .agit.vcomp .page-body > .container > .segment > .menu > .item.on {
    background: var(--color-dark);
    color: white;
  }

  .agit.vcomp .page-body > .container > .segment > .sections {
    position: relative;
    width: 100%;
    /* height: 300px; */
  }

  /* .agit.vcomp .page-body > .container > .segment > .sections > .section.related {
    padding-top: 100px;
    background: lightpink;
  } */

  .agit.vcomp .page-body > .container > .segment > .sections > .section {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .agit.vcomp .page-body > .container > .segment > .profilecard {
    position: relative;
    background: white;
    border-radius: 8px;
    width: calc(100% - 32px);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard.my {
    margin-top: 116px;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard.other {
    margin-top: 60px;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard.other > .profilepix {
    margin-top: 16px;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard.other > .nick {
    margin-bottom: 16px;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--color-dark);
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .profilepix {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
    filter: brightness(95%);
  }


  .agit.vcomp .page-body > .container > .segment > .profilecard > .profilepix > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .profilepix > img.loaded {
    opacity: 1;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .nick {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .text {
    font-size: 12px;
    color: #777777;
    margin: 10px;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .tail {
    /* background: lightblue; */
    width: 100%;
    display: flex;
    flex-direction: row;
  }


  .agit.vcomp .page-body > .container > .segment > .profilecard > .tail > .subtail {
    width: 50%;
    padding: 0 16px 16px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }


  .agit.vcomp .page-body > .container > .segment > .profilecard > .tail > .subtail.left {
    /* background: lightblue; */
    align-items: flex-start;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .tail > .subtail.right {
    /* background: lightpink; */
    align-items: flex-end;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .tail > .subtail > .lv {
    font-size: 24px;
    font-weight: bold;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .tail > .subtail > .lv-message {
    font-size: 10px;
    color: #999999;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .tail > .subtail > .point {
    font-size: 16px;
    font-weight: bold;
  }

  .agit.vcomp .page-body > .container > .segment > .profilecard > .tail > .subtail > .remain {
    font-size: 16px;
  }

  .agit.vcomp .page-body > .popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
</style>

<script type='text/x-template' id='agit-template'>
  <page
    class='agit vcomp'
    :order='session.page.agit.order'
    :open='session.page.agit.open'
    :from='session.page.agit.from'
    :hide_close='hide_close'
    :trans_headerbar='true'
    :hide_menu='true'
    @scroll='scroll'
    @close='session.close_page()'>

    <template #page-body>
      <div class='container'>

        <div class='segment'>
          <div class='profilecard my' v-if='is_myboo' @click=''>
            <div class='nick'>HI, @[[ nick ]]</div>

            <div class='profilepix'>
              <img :src='profilepix' @load='profilepix_loaded'>
            </div>

            <div class='text'>[[ text ]]</div>

            <div class='tail'>
              <div class='subtail left'>
                <div class='lv'>LEVEL [[ level ]]</div>
                <div class='lv-message'>[!] 레벨업을 하면 더 많은 리서치에 참여할 수 있어요</div>
              </div>

              <div class='subtail right'>
                <div class='point'>누적 [[ amount ]]P</div>
                <div class='remain'>레벨업까지 [[ amount_remain ]]P</div>
              </div>
            </div>

            <div class='spinner' v-if='!profilecard_ready'>
              <i class="fa fa-spinner fa-spin"></i>
            </div>
          </div>

          <div class='profilecard other' v-else>
            <div class='profilepix'>
              <img :src='profilepix' @load='profilepix_loaded'>
            </div>
            <div class='nick'>[[ nick ]]!</div>
            <div class='text' v-if='text'>[[ text ]]</div>
            <!-- <div class='text' v-else>아직 자기소개를 입력하지 않으셨네요</div> -->

            <div class='spinner' v-if='!profilecard_ready'>
              <i class="fa fa-spinner fa-spin"></i>
            </div>
          </div>
        </div>

        <div class='segment'>
          <div class='menu' v-if='is_myboo'>
            <span class='item' :class='{ on: on("myinfo") }' @click='sectionize("myinfo")'>프로필</span>
            <span class='item' :class='{ on: on("related") }' @click='sectionize("related")'>참여 중인 이벤트</span>
            <span class='item' :class='{ on: on("collection") }' @click='sectionize("collection")'>컬렉션</span>
          </div>

          <div class='spacer' v-else></div>
        </div>

        <div class='segment content'>
          <div class='sections'>
            <div class='section myinfo' v-if='on("myinfo")'>
              <myinfo :session='session'></myinfo>
            </div>

            <div class='section related' v-if='on("related")'>
              <myevents :session='session'></myevents>
              <!-- <myevents :session='session' @pop_sendme='pop_sendme($event)'></myevents> -->
            </div>

            <div class='section collection' v-else-if='on("collection")'>
              <colib :boo='boo' :collections='collections' :session='session' ref='colib'></colib>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class='popup' v-if='pop'></div> -->
    </template>
  </page>
</script>


<script>
  Vue.component('agit', {
    template: '#agit-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        // section: 'related',
        section: 'collection',
        // section: 'myinfo'
        // pop: false
      }
    },

    watch: {
      is_myboo: function(_new, _old) {
        if (_new) {
          this.section = 'related';
        }

        // if (!_new) {
        //   this.section = 'collection';
        // }
      }
    },

    computed: {
      boo: function() {
        const _b = this.session.page.agit.boo;
        if (_b) {
          return _b.load();
        }
      },

      is_myboo: function() {
        if (this.boo) {
          return this.session.user.is_myboo(this.boo)
        }
      },

      hide_close: function() {
        if (this.is_myboo) {
          return true
        }
      },

      profilecard_ready: function() {
        if (this.is_myboo) {
          return this.profilepix_ready && this.wallet_loaded

        } else {
          return this.profilepix_ready
        }
      },

      profilepix_ready: function() {
        if (this.boo) {
          return this.boo.profile && this.boo.id
        }
      },

      profilepix: function() {
        if (this.profilepix_ready) {
          return this.boo.profile.pix
        }
      },

      nick: function() {
        if (this.boo) {
          return this.boo.nick
        }
      },

      text: function() {
        if (this.boo) {
          return this.boo.text
        }
      },

      collections: function() {
        if (this.boo) {
          return this.boo.collections
        }
      },

      wallet_loaded: function() {
        if (this.boo) {
          return this.boo.wallet != undefined
        }
      },

      amount: function() {
        if (this.wallet_loaded) {
          return this.boo.wallet.amount

        } else {
          return 0
        }
      },

      amount_to_levelup: function() {
        if (this.wallet_loaded) {
          return this.boo.wallet.amount_to_levelup

        } else {
          return 0
        }
      },

      amount_remain: function() {
        if (this.wallet_loaded) {
          return this.amount_to_levelup - this.amount

        } else {
          return 0
        }
      },

      level: function() {
        if (this.wallet_loaded) {
          return this.boo.wallet.level
        }
      }
    },

    methods: {
      profilepix_loaded: function(event) {
        event.target.classList.add('loaded');
      },

      // pop_sendme: function(raffle) {
      //   console.log(raffle);
      // },

      // go_profiler: function() {
      //   if (this.is_myboo && this.boo.profile && this.boo.id)
      //     this.session.open_profiler();
      // },

      on: function(sec) {
        return this.section == sec
      },

      sectionize: function(sec) {
        this.section = sec;
      },

      scroll: function(obj) {
        this.session.scroll_direction = obj.scroll_direction;
      }
    }
  });
</script>
