<style>
  .balancegame.vcomp .page-body > .analyzer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
  }

  .balancegame.vcomp .page-body > .analyzer.on {
    opacity: 1;
    pointer-events: auto;
  }

  .balancegame.vcomp .page-body > .analyzer > .box {
    position: absolute;
    left: 16px;
    right: 16px;
    /* top: 100%; */
    /* height: calc(50% - 77px - 16px - var(--iphone-bottom)); */
    background: white;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s;
    bottom: calc(32px - 50px - var(--width));
  }

  .balancegame.vcomp .page-body > .analyzer.on > .box {
    bottom: calc(77px + 16px + var(--iphone-bottom));
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .head {
    position: relative;
    width: 100%;
    height: 70px;
    background: white;
    padding-left: 60px;
    box-sizing: border-box;
    /* border-bottom: 1px solid #999; */
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .head > .head0 {
    width: 100%;
    height: 30px;
    /* background: orange; */
    font-size: 14px;
    font-weight: bold;
    color: var(--color-dark);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .head > .head1 {
    width: 100%;
    height: 40px;
    /* background: lightblue; */
    font-size: 12px;
    /* font-weight: bold; */
    color: #999;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .head > .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .head > .icon > img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .head > .types {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    /* background: orange; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    color: var(--color-dark);
    padding-right: 10px;
    box-sizing: border-box;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .head > .types > .type {
    font-size: 10px;
    padding: 3px;
    border-radius: 100px;
    /* height: 20px; */
    box-sizing: border-box;
    /* line-height: 20px; */
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .head > .types > .type.on {
    background: #4E99C3;
    color: white;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .tail {
    position: relative;
    width: calc(100% - 20px);
    height: 30px;
    /* background: orange; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    color: #999;
    border-top: 1px solid #999;
    font-size: 10px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .bar {
    height: 1px;
    border: 0px;
    /* padding: 0; */
    margin: 0;
    background: #999;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content {
    position: relative;
    /* padding: 0 16px 16px 16px; */
    box-sizing: border-box;
    /* flex-grow: 1; */
    background: white;
    /* overflow-y: auto; */
    /* height: calc(100% - 50px - 16px); */
    width: 100%;
    padding-top: calc(100% - 60px);
    /* padding-top: 100%; */
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .keyword {
    position: absolute;
    top: 0;
    right:calc(100% - 60px);
    width: calc(100% - 60px);
    bottom: 0;
    transition: all 0.3s;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .prop {
    position: absolute;
    top: 0;
    right: calc(60px - 100%);
    width: calc(100% - 60px);
    bottom: 0;
    transition: all 0.3s;
    /* background: orange; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
    padding-bottom: 50px;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .keyword.on {
    right: 0;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .prop.on {
    right: 0;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .prop > .proptem {
    position: relative;
    width: calc((100% - 30px - 10px) / 3);
    height: 60px;
    /* background: lightblue; */
    margin-left: 10px;
    margin-top: 10xp;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .prop > .proptem > .name {
    font-size: 9px;
    color: #999;
    padding-left: 5px;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .prop > .proptem > .value {
    font-size: 11px;
    /* color: #999; */
    border: 1px solid black;
    /* padding: 3px; */
    height: 24px;
    line-height: 24px;
    border-radius: 100px;
    /* display: inline-block; */
    padding-left: 8px;
    padding-right: 8px;
    /* min-width: 50px; */
    box-sizing: border-box;
    margin-top: 2px;
  }

  /* .balancegame.vcomp .page-body > .analyzer > .box > .content > .prop > .proptem:nth-child(1),
  .balancegame.vcomp .page-body > .analyzer > .box > .content > .prop > .proptem:nth-child(2),
  .balancegame.vcomp .page-body > .analyzer > .box > .content > .prop > .proptem:nth-child(3) {
    border: 0px;
  } */

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .keyword > .canvas {
    position: absolute;
    top: 10px;
    left: 10px;
    right:10px;
    bottom: 10px;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .sidemenu > .item {
    width: 40px;
    height: 40px;
    /* background: #4E99C3; */
    margin-top: 10px;
    border-radius: 100px;
    color: var(--color-dark);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .sidemenu > .item.on {
    background: #4E99C3;
    color: white;
  }

  .balancegame.vcomp .page-body > .analyzer > .box > .content > .keyword > .canvas > svg text {
    text-anchor: middle;
  }

  .balancegame.vcomp .page-body > .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: white;
  }

  .balancegame.vcomp .page-body > .swiper-container > .swiper-wrapper {
    /* z-index: 0; */
  }

  .balancegame.vcomp .page-body > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
  }
</style>


<script type='text/x-template' id='balancegame-template'>
  <page
    class='balancegame vcomp'
    :order='session.page.balancegame.order'
    :open='session.page.balancegame.open'
    :from='session.page.balancegame.from'
    :hide_close='true'
    :hide_menu='true'
    :hide_headerbar='true'
    :trans_headerbar='true'>

    <template #headerbar-menu>
    </template>

    <template #headerbar-body-default>
    </template>

    <template #page-body>
      <div class='swiper-container' ref='swiper'>
        <div class='swiper-wrapper'>
          <div class="swiper-slide" v-for='tp in tagpairs_list'>
            <tagchooser :tagpair='tp' :swiper='swiper' :session='session'></tagchooser>
          </div>
        </div>
      </div>

      <div class='analyzer' :class='{ on: on_analyzer }' @click='close_analyzer'>
        <div class='box'>
          <div class='head' @click.stop>
            <div class='head0'>[[ analyzer_title ]]</div>
            <div class='head1'>내 스타일 취향은?</div>
            <div class='icon'>
              <img src='/static/materials/icons/balance_result_icon.png'>
            </div>

            <div class='types' @click.stop>
              <div class='type' :class='{ on: t.en==analyzing_type }' v-for='t in types' v-if='has_type(t.en)' @click='set_type(t.en)'>[[ t.ko ]]</div>
            </div>
          </div>

          <hr class='bar'>

          <div class='content' @click.stop>
            <div class='keyword' :class='{ on: analyzing_view=="keyword" }'>
              <div class='canvas' ref='wordcloud'></div>
            </div>

            <div class='prop' :class='{ on: analyzing_view=="prop" }'>
              <div class='proptem' v-for='p in props'>
                <div class='name'>[[ prop_match[p.prop] ]]</div>
                <span class='value'>[[ prop_value(p.val) ]]</span>
              </div>
            </div>

            <div class='sidemenu'>
              <div class='item prop' :class='{ on: analyzing_view=="prop" }' @click='set_view("prop")'>속성</div>
              <div class='item keyword' :class='{ on: analyzing_view=="keyword" }' @click='set_view("keyword")'>키워드</div>
            </div>
          </div>

          <div class='tail'>
            다음 집계까지 계속해 볼까요?
          </div>
        </div>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('balancegame', {
    template: '#balancegame-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        on_analyzer: false,
        analyzing_type: 'total',
        analyzing_view: 'prop',
        types: [
          { ko: '전체', en: 'total' },
          { ko: '의류', en: 'clothing' },
          { ko: '신발', en: 'shoes' },
          { ko: '가방/지갑', en: 'bags' },
          { ko: '잡화', en: 'accessories' },
          { ko: '쥬얼리', en: 'jewelries' },
          { ko: '모자', en: 'hats' },
        ],
        // ['전체', '의류', '신발', '악세서리'],

        prop_match: {
          color: '색상',
          detail: '디테일',
          fit: '핏',
          heel_height: '굽높이',
          heel_shape: '굽모양',
          length: '기장',
          look: '스타일',
          neckline: '넥라인',
          pattern: '프린트',
          shape: '형태',
          size: '사이즈',
          sleeve_length: '소매기장',
          sole_type: '밑창모양',
          strap: '가방/지갑 스트랩',
          texture: '소재감',
          toe_type: '앞코모양',
          main_material: '주얼리 메인소재',
          sub_material: '주얼리 서브소재'
        },

        swiper: undefined,
        swiper_options: {
          direction: 'horizontal',
          simulateTouch: true,
          observer: true,
          observeParents: true,
          slidesPerView: 'auto',
          mousewheel: {
            releaseOnEdges: true,
          }
        }
      }
    },

    watch: {
      itagpair: function(_new, _old) {
        // console.log(_new, this.tagpairs.list.length)
        if (this.tagpairs.list.length - _new < 3) {
          this.tagpairs.load(3);
        }

        if (_new > _old) {
          this.session.scroll_direction = 'down';
        } else {
          this.session.scroll_direction = 'up';
        }
      },

      stat_updated: function(_new, _old) {
        if (_new) {
          this.wordcloud_render(this.analyzing_type);
          this.on_analyzer = true;
          setTimeout(() => { this.session.balancegame2.stat_updated = false; }, 100);
        }
      },

      analyzing_type: function(_new, _old) {
        this.wordcloud_render(_new);
      },
    },


    mounted: function() {
      this.swiper = new Swiper(this.$refs.swiper, this.swiper_options);
    },

    methods: {
      goto_login: function() {
        this.session.open_login();
      },

      close_analyzer: function() {
        this.on_analyzer = false;
      },

      wordcloud_render: function(type_en) {
        d3.select("svg").remove();

        // https://codepen.io/art-lav/pen/oKGgeZ?editors=1111

        var raw;
        var size = Math.min(this.$refs.wordcloud.clientWidth, this.$refs.wordcloud.clientHeight);
        // var color = d3.scaleOrdinal(d3.schemeCategory10);
        var color = d3.scaleOrdinal(d3.schemeCategory20c);

        var chart = d3.select(".balancegame.vcomp .page-body > .analyzer > .box > .content > .keyword > .canvas")
        // var chart = d3.select(`.balancegame.vcomp .page-body > .analyzer > .box > .content > .wordcloud.${type}`)
          .append('svg')
          .attr("width", size)
          .attr("height", size);

        var pack = d3.pack()
          .size([size, size])
          .padding(size*0.005);

        // var counts = this.result_clothing;//console.log(counts);
        // var counts = this.keywords_by(this.analyzing_type);//console.log(counts);
        // var counts = this.keywords_by(type_en);//console.log(counts);
        var counts = this['keywords_by_' + type_en];
        var keys = Object.keys(counts).sort((a, b) => counts[b] - counts[a]).slice(0,30);//console.log(keys);
        var root = d3.hierarchy({children: keys})
          .sum(function(d) {
            // return counts[d];
            return Math.pow(counts[d], 1.5);
          });

        // console.log(root);

        var node = chart.selectAll(".node")
          .data(pack(root).leaves())
          .enter().append("g")
          .attr("class", "node")
          .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

        node.append("circle")
          .attr("id", function(d) { return d.data; })
          .attr("r", function(d) { return d.r; })
          .style("fill", function(d) { return color(d.data); });

        node.append("clipPath")
          .attr("id", function(d) { return "clip-" + d.data; })
          .append("use")
          .attr("xlink:href", function(d) { return "#" + d.data; });

        node.append("text")
          .attr("clip-path", function(d) { return "url(#clip-" + d.data + ")"; })
          .append("tspan")
          .attr("x", 0)
          .attr("y", function(d) { return d.r/8; })
          .attr('fill', 'white')
          .attr("font-size", function(d) {
            if (d.data.length > 4) {
              return d.r/3

            } else {
              return d.r/2
            }
          })
          .text(function(d) { return d.data; });
      },

      keywords_by: function(type_en) {
        const dict = {};
        const screened = (type_en == 'total') ? this.prop_count : _.filter(this.prop_count, ['type', type_en]);

        screened.forEach(o => {
            if (o.category in dict) {
                dict[o.category] += o.count;
            } else {
                dict[o.category] = o.count;
            }

            if ((o.item in dict) && (o.item != o.category)) {
              dict[o.item] += o.count;
            } else if (!(o.item in dict) && (o.item != o.category)) {
              dict[o.item] = o.count;
            }

            if (o.val in dict) {
              dict[o.val] += o.count;
            } else {
              dict[o.val] = o.count;
            }
        });

        return dict
      },

      props_by: function(type_en) {
        return _.filter(this.max_prop, ['type', type_en])
      },

      has_type: function(type_en) {
        if (this.prop_count) {
          if (type_en == 'total') {
            return true

          } else {
            return _.findIndex(this.prop_count, ['type', type_en]) >= 0
          }
        }
      },

      set_type: function(type_en) {
        this.analyzing_type = type_en;
      },

      set_view: function(v) {
        this.analyzing_view = v;
      },

      prop_value: function(val) {
        if (typeof(val) == 'boolean') {
          if (val) {
            return '스트랩O'
          } else {
            return '스트랩X'
          }

        } else {
          return val
        }
      }
    },

    computed: {
      tagpairs: function() {
        return this.session.balancegame2.tagpairs
      },

      tagpairs_list: function() {
        if (this.tagpairs) {
          return this.tagpairs.list
        }
      },

      itagpair: function() {
        if (this.swiper) {
          return this.swiper.realIndex
        }
      },

      stat: function() {
        return this.session.balancegame2.stat
      },

      prop_count: function() {
        if (this.stat) {
          return this.stat.prop_count
        }
      },

      max_prop: function() {
        if (this.stat) {
          return this.stat.max_prop
        }
      },

      stat_updated: function() {
        return this.session.balancegame2.stat_updated
      },

      analyzer_title: function() {
        if (this.session.balancegame2.stat_last) {
          return '오늘의 밸런스게임 결과'

        } else {
          return '밸런스게임 중간집계'
        }
      },

      keywords_by_total: function() {
        return this.keywords_by('total')
      },

      keywords_by_clothing: function() {
        return this.keywords_by('clothing')
      },

      keywords_by_shoes: function() {
        return this.keywords_by('shoes')
      },

      keywords_by_bags: function() {
        return this.keywords_by('bags')
      },

      keywords_by_accessories: function() {
        return this.keywords_by('accessories')
      },

      keywords_by_jewelries: function() {
        return this.keywords_by('jewelries')
      },

      keywords_by_hats: function() {
        return this.keywords_by('hats')
      },

      props_by_total: function() {
        if (this.stat) {
          return this.stat.max_prop_total
        }
      },

      props_by_clothing: function() {
        return _.reject(this.props_by('clothing'), ['prop', 'strap'])
      },

      props_by_shoes: function() {
        return _.reject(this.props_by('shoes'), ['prop', 'strap'])
      },

      props_by_bags: function() {
        return this.props_by('bags')
      },

      props_by_accessories: function() {
        return _.reject(this.props_by('accessories'), ['prop', 'strap'])
      },

      props_by_jewelries: function() {
        return _.reject(this.props_by('jewelries'), ['prop', 'strap'])
      },

      props_by_hats: function() {
        return _.reject(this.props_by('hats'), ['prop', 'strap'])
      },

      props: function() {
        return this['props_by_' + this.analyzing_type]
      }
    }
  });
</script>
