<style>
  .banner.vcomp {
    position: relative;
    background: none;
    width: 100%;
    padding: 32px 16px 16px 16px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .banner.vcomp > .pix {
    position: relative;
    width: 100%;
    padding-top: 58%;
    margin-bottom: 24px;
    background: rgba(0,0,0,0.03);
    border-radius: 8px;
    overflow: hidden;
  }

  .banner.vcomp > .pix > img.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    /* filter: brightness(95%); */
    opacity: 1;
    transition: all 0.5s;
  }

  .banner.vcomp > .pix > .reward {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .banner.vcomp > .pix > img.cover.finished + .reward {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 18px;
    width: 100%;
    text-align: center;
  }

  .banner.vcomp > .pix > .logo {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner.vcomp > .pix > .logo > img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
  }

  .banner.vcomp > .content {
    position: relative;
    width: 100%;
    opacity: 1;
    min-height: 54px;
    transition: all 0.5s;
  }

  .banner.vcomp > .content > .title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .banner.vcomp > .content > .title > span.onwork {
    color: var(--color-point);
  }

  .banner.vcomp > .content > .info {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .banner.vcomp > .content > .info > span.due {
    /* color: var(--color-gray); */
    color: #999999;
  }
</style>

<script type='text/x-template' id='banner-template'>
  <div class='banner vcomp' @click='session.open_zthinker()'>

    <div class='pix'>
      <img class='cover' src='/static/materials/zthinker/z-thinker-banner.png'>
      <!-- <span class='reward'>[[ reward ]]</span> -->
      <!-- <div class='logo' v-if='logo'>
        <img :src='logo'>
      </div> -->
    </div>

    <div class='content'>
      <div class='title'>모이버 Z-thinker 1기 모집</div>
      <div class='info'>
        <span class='owner'>MOIBER LAB</span>
        <span class='due'>21.09.15 ~ 21.10.01</span>
      </div>
    </div>

  </div>
</script>


<script>
  Vue.component('banner', {
    template: '#banner-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {}
    }
  });
</script>
