<style>
  .baseinfo.vcomp .page-body {
    width: 100%;
    height: 100%;
    background: white;
    font-size: 12px;
  }

  .baseinfo.vcomp .page-body > .section {
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .baseinfo.vcomp .page-body > .section.middle {
    height: 100%;
    background: none;
  }

  .baseinfo.vcomp .page-body > .section.middle > .desc {
    width: 100%;
    text-align: center;
  }

  .baseinfo.vcomp .page-body > .section.middle > .title.desc {
    margin-bottom: 2%;
    font-size: 16px;
  }

  .baseinfo.vcomp .page-body > .section.middle > .subtitle.desc {
    margin-bottom: 10%;
    color: #CCCCCC;
  }

  .baseinfo.vcomp .page-body > .section.middle > .agree.desc {
    margin: 20px;
    color: #CCCCCC;
  }

  .baseinfo.vcomp .page-body > .section.middle > .signup.desc {
    margin-top: 9%;
    color: var(--color-dark);
    text-decoration: underline;
  }

  .baseinfo.vcomp .page-body > .section.middle > .action {
    width: calc(100% - 64px);
    height: 50px;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
  }

  .baseinfo.vcomp .page-body > .section.middle > .action.baseinfo {
    background: var(--color-dark);
    pointer-events: none;
    opacity: 0.2;
  }

  .baseinfo.vcomp .page-body > .section.middle > .action.baseinfo.active {
    pointer-events: auto;
    opacity: 1;
  }

  .baseinfo.vcomp .page-body > .section > .infobox {
    width: calc(100% - 64px);
    /* height: 100px; */
    font-size: 15px;
    /* background: lightblue; */
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    margin: 10px;
  }

  .baseinfo.vcomp .page-body > .section > .infobox > table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }

  .baseinfo.vcomp .page-body > .section > .infobox > table td {
    box-sizing: border-box;
    position: relative;
    text-align: left;
    padding: 0;
    height: 48px;
    border-bottom: 1px solid #e4e4e4;
  }

  .baseinfo.vcomp .page-body > .section > .infobox > table tr:last-child > td {
    border-bottom: none;
  }

  .baseinfo.vcomp .page-body > .section > .infobox > table td > input {
    width: 100%;
    height: 100%;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    padding-right: 10px;
    background: none;
  }

  .baseinfo.vcomp .page-body > .section > .infobox > table td > input:focus {
    outline: none;
  }

  .baseinfo.vcomp .page-body > .section > .infobox > table td > input::placeholder {
    font-weight: normal;
    color: #333333;
  }

  .baseinfo.vcomp .page-body > .section > .infobox > table td.birth > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }

  .baseinfo.vcomp .page-body > .section > .infobox > table td.head {
    padding-left: 15px;
    width: 120px;
    box-sizing: border-box;
    color: #777777;
  }
</style>


<script type='text/x-template' id='baseinfo-template'>
  <page
    class='baseinfo vcomp'
    :order='session.page.baseinfo.order'
    :open='session.page.baseinfo.open'
    :from='session.page.baseinfo.from'
    :hide_headerbar='true'
    @close='session.close_page()'>

    <template #page-body>
      <div class='section middle'>
        <div class='desc title'><b>기본정보 입력</b></div>
        <!-- <div class='desc subtitle'>가입하고 더 많은 활동을 해보세요</div> -->

        <div class='infobox'>
          <table>
            <tbody>
              <tr>
                <td class='head'>이름</td>
                <td><input v-model.trim='name' placeholder='' spellcheck='false'></td>
              </tr>

              <tr>
                <td class='head'>성별</td>
                <td>
                  <label><input type="radio" value="남성" v-model="gender"><b>남성</b></label>
                  <label><input type="radio" value="여성" v-model="gender"><b>여성</b></label>
                </td>
              </tr>

              <tr>
                <td class='head'>생년월일</td>
                <td class='birth'><input v-model.trim='birth' placeholder='' spellcheck='false' type='date'></td>
              </tr>

              <tr>
                <td class='head'>휴대번호(선택)</td>
                <td><input v-model.trim='mobile' placeholder='' spellcheck='false' @keyup='mobilenumber'></td>
              </tr>

              <tr>
                <td class='head'>주소(선택)</td>
                <td><input v-model.trim='address' placeholder='' spellcheck='false'></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class='action baseinfo' :class='{ active: changed }' @click='save'>저장하기</div>

      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('baseinfo', {
    template: '#baseinfo-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        name: '',
        gender: '',
        birth: '2010-01-01',
        mobile: '',
        address: '',
      }
    },

    watch: {
      'session.page.baseinfo.open': function(_new, _old) {
        if (_new) {
          this.name = this.auth_name;
          this.gender = this.auth_gender;
          this.birth = this.auth_birth=='' ? '2010-01-01' : this.auth_birth;
          this.mobile = this.auth_mobile;
          this.mobile_verified = this.auth_mobile_verified;
          this.address = this.auth_address;
        }

        if (_new) {
          this.session.fix_window_width();

        } else {
          this.session.release_window_width();
        }
      }
    },

    computed: {
      myboo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },

      wallet: function() {
        if (this.myboo) {
          return this.myboo.wallet
        }
      },

      rewarded: function() {
        if (this.wallet) {
          return this.wallet.baseinfo_inputed
        }
      },

      rewardable: function() {
        return (this.name != '') && (this.gender != '') && (this.birth != '')
      },

      auth_name: function() {
        return this.session.user.auth.name
      },

      auth_gender: function() {
        return this.session.user.auth.gender
      },

      auth_birth: function() {
        return this.session.user.auth.birth
      },

      auth_mobile: function() {
        return this.session.user.auth.mobile
      },

      auth_mobile_verified: function() {
        return this.session.user.auth.mobile_verified
      },

      auth_address: function() {
        return this.session.user.auth.address
      },

      changed: function() {
        return (this.name!=this.auth_name)
                || (this.gender!=this.auth_gender)
                || (this.birth!=this.auth_birth)
                || (this.mobile!=this.auth_mobile)
                || (this.address!=this.auth_address)
      }
    },

    methods: {
      mobilenumber: function() {
        this.mobile = this.mobile.replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-");
      },

      save: function() {
        const formdata = new FormData();
        formdata.append('csrfmiddlewaretoken', '{{csrf_token}}');

        if (this.name!=this.auth_name) {
          formdata.append('name', this.name);
          this.session.user.auth.name = this.name;
        }

        if (this.gender!=this.auth_gender) {
          formdata.append('gender', this.gender);
          this.session.user.auth.gender = this.gender;
        }

        if (this.birth!=this.auth_birth) {
          formdata.append('birth', this.birth);
          this.session.user.auth.birth = this.birth;
        }

        if (this.mobile!=this.auth_mobile) {
          formdata.append('mobile', this.mobile);
          this.session.user.auth.mobile = this.mobile;
          this.session.user.auth.mobile_verified = false;
        }

        if (this.address!=this.auth_address) {
          formdata.append('address', this.address);
          this.session.user.auth.address = this.address;
        }

        fetch('/signup/setbase/change/', { method: 'POST', body: formdata })
          .then(res => res.json())
          .then(js => { console.log(js); });

        if (this.rewarded && !this.rewardable) {
          setTimeout(() => {
            this.wallet.receive('baseinfo_input', -this.wallet.amount_baseinfo_input);
            this.wallet.baseinfo_inputed = false;
            alert(this.wallet.amount_baseinfo_input + 'P를 차감했습니다');
          }, 600);

        } else if (!this.rewarded && this.rewardable) {
          setTimeout(() => {
            this.wallet.receive('baseinfo_input', this.wallet.amount_baseinfo_input);
            this.wallet.baseinfo_inputed = true;
            alert(this.wallet.amount_baseinfo_input + 'P를 지급했습니다');
          }, 600);

        }

        this.session.close_page();
      }
    }
  });
</script>
