<style>
  .brander.vcomp .page-body {
    background: white;
  }

  .brander.vcomp .page-body > .main {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    background: #f5f5f5;
  }

  .brander.vcomp .page-body > .main.loaded {
    opacity: 1;
  }


  .brander.vcomp .page-body > .main > .coverpixes {
    position: relative;
    width: 100%;
    padding-top: 100px;
  }

  .brander.vcomp .page-body > .main .pixes > .swiper-container {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .brander.vcomp .page-body > .main .pixes > .swiper-container > .swiper-wrapper {
    z-index: 0;
  }

  .brander.vcomp .page-body > .main .pixes > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
    width: 100%;
    /* height: 100%; */
    /* background: white; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .brander.vcomp .page-body > .main .pixes > .swiper-container > .swiper-wrapper > .swiper-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s;
    filter: brightness(95%);
  }

  .brander.vcomp .page-body > .main .pixes > .swiper-container > .swiper-wrapper > .swiper-slide > img.loaded {
    opacity: 1;
  }

  .brander.vcomp .page-body > .main .pixes > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
    background: rgba(255,255,255,0.4);
    opacity: 0;
  }

  .brander.vcomp .page-body > .main .pixes.paginated > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
  }

  .brander.vcomp .page-body > .main .pixes > .swiper-container > .swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    /* background: rgba(255,255,255,0.7); */
    background: white;
  }

  .brander.vcomp .page-body > .main > .coverpixes > .logo {
    position: absolute;
    bottom: -40px;
    left: 16px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }

  .brander.vcomp .page-body > .main > .coverpixes > .logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s;
  }

  .brander.vcomp .page-body > .main > .coverpixes > .logo > img.loaded {
    opacity: 1;
  }





  .brander.vcomp .page-body > .main > .menu {
    position: relative;
    height: 36px;
    width: 100%;
    /* background: lightgreen; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 12px;
  }

  .brander.vcomp .page-body > .main > .menu > .item {
    height: 100%;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    margin-right: 8px;
    color: var(--color-dark);
    cursor: pointer;
  }

  .brander.vcomp .page-body > .main > .menu > .item.on {
    background: var(--color-dark);
    color: white;
  }

  .brander.vcomp .page-body > .main > .menu > .item:last-child {
    margin-right: 16px;
  }

  .brander.vcomp .page-body > .main > .guage {
    position: relative;
    /* height: 100px; */
    /* background: orange; */
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--color-gray);
  }

  .brander.vcomp .page-body > .main > .guage > .pbar {
    position: relative;
    height: 5px;
    width: 100%;
    margin-top: 5px;
    background: white;
    border-radius: 100px;
    /* box-shadow: 0 0 0 3px black inset; */
    box-shadow: 0 0 0 0.3px #828282 inset;
    box-sizing: border-box;
  }

  .brander.vcomp .page-body > .main > .guage > .pbar > .core {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #404277;
    border-radius: 100px;
  }

  .brander.vcomp .page-body > .main > .guage > .score {
    width: 100%;
    margin-top: 5px;
    text-align: right;
    font-size: 16px;
    color: var(--color-dark);
  }

  .brander.vcomp .page-body > .main > .title {
    position: relative;
    height: 40px;
    width: 100%;
    /* background: lightblue; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: var(--color-dark);
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    font-size: 18px;
  }

  .brander.vcomp .page-body > .main > .title > .bname {
    font-size: 20px;
    font-weight: bold;
  }

  .brander.vcomp .page-body > .main > .sections > .section  {
    position: relative;
    /* padding: 16px; */
    padding-top: 0;
    padding-bottom: 200px;
    /* background: lightblue; */
    font-size: 14px;
    color: var(--color-dark);
  }

  .brander.vcomp .page-body > .main > .sections > .section > .text {
    white-space: pre-line;
    padding: 16px;
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .action-area {
    position: relative;
    height: 34px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .action-area > .action {
    height: 34px;
    background: #183394;
    color: white;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    opacity: 0.2;
    pointer-events: none;
    cursor: pointer;
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .action-area > .action.active {
    opacity: 1;
    pointer-events: auto;
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .action-area > .action.supported {
    opacity: 1;
    pointer-events: none;
    background: var(--color-dark);
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .action-area > .amount-supported {
    color: #999999;
    font-size: 12px;
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .gift {
    position: relative;
    width: 100%;
    margin-top: 20px;
    /* opacity: 0; */
    /* transition: all 0.5s; */
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .gift > .giftpixes > .swiper-container .swiper-slide > img  {
    width: calc(100% - 32px);
    height: auto;
    border-radius: 8px;
  }

  /* .brander.vcomp .page-body > .main > .sections > .section.support > .gift.loaded {
    opacity: 1;
  } */

  /* .brander.vcomp .page-body > .main > .sections > .section.support > .gift > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  } */

  .brander.vcomp .page-body > .main > .sections > .section.support > .gift > .gift-name {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 16px 0;
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .gift > .gift-price {
    font-size: 14px;
    color: #777777;
    padding: 10px 16px 0;
  }

  .brander.vcomp .page-body > .main > .sections > .section.support > .gift > .gift-desc {
    font-size: 11px;
    color: var(--color-gray);
    line-height: 15px;
    white-space: pre-line;
    padding: 25px 16px;
  }

  .brander.vcomp .page-body > .goback {
    position: absolute;
    top: 105px;
    left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.5);
    border-radius: 100px;
  }

  .brander.vcomp .page-body > .goback > img {
    width: 30%;
    height: auto;
    transform: rotate(270deg);
  }

  .brander.vcomp .page-body > .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--color-dark);
  }
</style>


<script type='text/x-template' id='brander-template'>
  <page
    class='brander vcomp'
    :order='session.page.brander.order'
    :open='session.page.brander.open'
    :from='session.page.brander.from'
    :hide_close='false'
    :hide_menu='true'
    :hide_headerbar='true'
    :trans_headerbar='true'
    @scroll='scroll'
    @close='session.close_page()'>

    <template #page-body>
      <div class='main' :class='{ loaded: ready && support }'>

        <div class='coverpixes pixes' :class='{ paginated:coverpix_paginated }'>
          <div class='swiper-container' ref='swiper_coverpix'>
            <div class='swiper-wrapper'>
              <div class="swiper-slide" v-for='i in 5' v-if='coverpix(i-1)'>
                <img :src='coverpix(i-1)' @load='coverpix_loaded'>
              </div>
            </div>

            <div class="swiper-pagination"></div>
          </div>

          <div class='logo'>
            <img :src='logo' @load='pix_loaded'>
          </div>
        </div>


        <div class='menu'>
          <span class='item' :class='{ on: on("who") }' @click='sectionize("who")'>브랜드 소개</span>
          <span class='item' :class='{ on: on("support") }' @click='sectionize("support")'>후원이벤트</span>
          <span class='item' :class='{ on: on("research") }' @click='open_researcher'>소비자 리서치</span>
          <!-- <span class='item' :class='{ on: on("research") }' @click='sectionize("research")'>소비자 리서치</span> -->
        </div>

        <div class='title'>
          <span class='bname'>[[ name_kr ]], [[ name_en ]]</span>
          <span class='info'>[[ established ]]년, [[ origin ]]</span>
        </div>

        <div class='guage'>
          <div>첫번째 후원 이벤트</div>
          <div class='pbar'>
            <div class='core' :style='pbar_style'></div>
          </div>
          <div class='score'>[[ support_collected_p ]] / [[ support_target_p ]]</div>
        </div>

        <div class='sections'>
          <div class='section who' v-if='on("who")'>
            <div class='text'>[[ desc ]]</div>
          </div>

          <div class='section support' v-else-if='on("support")'>
            <div class='action-area'>
              <div class='action' :class='{ active: supportable, supported: supported }' @click='buy_ticket'>
                [[ action_support_text ]] -[[ support_ticketsize_p ]]
              </div>

              <div class='amount-supported'>[[ amount_supported_text ]]</div>
            </div>

            <div class='text'>
              [[ '누적 10,000 포인트 후원 달성 시, 1분을 추첨하여 브랜드 신제품을 감사 선물로 드립니다.\n\n 매일 100P 씩 후원할 수 있으며, 여러번 후원할 수록 당첨 확률이 올라갑니다.' ]]
            </div>

            <div class='gift'>
              <div class='giftpixes pixes' :class='{ paginated:giftpix_paginated }'>
                <div class='swiper-container' ref='swiper_giftpix'>
                  <div class='swiper-wrapper'>
                    <div class="swiper-slide" v-for='i in 5' v-if='giftpix(i-1)'>
                      <img :src='giftpix(i-1)' @load='pix_loaded'>
                    </div>
                  </div>

                  <div class="swiper-pagination"></div>
                </div>
              </div>

              <div class='gift-name'>[[ gift_name ]]</div>
              <div class='gift-price'>[[ gift_price ]]</div>
              <div class='gift-desc'>[[ gift_desc ]]</div>
            </div>
          </div>

          <div class='section research' v-else-if='on("research")'>
            <div class='text'>리서칭</div>
          </div>
        </div>
      </div>

      <div class='goback' v-if='ready && support' @click='goback'>
        <img src='/static/materials/icons/backicon.png'>
      </div>

      <div class='spinner' v-if='!(ready && support)'>
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('brander', {
    template: '#brander-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        section: 'support',
        ready: false,

        swiper_coverpix: undefined,
        swiper_giftpix: undefined,
        swiper_options: {
          // direction: 'vertical',
          simulateTouch: true,
          observer: true,
          observeParents: true,
          slidesPerView: 'auto',
          mousewheel: {
            releaseOnEdges: true,
          },
          pagination: {
            el: '.swiper-pagination',
          }
        }
      }
    },

    mounted: function() {
      this.swiper_coverpix = new Swiper(this.$refs.swiper_coverpix, this.swiper_options);
      this.swiper_giftpix = new Swiper(this.$refs.swiper_giftpix, this.swiper_options);
    },

    watch: {
      brand: function() {},
      brand_id: function() {
        this.ready = false;
      }
    },

    methods: {
      on: function(sec) {
        return this.section == sec
      },

      sectionize: function(sec) {
        this.section = sec;
      },

      pix_loaded: function(event) {
        event.target.classList.add('loaded');
      },

      coverpix_loaded: function(event) {
        this.ready = true;
        this.pix_loaded(event);
        // event.target.classList.add('loaded');
      },

      coverpix: function(idx) {
        if (this.brand) {
          return this.brand['coverpix_' + idx]
        }
      },

      giftpix: function(idx) {
        if (this.gift) {
          return this.gift['pix_' + idx]
        }
      },

      buy_ticket: function() {
        if (this.supportable) {
          const receiver_id = this.support.id;
          const amount = this.support_ticketsize;
          const msg = `후원 이벤트에 참여하시겠습니까? \n참여시 ${amount}P가 차감되며, 취소는 불가합니다`;
          const resp = confirm(msg);

          if (resp && receiver_id && amount) {
            this.support.wallet.collected += amount;
            this.support.wallet.amount_supported += amount;
            this.support.wallet.supported = true;
            this.myboo.wallet.send('support', amount, receiver_id);

            const isupport = _.find(this.myboo.supports.list, ['id', receiver_id]);
            if (!isupport) {
              this.myboo.supports.list.push(this.support);
            }
          }
        }
      },

      open_researcher: function() {
        this.session.open_researcher();
      },

      goback: function() {
        this.session.close_page();
      },

      scroll: function(obj) {
        this.session.scroll_direction = obj.scroll_direction;
      }
    },

    computed: {
      n_coverpix: function() {
        if (this.swiper_coverpix) {
          return this.swiper_coverpix.slides.length
        }
      },

      coverpix_paginated: function() {
        return this.n_coverpix > 1
      },

      n_giftpix: function() {
        if (this.swiper_giftpix) {
          return this.swiper_giftpix.slides.length
        }
      },

      giftpix_paginated: function() {
        return this.n_giftpix > 1
      },

      myboo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },

      mywallet: function() {
        if (this.myboo) {
          return this.myboo.wallet
        }
      },

      budget: function() {
        if (this.mywallet) {
          return this.mywallet.amount
        }
      },

      supportable: function() {
        return this.budget >= this.support_ticketsize
      },

      brand: function() {
        const b = this.session.page.brander.brand;
        if (b) {
          return b.load()
        }
      },

      brand_id: function() {
        if (this.brand) {
          return this.brand.id
        }
      },

      name_en: function() {
        if (this.brand) {
          return this.brand.name_en
        }
      },

      name_kr: function() {
        if (this.brand) {
          return this.brand.name_kr
        }
      },

      logo: function() {
        if (this.brand) {
          return this.brand.logo
        }
      },

      origin: function() {
        if (this.brand) {
          return this.brand.origin
        }
      },

      established: function() {
        if (this.brand) {
          return this.brand.established
        }
      },

      desc: function() {
        if (this.brand) {
          return this.brand.desc
        }
      },

      // coverpix_0: function() {
      //   if (this.brand) {
      //     return this.brand.coverpix_0
      //   }
      // },

      homepage: function() {
        if (this.brand) {
          return this.brand.homepage
        }
      },

      insta: function() {
        if (this.brand) {
          return this.brand.insta
        }
      },

      supports: function() {
        if (this.brand) {
          return this.brand.supports
        }
      },

      support: function() {
        if (this.supports && this.supports.length > 0) {
          return this.supports[0]
        }
      },

      support_id: function() {
        if (this.support) {
          return this.support.id
        }
      },

      support_target: function() {
        if (this.support && this.support.target) {
          return this.support.target//.toLocaleString() + 'P'
        }
      },

      support_target_p: function() {
        if (this.support_target) {
          return this.support_target.toLocaleString() + 'P'
        }
      },

      support_ticketsize: function() {
        if (this.support && this.support.ticketsize) {
          return this.support.ticketsize//.toLocaleString() + 'P'
        }
      },

      support_ticketsize_p: function() {
        if (this.support_ticketsize) {
          return this.support_ticketsize.toLocaleString() + 'P'
        }
      },

      support_wallet: function() {
        if (this.support) {
          return this.support.wallet
        }
      },

      supported: function() {
        if (this.support_wallet) {
          return this.support_wallet.supported
        }
      },

      amount_supported: function() {
        if (this.support_wallet) {
          return this.support_wallet.amount_supported
        }
      },

      amount_supported_text: function() {
        if (this.amount_supported) {
          return '내 누적 후원 ' + this.amount_supported + 'P'
        }
      },

      action_support_text: function() {
        if (this.supported) {
          return '후원완료'

        } else {
          return '후원하기'
        }
      },

      support_collected: function() {
        if (this.support_wallet) {
          return this.support_wallet.collected//.toLocaleString() + 'P'
        }
      },

      support_collected_p: function() {
        if (this.support_collected != undefined) {
          return this.support_collected.toLocaleString() + 'P'
        }
      },

      pbar_style: function() {
        if (this.support_collected !=undefined && this.support_target) {
          return {
            width: (this.support_collected / this.support_target * 100) + '%'
          }
        }
      },

      gift: function() {
        if (this.support) {
          return this.support.gift
        }
      },

      gift_pix_0: function() {
        if (this.gift) {
          return this.gift.pix_0
        }
      },

      gift_name: function() {
        if (this.gift) {
          return this.gift.name
        }
      },

      gift_price: function() {
        if (this.gift) {
          return 'KRW ' + this.gift.price.toLocaleString()
        }
      },

      gift_desc: function() {
        if (this.gift) {
          return this.gift.desc
        }
      }
    }
  });
</script>
