<style>
  .bulletin.vcomp .page-body {
    background: white;
  }

  .bulletin.vcomp .page-body > .container {
    background: none;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .bulletin.vcomp .page-body > .container > span.apply {
    position: absolute;
    top: calc(50% + var(--width)/2 + 50px);
    left: 50%;
    transform: translateX(-50%);
    height: 36px;
    background: orange;
    border-radius: 15px;
    line-height: 36px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    background: var(--color-dark);
    color: white;
    cursor: pointer;
  }

  .bulletin.vcomp .page-body > .container > .swiper-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: calc(var(--width) + 50px);
    z-index: 0;
    transform: translateY(-50%);
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper {
    z-index: 0;
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide > .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: white;
    color: var(--color-dark);
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide > img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide.loaded > .spinner {
    opacity: 0;
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide > .slogan {
    position: absolute;
    bottom: var(--w-90);
    width: 100%;
    /* background: orange; */
    font-size: 22px;
    text-align: center;
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide > .btn {
    background: var(--color-dark);
    width: var(--w-33);
    height: var(--w-12);
    border-radius: var(--w-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-sizing: border-box;
    color: white;
    position: absolute;
    bottom: var(--w-60);
    left: 50%;
    transform: translateX(-50%);
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide > .btn > span {
    pointer-events: none;
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
    background: gray;
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide > .tail {
    position: absolute;
    bottom: var(--w-20);
    width: 100%;
    font-size: 12px;
    color: #828282;
    text-align: center;
  }

  .bulletin.vcomp .page-body > .container > .swiper-container > .swiper-wrapper > .swiper-slide > .tail > .item {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
</style>


<script type='text/x-template' id='bulletin-template'>
  <page
    class='bulletin vcomp'
    :order='session.page.bulletin.order'
    :open='session.page.bulletin.open'
    :from='session.page.bulletin.from'
    :hide_headerbar='true'
    @close='session.close_page()'>

    <template #headerbar-menu>
    </template>

    <template #page-body>
      <div class='container'>

        <div class='swiper-container' ref='swiper'>
          <div class='swiper-wrapper'>
            <div class="swiper-slide" v-for='l in list'>
              <div class='spinner'>
                <i class="fa fa-spinner fa-spin"></i>
              </div>
              <img :src='l' @load='loaded'>
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>

        <span class='apply' @click='apply'>지원서 작성하기</span>

      </div>
    </template>

  </page>
</script>


<script>
  Vue.component('bulletin', {
    template: '#bulletin-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        swiper: undefined,
        swiper_options: {
          // direction: 'vertical',
          simulateTouch: true,
          observer: true,
          observeParents: true,
          slidesPerView: 'auto',
          mousewheel: {
            releaseOnEdges: true,
          },
          pagination: {
            el: '.swiper-pagination',
          },
        }
      }
    },

    mounted: function() {
      this.swiper = new Swiper(this.$refs.swiper, this.swiper_options);
    },

    computed: {
      // on_app: function() {
      //   return (navigator.userAgent.toLowerCase().indexOf('mobileapp') != -1)
      // },

      type: function() {
        return this.session.page.bulletin.type
      },

      is_zthinker: function() {
        return (this.type=='zthinker-app') || (this.type=='zthinker-web')
      },

      is_career: function() {
        return (this.type=='career-dev') || (this.type=='career-designer') || (this.type=='career-mkt') || (this.type=='career-planner')
      },

      is_intern: function() {
        return this.type=='intern'
      },

      list: function() {
        switch (this.type) {
          case 'zthinker-app':
            return [
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-1.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-2.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-3.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-4.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-5.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-6.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-7-C.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-8.png'
            ]

          case 'zthinker-web':
            return [
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-1.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-2.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-3.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-4.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-5.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-6.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-7-C.png',
              '/static/materials/bulletin/zthinker/zthinker1/MOIBER-ZTHINKER-8-web.png'
            ]

          case 'career-planner':
            return [
              '/static/materials/bulletin/career/MOIBER-RECRUIT-1.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-2.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-3-PLANNER.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-4-PLANNER.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-5.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-6.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-7.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-8.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-9.jpg'
            ]

          case 'career-designer':
            return [
              '/static/materials/bulletin/career/MOIBER-RECRUIT-1.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-2.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-3-DESIGNER.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-4-DESIGNER.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-5.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-6.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-7.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-8.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-9.jpg'
            ]

          case 'career-dev':
            return [
              '/static/materials/bulletin/career/MOIBER-RECRUIT-1.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-2.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-3-DEV.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-4-DEV.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-5.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-6.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-7.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-8.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-9.jpg'
            ]

          case 'career-mkt':
            return [
              '/static/materials/bulletin/career/MOIBER-RECRUIT-1.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-2.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-3-MKT.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-4-MKT.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-5.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-6.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-7.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-8.jpg',
              '/static/materials/bulletin/career/MOIBER-RECRUIT-9.jpg'
            ]

          case 'intern':
            return [
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-1.jpg',
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-2.jpg',
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-3.jpg',
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-4.jpg',
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-5.jpg',
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-6.jpg',
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-7.jpg',
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-8.jpg',
              '/static/materials/bulletin/intern/MOIBER-RECRUIT-9.jpg'
            ]
        }
      }
    },

    methods: {
      loaded: function() {
        event.target.parentElement.classList.add('loaded');
      },

      apply: function() {
        if (this.is_zthinker) {
          window.open('http://naver.me/FuVdRiur');

        } else if (this.is_career) {
          window.open('https://tally.so/r/n0Pqjn');

        } else if (this.is_intern) {
          window.open('https://tally.so/r/w2bGew');
        }

      }
    }
  });
</script>
