<style>
  .checkin.vcomp .page-body {
    width: 100%;
    height: 100%;
  }


  .checkin.vcomp .page-body > .background {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .checkin.vcomp .page-body > .background > .section {
    position: relative;
    width: 100%;
  }

  /* .checkin.vcomp .page-body > .background > .section {
    position: absolute;
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    top: 108px;
    left: 8px;
    right: 8px;
    bottom: 8px;
  } */

  .checkin.vcomp .page-body > .background > .section.spacer {
    height: 100px;
    background: white;
  }

  .checkin.vcomp .page-body > .background > .section.content {
    height: calc(100% - 100px - var(--iphone-bottom));
    /* background: white; */
    /* overflow: hidden; */
    padding: 8px;
    box-sizing: border-box;
  }

  .checkin.vcomp .page-body > .background > .section.content > .container {
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    border-radius: 8px;
  }

  .checkin.vcomp .page-body > .background > .section.bottom {
    height: var(--iphone-bottom);
    background: white;
  }
</style>


<script type='text/x-template' id='checkin-template'>
  <page
    class='checkin vcomp'
    :order='session.page.checkin.order'
    :open='session.page.checkin.open'
    :from='session.page.checkin.from'
    :hide_close='true'
    :hide_menu='true'
    :hide_headerbar='true'
    :trans_headerbar='true'
    @close='session.close_page()'>

    <template #page-body>
      <div class='background' @click='session.close_page()'>
        <div class='section spacer'></div>

        <div class='section content' @click.stop>
          <div class='container'>
            <flashgame :session='session' :flashgame='flashgame'></flashgame>
          </div>
        </div>

        <div class='section bottom'></div>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('checkin', {
    template: '#checkin-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    },

    watch: {
      flashgame: function(_new, _old) {
        if (_new) {
          if (!_new.answer || (_new.answer.length == 0)) {
            if (!this.session.on('landing','about','policy','privacy','recruit','zthinker','bulletin')) {
              this.session.open_checkin();
            }
          }
        }
      }
    },

    computed: {
      is_superuser: function() {
        if (this.session.user.has_auth) {
          return this.session.user.auth.is_superuser
        }
      },

      flashgames: function() {
        return this.session.flashgames
      },

      flashgame: function() {
        if (this.flashgames) {
          const _today = moment(new Date()).format('YYYY-MM-DD');

          if (this.is_superuser) {
            return _.filter(this.flashgames.list, { pub_date: _today })[0]
            // return _.filter(this.flashgames.list, function(o) {
            //   return (o.pub_date == _today) && (o.answer.length > 0)
            // })[0]

          } else if (this.session.user.has_auth) {
            return _.filter(this.flashgames.list, { pub_date: _today, published: true })[0]
            // return _.filter(this.flashgames.list, function(o) {
            //   return (o.pub_date == _today) && (o.answer.length > 0) && (o.published)
            // })[0]

          } else {
            // 로그인 안했더라도 출첵게임 보이게
            return _.filter(this.flashgames.list, { pub_date: _today, published: true })[0]
            // return
          }
        }
      }
    }
  });
</script>
