<style>
  .dasher.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    background: none;
    pointer-events: none;
    z-index: 200;
  }

  .dasher.vcomp.show.open {
    /* background: rgba(255,255,255,0.5); */
    background: rgba(0,0,0,0.5);
    pointer-events: auto;
  }

  .dasher.vcomp > .panel {
    position: absolute;
    /* bottom: -77px; */
    bottom: calc(var(--dasher-height) * (-1) - 1px);
    left: 0;
    width: 100%;
    /* height: 77px; */
    height: var(--dasher-height);
    background: rgba(255,255,255,0.98);
    /* outline: 1px solid #333333; */
    box-shadow: 0 0 0 1px #333;
    /* box-shadow: 0 0 0 0.5px #333 inset; */
    border-radius: 15px 15px 0 0;
    pointer-events: auto;
    transition: all 0.3s;
    /* opacity: 0; */
  }

  .dasher.vcomp.show > .panel {
    bottom: 0;
    /* opacity: 1; */
  }

  .dasher.vcomp.show.open > .panel {
    /* height: calc(100% - 50px); */
    height: 310px;
    background: white;
  }

  .dasher.vcomp.blocked > .panel {
    pointer-events: none;
  }

  .dasher.vcomp > .panel > .sections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* bottom: 77px; */
    bottom: var(--dasher-height);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
  }

  .dasher.vcomp.show.open > .panel > .sections {
    opacity: 1;
  }

  .dasher.vcomp > .panel > .sections > .head {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 0.2px solid var(--color-dark);
    box-sizing: border-box;
    pointer-events: none;
  }

  .dasher.vcomp > .panel > .sections > .head > .title {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-dark);
  }

  .dasher.vcomp > .panel > .sections > .head > .desc {
    font-size: 10px;
    color: #999999;
  }

  .dasher.vcomp > .panel > .sections > .content {
    position: relative;
    width: 100%;
    flex-grow: 1;
    transition: none;
  }

  .dasher.vcomp.show.open > .panel > .sections > .content {
    transition: all 0.2s;
  }

  /* .dasher.vcomp > .panel.pointget > .sections > .content {
    transform: translateX(0);
  }

  .dasher.vcomp > .panel.pointuse > .sections > .content {
    transform: translateX(-100%);
  } */

  .dasher.vcomp > .panel > .sections > .content > .section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* .dasher.vcomp > .panel > .sections > .content > .section.pointget {
    left: 0;
  }

  .dasher.vcomp > .panel > .sections > .content > .section.pointuse {
    left: 100%;
  } */

  .dasher.vcomp > .panel > .monitor {
    position: absolute;
    bottom: calc(var(--dasher-height) * (-1));
    left: 0;
    width: 100%;
    height: var(--dasher-height);
    box-sizing: border-box;
    transition: all 0.3s;
  }

  .dasher.vcomp > .panel > .monitor.show {
    bottom: 0;
  }

  .dasher.vcomp > .panel > .monitor > .point-total {
    position: absolute;
    top: 13px;
    left: 16px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-dark);
  }

  .dasher.vcomp > .panel > .monitor > .point-max {
    position: absolute;
    bottom: calc(20px + var(--iphone-bottom));
    right: 16px;
    font-size: 8px;
    color: #999;
  }

  .dasher.vcomp > .panel > .monitor > .point-today {
    position: absolute;
    bottom: calc(20px + var(--iphone-bottom));
    right: 16px;
    font-size: 8px;
    color: #999;
  }

  .dasher.vcomp > .panel > .monitor > .action {
    position: absolute;
    font-size: 12px;
    top: 12px;
    color: var(--color-dark);
    height: 24px;
    width: 72px;
    text-align: center;
    line-height: 24px;
    background: #f9f9f9;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 0 0 0.2px #999999 inset;
  }

  /* .dasher.vcomp.show.open > .panel.pointget > .monitor > .action.pointget,
  .dasher.vcomp.show.open > .panel.pointuse > .monitor > .action.pointuse {
    background: var(--color-dark);
    color: white;
  } */

  .dasher.vcomp.show.open > .panel.pointmenu > .monitor > .action.pointmenu {
    background: var(--color-point);
    color: white;
  }

  /* .dasher.vcomp > .panel > .monitor > .action.pointuse {
    right: 16px;
  }

  .dasher.vcomp > .panel > .monitor > .action.pointget {
    right: calc(16px + 72px + 8px);
  } */

  .dasher.vcomp > .panel > .monitor > .action.pointmenu {
    right: 16px;
  }

  .dasher.vcomp > .panel > .monitor > .pbar {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: calc(16px + var(--iphone-bottom));
    height: 12px;
    background: white;
    border-radius: 100px;
    box-shadow: 0 0 0 0.3px #888888 inset;
    box-sizing: border-box;
  }

  .dasher.vcomp > .panel > .monitor > .pbar > .core {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--color-point);
    border-radius: 100px;
  }


  .dasher.vcomp > .panel > .monitor > .pbar > .point-max {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 7pt;
    transform: translateY(-50%);
    color: #a1a1a1;
  }


  .dasher.vcomp > .panel > .monitor > .pbar > .point-today {
    position: absolute;
    bottom: 100%;
    font-size: 12px;
    transform: translateX(-50%);
    color: var(--color-point);
    height: 14px;
    /* opacity: 0.5; */
  }

  .dasher.vcomp > .panel > .spinner {
    position: absolute;
    bottom: calc(var(--dasher-height) * (-1));
    left: 0;
    width: 100%;
    height: var(--dasher-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 12px;
    color: var(--color-dark);
    transition: all 0.3s;
  }

  .dasher.vcomp > .panel > .spinner.show {
    bottom: 0;
  }

  .dasher.vcomp > .panel > .spinner > i.fa {
    font-size: 20px;
    margin-right: 5px;
  }

  .dasher.vcomp > .panel > .reloader {
    position: absolute;
    bottom: calc(var(--dasher-height) * (-1));
    left: 0;
    width: 100%;
    height: var(--dasher-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 12px;
    color: var(--color-dark);
    transition: all 0.3s;
    cursor: pointer;
  }

  .dasher.vcomp > .panel > .reloader.show {
    bottom: 0;
  }

  .dasher.vcomp > .panel > .reloader > img {
    width: 15px;
    height: auto;
    margin-right: 5px;
  }
</style>

<script type='text/x-template' id='dasher-template'>
  <div class='dasher vcomp' :class='status' @click='close'>
    <div class='panel' :class='control.section' @click.stop>
      <div class='sections'>
        <div class='head'>
          <!-- <span class='title'>LEVEL [[ level ]]</span>
          <span class='desc'>스타일 레벨을 올리면 리서치/인터뷰 참여 폭이 넓어집니다</span> -->
        </div>

        <div class='content'>
          <!-- <div class='section pointget'>
            <pointget :session='session' :control='control' @close='close'></pointget>
          </div> -->

          <!-- <div class='section pointuse'>
            <pointuse :session='session' :control='control'></pointuse>
          </div> -->

          <div class='section pointmenu'>
            <pointmenu :session='session' :control='control'></pointmenu>
          </div>
        </div>
      </div>


      <div class='monitor' :class='{ show: !wallet_onloading }'>
        <div class='point-total'>[[ amount ]]P</div>
        <!-- <div class='point-max'>매일 최대 100 포인트</div> -->
        <!-- <div class='point-today'>매일보너스 [[ amount_daybonus ]]P / [[ amount_daybonus_max ]]P</div> -->
        <!-- <div class='action pointget' @click='toggle_section("pointget")'>포인트획득</div>
        <div class='action pointuse' @click='toggle_section("pointuse")'>포인트사용</div> -->
        <div class='action pointmenu' @click='toggle_section("pointmenu")'>포인트메뉴</div>
        <div class='pbar'>
          <div class='core' :style='pbar_core_style'></div>
          <span class='point-max'>매일 최대 100 포인트</span>
          <span class='point-today' :style='point_today_style'>[[ amount_daybonus ]]</span>
        </div>
      </div>

      <div class='spinner' :class='{ show: wallet_onloading && !on_reloader }'>
        <i class="fa fa-spinner fa-spin"></i>
        포인트 확인 중 입니다...
      </div>

      <div class='reloader' :class='{ show: on_reloader }' @click='reload_boo'>
        <img src='/static/materials/icons/reload.png'>
        다시 로드하기
      </div>
    </div>
  </div>
</script>


<script>
  Vue.component('dasher', {
    template: '#dasher-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        wallet_loading_interval: 0,
        wallet_loading_interval_id: undefined
      }
    },

    watch: {
      wallet_onloading: function(_new, _old) {
        if (_new) {
          this.wallet_loading_interval_id = setInterval(() => {
            this.wallet_loading_interval += 1;
          }, 1000);

        } else {
          clearInterval(this.wallet_loading_interval_id);
          this.wallet_loading_interval = 0;
        }
      },

      wallet_loading_interval: function() {}
    },

    methods: {
      toggle_section: function(sec) {
        if (this.control.section == sec) {
          this.control.open = false;
          setTimeout(() => { this.control.section = undefined }, 300);

        } else {
          setTimeout(() => { this.control.open = true; }, 10);
          setTimeout(() => { this.control.phase = 'menu'; }, 10);
          this.control.section = sec;
          // this.control.phase = 'menu';
        }
      },

      close: function() {
        this.toggle_section(this.control.section);
      },

      reload_boo: function() {
        this.session.user.auth.reload_boos();
      }
    },

    computed: {
      control: function() {
        return this.session.mode.dasher_control
      },

      status: function() {
        return {
          show: this.control.show && (
            this.wallet_onloading
            || (this.session.on('researcher', 'stylevote', 'balancegame', 'brander', 'agit'))
            || (!this.session.editing.on && this.session.on('search'))
          ),

          open: this.control.open,
          blocked: this.session.show_guider
        }
      },

      is_superuser: function() {
        if (this.session.user.has_auth) {
          return this.session.user.auth.is_superuser
        }
      },

      boo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },

      wallet: function() {
        if (this.boo) {
          return this.boo.wallet
        }
      },

      wallet_onloading: function() {
        if (this.boo) {
          return !this.boo.wallet
          // return this.boo.onloading && !this.boo.wallet
          // return true
        }
      },

      on_reloader: function() {
        if (this.wallet_onloading) {
          return this.wallet_loading_interval > 8
        }
      },

      amount: function() {
        if (this.wallet) {
          return this.wallet.amount
        } else {
          return 0
        }
      },

      level: function() {
        if (this.wallet) {
          return this.wallet.level

        } else {
          return 1
        }
      },

      amount_daybonus: function() {
        if (this.wallet) {
          return this.boo.wallet.amount_daybonus + 80
        } else {
          0
        }
      },

      amount_daybonus_max: function() {
        if (this.wallet) {
          return this.boo.wallet.amount_daybonus_max
        }
      },

      pbar_core_style: function() {
        if (this.amount_daybonus_max) {
          const pct = this.amount_daybonus / this.amount_daybonus_max * 100;
          return {
            'width': pct + '%'
          }
        }
      },

      point_today_style: function() {
        if (this.amount_daybonus) {
          return {
            left: this.amount_daybonus + '%'
          }
        }
      }
    }
  });
</script>
