<style>
  .flashgame {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
  }

  .flashgame > .backbone {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .flashgame > .backbone > .header {
    position: relative;
    height: 60px;
    width: 100%;
    /* padding-top: 45px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-bottom: 1px solid rgba(0,0,0,0.25); */
    box-shadow: 0 0 1px rgb(0, 0, 0, 0.25);
  }

  .flashgame > .backbone > .header > .title {
    font-size: 14px;
    /* color: #999999; */
  }

  .flashgame > .backbone > .header > .question {
    font-size: 14px;
    margin-top: 2px;
  }

  .flashgame > .backbone > .header > .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flashgame > .backbone > .header > .logo > .logo-img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  }

  .flashgame > .backbone > .header > .logo > .logo-img > img {
    width: 36px;
    height: auto;
  }

  .flashgame > .backbone > .header > .exit {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 60px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .flashgame > .backbone > .header > .exit > img {
    width: 12px;
    height: auto;
  }

  .flashgame > .backbone > .sections {
    position: relative;
    height: calc(100% - 60px);
    width: 100%;
  }

  .flashgame > .backbone > .sections > .section {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 1px;
  }

  .flashgame > .backbone > .sections > .section.up {
    align-items: flex-end;
  }

  .flashgame > .backbone > .sections > .section.down {
    align-items: flex-start;
  }

  .flashgame > .backbone > .sections > .section > .candidate {
    width: min(var(--width) - 120px, (var(--height) - 100px - 16px - 60px - 32px - var(--iphone-bottom))/2);
    height: min(var(--width) - 120px, (var(--height) - 100px - 16px - 60px - 32px - var(--iphone-bottom))/2);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }

  .flashgame > .backbone > .sections > .section > .candidate > img.pix {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.3s;
    filter: brightness(95%);
  }

  .flashgame > .backbone > .sections > .section > .candidate > img.pix.loaded {
    opacity: 1;
  }

  .flashgame > .backbone > .sections > .section > .candidate.focused > img.pix {
    filter: brightness(80%);
  }

  .flashgame > .backbone > .sections > .section > .candidate.outfocused > img.pix {
    opacity: 0.2;
    filter: grayscale(1) brightness(95%);
  }

  .flashgame > .backbone > .sections > .section > .candidate > .label {
    text-align: left;
    position: absolute;
    left: 8px;
    border-radius: 15px;
    font-size: 13px;
    background: rgba(255,255,255,0.7);
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .flashgame > .backbone > .sections > .section.up > .candidate > .label {
    top: 8px;
  }

  .flashgame > .backbone > .sections > .section.down > .candidate > .label {
    bottom: 8px;
  }

  .flashgame > .backbone > .sections > .section > .candidate > .score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 1px #999999;
  }

  .flashgame > .backbone > .sections > .section > .candidate.outfocused > .score {
    color: var(--color-dark);
    text-shadow: none;
  }

  .flashgame > .backbone > .sections > .divider {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    transform: translateY(-50%);
    background: white;
  }

  .flashgame > .backbone > .sections > .divider > .vs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 5px;
    box-sizing: border-box;
  }
</style>


<script type='text/x-template' id='flashgame-template'>
  <div class='flashgame'>

    <div class='backbone'>
      <div class='header'>
        <div class='title'>[[ title ]]</div>
        <div class='question'>[[ question ]]</div>
        <div class='logo'>
          <div class='logo-img'>
            <img src='/static/materials/logos/logo.png'>
          </div>
        </div>

        <div class='exit' @click='session.close_page()'>
          <img src='/static/materials/icons/icon_x.png'>
        </div>
      </div>

      <div class='sections'>
        <div class='section up'>
          <div class='candidate' :class='status(0)' @click='toggle_choose(0)'>
            <img class='pix' :src='pix_0' @load='pix_loaded'>
            <div class='label'>[[ pixlabel_0 ]]</div>
            <div class='score' v-if='answered'>[[ pct_0 ]]</div>
          </div>
        </div>

        <div class='section down'>
          <div class='candidate' :class='status(1)' @click='toggle_choose(1)'>
            <img class='pix' :src='pix_1' @load='pix_loaded'>
            <div class='label'>[[ pixlabel_1 ]]</div>
            <div class='score' v-if='answered'>[[ pct_1 ]]</div>
          </div>
        </div>

        <div class='divider'>
          <div class='vs'>VS</div>
        </div>
      </div>
    </div>

  </div>
</script>


<script>
  Vue.component('flashgame', {
    template: '#flashgame-template',
    delimiters: ['[[', ']]'],
    props: ['session', 'flashgame'],
    data: function() {
      return {
        // answer: []
      }
    },

    watch: {
      answer: function() {},
    },

    methods: {
      pix_loaded: function(event) {
        event.target.classList.add('loaded');
      },

      outfocused: function(act) {
        if (this.answer && this.answer.includes(act)) {
          return 'outfocused'
        }
      },

      status: function(act) {
        if (this.answer) {
          return {
            focused: (this.answer.length > 0) && this.answer.includes(act),
            outfocused: (this.answer.length > 0) && !this.answer.includes(act)
          }
        }
      },

      answering: function() {
        if (this.flashgame && this.answer) {
          const _answer = JSON.stringify(this.answer);
          fetch(`flashgame/answer?flashgame_id=${this.flashgame.id}&answer=${_answer}`).then(x=>x.json()).then(console.log)
        }
      },

      reward_checkin: function() {
        if (!this.checkin_today) {
          this.mywallet.receive('checkin_game', this.mywallet.per_checkin);
          this.mywallet.checkin_today = true;
          setTimeout(() => { alert('<출첵> 지금 ' + this.mywallet.per_checkin + 'P가 지급되었습니다'); }, 300);
          // alert('<출첵> 지금 ' + this.mywallet.per_checkin + 'P가 지급되었습니다');
        }
      },

      cancel_reward_checkin: function() {
        if (this.checkin_today) {
          this.mywallet.receive('checkin_game', -this.mywallet.per_checkin);
          this.mywallet.checkin_today = false;
          setTimeout(() => { alert('출첵 ' + this.mywallet.per_checkin + 'P가 취소처리 됩니다'); }, 300);
          // alert('출첵 ' + this.mywallet.per_checkin + 'P가 취소처리 됩니다');
        }
      },

      toggle_choose: function(act) {
        if (!this.myboo) {
          const yes = confirm('로그인 해주세요');
          if (yes) {
            this.session.open_login();
          }

        } else if (!this.mywallet) {
          alert('잠시만 기다려주세요');

        } else if (this.answer) {
          if (this.answer.includes(act)) {
            this.answer.splice(0); // 완전히 비우기
            this.stat['count_' + act] -= 1;
            // this.$nextTick(() => this.cancel_reward_checkin());
            this.cancel_reward_checkin();

          } else if (this.answer.includes(1-act)) {
            this.answer.splice(0); // 완전히 비우기
            this.answer.push(act);
            this.stat['count_' + act] += 1;
            this.stat['count_' + (1-act)] -= 1;

          } else {
            this.answer.push(act);
            this.stat['count_' + act] += 1;
            // this.$nextTick(() => this.reward_checkin());
            this.reward_checkin();
            setTimeout(() => { this.session.close_page(); }, 1000);
          }

          this.answering();
        }
      }
    },

    computed: {
      myboo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },

      mywallet: function() {
        if (this.myboo) {
          return this.myboo.wallet
        }
      },

      checkin_today: function() {
        if (this.mywallet) {
          return this.mywallet.checkin_today
        }
      },

      answer: function() {
        if (this.flashgame) {
          return this.flashgame.answer
        }
      },

      answered: function() {
        return this.answer && this.answer.length > 0
      },

      pix: function() {
        if (this.flashgame) {
          return this.flashgame.pix
        }
      },

      pix_0: function() {
        if (this.pix) {
          return this.pix.pix_0
        }
      },

      pix_1: function() {
        if (this.pix) {
          return this.pix.pix_1
        }
      },

      pixlabel_0: function() {
        if (this.pix) {
          return this.pix.pixlabel_0
        }
      },

      pixlabel_1: function() {
        if (this.pix) {
          return this.pix.pixlabel_1
        }
      },

      title: function() {
        if (this.flashgame) {
          const _date = new Date(this.flashgame.pub_date);
          return `⭐️ 출첵게임 ⭐️`
          // return `출석체크 ${_date.getMonth()+1}월 ${_date.getDate()}일`
        }
      },

      question: function() {
        if (this.flashgame) {
          return this.flashgame.text
        }
      },

      stat: function() {
        if (this.flashgame) {
          return this.flashgame.stat
        }
      },

      pct_0: function() {
        if (this.stat) {
          return Math.round(100 * this.stat.count_0 / (this.stat.count_0 + this.stat.count_1)) + '%'
        }
      },

      pct_1: function() {
        if (this.stat) {
          return Math.round(100 * this.stat.count_1 / (this.stat.count_0 + this.stat.count_1)) + '%'
        }
      },
    }
  });
</script>
