<style>
  .flashgame {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .flashgame > .backbone {
    position: relative;
    width: 100%;
    height: 100%;
    background: orange;
  }

  .flashgame > .backbone > .section {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 1px;
  }

  .flashgame > .backbone > .section.up {
    background: lightblue;
    align-items: flex-end;
  }

  .flashgame > .backbone > .section.down {
    background: lightpink;
    align-items: flex-start;
  }

  .flashgame > .backbone > .section > .candidate {
    width: min(100vw - 90px, (100vh - 232px)/2);
    height: min(100vw - 90px, (100vh - 232px)/2);
    background: orange;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  }

  .flashgame > .backbone > .section > .candidate > .label {
    text-align: left;
    position: absolute;
    left: 8px;
    border-radius: 8px;
    font-size: 13px;
    background: rgba(255,255,255,0.7);
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    /* min-width: 70px; */
    box-sizing: border-box;
  }

  .flashgame > .backbone > .section.up > .candidate > .label {
    top: 8px;
  }

  .flashgame > .backbone > .section.down > .candidate > .label {
    bottom: 8px;
  }

  .flashgame > .backbone > .divider {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    transform: translateY(-50%);
    background: white;
  }

  .flashgame > .backbone > .divider > .vs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 5px;
    box-sizing: border-box;
  }
</style>


<script type='text/x-template' id='flashgame-template'>
  <div class='flashgame'>
    <div class='backbone'>
      <div class='section header'>
        1111
      </div>

      <div class='section up'>
        <div class='candidate'>
          <div class='label'>강세진</div>
        </div>
      </div>

      <div class='section down'>
        <div class='candidate'>
          <div class='label'>바보탱</div>
        </div>
      </div>

      <div class='divider'>
        <div class='vs'>VS</div>
      </div>
    </div>

    <!-- <div class='backbone' v-if='is_ab'>
      <div class='section up' :class='outfocused(1)'>
        <img class='candidate' :src='researchitem.pix.pix_0' @click='toggle_choose(0)'>
        <div class='label' v-if='researchitem.pix.pixlabel_0'>[[ researchitem.pix.pixlabel_0 ]]</div>
      </div>

      <div class='section down' :class='outfocused(0)'>
        <img class='candidate' :src='researchitem.pix.pix_1' @click='toggle_choose(1)'>
        <div class='label' v-if='researchitem.pix.pixlabel_1'>[[ researchitem.pix.pixlabel_1 ]]</div>
      </div>

      <div class='divider'>
        <div class='vs'>VS</div>
      </div>
    </div> -->

  </div>
</script>


<script>
  Vue.component('flashgame', {
    template: '#flashgame-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    }
  });
</script>
