<style>
  .itemdetail.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: none;
  }

  .itemdetail.vcomp::-webkit-scrollbar {
    display: none;
  }

  .itemdetail.vcomp > .main {
    position: relative;
    width: 100%;
    color: #333333;
  }

  .itemdetail.vcomp > .main > .pixes {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  .itemdetail.vcomp > .main > .pixes > .swiper-container {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 0;
  }

  .itemdetail.vcomp > .main > .pixes > .swiper-container > .swiper-wrapper {
    z-index: 0;
  }

  .itemdetail.vcomp > .main > .pixes > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .itemdetail.vcomp > .main > .pixes > .swiper-container > .swiper-wrapper > .swiper-slide > img {
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    border-radius: 8px;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s;
    filter: brightness(95%);
  }

  .itemdetail.vcomp > .main > .pixes > .swiper-container > .swiper-wrapper > .swiper-slide > img.loaded {
    opacity: 1;
  }

  .itemdetail.vcomp > .main > .pixes > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
    background: rgba(255,255,255,0.4);
    opacity: 0;
  }

  .itemdetail.vcomp > .main > .pixes.paginated > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
  }

  .itemdetail.vcomp > .main > .pixes > .swiper-container > .swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    /* background: rgba(0,0,0,0.7); */
    background: white;
  }

  .itemdetail.vcomp > .main > .txt {
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.5s;
  }

  /* .itemdetail.vcomp > .main > .txt.period {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0;
  } */

  .itemdetail.vcomp > .main > .txt.name {
    font-size: 16px;
    padding-top: 16px;
  }

  .itemdetail.vcomp > .main > .txt.price {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
  }

  .itemdetail.vcomp > .main > .txt.period {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
  }

  .itemdetail.vcomp > .main > .txt.cum {
    text-align: right;
    padding-top: 0;
    color: #999999;
    font-size: 12px;
  }

  .itemdetail.vcomp > .main > .txt.desc {
    font-size: 11px;
    color: var(--color-gray);
    line-height: 15px;
    opacity: 0;
    white-space: pre-line;
  }

  .itemdetail.vcomp > .main > .txt.winner-notice > .box {
    background: rgba(0,0,0,0.05);
    border-radius: 8px;
    padding: 16px;
  }

  .itemdetail.vcomp > .main > .txt.winner-notice > .box > .head {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .itemdetail.vcomp > .main > .txt.winner-notice > .box > .content {
    font-size: 12px;
    white-space: pre-line;
  }

  .itemdetail.vcomp > .main > .txt.noti {
    font-size: 11px;
    color: var(--color-gray);
    line-height: 15px;
    opacity: 0;
  }

  .itemdetail.vcomp > .main.loaded > .txt.desc,
  .itemdetail.vcomp > .main.loaded > .txt.noti {
    opacity: 1;
  }

  .itemdetail.vcomp > .main > .txt > .action {
    position: absolute;
    bottom: 10px;
    right: 16px;
    height: 36px;
    width: 72px;
    background: var(--color-point);
    color: white;
    border-radius: 15px;
    font-size: 12px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.2;
    pointer-events: none;
    cursor: pointer;
  }

  .itemdetail.vcomp > .main > .txt > .action.active {
    opacity: 1;
    pointer-events: auto;
  }

  .itemdetail.vcomp > .main > .txt > .action.raffled {
    background: var(--color-dark);
    pointer-events: none;
  }

  .itemdetail.vcomp > .main > .explain {
    margin-top: 30px;
  }

  .itemdetail.vcomp > .main > .explain > img {
    width: 100%;
    height: auto;
  }

 .itemdetail.vcomp > .spinner {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   color: var(--color-dark);
 }
</style>

<script type='text/x-template' id='itemdetail-template'>
  <div class='itemdetail vcomp'>
    <div class='main' :class='{ loaded:ready }'>

      <div class='pixes' :class='{ paginated:paginated }'>
        <div class='swiper-container' ref='swiper'>
          <div class='swiper-wrapper'>
            <div class="swiper-slide" v-for='i in 5' v-if='pix(i-1)'>
              <img :src='pix(i-1)' @load='pix_loaded(i, $event)'>
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- <div class='txt period'>[[ days_to_due ]]</div> -->

      <div class='txt name'>[[ name ]]</div>

      <div class='txt price' v-if='is_shoptem || is_coffeecoupon'>
        [[ price_p ]]
        <div class='action buy' :class='{ active: buyable }' @click='buy'>
          구매하기
        </div>
      </div>

      <div class='txt period' v-if='is_raffle'>
        [[ days_to_due_text ]]
        <!-- [[ raffle_collected_p ]] -->
        <div class='action apply' :class='{ active: raffleable, raffled:raffled }' @click='apply_raffle'>
          <span>[[ action_raffle_text ]]</span>
          <span>[[ deduction_p ]]</span>
        </div>
      </div>

      <div class='txt cum'>[[ amount_raffled_text ]]</div>

      <div class='txt winner-notice' v-if='winner && outdated'>
        <div class='box'>
          <div class='head'>럭키 드로우 결과 발표</div>
          <div class='content'><b>[[ winner_email_secret ]]</b> 님, 축하드립니다.
            모이버에서 개별 연락을 드릴 예정이니, 이메일을 꼭 확인해주시기 바랍니다 😁</div>
        </div>
      </div>

      <div class='txt desc'>[[ desc ]]</div>

      <!-- <div class='txt noti' v-if='is_raffle && !outdated'>
        <span>응모 기간 종료 후 3일 이내에 당첨자 추첨 및 발표가 진행 됩니다. 고객 실수로 인한 주소 오류 또는 연락처 미기재 등으로 인한 오발송 되는 경품은 재발송이 불가합니다.</span>
      </div> -->

      <div class='explain' v-if='pix_detail'>
        <img :src='pix_detail'>
      </div>
    </div>

    <div class='spinner' v-if='!ready'>
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</script>


<script>
  Vue.component('itemdetail', {
    template: '#itemdetail-template',
    delimiters: ['[[', ']]'],
    props: [ 'obj', 'session' ],
    data: function() {
      return {
        swiper: undefined,
        swiper_options: {
          // direction: 'vertical',
          simulateTouch: true,
          observer: true,
          observeParents: true,
          slidesPerView: 'auto',
          // loop: true, 이걸쓰면 슬라이드가 클릭이 안되는듯
          mousewheel: {
            releaseOnEdges: true,
          },
          pagination: {
            el: '.swiper-pagination',
          }
        }
      }
    },

    mounted: function() {
      this.swiper = new Swiper(this.$refs.swiper, this.swiper_options);
    },

    watch: {
      n_pix: function(_new, _old) {}
    },

    methods: {
      pix_loaded: function(idx, event) {
        event.target.classList.add('loaded');
      },

      pix: function(idx) {
        if (this.item) {
          return this.item['pix_' + idx]
        }
      },

      buy: function() {
        if (this.buyable) {
          let msg;
          let resp;

          if (this.mobile_verified) {
            msg = `구매하시겠습니까? \n${this.price}P가 차감되며, 취소는 불가합니다.`;
            resp = confirm(msg);

            if (resp) {
              this.myboo.wallet.send(this.type, this.price, this.obj.id);
              alert(`주문처리가 완료되었습니다! ${this.myboo.nick}님의 휴대번호로 안내 메시지를 전송하였습니다.`);
            }

          } else if (!this.mobile_verified && this.mobile) {
            msg = `상품을 구매하시려면, ${this.myboo.nick}님이 입력하신 휴대번호(${this.mobile}) 인증이 필수입니다. 휴대번호 인증을 시작합니다.`;
            resp = confirm(msg);

            if (resp) {
              this.mobile_verify();
            }

          } else if (!this.mobile) {
            msg = `이 상품은 모바일 메시지로 전송하기 때문에 휴대번호가 필요합니다. 휴대번호 입력 페이지로 이동합니다`;
            resp = confirm(msg);

            if (resp) {
              this.session.open_baseinfo();
            }
          }
        }
      },

      apply_raffle: function() {
        if (this.raffleable && !this.raffled) {
          const receiver_id = this.raffle.id;
          const amount = this.deduction;
          const msg = `추첨에 참여하시겠습니까? \n참여시 ${amount}P가 차감되며, 취소는 불가합니다`;
          const resp = confirm(msg);

          if (resp && receiver_id && amount) {
            this.raffle.wallet.collected += amount;
            this.raffle.wallet.amount_raffled += amount;
            this.raffle.wallet.raffled = true;
            this.myboo.wallet.send('raffle', amount, receiver_id);
            // this.myboo.raffles.list.push(this.obj);

            const iraffle = _.find(this.myboo.raffles.list, ['id', receiver_id]);
            if (!iraffle) {
              this.myboo.raffles.list.push(this.raffle);
            }
          }
        }
      },

      mobile_verify: function() {
        // this.on_verifying = true;

        const _mobile = this.mobile.replaceAll('-', '');
        fetch(`mobile/send_authkey?number=${_mobile}`)
          .then(x => x.json())
          .then(j => {
            const authkey = prompt('전송받은 인증번호를 정확히 입력해주세요', '');

            fetch(`mobile/verify?mobile=${_mobile}&authkey=${authkey}`)
              .then(x => x.json())
              .then(j => {
                if (j.code == 0) {
                  this.session.user.auth.mobile_verified = true;
                  fetch(`/mobile/verify/save`).then(res => res.json()).then(js => { console.log(js); });
                  alert('인증완료 되었습니다!');
                  this.buy();

                } else if (j.code == 1) {
                  alert('인증번호가 잘못 입력되었습니다. 다시 시도해 주세요');

                } else {
                  alert('잠시후에 다시 시도해 주세요');
                }

                // this.on_verifying = false;
              });
          });
      }
    },

    computed: {
      mobile: function() {
        return this.session.user.auth.mobile
      },

      mobile_verified: function() {
        return this.session.user.auth.mobile_verified
      },

      n_pix: function() {
        if (this.swiper) {
          return this.swiper.slides.length
        }
      },

      paginated: function() {
        return this.n_pix > 1
      },

      item: function() {
        if (this.obj && this.obj.item) {
          return this.obj.item.load()
        }
      },

      pix_detail: function() {
        if (this.item) {
          return this.item.pix_detail
        }
      },

      type: function() {
        if (this.obj) {
          return this.obj.constructor.name.toLowerCase()
        }
      },

      is_raffle: function() {
        return this.type == 'raffle'
      },

      is_shoptem: function() {
        return this.type == 'shoptem'
        // return (this.type == 'shoptem') || (this.type=='coffeecoupon')
      },

      is_coffeecoupon: function() {
        return this.type=='coffeecoupon'
      },

      ready: function() {
        if (this.item) {
          return this.item.loaded
        }
      },

      name: function() {
        if (this.item) {
          return this.item.name
        }
      },

      price: function() {
        if (this.item) {
          return this.item.price
        }
      },

      price_p: function() {
        if (this.price) {
          return this.price.toLocaleString() + 'P'
        }
      },

      deduction: function() {
        if (this.obj) {
          if (this.obj.deduction) {
            return this.obj.deduction
          }
        }
      },

      deduction_p: function() {
        if (this.deduction) {
          return '-' + this.deduction.toLocaleString() + 'P'
        }
      },

      days_to_due: function() {
        if (this.obj && this.obj.due) {
          return Math.ceil( (new Date(this.obj.due) - new Date()) / (1000 * 24 * 60 * 60) )
          // return '마감 ' + Math.ceil( (new Date(this.obj.due) - new Date()) / (1000 * 24 * 60 * 60) ) + '일전'
        }
        //  else {
        //   return ''
        // }
      },

      outdated: function() {
        if (this.days_to_due) {
          return this.days_to_due < 0
        }
      },

      days_to_due_text: function() {
        if (this.days_to_due) {
          if (this.days_to_due >= 0) {
            return '마감 ' + this.days_to_due + '일전'

          } else {
            return '종료'
          }

        } else {
          return ''
        }
      },

      desc: function() {
        if (this.item) {
          return this.item.desc
        }
      },

      raffle: function() {
        if (this.is_raffle) {
          return this.obj
        }
      },

      raffle_wallet: function() {
        if (this.raffle) {
          return this.raffle.wallet
        }
      },

      raffled: function() {
        if (this.raffle_wallet) {
          return this.raffle_wallet.raffled
        }
      },

      amount_raffled: function() {
        if (this.raffle_wallet) {
          return this.raffle_wallet.amount_raffled
        }
      },

      amount_raffled_text: function() {
        if (this.amount_raffled) {
          return '내 누적 참여 ' + this.amount_raffled + 'P'
        }
      },

      myboo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },

      mywallet: function() {
        if (this.myboo) {
          return this.myboo.wallet
        }
      },

      budget: function() {
        if (this.mywallet) {
          return this.mywallet.amount
        }
      },

      raffleable: function() {
        return (this.budget >= this.deduction) && !this.outdated
      },

      buyable: function() {
        return this.budget >= this.price
      },

      action_raffle_text: function() {
        if (this.raffled) {
          return '응모완료'

        } else {
          return '응모하기'
        }
      },

      raffle_collected: function() {
        if (this.raffle_wallet) {
          return this.raffle_wallet.collected
        }
      },

      raffle_collected_p: function() {
        if (this.raffle_collected != undefined) {
          return this.raffle_collected.toLocaleString() + 'P'
        }
      },

      winner: function() {
        if (this.raffle) {
          return this.raffle.winner
        }
      },

      winner_email: function() {
        if (this.winner) {
          return this.winner.email
        }
      },

      winner_email_secret: function() {
        if (this.winner_email) {
          let str = this.winner_email.split('');
          str[2] = '*';
          return str.join('');
        }
      }
    }
  });
</script>
