<style>
  .joystick.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width);
    height: 100px;
    background: white;
    /* background: rgba(255,255,255,0.8); */
    transition: all 0.3s;
    transition-delay: 0.3s;
    z-index: 100;
    font-size: 14px;
  }

  .joystick.vcomp.minimized {
    top: -55px;
    /* background: rgba(255,255,255,0.6); */
    font-size: 13px;
  }

  .joystick.vcomp.hidden {
    top: -100px;
  }

  .joystick.vcomp > .head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
  }

  .joystick.vcomp > .head > .icon {
    position: absolute;
    top: 0;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .joystick.vcomp > .head > .icon.logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .joystick.vcomp > .head > .icon.setting {
    right: 0;
    /* right: -55px; */
    transition: all 0.2s;
  }

  /* .joystick.vcomp > .head > .icon.setting.on {
    right: 0;
  } */

  .joystick.vcomp > .head > .icon > img {
    height: auto;
  }

  .joystick.vcomp > .head > .icon.logo > img {
    /* width: 50px; */
    width: 60px;
  }

  .joystick.vcomp > .head > .icon.setting > img {
    width: 22px;
    /* opacity: 0.5; */
  }


  /* .joystick.vcomp > .logo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45%;
  } */

  .joystick.vcomp > .body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* padding-bottom: 5px; */
    transition: all 0.3s;
  }

  .joystick.vcomp > .body > span.menu {
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-left: 5px;
    margin-right: 5px; */
    border-radius: 100px;
    letter-spacing: -0.3px;
    color: #828282;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
  }

  /* .joystick.vcomp > .body > span.menu.logo > img {
    height: 36px;
    width: auto;
  } */

  .joystick.vcomp > .body > span.menu.on {
    background: var(--color-dark);
    color: white;
  }

  .joystick.vcomp > .body > .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 45px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .joystick.vcomp > .body > .logo > img {
    height: 100%;
    width: 45px;
    object-fit: cover;
  }

  .joystick.vcomp > .tail {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: row;
    background: white;
    /* background: rgba(255,255,255,0.8); */
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    transition: all 0.3s;
    transition-delay: 0.3s;
    border-bottom: 1px solid #cecece;
  }

  .joystick.vcomp > .tail.show {
    height: 50%;
  }

  .joystick.vcomp.minimized > .tail.show {
    height: 30%;
  }

  .joystick.vcomp > .tail > .category {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #828282;
    overflow: hidden;
    cursor: pointer;
  }

  .joystick.vcomp > .tail > .category.on {
    color: var(--color-dark);
    text-decoration: underline;
    font-weight: bold;
  }


  .joystick.vcomp > .head > .icon.setting > .setting-menu {
    position: absolute;
    top: 100%;
    right: 10px;
    background: white;
    width: 110px;
    border-radius: 9px;
    overflow: hidden;
    font-size: 12px;
    box-shadow: 0px 2px 6px rgb(70, 71, 105, 0.3);
  }

  .joystick.vcomp > .head > .icon.setting > .setting-menu > .item {
    background: none;
    height: var(--w-9);
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .joystick.vcomp > .head > .icon.setting > .setting-menu > .item:last-child {
    border-bottom: none;
  }

  .joystick.vcomp > .head > .icon.setting > .dimmer {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--width);
    height: var(--height);
    background: rgba(0,0,0,0.5);
  }
</style>

<script type='text/x-template' id='joystick-template'>
  <div class='joystick vcomp' :class='phase'>
    <div class='body'>
      <span class='menu' :class='{ on: session.on("researcher") }' @click='session.open_researcher()'>트렌드연구</span>
      <span class='menu' :class='{ on: session.on("stylevote") }' @click='session.open_stylevote()'>밸런스게임</span>
      <span class='menu' :class='{ on: session.on("search") }' @click='session.open_search()'>탐색</span>
      <span class='menu' :class='{ on: on_my }' @click='session.open_my()'>마이페이지</span>

      <!-- <span class='logo'>
        <img src='/static/materials/logos/logo.png'>
      </span> -->
    </div>

    <div class='tail' :class='{ show: session.on("search") }'>
      <span class='category' :class='{ on: category=="pix" }' @click='categorize("pix")'>스타일</span>
      <span class='category' :class='{ on: category=="collection" }' @click='categorize("collection")'>컬렉션</span>
    </div>

    <div class='head'>
      <div class='icon logo' @click='session.open_home()'>
        <img src='/static/materials/logos/logo.png'>
      </div>

      <!-- <div class='icon setting' :class='{ on: settable }' @click.stop='toggle_menu'> -->
      <div class='icon setting' @click.stop='toggle_menu'>
        <img src='/static/materials/icons/setting_line.png'>
        <div class='dimmer' v-if='on_menu'></div>
        <div class='setting-menu' v-if='on_menu'>
          <div class='item' @click='open_pointget'>포인트 획득하기</div>
          <div class='item' @click='open_pointuse'>포인트 사용하기</div>
          <div class='item' v-if='on_my' @click='make_collection'>컬렉션 만들기</div>
          <div class='item' @click='session.help()'>도움말 보기</div>
          <div class='item' @click='session.contact()'>문의하기</div>
          <div class='item' v-if='on_my' @click='session.logout()'>로그아웃</div>
          <div class='item' v-if='!boo' @click='session.open_login()'>로그인</div>
          <!-- <div class='item' v-if='boo && (boo.id==638 || boo.id==694)' @click='share_test'>공유하기</div> -->
        </div>
      </div>
    </div>
  </div>
</script>


<script>
  Vue.component('joystick', {
    template: '#joystick-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        on_menu: false
      }
    },

    computed: {
      boo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },


      dasher_control: function() {
        return this.session.mode.dasher_control
      },
      // settable: function() {
      //   if (this.boo) {
      //     return this.boo.profile && this.boo.id
      //   }
      // },

      category: function() {
        return this.session.page.search.category
      },

      phase: function() {
        return {
          minimized: (this.session.scroll_direction=='down' && this.session.on('agit'))
                      || this.session.on('search')
                      || this.session.on('stylevote')
                      // || (this.session.scroll_direction=='down' && this.session.on('search'))
                      // || (this.session.scroll_direction=='down' && this.session.on('stylevote'))
                      || (this.session.scroll_direction=='down' && this.session.on('researcher'))
                      || (this.session.scroll_direction=='down' && this.session.on('brander')),
                      // || (this.session.on('checkin')),

          hidden: this.session.on('contentwork', 'mbtiresult', 'landing', 'baseinfo', 'signup', 'signupper', 'login', 'accountcheck', 'emailogin', 'emailsignup', 'about', 'recruit', 'infoboard', 'policy', 'privacy', 'profiler', 'multichooser', 'texteditor', 'pixeditor', 'collector', 'research', 'checkingame', 'flashgames')
                  || this.on_agit
        }
      },

      on_my: function() {
        return (this.session.on('agit')) && (this.session.user.is_myboo(this.session.page.agit.boo))
      },

      on_agit: function() {
        return (this.session.on('agit')) && (!this.session.user.is_myboo(this.session.page.agit.boo))
      }
    },

    methods: {
      toggle_menu: function() {
        this.on_menu = !this.on_menu;
      },

      categorize: function(cat) {
        this.session.page.search.category = cat
      },

      make_collection: function() {
        if (this.boo) {
          this.boo.make_collection();
        }
      },

      // help: function() {
      //   this.session.help();
      // },

      open_pointget: function() {
        this.dasher_control.open = true;
        this.dasher_control.section = 'pointget';
        this.dasher_control.phase = 'menu';
      },

      open_pointuse: function() {
        this.dasher_control.open = true;
        this.dasher_control.section = 'pointuse';
        this.dasher_control.phase = 'menu';
      },

      share_test: function() {
        if (navigator.share) {
          navigator.share({
            title: "모이버 공유하기",
            text: "모이버 출석체크를 공유해요",
            url: 'https://moiber.com'
          }).then(() => {
            alert('공유해따')
          }).catch(console.error);

        } else {
          alert('공유못해따')
          // shareDialog.classList.add('is-open');
        }
      }
    }
  });
</script>
