<style>
  .login.vcomp .page-body {
    width: 100%;
    height: 100%;
    background: white;
    font-size: 12px;
  }

  .login.vcomp .page-body > .section {
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .login.vcomp .page-body > .section.top {
    height: 30%;
    /* background: lightpink; */
  }

  .login.vcomp .page-body > .section.middle {
    height: 50%;
    background: none;
  }

  .login.vcomp .page-body > .section.bottom {
    height: 20%;
  }

  .login.vcomp .page-body > .section.middle > .desc {
    width: 100%;
    text-align: center;
  }

  .login.vcomp .page-body > .section.middle > .title.desc {
    margin-bottom: 2%;
    font-size: 20px;
  }

  .login.vcomp .page-body > .section.middle > .subtitle.desc {
    margin-bottom: 10%;
    color: #CCCCCC;
  }

  .login.vcomp .page-body > .section.middle > .alert.desc {
    margin-top: 10%;
    color: #CCCCCC;
  }

  .login.vcomp .page-body > .section.middle > .action {
    width: var(--w-50);
    height: var(--w-10);
    border-radius: var(--w-3);
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .login.vcomp .page-body > .section.top > .sub > .action.login-google {
    background: black;
    margin-bottom: var(--w-12);
  } */

  .login.vcomp .page-body > .section.middle > .action.login-kakao {
    background: #FFE810;
    margin-bottom: 4%;
    color: var(--color-dark);
  }

  .login.vcomp .page-body > .section.middle > .action.login-naver {
    background: #04C75A;
    margin-bottom: 4%;
  }

  .login.vcomp .page-body > .section.middle > .action.login-facebook {
    background: #0095F6;
    /* margin-bottom: var(--w-12); */
  }

  .login.vcomp .page-body > .section.bottom > .sub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .login.vcomp .page-body > .section.bottom > .sub > .action {
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    /* font-size: 12pt; */
  }

  .login.vcomp .page-body > .section.bottom > .sub > .action.register {
    background: white;
    margin-top: var(--w-12);
    border: 1px solid var(--color-dark);
    opacity: 0;
  }

  .login.vcomp .page-body > .section.bottom > .sub > .logo {
    margin-top: var(--w-8);
    width: 45%;
    height: auto;
  }

  .login.vcomp .page-body > .section.bottom > .tail {
    /* position: absolute; */
    /* bottom: calc(var(--w-16) + 10px); */
    width: 100%;
    /* left: 0; */
    background: none;
    font-size: 11px;
    color: #CCCCCC;
    text-align: center;
  }

  .login.vcomp .page-body > .section.bottom > .tail > .item {
    margin-left: 5px;
    margin-right: 5px;
  }
</style>


{% load socialaccount %}
<script type='text/x-template' id='login-template'>
  <page
    class='login vcomp'
    :open='session.page.login.open'
    :from='session.page.login.from'
    :hide_headerbar='true'
    @close='session.close_page()'>

    <template #headerbar-menu>
    </template>

    <template #headerbar-body-trans>
    </template>

    <template #headerbar-body-default>
    </template>

    <template #page-body>
      <div class='section top'></div>

      <div class='section middle'>
        <!-- <div class='sub'> -->
        <div class='desc title'><b>로그인</b></div>
        <div class='desc subtitle'>로그인하고 더 많은 활동을 해보세요</div>
        <div class='action login-kakao' @click='action_login_kakao'>카카오로 로그인하기</div>
        <div class='action login-naver' @click='action_login_naver'>네이버로 로그인하기</div>
        <div class='action login-facebook' @click='action_login_facebook'>페이스북으로 로그인하기</div>
        <!-- </div> -->
        <div class='desc alert'>약관에 동의하고 로그인합니다.</div>
      </div>

      <div class='section bottom'>
        <div class='tail'>
          <span class='item' @click='corporate'>소개</span>
          <span class='item' @click='recruit'>채용</span>
          <span class='item' @click='policy'>약관</span>
          <span class='item' @click='privacy'>개인정보보호</span>
          <span class='item' @click='contact'>컨텍트</span>
        </div>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('login', {
    template: '#login-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        facebook_login_url: "{% provider_login_url 'facebook' method='oauth2' %}",
        google_login_url: "{% provider_login_url 'google' method='oauth2' %}",
        kakao_login_url: "{% provider_login_url 'kakao' method='oauth2' %}",
        naver_login_url: "{% provider_login_url 'naver' method='oauth2' %}"
      }
    },

    methods: {
      action_login_facebook: function() {
        window.location.assign(this.facebook_login_url);
      },

      action_login_google: function() {
        // this.session.open_bridge('browser_guide', 'top');
        // return
        window.location.assign(this.google_login_url);
      },

      action_login_kakao: function() {
        window.location.assign(this.kakao_login_url);
        // var win = window.open(this.kakao_login_url, "PopupWin", "width=500,height=600");
        // this.$refs.login_frame.innerHTML = `<iframe src=${this.kakao_login_url} width="100%" height="100%" border="0"></iframe>`;
      },

      action_login_naver: function() {
        window.location.assign(this.naver_login_url);
      },

      action_register: function() {
        // alert('가입하기');
      },

      corporate: function() {
        this.session.open_about('who');
      },

      recruit: function() {
        this.session.open_about('recruit');
      },

      help: function() {
        alert('도움말');
      },

      policy: function() {
        window.open('/policy');
      },

      privacy: function() {
        window.open('/privacy');
      },

      contact: function() {
        window.open('mailto:contact@moiber.com')
      }
    }
  });
</script>
