<style>
  .market.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .market.vcomp::-webkit-scrollbar {
    display: none;
  }

  .market.vcomp > .items {
    position: relative;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .market.vcomp > .items > .item {
    position: relative;
    width: calc((100% - 8px) / 2);
    margin-bottom: 8px;
    height: 240px;
    border-radius: 8px;
    overflow: hidden;
    border: 0.5px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s;
    box-sizing: border-box;
    color: #555555;
  }

  .market.vcomp > .items > .item.loaded {
    opacity: 1;
  }

  .market.vcomp > .items > .item > .coverpix {
    position: relative;
    width: 100%;
    /* height: 140px; */
    padding-top: 100%;
  }

  .market.vcomp > .items > .item > .coverpix > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(95%);
  }

  .market.vcomp > .items > .item > .name {
    flex-grow: 1;
    width: 100%;
    padding: 5px 10px 0 10px;
    box-sizing: border-box;
  }

  .market.vcomp > .items > .item > .price {
    width: 100%;
    font-weight: bold;
    text-align: right;
    padding: 0 10px 5px 10px;
    box-sizing: border-box;
  }

  .market.vcomp > .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--color-dark);
  }
</style>

<script type='text/x-template' id='market-template'>
  <div class='market vcomp' @scroll='scroll'>
    <div class='items'>
      <div class='item' v-for='(s, idx) in items_list' @click='go_detail(s)'>
        <div class='coverpix'>
          <img :src='coverpix(s)' @load='coverpix_loaded'>
        </div>
        <div class='name'>[[ name(s) ]]</div>
        <div class='price'>[[ price(s) ]]</div>
      </div>
    </div>

    <div class='spinner' v-if='!ready'>
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</script>


<script>
  Vue.component('market', {
    template: '#market-template',
    delimiters: ['[[', ']]'],
    props: [ 'session', 'items_type' ],
    data: function() {
      return {
        ready: false,
        scrollTop: 0,
      }
    },

    created: function() {
      if ((this.items_type=='shoptem') && (!this.session.shoptems)) {
        this.session.load_shoptems();

      } if ((this.items_type=='coffeecoupon') && (!this.session.coffeecoupons)) {
        this.session.load_coffeecoupons();
      }
    },

    methods: {
      coverpix: function(it) {
        if (it.item) {
          return it.item.pix_0
        }
      },

      name: function(it) {
        if (it.item) {
          return it.item.name
        }
      },

      price: function(it) {
        if (it.item) {
          if (it.item.price) {
            return it.item.price.toLocaleString() + 'P'
          }
        }
      },

      coverpix_loaded: function(event) {
        this.ready = true;
        event.target.closest('.item').classList.add('loaded');
        // event.target.parentElement.classList.add('loaded');
      },

      go_detail: function(it) {
        this.$emit('go_detail', it);
      },

      scroll_directize: function(scrollTop, clientHeight) {
        if ((scrollTop <= this.scrollTop) || (scrollTop < clientHeight*0.2)) {
          return 'up';
        } else {
          return 'down';
        }
      },

      scroll: function(event) {
        // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sticky_header
        const h0 = event.target.clientHeight;
        const h1 = event.target.scrollHeight;
        const scrollTop = event.target.scrollTop;
        const gap = h1 - scrollTop - h0;
        const triggered = (gap < h0/2);
        const scroll_direction = this.scroll_directize(scrollTop, h0);
        this.scrollTop = scrollTop;

        if (triggered && scroll_direction=='down') {
          this.items.load(4);
        }
      }
    },

    computed: {
      items: function() {
        return this.session[this.items_type + 's']
      },

      items_list: function() {
        if (this.items) {
          return this.items.list
        }
      }
    }
  });
</script>
