<style>
  .multichooser.vcomp .page-body {
    background: #f8f8f8;
  }

  .multichooser.vcomp .page-body > .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* padding-top: 60px;
    padding-bottom: 200px; */
  }

  .multichooser.vcomp .page-body > .container > .header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* padding-left: 16px;
    padding-right: 16px; */
    padding: 45px 16px 8px 16px;
    box-sizing: border-box;
  }

  .multichooser.vcomp .page-body > .container > .header > .title {
    font-size: 14px;
    font-weight: bold;
  }

  .multichooser.vcomp .page-body > .container > .header > .desc {
    font-size: 12px;
    color: #777777;
  }

  .multichooser.vcomp .page-body > .container > .labels {
    position: relative;
    width: 100%;
    padding: 0 12px 100px 12px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
  }

  .multichooser.vcomp .page-body > .container > .labels > .label {
    position: relative;
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
  }

  .multichooser.vcomp .page-body > .container > .labels > .label > .pix {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
    overflow: hidden;
  }

  .multichooser.vcomp .page-body > .container > .labels > .label > .pix > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s;
    filter: brightness(80%);
  }

  .multichooser.vcomp .page-body > .container > .labels > .label > .pix.chosen > img {
    display: none;
  }

  .multichooser.vcomp .page-body > .container > .labels > .label > .pix > img.loaded {
    opacity: 1;
  }

  .multichooser.vcomp .page-body > .container > .labels > .label > .pix > .label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.5s;
  }

  .multichooser.vcomp .page-body > .container > .labels > .label > .pix > img.loaded + .label {
    opacity: 1;
  }

  .multichooser.vcomp .page-body > .container > .labels > .label > .pix.chosen > .label {
    background: orange;
  }
</style>

<script type='text/x-template' id='multichooser-template'>
  <page
    class='multichooser vcomp'
    :order='session.page.multichooser.order'
    :open='session.page.multichooser.open'
    :from='session.page.multichooser.from'
    :hide_close='false'
    :trans_headerbar='true'
    :hide_menu='true'
    @close='session.close_page()'>

    <template #page-body>
      <div class='container'>
        <div class='header'>
          <div class='title'>[[ title ]]</div>
          <div class='desc'>관심있는 패션 [[ title ]]을 모두 선택하세요</div>
        </div>

        <div class='labels'>
          <div class='label' v-for='l in labels_list'>
            <div class='pix' :class='pix_class(l.id)' @click='toggle_choose(l.id)'>
              <i class="fa fa-spinner fa-spin"></i>
              <img :src='l.pix' @load='pix_loaded'>
              <div class='label'>[[ l.label ]]</div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('multichooser', {
    template: '#multichooser-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        mylabels: undefined,
        add: undefined,
        remove: undefined,
      }
    },

    methods: {
      pix_loaded: function(event) {
        event.target.classList.add('loaded');
      },

      toggle_choose: function(label_id) {
        if (this.myboo_labels) {
          if (this.myboo_labels.includes(label_id)) {
            // const idx = this.myboo_labels.indexOf(label_id);
            // this.myboo_labels.splice(idx, 1);
            // this.save('remove', label_id);

          } else {
            // this.myboo_labels.push(label_id);
            // this.save('add', label_id);
          }
        }
      },

      save: function(action, id) {
        const _url = `label/edit?type=${this.label_type}&action=${action}&id=${id}`;
        fetch(_url).then(x=>x.json()).then(console.log);
      },

      pix_class: function(label_id) {
        if (this.myboo_labels && this.myboo_labels.includes(label_id)) {
          return 'chosen'
        }
      },
    },

    watch: {
      myboo_labels: function(_new, _old) {
        // console.log(_new, _old)
      },

      'session.page.multichooser.open': function(_new, _old) {
        if (_new) {
          this.mylabels = this.myboo_labels.slice();
          this.add = [];
          this.remove = [];
        }

        if (_old) {
          if (!this.rewarded && this.has_labels) {
            setTimeout(() => {
              const transaction_type = this.label_type + '_input';
              const amount = this.wallet['amount_' + transaction_type];
              this.wallet.receive(transaction_type, amount);
              this.wallet[this.label_type + '_inputed'] = true;
              alert(amount + 'P를 지급했습니다');
            }, 600);

          } else if (this.rewarded && !this.has_labels) {
            setTimeout(() => {
              const transaction_type = this.label_type + '_input';
              const amount = this.wallet['amount_' + transaction_type];
              this.wallet.receive(transaction_type, -amount);
              this.wallet[this.label_type + '_inputed'] = false;
              alert(amount + 'P가 차감됩니다');
            }, 600);
          }
        }
      }
    },

    computed: {
      myboo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },

      wallet: function() {
        if (this.myboo) {
          return this.myboo.wallet
        }
      },

      rewarded: function() {
        if (this.wallet) {
          return this.wallet[this.label_type + '_inputed']
        }
      },

      myboo_labels: function() {
        if (this.myboo) {
          return this.myboo[this.label_type]
        }
      },

      has_labels: function() {
        if (this.myboo_labels) {
          return this.myboo_labels.length > 0
        }
      },

      labels: function() {
        // return this.session.stylelabels
        return this.session.page.multichooser.univ
      },

      label_type: function() {
        if (this.labels) {
          return this.labels.constructor.name.toLowerCase()
        }
      },

      labels_list: function() {
        if (this.labels) {
          return this.labels.list
        }
      },

      title: function() {
        if (this.label_type == 'stylelabels') {
          return '스타일'

        } else if (this.label_type == 'itemlabels') {
          return '아이템'
        }
      }
    }
  });
</script>
