<style>
  .myevents.vcomp {
    position: relative;
    width: 100%;
    /* background: lightpink; */
  }

  .myevents.vcomp > .segment {
    position: relative;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }

  .myevents.vcomp > .segment > .title {
    width: 100%;
    height: 35px;
    line-height: 35px;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .myevents.vcomp > .segment > .notice {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    /* height: 100px; */
    border-radius: 8px;
    /* display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; */
    box-sizing: border-box;
    /* cursor: pointer; */
    background: white;
    padding: 16px;
    transition: all 0.3s;
  }

  .myevents.vcomp > .segment > .notice.requestable {
    background: wheat;
  }

  .myevents.vcomp > .segment > .event {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s;
    box-sizing: border-box;
    cursor: pointer;
  }

  .myevents.vcomp > .segment > .event.loaded {
    opacity: 1;
  }

  .myevents.vcomp > .segment > .event > .coverpix {
    position: relative;
    width: 100%;
    height: 110px;
    border-radius: 8px;
    overflow: hidden;
  }

  .myevents.vcomp > .segment > .event > .coverpix > .blogo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100px;
  }

  .myevents.vcomp > .segment > .event > .coverpix > .blogo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .myevents.vcomp > .segment > .event > .coverpix > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
  }

  .myevents.vcomp > .segment > .event.outdated > .coverpix > img {
    opacity: 0.2;
  }

  .myevents.vcomp > .segment > .event > .coverpix > .item-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    /* background: orange; */
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 5px 10px;
    box-sizing: border-box;
    color: white;
  }

  .myevents.vcomp > .segment > .event > .coverpix > .deduction {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    /* background: lightblue; */
    font-size: 16px;
    /* font-weight: bold; */
    padding: 0 10px 5px 0;
    box-sizing: border-box;
    text-align: right;
    color: white;
  }

  .myevents.vcomp > .segment > .event > .coverpix > .see-result {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: none;
  }

  .myevents.vcomp > .segment > .event.outdated > .coverpix > .see-result {
    display: block;
  }

  .myevents.vcomp > .segment > .event > .due {
    position: relative;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 13px;
    color: #999999;
  }

  .myevents.vcomp > .segment > .event > .due > span {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
  }

  .myevents.vcomp > .segment > .spinner {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--color-dark);
  }

  .myevents.vcomp > .segment > .no-event {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--color-dark);
  }

  .myevents.vcomp > .segment > .notice > .head {
    font-size: 13px;
    /* color: #999999; */
  }

  .myevents.vcomp > .segment > .notice > .desc {
    font-size: 15px;
    font-weight: bold;
  }

  .myevents.vcomp > .segment > .notice > .baseinfo {
    position: relative;
    font-size: 13px;
    height: 0px;
    transition: all 0.2s;
    overflow: hidden;
    padding: 0;
    opacity: 0;
  }

  .myevents.vcomp > .segment > .notice.baseinfoing > .baseinfo {
    height: 105px;
    padding: 16px 0 16px 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-top: 16px;
    opacity: 1;
  }

  .myevents.vcomp > .segment > .notice > .baseinfo > ul > li {
    margin-bottom: 3px;
  }

  .myevents.vcomp > .segment > .notice > .baseinfo > ul > li > b.empty {
    color: var(--color-point);
  }

  .myevents.vcomp > .segment > .notice.baseinfoing > .baseinfo > .edit {
    position: absolute;
    right: 0;
    top: 8px;
    /* background: orange; */
    padding: 5px;
    font-size: 11px;
    cursor: pointer;
  }

  .myevents.vcomp > .segment > .notice.baseinfoing > .baseinfo > .alert {
    font-size: 10px;
  }

  .myevents.vcomp > .segment > .notice > .actions {
    text-align: right;
    margin-top: 15px;
  }

  .myevents.vcomp > .segment > .notice > .actions > .btn {
    background: var(--color-dark);
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
    border-radius: 100px;
    cursor: pointer;
  }

  .myevents.vcomp > .segment > .notice > .actions > .btn.ok {
    background: var(--color-point);
    /* background: lightgray;
    opacity: 0.2;
    pointer-events: none; */
  }

  /* .myevents.vcomp > .segment > .notice > .actions > .btn.ok.active {
    background: var(--color-point);
    pointer-events: auto;
  } */

  .myevents.vcomp > .segment > .notice > .actions > .btn.request {
    display: inline-block;
    opacity: 0.2;
    pointer-events: none;
  }

  .myevents.vcomp > .segment > .notice.requestable > .actions > .btn.request {
    opacity: 1;
    pointer-events: auto;
  }

  .myevents.vcomp > .segment > .notice > .actions > .btn.close,
  .myevents.vcomp > .segment > .notice > .actions > .btn.ok {
    display: none;
  }

  .myevents.vcomp > .segment > .notice.baseinfoing > .actions > .btn.request {
    display: none;
  }

  .myevents.vcomp > .segment > .notice.baseinfoing > .actions > .btn.close,
  .myevents.vcomp > .segment > .notice.baseinfoing > .actions > .btn.ok {
    display: inline-block;
  }
</style>

<script type='text/x-template' id='myevents-template'>
  <div class='myevents vcomp'>


    <div class='segment' v-if='raffles_mywin && raffles_mywin.length > 0'>
      <div class='notice' :class='{ requestable: !r.send_requested }' v-for='(r, idx) in raffles_mywin'>
        <div class='head'>[추첨 이벤트]</div>
        <div class='desc'>[[ r.item.name ]]에 당첨되셨어요!🎉</div>
        <div class='baseinfo'>
          <div>아래의 배송정보를 확인해주세요</div>
          <ul>
            <li>(이름) <b v-if='name'>[[ name ]]</b><b class='empty' v-else>이름 입력은 필수입니다</b></li>
            <li>(배송지) <b v-if='address'>[[ address ]]</b><b class='empty' v-else>주소 입력은 필수입니다</b></li>
            <li>(연락처) <b v-if='mobile'>[[ mobile ]]</b><b class='empty' v-else>연락처 입력은 필수입니다</b></li>
          </ul>

          <div class='alert'>고객 실수로 인한 주소 오류 등으로 오발송 되는 경품은 재발송이 불가합니다.</div>
          <span class='edit' @click='session.open_baseinfo()'>✍🏻 수정하기</span>
        </div>

        <div class='actions'>
          <span class='btn request' @click='baseinfoing'>[[ r.send_requested ? '상품배송 신청완료' : '상품배송 신청하기']]</span>
          <span class='btn close' @click='baseinfoing_close'>닫기</span>
          <span class='btn ok' v-if='sendable' @click='sendme($event, r)'>네, 보내주세요</span>
        </div>
      </div>
    </div>

    <div class='segment'>
      <div class='title'>추첨</div>
      <div class='spinner' v-if='raffles_onloading'>
        <i class="fa fa-spinner fa-spin"></i>
      </div>

      <template v-else-if='has_raffles'>
        <div class='event' :class='{ outdated:outdated(r) }' v-for='(r, idx) in raffles_list' @click='open_raffle(r)'>
          <div class='coverpix'>
            <img :src='coverpix(r)' @load='coverpix_loaded'>
            <div class='item-name'>[[ item_name(r) ]]</div>
            <div class='deduction'>[[ deduction(r) ]]</div>
            <div class='see-result'>결과확인 🤩</div>
          </div>

          <div class='due'><span>[[ days_to_due_text(r) ]]</span></div>
        </div>
      </template>

      <div class='no-event' v-else>
        참여 중인 추첨이 없습니다
      </div>
    </div>


    <div class='segment'>
      <div class='title'>후원</div>

      <div class='spinner' v-if='supports_onloading'>
        <i class="fa fa-spinner fa-spin"></i>
      </div>

      <template v-else-if='has_supports'>
        <div class='event' v-for='(r, idx) in supports_list' @click='open_support(r)'>
          <div class='coverpix'>
            <img :src='coverpix(r)' @load='coverpix_loaded'>
            <!-- <div class='name'>[[ name(r) ]]</div> -->
            <div class='deduction'>[[ deduction(r) ]]</div>
            <div class='blogo' v-if='r.brand'>
              <img :src='r.brand.logo'>
            </div>
          </div>

          <div class='due'><span>[[ collected(r) ]]</span></div>
        </div>
      </template>

      <div class='no-event' v-else>
        참여 중인 후원이 없습니다
      </div>
    </div>

  </div>
</script>


<script>
  Vue.component('myevents', {
    template: '#myevents-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return { }
    },

    computed: {
      myboo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },

      name: function() {
        if (this.myboo) {
          return this.session.user.auth.name
        }
      },

      mobile: function() {
        if (this.myboo) {
          return this.session.user.auth.mobile
        }
      },

      address: function() {
        if (this.myboo) {
          return this.session.user.auth.address
        }
      },

      supports: function() {
        if (this.myboo) {
          return this.myboo.supports
        }
      },

      supports_list: function() {
        if (this.supports) {
          return this.supports.list
        }
      },

      raffles: function() {
        if (this.myboo) {
          return this.myboo.raffles
        }
      },

      raffles_list: function() {
        if (this.raffles) {
          return this.raffles.list
        }
      },

      raffles_mywin: function() {
        if (this.myboo && this.raffles_list) {
          return _.filter(this.raffles_list, ['winner', this.myboo.id])
        }
      },

      raffles_onloading: function() {
        if (!this.myboo) {
          return true

        } else if (this.myboo && this.myboo.onloading) {
          return true

        } else if (this.raffles) {
          return this.raffles.onloading
        }
      },

      has_raffles: function() {
        if (this.raffles_list) {
          return this.raffles_list.length > 0
        }
      },

      supports_onloading: function() {
        if (!this.myboo) {
          return true

        } else if (this.myboo && this.myboo.onloading) {
          return true

        } else if (this.supports) {
          return this.supports.onloading
        }
      },

      has_supports: function() {
        if (this.supports_list) {
          return this.supports_list.length > 0
        }
      },

      sendable: function() {
        return this.name && this.mobile && this.address
      }
    },

    methods: {
      baseinfoing: function() {
        // console.log(1234)
        event.target.closest('.notice').classList.add('baseinfoing');
      },

      baseinfoing_close: function(event) {
        event.target.closest('.notice').classList.remove('baseinfoing');
      },

      sendme: function(event, r) {
        const msg = `배송정보를 다시한번 확인해주세요.\n상품배송을 진행할까요?`;
        resp = confirm(msg);

        if (resp) {
          fetch(`raffle/${r.id}/send_request`)
            .then(x => x.json())
            .then(j => {
              console.log(j);

              if (j.success) {
                r.send_requested = true;
                alert(`상품배송을 성공적으로 신청하였습니다! ${this.myboo.nick}님의 휴대번호로 안내 메시지를 전송하였습니다.`);
                this.baseinfoing_close(event);

              } else {
                alert(`오류가 발생하였습니다. contact@moibercom 으로 문의바랍니다.`);
              }
            })
        }
      },

      coverpix: function(e) {
        if (e.item) {
          return e.item.pix_wide ? e.item.pix_wide : e.item.pix_0

        } else if (e.gift) {
          return e.gift.pix_wide ? e.gift.pix_wide : e.gift.pix_0
        }
      },

      coverpix_loaded: function(event) {
        this.ready = true;
        event.target.closest('.event').classList.add('loaded');
      },

      item_name: function(e) {
        if (e.item) {
          return e.item.name

        } else if (e.gift) {
          return e.gift.name
        }
      },

      deduction: function(e) {
        if (e.deduction) {
          return '-' + e.deduction + 'P'

        } else if (e.ticketsize) {
          return '-' + e.ticketsize + 'P'
        }
      },

      days_to_due: function(e) {
        if (e.due) {
          return Math.ceil( (new Date(e.due) - new Date()) / (1000 * 24 * 60 * 60) )
          // return '마감 ' + Math.ceil( (new Date(e.due) - new Date()) / (1000 * 24 * 60 * 60) ) + '일전'
        }
        // else {
        //   return ''
        // }
      },

      outdated: function(e) {
        return this.days_to_due(e) < 0
      },

      days_to_due_text: function(e) {
        const _remained = this.days_to_due(e);

        if (_remained) {
          if (_remained >= 0) {
            return '마감 ' + _remained + '일전'

          } else {
            return '종료'
          }

        } else {
          return ''
        }
      },

      collected: function(e) {
        if (e.wallet) {
          // return '현재까지 ' + e.wallet.collected + 'P 모집'
          return '현재 달성률 ' + Math.round(e.wallet.collected / e.target * 100) + '%'
        }
      },

      open_raffle: function(raffle) {
        const dasher_control = this.session.mode.dasher_control;
        dasher_control.section = 'pointmenu';
        dasher_control.phase = 'detail';
        dasher_control.content = 'raffle';
        dasher_control.detail_obj = raffle;
        setTimeout(() => { dasher_control.open = true; }, 100);
      },

      open_support: function(support) {
        this.session.open_brander(support.brand);
      }
    }
  });
</script>
