<style>
  .myinfo.vcomp {
    position: relative;
    width: 100%;
    /* background: lightpink; */
  }

  .myinfo.vcomp > .segment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-left: 16px;
    padding-right: 16px; */
    box-sizing: border-box;
    margin-bottom: 32px;
  }

  .myinfo.vcomp > .segment:first-child {
    margin-top: 20px;
  }

  .myinfo.vcomp > .segment > .title {
    width: 100%;
    /* height: 35px; */
    /* line-height: 35px; */
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .myinfo.vcomp > .segment > .title > span.reward {
    font-size: 12px;
    font-weight: normal;
  }

  .myinfo.vcomp > .segment > .title > span.reward.rewarded {
    color: #999999;
  }

  .myinfo.vcomp > .segment > .infobox {
    position: relative;
    width: calc(100% - 32px);
    /* height: 100px; */
    font-size: 15px;
    background: white;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    /* margin-top: 16px; */
  }

  .myinfo.vcomp > .segment > .infobox > table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }

  .myinfo.vcomp > .segment > .infobox > table td {
    box-sizing: border-box;
    position: relative;
    text-align: left;
    padding: 0;
    height: 40px;
    position: relative;
  }

  .myinfo.vcomp > .segment > .infobox > table td.head {
    padding-left: 15px;
    width: 100px;
    box-sizing: border-box;
    color: #777777;
  }

  .myinfo.vcomp > .segment > .infobox > table td > span.verify {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: var(--color-point);
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    opacity: 0.2;
    pointer-events: none;
  }

  .myinfo.vcomp > .segment > .infobox > table td > span.verify.active {
    opacity: 1;
    pointer-events: auto;
  }

  .myinfo.vcomp > .segment > .infobox > table td > span.verify.onwork {
    opacity: 0.2;
    pointer-events: none;
  }

  .myinfo.vcomp > .segment > .infobox > table td > span.verify.verified {
    opacity: 1;
    pointer-events: none;
    background: var(--color-dark);
  }

  .myinfo.vcomp > .segment > .infobox > .edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 40px;
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-size: 12px;
    cursor: pointer;
  }

  .myinfo.vcomp > .segment > .spinner {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--color-dark);
  }

  .myinfo.vcomp > .segment > .default {
    position: relative;
    width: calc(100% - 32px);
    height: 100px;
    border-radius: 8px;
    /* filter: brightness(80%); */
    overflow: hidden;
  }

  .myinfo.vcomp > .segment > .default > img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    filter: blur(2px) brightness(0.8);
  }

  .myinfo.vcomp > .segment > .default > .guide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: wrap;
    color: white;
  }


  .myinfo.vcomp > .segment > .labels {
    position: relative;
    width: 100%;
    padding: 0 12px 12px 12px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
  }

  .myinfo.vcomp > .segment > .labels > .label {
    position: relative;
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
  }

  .myinfo.vcomp > .segment > .labels > .label > .pix {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
    overflow: hidden;
  }

  .myinfo.vcomp > .segment > .labels > .label > .pix > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s;
    filter: brightness(80%);
  }

  .myinfo.vcomp > .segment > .labels > .label > .pix.chosen > img {
    display: none;
  }

  .myinfo.vcomp > .segment > .labels > .label > .pix > img.loaded {
    opacity: 1;
  }

  .myinfo.vcomp > .segment > .labels > .label > .pix > .label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s;
  }

  .myinfo.vcomp > .segment > .labels > .label > .pix > img.loaded + .label {
    opacity: 1;
  }

  .myinfo.vcomp > .segment > .labels > .label > .pix.chosen > .label {
    background: orange;
  }
</style>

<script type='text/x-template' id='myinfo-template'>
  <div class='myinfo vcomp'>

    <div class='segment'>
      <div class='title'>
        <span>내 기본 프로파일 정보</span>
        <span class='reward' :class='{ rewarded: baseinfo_inputed }'>[[ baseinfo_reward_txt ]]</span>
      </div>

      <div class='infobox'>
        <table>
          <tbody>
            <tr>
              <td class='head'>이름</td>
              <td><b>[[ name ]]</b></td>
            </tr>

            <tr>
              <td class='head'>성별</td>
              <td><b>[[ gender ]]</b></td>
            </tr>

            <tr>
              <td class='head'>생년월일</td>
              <td><b>[[ birth ]]</b></td>
            </tr>

            <tr>
              <td class='head'>휴대번호</td>
              <td>
                <b>[[ mobile ]]</b>
                <span class='verify' :class='{ active: mobile, onwork: on_verifying, verified: mobile_verified }' @click='mobile_verify'>[[ mobile_verified ? '인증완료' : '인증하기' ]]</span>
              </td>
            </tr>

            <tr>
              <td class='head'>주소</td>
              <td><b>[[ address ]]</b></td>
            </tr>
          </tbody>
        </table>

        <div class='edit' @click='open_baseinfo'>
          수정
        </div>
      </div>
    </div>

    <div class='segment' @click='goto_labelchooser("stylelabels")'>
      <div class='title'>
        <span>내 관심 스타일</span>
        <span class='reward' :class='{ rewarded: stylelabels_inputed }'>[[ stylelabels_reward_txt ]]</span>
        <!-- <span class='reward' :class='{ rewarded: has_mylabels("stylelabels") }'>[[ reward_txt('stylelabels') ]]</span> -->
      </div>

      <div class='spinner' v-if='mylabels_onloading("stylelabels")'>
        <i class="fa fa-spinner fa-spin"></i>
      </div>

      <div class='labels' v-else-if='has_mylabels("stylelabels")'>
        <div class='label' v-for='id in mylabels("stylelabels")'>
          <div class='pix'>
            <i class="fa fa-spinner fa-spin"></i>
            <img :src='labelpix("stylelabels", id)' @load='pix_loaded'>
            <div class='label'>[[ label('stylelabels', id) ]]</div>
          </div>
        </div>
      </div>

      <div class='default' v-else>
        <img src='/static/materials/imgs/tag_game_style.png'>
        <!-- <div class='guide'>클릭하고 관심 스타일 선택하면 포인트 지급!</div> -->
      </div>
    </div>


    <div class='segment' @click='goto_labelchooser("itemlabels")'>
      <div class='title'>
        <span>내 관심 아이템</span>
        <span class='reward' :class='{ rewarded: itemlabels_inputed }'>[[ itemlabels_reward_txt ]]</span>
      </div>

      <div class='spinner' v-if='mylabels_onloading("itemlabels")'>
        <i class="fa fa-spinner fa-spin"></i>
      </div>

      <div class='labels' v-else-if='has_mylabels("itemlabels")'>
        <div class='label' v-for='id in mylabels("itemlabels")'>
          <div class='pix'>
            <i class="fa fa-spinner fa-spin"></i>
            <img :src='labelpix("itemlabels", id)' @load='pix_loaded'>
            <div class='label'>[[ label('itemlabels', id) ]]</div>
          </div>
        </div>
      </div>

      <div class='default' v-else>
        <img src='/static/materials/imgs/tag_game_item.png'>
        <!-- <div class='guide'>클릭하고 관심 아이템 선택하면 포인트 지급!</div> -->
      </div>
    </div>




  </div>
</script>


<script>
  Vue.component('myinfo', {
    template: '#myinfo-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        on_verifying: false
      }
    },

    created: function() {
      // console.log('kkkkkkkk')
      if (!this.session.stylelabels) {
        this.session.load_stylelabels()
      }

      if (!this.session.itemlabels) {
        this.session.load_itemlabels()
      }
    },

    computed: {
      myboo: function() {
        if (this.session.user.has_auth) {
          return this.session.user.boo
        }
      },

      name: function() {
        if (this.myboo) {
          return this.session.user.auth.name
        }
      },

      gender: function() {
        if (this.myboo) {
          return this.session.user.auth.gender
        }
      },

      birth: function() {
        if (this.myboo) {
          return this.session.user.auth.birth
        }
      },

      mobile: function() {
        if (this.myboo) {
          return this.session.user.auth.mobile
        }
      },

      mobile_verified: function() {
        if (this.myboo) {
          return this.session.user.auth.mobile_verified
        }
      },

      address: function() {
        if (this.myboo) {
          return this.session.user.auth.address
        }
      },

      wallet: function() {
        if (this.myboo) {
          return this.myboo.wallet
        }
      },

      baseinfo_inputed: function() {
        if (this.wallet) {
          return this.wallet.baseinfo_inputed
        }
      },

      stylelabels_inputed: function() {
        if (this.wallet) {
          return this.wallet.stylelabels_inputed
        }
      },

      itemlabels_inputed: function() {
        if (this.wallet) {
          return this.wallet.itemlabels_inputed
        }
      },

      baseinfo_reward_txt: function() {
        return ''// '+100P' + (this.baseinfo_inputed ? ' (지급완료)' : '')
      },

      stylelabels_reward_txt: function() {
        return ''// '+50P' + (this.stylelabels_inputed ? ' (지급완료)' : '')
      },

      itemlabels_reward_txt: function() {
        return ''// '+50P' + (this.itemlabels_inputed ? ' (지급완료)' : '')
      },
    },

    methods: {
      pix_loaded: function(event) {
        event.target.classList.add('loaded');
      },

      labels: function(type) {
        if (this.session[type]) {
          return this.session[type].list
        }
      },

      mylabels: function(type) {
        if (this.myboo) {
          return this.myboo[type]
        }
      },

      mylabels_onloading: function(type) {
        return this.mylabels(type) == undefined
      },

      has_mylabels: function(type) {
        const _mylabels = this.mylabels(type);
        if (_mylabels) {
          return _mylabels.length > 0
        }
      },

      label: function(type, id) {
        const _label = _.find(this.labels(type), ['id', id]);
        if (_label) {
          return _label.label
        }
      },

      labelpix: function(type, id) {
        const _label = _.find(this.labels(type), ['id', id]);
        if (_label) {
          return _label.pix
        }
      },

      // reward_txt: function(type) {
      //   return '+50P' + (this.has_mylabels(type) ? ' (지급완료)' : '')
      // },

      goto_labelchooser: function(type) {
        if (this.myboo && this.myboo.loaded) {
          this.session.open_multichooser(this.session[type]);
        }
      },

      open_baseinfo: function() {
        if (this.myboo) {
          this.session.open_baseinfo();
        }
      },

      mobile_verify: function() {
        this.on_verifying = true;

        const _mobile = this.mobile.replaceAll('-', '');
        fetch(`mobile/send_authkey?number=${_mobile}`)
          .then(x => x.json())
          .then(j => {
            const authkey = prompt('전송받은 인증번호를 정확히 입력해주세요', '');

            fetch(`mobile/verify?mobile=${_mobile}&authkey=${authkey}`)
              .then(x => x.json())
              .then(j => {
                if (j.code == 0) {
                  this.session.user.auth.mobile_verified = true;
                  fetch(`/mobile/verify/save`).then(res => res.json()).then(js => { console.log(js); });
                  alert('인증완료 되었습니다!')

                } else if (j.code == 1) {
                  alert('인증번호가 잘못 입력되었습니다. 다시 시도해 주세요');

                } else {
                  alert('잠시후에 다시 시도해 주세요');
                }

                this.on_verifying = false;
              });
          });
      }
    }
  });
</script>
