{% include "getch/moiber/page3.html" %}
{% include "getch/moiber/finder.html" %}
{% include "getch/moiber/collector.html" %}
{% include "getch/moiber/my.html" %}
{% include "getch/moiber/agit.html" %}
{% include "getch/moiber/accountcheck.html" %}
{% include "getch/moiber/baseinfo.html" %}
{% include "getch/moiber/signup.html" %}
{% include "getch/moiber/signupper.html" %}
{% include "getch/moiber/login.html" %}
{% include "getch/moiber/emailogin.html" %}
{% include "getch/moiber/emailsignup.html" %}
{% include "getch/moiber/about.html" %}
{% include "getch/moiber/recruit.html" %}
{% include "getch/moiber/policy.html" %}
{% include "getch/moiber/privacy.html" %}
{% include "getch/moiber/texteditor.html" %}
{% include "getch/moiber/pixeditor.html" %}
{% include "getch/moiber/mbtiresult.html" %}
{% include "getch/moiber/landing.html" %}
{% include "getch/moiber/multichooser.html" %}
{% include "getch/moiber/profiler.html" %}
{% include "getch/moiber/infoboard.html" %}
{% include "getch/moiber/pixchooser.html" %}
{% include "getch/moiber/stylevote.html" %}
{% include "getch/moiber/contentwork.html" %}
{% include "getch/moiber/search.html" %}
{% include "getch/moiber/researcher.html" %}
{% include "getch/moiber/research.html" %}
{% include "getch/moiber/researchitem.html" %}
{% include "getch/moiber/flashgames.html" %}
{% include "getch/moiber/brander.html" %}
{% include "getch/moiber/checkin.html" %}
{% include "getch/moiber/bulletin.html" %}
{% include "getch/moiber/test.html" %}

<style>
  .pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    pointer-events: none;
    overflow: hidden;
  }
</style>

<script type='text/x-template' id='pages-template'>
  <div class='pages'>
    <researcher :session='session'></researcher>
    <search :session='session'></search>
    <brander :session='session'></brander>
    <stylevote :session='session'></stylevote>
    <!-- <stylevote :session='session' v-if='session.balancegame.pixpair_set'></stylevote> -->
    <!-- <stylevote :session='session' v-if='session.page.stylevote.contents'></stylevote> -->
    <!-- <contentwork :session='session' v-if='session.page.contentwork.contents'></contentwork> -->
    <research :session='session'></research>
    <checkin :session='session'></checkin>
    <!-- <flashgames :session='session'></flashgames> -->
    <!-- <mbtiresult :session='session' v-if='session.page.contentwork.contents'></mbtiresult> -->
    <my :session='session'></my>
    <agit :session='session'></agit>
    <multichooser :session='session'></multichooser>
    <!-- <profiler :session='session' v-if='session.user.has_auth'></profiler> -->
    <collector :session='session'></collector>
    <pixeditor :session='session'></pixeditor>
    <texteditor :session='session'></texteditor>
    <landing :session='session'></landing>
    <!-- <zthinker :session='session'></zthinker> -->
    <bulletin :session='session'></bulletin>
    <about :session='session'></about>
    <recruit :session='session'></recruit>
    <policy :session='session'></policy>
    <privacy :session='session'></privacy>
    <infoboard :session='session'></infoboard>
    <baseinfo :session='session' v-if='session.user.has_auth'></baseinfo>
    <signup :session='session'></signup>
    <signupper :session='session'></signupper>
    <accountcheck :session='session'></accountcheck>
    <login :session='session'></login>
    <emailogin :session='session'></emailogin>
    <emailsignup :session='session'></emailsignup>

    <test :session='session'></test>
  </div>
</script>

<script>
  Vue.component('pages', {
    template: '#pages-template',
    delimiters: ['[[', ']]'],
    props: ['session']
  });
</script>
