<style>
  .pixloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .pixloader img.pix {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .pixloader img.pix.focused {
    object-fit: contain;
    left: var(--w-4);
    width: var(--w-92);
    /* height: calc(100% - var(--w-20)); */
  }

  .pixloader.top img.pix.focused {
    top: calc(var(--w-16) + var(--w-4));
    height: calc(100% - var(--w-16) - 2*var(--w-4));
  }

  .pixloader.bottom img.pix.focused {
    top: var(--w-4);
    height: calc(100% - var(--w-16) - 2*var(--w-4));
  }

  .pixloader.full img.pix.focused {
    top: calc(var(--w-16) + var(--w-4));
    height: calc(100% - 2*var(--w-16) - var(--w-4));
  }

  .pixloader input[type='file'] {
    display: none;
    visibility: hidden;
  }

  .pixloader .pix-clicker {
    position: absolute;
    top: 30%;
    left: 30%;
    bottom: 30%;
    right: 30%;
    background: none;
    /* border: 1px dashed black; */
    box-sizing: border-box;
    /* border: 5px dashed silver; */
    opacity: 0.5;
    /* pointer-events: none; */
  }

  .pixloader .pix-clicker > img {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: var(--w-8);
    height: var(--w-8);
    object-fit: contain;
    transform: translateX(-50%);
    /* opacity: 0.5; */
  }

  .pixloader .pix-clicker > .guide {
    position: absolute;
    top: 53%;
    left: 0;
    width: 100%;
    font-size: 12px;
    /* background: lightblue; */
  }

  .pixloader .show-pix-clicker-enter-active,
  .pixloader .show-pix-clicker-leave-active {
    transition: opacity 0.2s;
  }

  .pixloader .show-pix-clicker-enter,
  .pixloader .show-pix-clicker-leave-to {
    opacity: 0;
  }
</style>


<script type='text/x-template' id='pixloader-template'>
  <div class='pixloader' :class='where'>
    <input v-if='editable' type="file" accept="image/*" :id="pixloader_id" @change='loadpix' ref='input'>
    <label class='pixloader-label' :for='pixloader_id'>
      <!-- <img class='pix' :class='{ focused:pixfocused }' v-lazy='pix' onerror='this.style.display="none"' ref='pix'> -->
      <img class='pix' :class='{ focused:pixfocused }' :src='pix' onerror='this.style.display="none"' ref='pix'>
      <!-- <img class='pix swiper-lazy' :class='{ focused:pixfocused }' :data-src='pix' onerror='this.style.display="none"' ref='pix'> -->
      <!-- <img class='pix swiper-lazy' :class='{ focused:pixfocused }' :data-src='pix' ref='pix'> -->
      <!-- <div class="swiper-lazy-preloader"></div> -->

      <transition name='show-pix-clicker'>
        <div class='pix-clicker' v-show='editable'>
          <img src='/static/materials/icons/edit.png'>
          <div class='guide'>사진을 추가해주세요.</div>
        </div>
      </transition>
    </label>

    <!-- <div class='pixfocuser' style='position:absolute;bottom:0;left:0;width:15vw;height:15vw;background:none;' @click.stop='pixfocus'>
      <img v-if='pixfocused' src='/static/materials/icons/times.png' style='position:absolute;bottom:12%;left:12%;width:42%;height:42%'>
      <img v-else src='/static/materials/icons/expand.png' style='position:absolute;bottom:12%;left:12%;width:42%;height:42%'>
    </div> -->
  </div>
</script>


<script>
  Vue.component('pixloader', {
    template: '#pixloader-template',
    delimiters: ['[[', ']]'],
    props: [ 'pix', 'editable', 'session', 'where' ],
    data: function() {
      return {
        pixloader_id: 0,
        changed: false,
        pixfocused: true,
        blob: undefined
      }
    },

    watch: {
      changed: function(_new, _old) { }
    },

    created: function() {
      this.pixloader_id = Date.now();
    },

    methods: {
      pixfocus: function() {
        this.pixfocused = !this.pixfocused;
      },

      loadpix: function() {
        const input = this.$refs.input; //event.target;
        const self = this;

        if (input.files && input.files[0]) {
          let reader = new FileReader();

          reader.onload = function(e) {
            self.session.open_pixeditor(e.target.result, 'post', self);
            // self.$refs.pix.src = e.target.result;
            // self.$refs.pix.style.display = 'block';
          };

          reader.readAsDataURL(input.files[0]);
        }
      },

      set: function(blob) {
        this.blob = blob;
        this.$refs.pix.src = URL.createObjectURL(blob);
        this.$refs.pix.style.display = 'block';
        this.changed = true;
      },

      reset: function() {
        this.$refs.pix.src = this.pix;
        this.changed = false;
      },

      get: function() {
        // input.value='' 을 하면 input.files도 비워진다
        // 그 반대는 안된다
        if (this.changed) {
          this.changed = false;
          // const file = this.$refs.input.files[0];
          // this.$refs.input.value = ''
          // return file

          // 사실 input.value=''를 할필요도 없다
          // input이 v-if로 되어 있어, 다시 여는 경우 어짜피 초기화된다
          // return this.$refs.input.files[0];
          return this.blob
        }
      }
    }
  });
</script>
