<style>
  .pointget.vcomp .content > .explain {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 12px;
    color: var(--color-dark);
    /* pointer-events: none; */
    height: calc(100% - 60px);
    margin-top: 60px;
  }

  .pointget.vcomp .content > .explain > .gobutton {
    color: white;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    border-radius: 15px;
    background: var(--color-point);
    margin-top: 30px;
    cursor: pointer;
  }

  .pointget.vcomp .content > .explain > .title {
    margin-top: 60px;
  }

  .pointget.vcomp .content > .explain > .subtitle {
    margin-top: 5px;
  }

  .pointget.vcomp .content > .explain > .desc {
    margin-top: 10px;
  }

  .pointget.vcomp .content > .illust {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pointget.vcomp .content > .illust > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 90%;
    object-fit: contain;
    transform: translate(-50%, -50%);
  }
</style>


<script type='text/x-template' id='pointget-template'>
  <pointguider
    class='pointget vcomp'
    :phase='control.phase'
    @backto_menu='backto_menu'>

    <template #menu>
      <!-- <div class='item' @click='session.open_flashgames()'> -->
      <div class='item' @click='session.open_checkin()'>
        <img src='/static/materials/imgs/menu/pointget-choolcheck-game.jpg'>
        <div class='title'>
          <span>출쳌게임</span>
          <!-- <span>밸런스게임</span> -->
        </div>
      </div>

      <div class='item' @click='go_content(1)'>
        <img src='/static/materials/imgs/menu/pointget-balance-game.jpg'>
        <div class='title'>
          <span>매일보너스</span>
          <span>밸런스게임</span>
        </div>
      </div>

      <div class='item' @click='go_content(2)'>
        <img src='/static/materials/imgs/menu/pointget-closet.jpg'>
        <div class='title'>
          <span>매일보너스</span>
          <span>북마크게임</span>
        </div>
      </div>

      <div class='item' @click='goto_researcher'>
        <img src='/static/materials/imgs/menu/pointget-moiber-survey.jpg'>
        <div class='title'>
          <span>트렌드연구</span>
          <span>참여</span>
        </div>
      </div>

      <div class='item' @click='goto_interview'>
        <img src='/static/materials/imgs/menu/pointget-brand-survey.png'>
        <div class='title'>
          <span>인터뷰</span>
          <span>참여</span>
        </div>
      </div>

      <div class='item' @click='session.help()'>
        <img src='/static/materials/imgs/menu/pointget-interview.jpg'>
        <div class='title'>
          <span>도움말</span>
          <span>보기</span>
        </div>
      </div>
    </template>

    <template #content>
      <template v-if='control.content==0'>
        <!-- <div class='explain'>
          <span class='title'></span>
          <span class='subtitle'></span>
          <span class='desc'></span>
        </div>

        <div class='illust'>
          출석체크 밸런스게임
        </div> -->
      </template>

      <template v-else-if='control.content==1'>
        <div class='explain'>
          <robo :session='session' type='next-dark' @action='goto_stylevote'>
            <div>👆🏻 몰랐는데 나, ㅇㅇㅇ 좋아하네??
              위? 아래? 내 스타일을 고를 때 마다 1P 획득
              매일 보너스는 최대 100P 까지!
              (밸런스게임 + 북마크게임)</div>
          </robo>

          <div class='gobutton' @click='goto_stylevote'>밸런스게임GO</div>
          <!-- <span class='title'><b>밸런스게임 참여</b>로 <b>매일 보너스 최대 100P</b> 획득 가능!</span>
          <span class='subtitle'>(보너스 밸런스게임+옷장넣기 총합 최대 100P)</span>
          <span class='desc'>위 혹은 아래? 맘에 드는 스타일을 골라 클릭할 때 마다 1P 지급!</span> -->
        </div>

        <!-- <div class='illust'>
          <img src='/static/materials/imgs/illust_balancegame.jpg' @click='goto_stylevote'>
        </div> -->
      </template>

      <template v-else-if='control.content==2'>
        <div class='explain'>
          <robo :session='session' type='next-dark' @action='goto_search'>
            <div>👆🏻 요즘 사람들 뭐입어?? 검색하다가
              내 취향 발견하면 북마크하고 1P 획득
              매일 보너스는 최대 100P 까지!
              (밸런스게임 + 북마크게임)</div>
          </robo>

          <div class='gobutton' @click='goto_search'>북마크게임GO</div>
          <!-- <span class='title'><b>옷장넣기</b>를 통해서도 <b>매일 보너스 최대 100P</b> 획득 가능!</span>
          <span class='subtitle'>(보너스 밸런스게임+옷장넣기 총합 최대 100P)</span>
          <span class='desc'>관심가는 스타일을 즐겨찾기처럼 옷장에 넣을 때 마다 1P 지급!</span> -->
        </div>

        <!-- <div class='illust'>
          <img src='/static/materials/imgs/illust_balancegame.jpg' @click='goto_search'>
        </div> -->
      </template>

      <template v-else-if='control.content==3'>
        <!-- <div class='explain'>
          <span class='title'></span>
          <span class='subtitle'></span>
          <span class='desc'></span>
        </div>

        <div class='illust'>
          스타일유형 뱃지
        </div> -->
      </template>

      <template v-else-if='control.content==4'>
        <!-- <div class='explain'>
          <span class='title'></span>
          <span class='subtitle'></span>
          <span class='desc'></span>
        </div>

        <div class='illust'>
          브랜드리서치 참여
        </div> -->
      </template>

      <template v-else-if='control.content==5'>
        <!-- <div class='explain'>
          <span class='title'></span>
          <span class='subtitle'></span>
          <span class='desc'></span>
        </div>

        <div class='illust'>
          인터뷰 참여
        </div> -->
      </template>
    </template>
  </pointguider>
</script>


<script>
  Vue.component('pointget', {
    template: '#pointget-template',
    delimiters: ['[[', ']]'],
    props: [ 'session', 'control' ],
    data: function() {
      return {
        // phase: 'menu',
        // content: undefined
      }
    },

    computed: {
      is_superuser: function() {
        if (this.session.user.has_auth) {
          return this.session.user.auth.is_superuser
        }
      },
    },

    methods: {
      backto_menu: function() {
        this.control.phase = 'menu';
      },

      go_content: function(what) {
        this.control.phase = 'content';
        this.control.content = what;
      },

      goto_researcher: function() {
        this.$emit('close');
        this.session.open_researcher();
      },

      goto_search: function() {
        this.$emit('close');
        this.session.open_search();
      },

      goto_stylevote: function() {
        this.$emit('close');
        this.session.open_stylevote();
      },

      goto_interview: function() {
        alert('인터뷰 참여는 LEVEL 2 부터 가능합니다')
      }
    }
  });
</script>
