<style>
  .pointuse.vcomp .content > .title,
  .pointuse.vcomp .detail > .title {
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-dark);
    height: 60px;
    line-height: 60px;
    /* padding-left: 32px; */
    box-sizing: border-box;
    text-align: center;
    pointer-events: none;
  }

  .pointuse.vcomp .content > .body,
  .pointuse.vcomp .detail > .body {
    position: relative;
    width: 100%;
    flex-grow: 1;
    /* overflow: auto; */
  }
</style>

<script type='text/x-template' id='pointuse-template'>
  <pointguider
    class='pointuse vcomp'
    :phase='control.phase'
    @backto_menu='backto_menu'
    @backto_content='backto_content'>

    <template #menu>
      <div class='item' @click='go_content(0)'>
        <img src='/static/materials/imgs/menu/pointuse-brand-support.png'>
        <div class='title'>
          <span>브랜드</span>
          <span>후원</span>
        </div>
      </div>

      <div class='item' @click='go_content(1)'>
        <img src='/static/materials/imgs/menu/pointuse-raffle.jpg'>
        <div class='title'>
          <span>래플</span>
          <span>참여</span>
        </div>
      </div>

      <div class='item' @click='go_content(2)'>
        <img src='/static/materials/imgs/menu/pointuse-shop.jpg'>
        <div class='title'>
          <span>취향템</span>
          <span>쇼핑</span>
        </div>
      </div>

      <div class='item' @click='suggest'>
        <img src='/static/materials/imgs/menu/pointuse-suggestion.jpg'>
        <div class='title'>
          <span>건의하기</span>
        </div>
      </div>

      <div class='item' @click='go_starbucks_coupon'>
        <img src='/static/materials/imgs/menu/pointuse-coupon.jpg'>
        <div class='title'>
          <span>스타벅스</span>
          <span>쿠폰</span>
        </div>
      </div>

      <div class='item' @click='suggest'>
        <img src='/static/materials/imgs/menu/pointuse-question.jpg'>
        <div class='title'>
          <span>질문하기</span>
        </div>
      </div>
    </template>


    <template #content>
      <template v-if='control.content==0'>
        <div class='title'>후원 이벤트 진행 중인 브랜드</div>
        <div class='body'>
          <supportbrands :session='session'></supportbrands>
        </div>
      </template>

      <template v-else-if='control.content==1'>
        <div class='title'>진행 중인 래플</div>
        <div class='body'>
          <raffler :session='session' @go_detail='go_detail'></raffler>
        </div>
      </template>

      <template v-else-if='control.content==2'>
        <div class='title'>취향이 다 했다! 포인트 쇼핑</div>
        <div class='body'>
          <shop :session='session' @go_detail='go_detail'></shop>
        </div>
      </template>

      <template v-else-if='control.content==3'>
        <!-- <div class='title'>건의하기</div>
        <div class='body'>건의하기</div> -->
      </template>

      <template v-else-if='control.content==4'>
        <div class='title'>스타벅스쿠폰</div>
        <div class='body'>
          <itemdetail :obj='starbucks_coupon' :session='session'></itemdetail>
        </div>
      </template>

      <template v-else-if='control.content==5'>
        <!-- <div class='title'>질문하기</div>
        <div class='body'>질문하기</div> -->
      </template>
    </template>


    <template #detail>
      <template v-if='detail_type=="raffle"'>
        <div class='title'>진행 중인 래플</div>
        <div class='body'>
          <itemdetail :obj='control.detail_obj' :session='session'></itemdetail>
        </div>
      </template>

      <template v-else-if='detail_type=="shoptem"'>
        <div class='title'>취향이 다 했다! 포인트 쇼핑</div>
        <div class='body'>
          <itemdetail :obj='control.detail_obj' :session='session'></itemdetail>
        </div>
      </template>
    </template>
  </pointguider>
</script>


<script>
  Vue.component('pointuse', {
    template: '#pointuse-template',
    delimiters: ['[[', ']]'],
    props: [ 'session', 'control' ],
    data: function() {
      return {
        // phase: 'menu',
        // content: undefined,
        // detail_obj: undefined,
      }
    },

    computed: {
      detail_type: function() {
        if (this.control.detail_obj) {
          return this.control.detail_obj.constructor.name.toLowerCase()
        }
      },

      coffeecoupons_list: function() {
        if (this.session.coffeecoupons) {
          return this.session.coffeecoupons.list
        }
      },

      starbucks_coupon: function() {
        if (this.coffeecoupons_list) {
          return this.coffeecoupons_list[0]
        }
      }
    },

    methods: {
      backto_menu: function() {
        this.control.phase = 'menu';
      },

      backto_content: function() {
        this.control.phase = 'content';
      },

      go_content: function(what) {
        this.control.phase = 'content';
        this.control.content = what;
      },

      go_detail: function(obj) {
        this.control.phase = 'detail';
        this.control.detail_obj = obj;
      },

      go_starbucks_coupon: function() {
        if (!this.session.coffeecoupons) {
          this.session.load_coffeecoupons();
        }
        this.go_content(4);
      },

      suggest: function() {
        window.open('mailto:contact@moiber.com');
      }
    }
  });
</script>
