<style>
  .pointguider.vcomp {
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    transition: all 0.2s;
    /* background: lightblue; */
  }

  .pointguider.vcomp.menu {
    transform: translateX(0);
  }

  .pointguider.vcomp.content {
    transform: translateX(-100%);
  }

  .pointguider.vcomp.detail {
    transform: translateX(-200%);
  }

  .pointguider.vcomp > .section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* padding-left: 16px;
    padding-right: 16px; */
    /* padding-top: 45px; */
    box-sizing: border-box;
  }

  .pointguider.vcomp > .section.menu {
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
  }

  .pointguider.vcomp > .section.content {
    left: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pointguider.vcomp > .section.detail {
    left: 200%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pointguider.vcomp > .section.menu > .item {
    position: relative;
    width: calc((100% - 3 * 8px) / 4);
    padding-top: calc((100% - 3 * 8px) / 4);
    background: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .pointguider.vcomp > .section.menu > .item.checkin {
    opacity: 0.3;
    pointer-events: none;
    cursor: none;
  }

  .pointguider.vcomp > .section.menu > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
  }

  .pointguider.vcomp > .section.menu > .item > .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pointguider.vcomp > .section > .goback {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    /* background: orange; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pointguider.vcomp > .section > .goback > img {
    width: 12px;
    height: auto;
    transform: rotate(270deg);
  }
</style>

<script type='text/x-template' id='pointguider-template'>
  <div class='pointguider vcomp' :class='phase'>
    <div class='section menu'>
      <slot name='menu'></slot>
    </div>

    <div class='section content'>
      <div class='goback' @click='backto_menu'>
        <img src='/static/materials/icons/backicon.png'>
      </div>

      <slot name='content'></slot>
    </div>

    <div class='section detail'>
      <div class='goback' @click='backto_content'>
        <img src='/static/materials/icons/backicon.png'>
      </div>

      <slot name='detail'></slot>
    </div>
  </div>
</script>


<script>
  Vue.component('pointguider', {
    template: '#pointguider-template',
    delimiters: ['[[', ']]'],
    props: [ 'phase' ],
    data: function() {
      return {}
    },

    methods: {
      backto_menu: function() {
        this.$emit('backto_menu');
      },

      backto_content: function() {
        this.$emit('backto_content');
      }
    }
  });
</script>
