<style>
  .policy.vcomp .page-body {
    background: white;
  }

  .policy.vcomp .page-body > .container {
    width: 100%;
    margin-top: var(--w-16);
    margin-bottom: var(--w-20);
    background: none;
    padding-left: var(--w-6);
    padding-right: var(--w-6);
    box-sizing: border-box;
    font-size: 14px;
    color: #999999;
  }

  .policy.vcomp .page-body > .container > p.title {
    font-weight: bold;
    font-size: 16px;
    color: #828282;
  }
</style>

<script type='text/x-template' id='policy-template'>
  <page
    class='policy vcomp'
    :order='session.page.policy.order'
    :open='session.page.policy.open'
    :from='session.page.policy.from'
    :hide_menu='true'
    @close='session.close_page()'>

    <template #headerbar-body-trans>
      <span style='font-size:20px;font-weight:bold'>약관</span>
    </template>

    <template #headerbar-body-default>
      <span style='font-size:20px;font-weight:bold'>약관</span>
    </template>

    <template #page-body>
      <div class='container'>
        <p>
        MOIBER 서비스를 방문하거나 사용할 때 회원님은 이 서비스 약관 ( "약관")을 준수해야 합니다. 이 약관을 주의 깊게 읽고 질문이 있으시면 저희에게 연락하십시오. MOIBER에 방문하거나 사용하는 것은 회원님은 본 약관, 당사의 개인 정보 보호 정책 , 쿠키 정책 및 커뮤니티 가이드 을 준수하는 데 동의하는 것으로 간주됩니다.</p>

        <br><p class='title'>
        MOIBER의 서비스</p>
        <p>
        MOIBER는 모든 패션에 대한 고민을 해결 할 수 있도록 도와줍니다. 이를 위해 우리는 회원님의 질문 및 활동을 기반으로 관련성 있고 흥미롭고 개인화 된 콘텐츠를 보여줄 것입니다. 회원님에게 우리의 서비스를 제공하려면 회원님의 신원과 관심사를 확인해야합니다. 회원님에게 제공되는 일부 콘텐츠는 광고주가 제공 한 것일 수 있습니다. 우리 서비스의 일환으로 광고 홍보 콘텐츠도 회원님과 관련이 있고 관심사에 부합하도록 최선을 다합니다. 홍보 내용은 명확하게 표시되므로 식별 할 수 있습니다.</p>

        <br><p class='title'>
        MOIBER 사용</p>
        <p>
        a. MOIBER의 목표<br>
        MOIBER와 법적 구속력이 있는 계약에 서명하고 본 약관 및 모든 관련 법률을 준수하는 경우에만 MOIBER를 사용할 수 있습니다. 회원님은 MOIBER 계정을 만들 때 정확하고 완전한 정보를 제공해야 합니다. 국가 기관의 제재가 MOIBER 사용을 금지하는 경우 MOIBER를 사용할 수 없습니다. 13 세 미만은 어떤 방식으로든 MOIBER를 사용하거나 액세스 할 수 없습니다. 타 국가에 거주하는 경우 해당 국가에서 정의한 법적 연령 이상이어야 하며 데이터 처리에 대한 권한이 부여되면 MOIBER를 사용할 수 있습니다. MOIBER 사용에는 컴퓨터, 휴대 전화, 태블릿 또는 기타 기기에 소프트웨어를 다운로드하는 것이 포함될 수 있습니다. 귀하는 당사가 소프트웨어를 자동으로 업데이트 할 수 있으며 이러한 조건이 모든 업데이트에 적용된다는 데 동의합니다.</p>
        <p>
        b. 사용 가능한 라이선스<br>
        본 약관 및 당사의 정책 (커뮤니티 가이드 포함)에 따라 제공된 서비스를 사용할 수 있는 제한적이고 비 독점적이며 양도 불가능하며 취소 가능한 라이선스를 부여합니다.</p>

        <br><p class='title'>
        회원님의 콘텐츠</p>
        <p>
        a. 콘텐츠 공개<br>
        MOIBER가 게시 할 수 있는 콘텐츠에는 사진, 댓글, 링크 및 기타 자료가 포함됩니다. MOIBER에 게시하는 콘텐츠와 MOIBER에서 사용할 수 있는 콘텐츠를 "사용자 콘텐츠"라고 합니다. MOIBER에 게시 된 사용자 콘텐츠에 대해 귀하는 모든 관련 권리를 보유하며 이에 대한 전적인 책임이 있습니다.</p>
        <p>
        b. MOIBER 및 다른 사용자가 귀하의 콘텐츠를 사용하는 방법<br>
        회원님은 MOIBER 및 MOIBER 사용자에게 MOIBER를 운영, 개발, 제공 및 사용하기위한 목적으로만 사용, 저장, 표시, 복사 및 수집 할 수 있도록 비 독점적이고 로열티가 없고 양도 가능하고 재 라이선스가 가능한 글로벌 라이선스를 부여했습니다. (예를 들면 수정, 2차 컨텐츠 생성, MOIBER에 게시 된 사용자 콘텐츠 실행 및 배포). 본 약관은 다른 라이선스에 따라 부여 된 법적 권리와 같은 사용자 콘텐츠에 대한 MOIBER의 기타 법적 권리를 제한하지 않습니다. 당사는 사용자 콘텐츠를 제거 또는 수정하고 어떤 이유로 든 MOIBER에서 사용자 콘텐츠가 사용되는 방식을 변경할 권리를 보유합니다. 이러한 상황에는 본 약관, 커뮤니티 가이드 또는 기타 정책을 위반하는 것으로 판단되는 사용자 콘텐츠 가 포함됩니다 .</p>

        <p>c. 콘텐츠 보관 기간<br>
        회원님의 계정을 해지 또는 비활성화 한 후 또는 귀하가 MOIBER에서 사용자 콘텐츠를 제거하는 경우, 당사는 백업, 보관 또는 검토 목적으로 합당한 기간 동안 귀하의 사용자 콘텐츠를 보관할 수 있습니다. MOIBER와 그 사용자는 다른 사용자가 MOIBER에 저장하거나 공유 한 모든 사용자 콘텐츠를 유지하고 계속해서 사용, 저장, 표시, 복사, 수정, 2차 컨텐츠 생성, 실행 및 배포 할 수 있습니다.
        </p>
         <p>
        d. 회원님의 피드백<br>
        우리는 사용자의 목소리를 소중히 여기며 MOIBER를 개선 할 수 있는 방법에 대해 계속 관심을 갖고 있습니다. 회원님이 의견, 아이디어 또는 피드백을 제출하기로 선택한 경우 회원님은 제출하신 의견, 아이디어 또는 피드백을 제한없이 또는 아무런 보상없이 자유롭게 사용할 수 있다는 데 동의합니다. MOIBER가 회원님의 피드백을 ​​수락한다고 해서 MOIBER가 이전에 MOIBER에 알려 졌거나 MOIBER 직원이 개발했거나 회원님이 아닌 다른 출처에서 얻은 유사하거나 관련된 피드백을 사용할 권리를 포기한다는 의미는 아닙니다.</p>

        <br><p class='title'>
        저작권 정책</p>
        <p>
        MOIBER는 적용 가능한 모든 저작권법에 따라 MOIBER 저작권 정책을 채택하고 구현합니다. 자세한 내용은 저작권 정책을 참조하십시오.</p>

        <br><p class='title'>
        보안</p>
        <p>
        우리는 사용자의 안전을 중요하게 생각합니다. MOIBER는 귀하의 콘텐츠와 계정의 보안을 보호하기 위해 최선을 다하고 있지만 승인되지 않은 제 3자가 당사의 보안 조치를 약화시키지 않는다고 보장 할 수는 없습니다. 암호를 안전하게 유지해야합니다. 회원님의 계정이 손상되거나 무단 사용 된 경우 즉시 당사에 알려주십시오.</p>

        <br><p class='title'>
        제 3자 링크, 웹사이트 및 서비스</p>
        <p>
        MOIBER는 MOIBER가 소유하거나 통제하지 않는 제 3자 웹 사이트, 광고주, 서비스, 제안 또는 기타 이벤트 또는 활동에 대한 링크를 포함 할 수 있습니다. 우리는 그러한 제 3 자 웹 사이트, 정보, 자료, 제품 또는 서비스에 대해 보증하거나 책임을 지지 않습니다. 회원님이 MOIBER에서 제 3자 웹 사이트, 서비스 또는 콘텐츠에 액세스하는 경우 회원님은 자신의 책임하에 액세스해야 하며, 회원님은 MOIBER가 제 3자 웹 사이트, 서비스 또는 콘텐츠에 대한 사용 또는 액세스에 대해 책임을 지지 않는다는 데 동의합니다.
        </p>

        <br><p class='title'>
        해지</p>
        <p>
        MOIBER는 적절한 통지를 통해 어떤 이유로 든 MOIBER에 접근하거나 사용할 수있는 회원님의 권리를 종료하거나 중지 할 수 있습니다. 커뮤니티 가이드 위반 등 정당한 사유가 있는 경우 예고없이 즉시 방문을 종료하거나 일시 중지 할 수 있습니다. 정지가 발효 된 후에도 이 조항의 항목 3 및 8을 준수해야합니다.</p>

        <br><p class='title'>
        보상</p>
        <p>
        MOIBER를 상업적 목적 (즉, 소비자가 아님 )으로 무단 사용하는 경우 MOIBER Ltd. 및 기타 계열사 및 해당 관리자, 이사, 직원 및 대리인은 귀하의 당사 서비스 액세스 또는 사용, 귀하의 콘텐츠와 관련된 청구, 기소, 소송, 분쟁으로부터 면제되거나 면제됩니다. (합당한 법적 및 회계 비용 (제 3자가 제기 한 청구, 소송 또는 소송에 대한 응답 비용 포함)을 포함하며 나아가 소환, 책임, 손해, 손실, 소송 수수료 및 비용 등.)</p>


        <br><p class='title'>
        면책</p>
        <p>
        MOIBER의 서비스와 모든 콘텐츠는 명시 적 또는 묵시적 보증없이 "있는 그대로"제공됩니다.<br>
        MOIBER는 상품성, 특정 목적에 대한 적용 가능성 및 비 침해성에 대한 모든 보증 및 조건을 명시 적으로 거부하고 거래 프로세스 또는 거래 관행에서 발생하는 모든 보증을 명시 적으로 거부합니다.<br>
        MOIBER는 회원님이나 다른 사람 또는 제 3자가 당사 서비스를 사용하여 게시 한 사용자 콘텐츠에 대해 책임을 지지 않습니다. 회원님은 부정확하거나 공격적이거나 어린이에게 부적절하거나 귀하의 목적과 일치하지 않는 사용자 콘텐츠에 노출 될 수 있음을 이해하고 이에 동의합니다.</p>


        <br><p class='title'>
        책임의 제한</p>
        <p>
        법이 허용하는 최대 범위 내에서 MOIBER는 다음 요인으로 인한 간접적, 부수적, 특수, 결과적 또는 징벌 적 손해, 수익 또는 수입, 데이터, 사용 권한 또는 영업권의 직간접 적 손실에 대해 책임을 지지 않습니다. 손실 또는 기타 무형 손실에 대한 책임 : (A) 서비스에 대한 액세스 또는 사용 또는 액세스 또는 사용할 수 없음; (B) 다른 사용자 또는 제 3자를 포함하되 이에 국한되지 않는 제 3 자의 서비스 행동 또는 콘텐츠 명예 훼손, 공격적 또는 불법적 인 행동 또는 (C) 귀하의 전송 또는 콘텐츠에 대한 무단 액세스, 사용 또는 수정.<br>
        MOIBER는 기타 적용 가능한 관리 의무의 중요하지 않은 위반으로 인한 손해에 대해 책임을 지지 않습니다. 이 책임 제한은 제한되지 않은 법적 책임, 당사의 과실 또는 고의적 비행으로 인한 사망 또는 개인 상해에 대한 책임 또는 당사가 귀하에게 명시 적으로 약속 한 콘텐츠에 대한 책임을 배제하는 데 적용되지 않으며 당사의 명시 적에도 적용되지 않습니다. (약속하신 내용에 대한 책임이 배제 된 경우)</p>


        <br><p class='title'>
        중재</p>
        <p>
        회원님과 MOIBER 간의 분쟁에 대해 회원님은 먼저 당사에 연락하고 비공식적으로 분쟁을 해결하는 데 동의합니다. 연락이 필요한 경우 MOIBER 계정에 입력 한 이메일 주소를 사용합니다. MOIBER가 귀하와의 분쟁을 비공식적으로 해결할 수없는 경우, 당사 모두는 구속력 있는 중재 또는 소액 청구 법원 (적격 청구의 경우)을 사용하여 이 조항과 관련되거나이 조항과 관련된 분쟁을 해결하는 데 동의합니다. 모든 청구, 분쟁 또는 분쟁 (금지 또는 공정한 구제에 대한 청구 제외).<br>
        본 서비스 약관의 어떠한 내용도 귀하에게 적용되는 취소 불가능한 법적 권리에 영향을 미치지 않습니다. MOIBER 또는 당사 서비스와 관련된 클레임, 분쟁 또는 분쟁이 관련 법률 또는 기타 조건에 따라 중재 할 수없는 경우 : 귀하와 MOIBER는 모두 본 약관의 항목 12에 따라서 만 MOIBER 관련 클레임 또는 분쟁을 해결하는 데 동의합니다.</p>

        <br><p class='title'>
        관련 법률 및 관할권</p>
        <p>
        본 약관은 법률 규칙의 충돌을 제외하고 대한민국 법률의 적용을 받습니다. 본 계약과 관련하여 발생하는 모든 분쟁에 대한 배타적 관할권은 대한민국 법원이며 당사의 분쟁은 대한민국 법률에 따라 결정됩니다. .</p>

        <br><p class='title'>
        기타 일반 약관</p>

        <p>
        약관의 변경 및 고지 절차<br>
        우리는 회원님에게 통지 할 양식 또는 방법을 결정합니다. 그것이 우리의 결정이라면 회원님은 법적 고지를 전자적으로 수신하는 데 동의합니다. 이 약관은 수시로 개정될 수 있으며 최신 버전은 항상 웹 사이트에 게시됩니다. 당사가 자체적으로 주요 변경을 결정하는 경우 회원님에게 통지합니다. 수정 사항이 적용된 후에도 MOIBER에 계속 접근하거나 사용하는 것은 새로운 약관을 준수하는 데 동의 함을 의미합니다. 새로운 약관에 동의하지 않는 경우 MOIBER 사용을 중지하십시오.<br>
        이전<br>
        회원님은 본 약관 및 본 약관에 따라 부여 된 권리 및 라이선스를 할당하거나 할당 할 수 없지만 MOIBER는 제한없이 양도하거나 할당 할 수 있습니다. 양도 또는 양도 조건을 위반하려는 시도는 무효입니다.<br>
        완전한 합의 / 분리 가능성<br>
        본 약관은 MOIBER의 개인 정보 보호 정책 및 수정 사항, 귀하와 MOIBER간에 체결 된 추가 계약과 함께 귀하와 MOIBER 간의 전체 서비스 계약을 구성합니다. 이 조항의 조항이 유효하지 않은 것으로 간주되는 경우 해당 조항은 필요한 최소한으로 제한되거나 제거되며 이 조항의 나머지 조항은 여전히 ​​완전한 효력을 갖습니다.<br>
        면제 조항<br>
        본 조항의 모든 조항을 행사할 권리의 포기는 본 조항 또는 기타 조항에 대한 권리의 추가 또는 지속적인 포기로 간주되지 않습니다. MOIBER가 본 조항의 권리 또는 조항을 주장하지 않는 것은 이와 관련하여 회사의 권리 또는 조항을 구성하지 않습니다.</p>
        <p>
        발효일 : 2020 년 12 월 1 일<br>
        최근 수정일 : 2021년 7월 1일</p>
      </div>
    </template>

  </page>
</script>


<script>
  Vue.component('policy', {
    template: '#policy-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    }
  });
</script>
