<style>
  .profiler.vcomp .page-body {
    background: #f8f8f8;
  }

  .profiler.vcomp .page-body > .profiler-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: white; */
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles {
    background: none;
    margin-top: var(--w-24);
    margin-bottom: var(--w-20);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .profile {
    width: var(--w-30);
    height: var(--w-30);
    background: none;
    transition: all 0.5s;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .profile > * {
    pointer-events: none;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .profile.new {
    background: var(--color-dark);
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .profile > img.profilepix {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    filter: brightness(95%);
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .profile > .profilepix-editor {
    position: absolute;
    width: 25%;
    height: 25%;
    pointer-events: none;
    bottom: 0;
    right: 0;
    background: white;
    border-radius: 20%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .profile > .profilepix-editor > img.icon {
    width: 60%;
    height: 60%;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .nick {
    font-size: 18px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .text {
    font-size: 13px;
    margin-top: 15px;
    white-space: pre-line;
    text-align: center;
    position: relative;
    cursor: pointer;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .text > .edit,
  .profiler.vcomp .page-body > .profiler-body > .profiles > .nick > .edit {
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .nick > span > img,
  .profiler.vcomp .page-body > .profiler-body > .profiles > .text > span > img {
    width: 14px;
    height: auto;
    margin-left: 5px;
    pointer-events: none;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .nick > span.tmp,
  .profiler.vcomp .page-body > .profiler-body > .profiles > .text > span.tmp {
    color: lightgray;
  }


  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels-shower {
    margin-top: 40px;
    font-size: 13px;
    text-align: center;
    width: 100%;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels-shower > * {
    pointer-events: none;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels-shower > img {
    width: var(--w-4);
    height: auto;
    transform: rotate(180deg);
    margin-top: 10px;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels {
    margin-top: 10px;
    width: var(--w-90);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .gender.labels {
    margin-top: 30px;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels > .title {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels > .labels-guide {
    font-size: 11px;
    color: lightgray;
    margin-top: 10px;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels > .label {
    font-size: 13px;
    padding: 7px;
    border-radius: 20px;
    margin: 2px;
    border: 2px solid lightgray;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels > .label.selected {
    color: var(--color-point);
    border: 2px solid var(--color-point);
    box-shadow: 0 2px 4px rgba(70, 71, 105, 0.2);
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels > .label.more {
    border: none;
  }

  .profiler.vcomp .page-body > .profiler-body > .profiles > .labels > .labels_divider {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
  }


  .profiler.vcomp .page-body > .profiler-body > .actions {
    position: fixed;
    bottom: 0;
    width: var(--width);
    height: var(--w-16);
    background: white;
    font-size: 15px;
    color: var(--color-inactive);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
  }

  .profiler.vcomp .page-body > .profiler-body > .actions.cancelable {
    justify-content: space-between;
  }

  .profiler.vcomp .page-body > .profiler-body > .actions > .action {
    background: none;
    padding-left: var(--w-6);
    padding-right: var(--w-6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .profiler.vcomp .page-body > .profiler-body > .actions > .done.action.active {
    color: var(--color-point);
  }
</style>


<script type='text/x-template' id='profiler-template'>
  <page
    class='profiler vcomp'
    :order='session.page.profiler.order'
    :open='session.page.profiler.open'
    :from='session.page.profiler.from'
    :onloading='on_creating'
    :hide_close='is_first_profiling'
    :hide_menu='true'
    :trans_headerbar='true'
    @close='session.close_page()'>

    <template #headerbar-menu>
    </template>

    <template #headerbar-body-trans>
    </template>

    <template #headerbar-body-default>
    </template>


    <template #page-body>
      <div class='profiler-body' v-if='boo'>

        <div class='profiles' ref='profiles'>
          <div class='profile' @click='load_pixeditor'>
            <input type="file" name="image" accept="image/*" style='display:none' @change='imagize' ref='pixinput'>
            <img class='profilepix' :src='profilepix' v-if='profilepix'>

            <div class='profilepix-editor'>
              <img class='icon' src='/static/materials/icons/edit.png'>
            </div>
          </div>

          <div class='nick' @click='edit_boo_nick'>
            <span v-if='nick'><b>[[ nick ]]</b></span>
            <span class='tmp' v-else>이름</span>
            <span class='edit'><img src='/static/materials/icons/edit.png'></span>
          </div>

          <div class='text' @click='edit_boo_text'>
            <span v-if='text'>[[ text ]]</span>
            <span class='tmp' v-else>설명을 입력해주세요</span>
            <span class='edit'><img src='/static/materials/icons/edit.png'></span>
          </div>

          <div class='gender labels'>
            <span class='label' v-for='l in genderlabels' :class='select_class(l.id, my_genderlabels)' @click='toggle_select(l.id, my_genderlabels)'>[[ l.label ]]</span>
          </div>

          <div class='age labels'>
            <span class='label' v-for='l in agelabels' :class='select_class(l.id, my_agelabels)' @click='toggle_select_exclusive(l.id, my_agelabels)'>[[ l.label ]]</span>
          </div>


          <div class='labels-shower' v-if='!show_labels' @click='show_labels=true'>
            <span>스타일/관심아이템/체형 입력하기</span><br>
            <img src='/static/materials/icons/backicon.png'>
          </div>

          <div class='style labels' v-if='show_labels'>
            <div class='title'><b>스타일 유형</b></div>
            <hr class='labels_divider'>

            <span class='label' v-for='l in stylelabels' :class='select_class(l.id, my_stylelabels)' @click='toggle_select(l.id, my_stylelabels)'>[[ l.label ]]</span>
            <span class='label more' @click='toggle_more("style")'>[[ more_display("style") ]]</span>

            <template v-if='more_stylelabels'>
              <hr class='labels_divider'>
              <span class='label' v-for='l in stylelabels_more' :class='select_class(l.id, my_stylelabels)' @click='toggle_select(l.id, my_stylelabels)'>[[ l.label ]]</span>
            </template>

            <hr class='labels_divider'>
            <div class='labels-guide'>
              선호하는 스타일을 선택하면 관련 콘텐츠를 노출해 드립니다.
            </div>
          </div>

          <div class='item labels' v-if='show_labels'>
            <div class='title'><b>관심 아이템</b></div>
            <hr class='labels_divider'>

            <span class='label' v-for='l in itemlabels' :class='select_class(l.id, my_itemlabels)' @click='toggle_select(l.id, my_itemlabels)'>[[ l.label ]]</span>
            <span class='label more' @click='toggle_more("item")'>[[ more_display("item") ]]</span>

            <template v-if='more_itemlabels'>
              <hr class='labels_divider'>
              <span class='label' v-for='l in itemlabels_more' :class='select_class(l.id, my_itemlabels)' @click='toggle_select(l.id, my_itemlabels)'>[[ l.label ]]</span>
            </template>

            <hr class='labels_divider'>
            <div class='labels-guide'>
              관심 아이템을 선택하면 관련 콘텐츠를 노출해 드립니다.
            </div>
          </div>
        </div>


        <div class='actions' :class='actions_style'>
          <div class='action cancel' @click='session.close_page()' v-if='is_first_profiling'><b>다음에</b></div>
          <div class='action done' :class='action_done_style' @click='action_done'><b>저장</b></div>
        </div>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('profiler', {
    template: '#profiler-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        boo: undefined,
        on_creating: false,
        more_stylelabels: false,
        more_itemlabels: false,
        show_labels: true,
        basket: {},
      }
    },

    created: function() {
      if (this.is_first_profiling) {
        this.show_labels = false;
      }

      this.boo = _.cloneDeep(this.session.user.auth.boo);
      this.reset_basket();
    },

    // watch: {
    //   'session.page.profiler.open': {
    //     handler: function(_new, _old) {
    //       if (_new) {
    //         // 새로운걸 만들 일은 없다.... 처음 소셜로그인하면 자동으로 계정이 만들어지므로
    //         if (this.session.page.profiler.type == 'new') {
    //           console.log('making new profile');
    //
    //           this.boo = {
    //             id: undefined,
    //             nick: '',
    //             text: '',
    //             profile: { id: undefined, pix: undefined, pixblob: undefined },
    //             // followees_id: [],
    //             // nfollowers: 0,
    //             // nposts: 0,
    //             // voting_record: {},
    //             // posts: undefined,
    //
    //             genderlabels: [],
    //             agelabels: [],
    //             stylelabels: [],
    //             itemlabels: [],
    //
    //             // fit: {},
    //             // ilikes_comment: [],
    //             // active: true
    //           };
    //
    //           const profilepix = '/static/materials/characters/ghost_' + _.sample(['b', 'm', 'p', 'y']) + '.png';
    //
    //           fetch(profilepix)
    //             .then(x => x.blob())
    //             .then(blob => {
    //               this.boo.profile.pix = profilepix;
    //               this.boo.profile.pixblob = blob; //URL.createObjectURL(blob);
    //               this.reset_basket();
    //             });
    //
    //
    //         } else {
    //           // this.boo = Object.assign({}, this.boo, _.cloneDeep(this.session.user.auth.boo));
    //           this.boo = _.cloneDeep(this.session.user.auth.boo);
    //
    //           // 새로운 boo가 복사되면서, 기존 boo서 post loading 하던 것들이 사라진다.
    //           // 이 부분을 해결하기 위해 아래처럼 기존 boo의 posts를 복사한다
    //           // 2021.02.09
    //           // this.boo.posts = this.session.user.auth.boo.posts;
    //           this.reset_basket();
    //         }
    //       }
    //     }, immediate: true
    //   }
    // },

    methods: {
      edit_boo_text: function() {
        this.session.open_texteditor(this.boo.text, '설명을 입력해주세요', 3, txt_done => {
          // console.log(this.boo.text, txt_done);
          this.boo.text = txt_done;
          // this.$set(this.boo, 'text', txt_done);
          this.reset_basket();
        });
      },

      edit_boo_nick: function() {
        this.session.open_texteditor(this.boo.nick, '이름', 1, txt_done => {
          // console.log(this.boo.nick, txt_done);
          this.boo.nick = txt_done;
          // Vue.set(this.boo, 'nick', txt_done);
          this.reset_basket();
        });
      },

      labels_to_update: function(what) {
        const labels = {};
        let add, remove;

        if (this.making_new) {
          add = this.boo[what];
          remove = []

        } else {
          add = _.difference(this.boo[what], this.session.user.auth.boo[what]);
          remove = _.difference(this.session.user.auth.boo[what], this.boo[what]);
        }

        // 빈 배열인지 확인해야한다
        if (add.length > 0) {
          labels.add = add;
        }

        if (remove.length > 0) {
          labels.remove = remove;
        }

        return labels
      },

      _is_not_empty_obj: function(obj) {
        return Object.keys(obj).length > 0
      },

      reset_basket: function() {
        this.basket = {};

        const labels = {};
        const genderlabels = this.labels_to_update('genderlabels');
        const agelabels = this.labels_to_update('agelabels');
        const stylelabels = this.labels_to_update('stylelabels');
        const itemlabels = this.labels_to_update('itemlabels');

        if (this._is_not_empty_obj(genderlabels)) {
          labels.genderlabels = genderlabels;
        }

        if (this._is_not_empty_obj(agelabels)) {
          labels.agelabels = agelabels;
        }

        if (this._is_not_empty_obj(stylelabels)) {
          labels.stylelabels = stylelabels;
        }

        if (this._is_not_empty_obj(itemlabels)) {
          labels.itemlabels = itemlabels;
        }

        if (this._is_not_empty_obj(labels)) {
          this.basket.labels = labels;
        }

        if ((this.making_new && this.boo.nick!='') || (!this.making_new && this.boo.nick!=this.session.user.auth.boo.nick)) {
          this.basket.boo_nick = this.boo.nick;
        }

        if ((this.making_new && this.boo.text!='') || (!this.making_new && this.boo.text!=this.session.user.auth.boo.text)) {
          this.basket.boo_text = this.boo.text;
        }

        if ((this.making_new && this.boo.profile.pix) || (!this.making_new && this.boo.profile && this.boo.profile.pix!=this.session.user.auth.boo.profile.pix)) {
          this.basket.profilepix = this.boo.profile.pixblob;
        }
      },

      action_done: function() {
        if (this.on_creating || !this.ready_to_save) {
          return
        }

        const formdata = new FormData();
        formdata.append('csrfmiddlewaretoken', '{{csrf_token}}');

        if (this.basket.boo_nick) {
          formdata.append('boo_nick', this.basket.boo_nick);
        }

        if (this.basket.boo_text) {
          formdata.append('boo_text', this.basket.boo_text);
        }

        if (this.basket.profilepix) {
          const pixname = new Date().getTime() + '__profilepix.png';
          formdata.append('profilepix', this.basket.profilepix, pixname);
        }

        if (this.basket.labels) {
          formdata.append('labels', JSON.stringify(this.basket.labels));
        }

        if (this.making_new) {
          this.boo_create(formdata);

        } else {
          this.boo_update(formdata);
        }

        // this.session.user.auth.first_visit = false;
      },

      boo_create: function(formdata) {
        this.on_creating = true;
        formdata.append('on_creating', true);

        fetch('/boo/save/', { method: 'POST', body: formdata })
          .then(res => res.json())
          .then(js => {
            console.log(js);
            this.on_creating = false;
            this.boo.id = js.boo_id;
            this.$set(this.session.user.auth.boos, this.boo.id, this.boo);
            this.session.user.auth.boo = this.boo.id;
            this.session.close_page();

          });
      },

      boo_update: function(formdata) {
        const boo_id = this.boo.id;
        this.boo.id = undefined;
        Object.assign(this.session.user.boo, this.boo);

        fetch('/boo/save/', { method: 'POST', body: formdata })
          .then(res => res.json())
          .then(js => {
            console.log(js);
            this.session.user.boo.id = boo_id;
            // this.boo.id = boo_id;
          });

        // this.session.user.auth.boos[boo_id] = this.boo;
        this.session.close_page();
      },

      select_class: function(key, my) {
        if (my.includes(Number(key))) {
          return 'selected'

        } else {
          return ''
        }
      },

      toggle_select: function(key, my) {
        const k = Number(key);

        if (my.includes(k)) {
          const idx = my.indexOf(k);

          if (idx !== -1) {
            my.splice(idx, 1);
          }

        } else {
          my.push(k);
        }

        this.reset_basket();
      },

      toggle_select_exclusive: function(key, my) {
        const k = Number(key);

        if (my.includes(k)) {
          const idx = my.indexOf(k);

          if (idx !== -1) {
            my.splice(idx, 1);
          }

        } else {
          my.length = 0;
          my.push(k);
        }

        this.reset_basket();
      },

      toggle_more: function(what) {
        const target = 'more_' + what + 'labels';
        this[target] = !this[target];
      },

      more_display: function(what) {
        const target = 'more_' + what + 'labels';
        return this[target] ? "덜보기" : "더보기"
      },

      load_pixeditor: function() {
        if (this.$refs) {
          this.$refs.pixinput.click();
        }
      },

      imagize: function(event) {
        const input = event.target;
        const self = this;

        if (input.files && input.files[0]) {
          let reader = new FileReader();
          reader.onload = function(e) {
            self.session.open_pixeditor(e.target.result, 'profile', self);
          };

          reader.readAsDataURL(input.files[0]);
        }
      },

      set: function(blob) {
        this.boo.profile.pix = URL.createObjectURL(blob);
        this.boo.profile.pixblob = blob;
        this.reset_basket();
      }
    },


    computed: {
      ready_to_save: function() {
        if (Object.keys(this.basket).length > 0) {
          if (this.making_new) {
            // 새로 만들때는: 이름과 프로필사진이 반드시 있어야하고
            if (!this.basket.boo_nick || !this.basket.profilepix)
              return false

          } else {
            // 새로 만드는게 아니라면: 이름과 프로필사진이 공란이면 안된다
            if (('boo_nick' in this.basket) && this.basket.boo_nick=='')
              return false

            if (('profilepix' in this.basket) && this.basket.profilepix==undefined)
              return false
          }

          return true
        }
      },

      actions_style: function() {
        return { cancelable: this.is_first_profiling }
      },

      action_done_style: function() {
        return { active: !this.on_creating && this.ready_to_save }
      },

      profilepix: function() {
        if (this.boo.profile)
          return this.boo.profile.pix
      },

      text: function() {
        return this.boo.text
      },

      nick: function() {
        return this.boo.nick
      },

      is_first_profiling: function() {
        return false
        // return this.session.user.auth.first_visit
      },

      my_genderlabels: function() {
        return this.boo.genderlabels
      },

      my_agelabels: function() {
        return this.boo.agelabels
      },

      my_stylelabels: function() {
        return this.boo.stylelabels
      },

      my_itemlabels: function() {
        return this.boo.itemlabels
      },

      genderlabels: function() {
        return this.session.labels.gender
      },

      agelabels: function() {
        return this.session.labels.age
      },

      stylelabels: function() {
        return this.session.labels.style.slice(0, 4)
      },

      stylelabels_more: function() {
        return this.session.labels.style.slice(4)
      },

      itemlabels: function() {
        return this.session.labels.item.slice(0, 4)
      },

      itemlabels_more: function() {
        return this.session.labels.item.slice(4)
      },

      making_new: function() {
        return this.session.page.profiler.type == 'new'
      },

      loader_width: function() {
        return document.querySelector('#window').clientWidth
      }
    }
  });
</script>
