<style>
  .raffler.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .raffler.vcomp::-webkit-scrollbar {
    display: none;
  }

  .raffler.vcomp > .raffles {
    position: relative;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .raffler.vcomp > .raffles > .raffle {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s;
    box-sizing: border-box;
    cursor: pointer;
  }

  .raffler.vcomp > .raffles > .raffle.loaded {
    opacity: 1;
  }

  .raffler.vcomp > .raffles > .raffle > .coverpix {
    position: relative;
    width: 100%;
    height: 110px;
    border-radius: 8px;
    overflow: hidden;
  }

  .raffler.vcomp > .raffles > .raffle > .coverpix > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
  }

  .raffler.vcomp > .raffles > .raffle.outdated > .coverpix > img {
    opacity: 0.3;
  }

  .raffler.vcomp > .raffles > .raffle > .coverpix > .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    /* background: orange; */
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 5px 10px;
    box-sizing: border-box;
    color: white;
  }

  .raffler.vcomp > .raffles > .raffle > .coverpix > .deduction {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    /* background: lightblue; */
    font-size: 16px;
    /* font-weight: bold; */
    padding: 0 10px 5px 0;
    box-sizing: border-box;
    text-align: right;
    color: white;
  }

  .raffler.vcomp > .raffles > .raffle > .coverpix > .see-result {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: none;
  }

  .raffler.vcomp > .raffles > .raffle.outdated.resulted > .coverpix > .see-result {
    display: block;
  }

  .raffler.vcomp > .raffles > .raffle > .due {
    position: relative;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 13px;
    color: #999999;
  }

  .raffler.vcomp > .raffles > .raffle > .due > span {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
  }

  .raffler.vcomp > .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--color-dark);
  }
</style>

<script type='text/x-template' id='raffler-template'>
  <div class='raffler vcomp'>
    <div class='raffles'>
      <div class='raffle' :class='{ loaded:r.coverpix_loaded, outdated:outdated(r), resulted:has_winner(r) }' v-for='(r, idx) in raffles_list' @click='go_detail(r)'>
        <div class='coverpix'>
          <img :src='coverpix(r)' @load='coverpix_loaded(r)'>
          <div class='name'>[[ name(r) ]]</div>
          <div class='deduction'>[[ deduction(r) ]]</div>
          <div class='see-result'>결과확인 🤩</div>
        </div>

        <div class='due'><span>[[ days_to_due_text(r) ]]</span></div>
      </div>
    </div>

    <div class='spinner' v-if='!ready'>
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</script>


<script>
  Vue.component('raffler', {
    template: '#raffler-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        ready: false
      }
    },

    created: function() {
      if (!this.session.raffles) {
        this.session.load_raffles();
      }
    },

    methods: {
      coverpix: function(raffle) {
        if (raffle.item) {
          return raffle.item.pix_wide ? raffle.item.pix_wide : raffle.item.pix_0
        }
      },

      name: function(raffle) {
        if (raffle.item) {
          return raffle.item.name
        }
      },

      deduction: function(raffle) {
        if (raffle.deduction) {
          return '-' + raffle.deduction.toLocaleString() + 'P'
        }
      },

      days_to_due: function(raffle) {
        if (raffle.due) {
          return Math.ceil( (new Date(raffle.due) - new Date()) / (1000 * 24 * 60 * 60) )
          // return '마감 ' + Math.ceil( (new Date(raffle.due) - new Date()) / (1000 * 24 * 60 * 60) ) + '일전'
        }
        // else {
        //   return ''
        // }
      },

      outdated: function(raffle) {
        return this.days_to_due(raffle) < 0
      },

      days_to_due_text: function(raffle) {
        const _remained = this.days_to_due(raffle);

        if (_remained) {
          if (_remained >= 0) {
            return '마감 ' + _remained + '일전'

          } else {
            return '종료'
          }

        } else {
          return ''
        }
      },

      coverpix_loaded: function(raffle) {
        this.ready = true;
        raffle.coverpix_loaded = true;
        // event.target.closest('.raffle').classList.add('loaded');
      },

      has_winner: function(raffle) {
        return raffle.winner != undefined
      },

      go_detail: function(raffle) {
        this.$emit('go_detail', raffle);
      }
    },

    computed: {
      raffles: function() {
        return this.session.raffles
      },

      raffles_list: function() {
        if (this.raffles) {
          return this.raffles.list
        }
      }
    }
  });
</script>
