<style>
  .recruit.vcomp .page-body {
    background: white;
  }

  .recruit.vcomp .page-body > .container {
    width: 100%;
    /* height: 200px; */
    margin-top: var(--w-16);
    margin-bottom: var(--w-20);
    background: none;
    padding-left: var(--w-6);
    padding-right: var(--w-6);
    box-sizing: border-box;
  }

  .recruit.vcomp .page-body > .container > .header {
    position: relative;
    width: 100%;
    height: 120px;
    /* background: lightblue; */
  }

  .recruit.vcomp .page-body > .container > .header > .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    /* background: orange; */
  }

  .recruit.vcomp .page-body > .container > .header > .title {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    /* width: calc(100% - 100px); */
    width: 100%;
    /* background: lightpink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* white-space: pre-line; */
    /* font-size: 25px; */
    font-weight: bold;
    text-align: center;
  }

  .recruit.vcomp .page-body > .container > .header > .title > .title-0 {
    font-size: 30px;
  }

  .recruit.vcomp .page-body > .container > .header > .title > .title-1 {
    font-size: 24px;
  }

  .recruit.vcomp .page-body > .container > .content {
    position: relative;
    width: 100%;
    /* background: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .recruit.vcomp .page-body > .container > .content > .card {
    position: relative;
    width: calc(50% - 4px);
    /* height: 60px; */
    /* padding-top: 100%; */
    background: orange;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
    /* border: 1px solid #cecece; */
    box-sizing: border-box;
    cursor: pointer;
  }

  .recruit.vcomp .page-body > .container > .content > .card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
</style>

<script type='text/x-template' id='recruit-template'>
  <page
    class='recruit vcomp'
    :order='session.page.recruit.order'
    :open='session.page.recruit.open'
    :from='session.page.recruit.from'
    :hide_menu='true'
    @close='session.close_page()'>

    <template #headerbar-body-trans>
      <span style='font-size:20px;font-weight:normal'>주식회사 모이버 |채용|</span>
    </template>

    <template #headerbar-body-default>
      <span style='font-size:20px;font-weight:normal'>주식회사 모이버 |채용|</span>
    </template>

    <template #page-body>
      <div class='container'>
        <div class='header'>
          <!-- <div class='icon'></div> -->
          <div class='title'>
            <span class='title-0'>패션앱 모이버</span>
            <span class='title-1'>각 직군 본격 채용</span>
          </div>
        </div>

        <div class='content'>
          <div class='card' @click='session.open_bulletin("career-dev")'>
            <img src='/static/materials/bulletin/career/recruit-dev.jpg'>
          </div>

          <div class='card' @click='session.open_bulletin("career-planner")'>
            <img src='/static/materials/bulletin/career/recruit-planner.jpg'>
          </div>

          <div class='card' @click='session.open_bulletin("career-mkt")'>
            <img src='/static/materials/bulletin/career/recruit-mkt.jpg'>
          </div>

          <div class='card' @click='session.open_bulletin("career-designer")'>
            <img src='/static/materials/bulletin/career/recruit-designer.jpg'>
          </div>
        </div>

      </div>
    </template>

  </page>
</script>


<script>
  Vue.component('recruit', {
    template: '#recruit-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    },

    methods: {
      // goto_recruit: function(position) {
      //   this.session.open_infoboard(position);
      // }
    }
  });
</script>
