<style>
  .research.vcomp .page-body > .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .research.vcomp .page-body > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
  }

  .research.vcomp .page-body > .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: white;
    color: var(--color-dark);
  }

  .research.vcomp .page-body > .closer {
    position: absolute;
    top: 60px;
    /* bottom: var(--iphone-bottom); */
    right: 0;
    width: 45px;
    height: 45px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .research.vcomp .page-body > .closer > img {
    width: 12px;
    height: 12px;
    object-fit: cover;
  }
</style>


<script type='text/x-template' id='research-template'>
  <page
    class='research vcomp'
    :order='session.page.research.order'
    :open='session.page.research.open'
    :from='session.page.research.from'
    :hide_close='true'
    :hide_menu='true'
    :hide_headerbar='true'
    :trans_headerbar='true'
    @close='session.close_page()'>

    <template #page-body>
      <div class='swiper-container' ref='swiper' v-show='intro'>
        <div class='swiper-wrapper'>

          <researchitem
            class='swiper-slide' v-if='intro'
            :researchitem='intro'
            :research='research'
            :brand='brand'
            :session='session'
            :swiper='swiper'
            @intro_loaded='intro_loaded'
          ></researchitem>

          <researchitem
            class='swiper-slide' v-if='r' v-for='(r, idx) in mainstory'
            :researchitem='r'
            :research='research'
            :brand='brand'
            :session='session'
            :swiper='swiper'
            :pagination='pagination(idx)'
            :key='idx'
            :idx='idx'
          ></researchitem>

          <researchitem
            class='swiper-slide' v-if='outro'
            :researchitem='outro'
            :research='research'
            :brand='brand'
            :session='session'
            :swiper='swiper'
            @kakao_share='kakao_share'
            @link_copy='link_copy'
          ></researchitem>

        </div>
      </div>

      <div class='closer' v-if='closeable' @click='session.close_page()'>
        <img src='/static/materials/icons/icon_x.png'>
      </div>

      <div class='spinner' v-if='onloading'>
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('research', {
    template: '#research-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        default_gender: 'F',
        onloading: undefined,
        swiper: undefined,
        swiper_options: {
          direction: 'horizontal',
          // direction: 'vertical',
          simulateTouch: true,
          observer: true,
          observeParents: true,
          slidesPerView: 'auto',
          allowSlideNext: false,
          mousewheel: {
            releaseOnEdges: true,
          }
        }
      }
    },

    mounted: function() {
      this.swiper = new Swiper(this.$refs.swiper, this.swiper_options);
    },

    watch: {
      research_id: function(_new, _old) {
        this.onloading = true;
      },

      'session.page.research.open': function(_new, _old) {
        if (_new) {
          this.session.fix_window_width();

        } else {
          this.session.release_window_width();
        }
      },
      // 'session.page.research.open': function(_new, _old) {
      //   if (_new) {
      //     this.onloading = true;
      //   }
      // }

    },

    methods: {
      intro_loaded: function() {
        this.onloading = false;
      },

      pagination: function(ipage) {
        if (this.npage) {
          return (ipage + 1) + '/' + this.npage
        }
      },

      kakao_share: function() {
        _templateArgs = {
          title: this.research.title,
          desc: `${this.research.desc} - ${this.brand.name_en}`,
          pix: this.intro.pix.pix_0,
          linkpath: this.linkpath
          // linkpath: `?entry=research&id=${this.research.id}`
        };

        Kakao.Link.sendCustom({
          templateId: 63330,
          templateArgs: _templateArgs
        });

        // this.dismiss_popup();
      },

      link_copy: function() {
        this.$copyText(this.link).then(e => {
          alert('공유할 수 있는 링크가 복사되었습니다');
          // this.copied = true;
          // setTimeout(() => { this.copied = false; }, 1000);
          // console.log('copied');

        }, function (e) {
          console.log(e);
        });
      }
    },

    computed: {
      closeable: function() {
        if (this.swiper) {
          return !this.swiper.isEnd
        }
      },

      boo: function() {
        if (this.session.user.has_auth) {
          if (this.swiper) {
            this.swiper.allowSlideNext = true;
          }

          return this.session.user.boo
        }
      },

      // genderlabels: function() {
      //   if (this.boo) {
      //     return this.boo.genderlabels
      //   }
      // },

      auth_gender: function() {
        if (this.boo) {
          return this.session.user.auth.gender
        }
      },

      gender: function() {
        if (this.auth_gender == '남성') {
          return 'M'

        } else if (this.auth_gender == '여성') {
          return 'F'

        } else {
          return this.default_gender
        }
      },

      // gender: function() {
      //   if (this.genderlabels) {
      //     if ((this.genderlabels.length == 0) || (this.genderlabels.length == 2)) {
      //       return this.default_gender
      //
      //     } else if ((this.genderlabels.length == 1) && (this.genderlabels.includes(1))) {
      //       return 'M'
      //
      //     } else if ((this.genderlabels.length == 1) && (this.genderlabels.includes(2))) {
      //       return 'F'
      //
      //     } else {
      //       return this.default_gender
      //     }
      //   } else {
      //     return this.default_gender
      //   }
      // },

      research: function() {
        return this.session.page.research.content
      },

      research_id: function() {
        if (this.research) {
          return this.research.id
        }
      },

      brand: function() {
        return this.research.brand
      },

      researchitems: function() {
        if (this.research) {
          return this.research.researchitems
        }
      },

      researchitems_list: function() {
        if (this.researchitems) {
          if (this.researchitems.list.length == 0) {
            this.swiper.slideTo(0);
            this.researchitems.load_all();
          }
          return this.researchitems.list
        }
      },

      intro: function() {
        if (this.researchitems_list) {
          return _.find(this.researchitems_list, ['type', 'IN'])
        }
      },

      outro: function() {
        if (this.researchitems_list) {
          return _.find(this.researchitems_list, ['type', 'OUT'])
        }
      },

      mainstory: function() {
        if (this.researchitems_list) {
          let _mainstory = _.filter(this.researchitems_list, o => {
            return (o.type!='IN') && (o.type!='OUT') && ((o.gender=='X') || (o.gender==this.gender))
            // return (o.type!='IN') && (o.type!='OUT') && (o.gender in ['X', this.gender])
          });
          return _.sortBy(_mainstory, ['order'])
        }
      },

      npage: function() {
        if (this.mainstory) {
          return this.mainstory.length
        }
      },

      linkpath: function() {
        return `?entry=research&id=${this.research.id}`
      },

      link: function() {
        const loc = window.location;
        return `${loc.protocol}//${loc.host}${this.linkpath}`
      }
    }
  });
</script>
