<style>
  .signup.vcomp .page-body {
    width: 100%;
    height: 100%;
    background: white;
    font-size: 12px;
  }

  .signup.vcomp .page-body > .section {
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .signup.vcomp .page-body > .section.top {
    /* height: 20%; */
  }

  .signup.vcomp .page-body > .section.middle {
    height: 80%;
    background: none;
    justify-content: flex-end;
  }

  .signup.vcomp .page-body > .section.bottom {
    height: 20%;
  }

  .signup.vcomp .page-body > .section.middle > .desc {
    width: 100%;
    text-align: center;
  }

  .signup.vcomp .page-body > .section.middle > .title.desc {
    margin-bottom: 2%;
    font-size: 20px;
  }

  .signup.vcomp .page-body > .section.middle > .subtitle.desc {
    margin-bottom: 10%;
    color: #CCCCCC;
  }

  .signup.vcomp .page-body > .section.middle > .agree.desc {
    margin: 20px 0;
    color: #CCCCCC;
  }

  .signup.vcomp .page-body > .section.middle > .signup.desc {
    margin-top: 9%;
    color: var(--color-dark);
    text-decoration: underline;
  }

  .signup.vcomp .page-body > .section.middle > .action {
    width: calc(100% - 64px);
    height: 50px;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
  }

  .signup.vcomp .page-body > .section.middle > .action.signup {
    background: var(--color-dark);
    pointer-events: none;
    opacity: 0.2;
  }

  .signup.vcomp .page-body > .section.middle > .action.signup.active {
    pointer-events: auto;
    opacity: 1;
  }

  .signup.vcomp .page-body > .section.bottom > .tail {
    width: 100%;
    background: none;
    font-size: 11px;
    color: #CCCCCC;
    text-align: center;
  }

  .signup.vcomp .page-body > .section.bottom > .tail > .item {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }


  .signup.vcomp .page-body > .section > .infobox {
    width: calc(100% - 64px);
    /* height: 100px; */
    font-size: 15px;
    /* background: lightblue; */
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    margin: 10px;
  }

  .signup.vcomp .page-body > .section > .infobox > table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }

  .signup.vcomp .page-body > .section > .infobox > table td {
    position: relative;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    padding: 0;
    height: 48px;
    border-bottom: 1px solid #e4e4e4;
  }

  .signup.vcomp .page-body > .section > .infobox > table tr:last-child > td {
    border-bottom: none;
  }

  .signup.vcomp .page-body > .section > .infobox > table td > input {
    width: 100%;
    height: 100%;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    padding-right: 10px;
    background: none;
  }

  .signup.vcomp .page-body > .section > .infobox > table td > input:focus {
    outline: none;
  }

  .signup.vcomp .page-body > .section > .infobox > table td > input::placeholder {
    font-weight: normal;
    color: #333333;
  }

  .signup.vcomp .page-body > .section > .infobox > table td.birth > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }

  .signup.vcomp .page-body > .section > .infobox > table td.head {
    padding-left: 15px;
    width: 120px;
    box-sizing: border-box;
    color: #777777;
  }

  .signup.vcomp .page-body > .section > .infobox > table td > span.verify {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: var(--color-point);
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    opacity: 0.2;
    pointer-events: none;
  }

  .signup.vcomp .page-body > .section > .infobox > table td > span.verify.active {
    opacity: 1;
    pointer-events: auto;
  }

  .signup.vcomp .page-body > .section > .infobox > table td > span.verify.onwork {
    opacity: 0.2;
    pointer-events: none;
  }

  .signup.vcomp .page-body > .section > .infobox > table td > span.verify.verified {
    opacity: 1;
    pointer-events: none;
    background: var(--color-dark);
  }

  .signup.vcomp .page-body > .section > .explain {
    font-size: 12px;
    color: #777777;
    width: 100%;
    /* text-align: center; */
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    margin-top: 10px;
    line-height: 20px;
    display: none;
  }

  .signup.vcomp .page-body > .section > .robo {
    margin-top: 20px;
    opacity: 1;
    transition: all 0.3s;
  }

  .signup.vcomp .page-body > .section > .robo.hidden {
    opacity: 0;
  }
</style>


<script type='text/x-template' id='signup-template'>
  <page
    class='signup vcomp'
    :order='session.page.signup.order'
    :open='session.page.signup.open'
    :from='session.page.signup.from'
    :hide_headerbar='true'
    @close='session.close_page()'>

    <template #page-body>
      <div class='section top'></div>

      <div class='section middle'>
        <div class='desc title'><b>회원가입</b></div>
        <!-- <div class='desc subtitle'>가입하고 더 많은 활동을 해보세요</div> -->

        <div class='infobox'>
          <table>
            <tbody>
              <tr>
                <td class='head'>이름</td>
                <td><input v-model.trim='name' placeholder='' spellcheck='false'></td>
              </tr>

              <tr>
                <td class='head'>성별</td>
                <td>
                  <label><input type="radio" value="남성" v-model="gender"><b> 남성</b></label>
                  <label><input type="radio" value="여성" v-model="gender"><b> 여성</b></label>
                </td>
              </tr>

              <tr>
                <td class='head'>생년월일</td>
                <td class='birth'><input v-model.trim='birth' placeholder='' spellcheck='false' type='date'></td>
                <!-- <td><input v-model.trim='birth' placeholder='' spellcheck='false' type='date' value='2021-01-01'></td> -->
              </tr>

              <tr>
                <td class='head'>휴대번호(선택)</td>
                <td>
                  <input v-model.trim='mobile' placeholder='' spellcheck='false' @keyup='mobilenumber'>
                  <span class='verify' :class='{ active: mobile, onwork: on_verifying, verified: mobile_verified }' @click='mobile_verify'>[[ mobile_verified ? '인증완료' : '인증하기' ]]</span>
                </td>
              </tr>

              <tr>
                <td class='head'>주소(선택)</td>
                <td><input v-model.trim='address' placeholder='' spellcheck='false'></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class='action signup' :class='{ active: nextable }' @click='goto_signupper'>가입하고 100P 받기</div>
        <!-- <div class='action signup' :class='{ active: nextable }' @click='mobile_check'>가입하고 100P 받기</div> -->
        <div class='desc agree'>약관에 동의하고 가입합니다.</div>

        <div class='explain'>
          포인트 획득을 위해서는 기본 프로필 입력이 필수 입니다.
        </div>

        <div class='explain'>
          프로필 정보는 참여 조건 확인 및 결과 리포트에 반영될 뿐 회원님을 구별할 수 있는 정보는 저장하지 않습니다.
        </div>

        <div class='explain'>
          모이버는 회원님의 개인 정보를 지키기 위해 DID (Decentralized identifiers) 기술을 사용합니다.
        </div>

        <robo :class='{ hidden: robo_hidden }' :session='session' type='x' @action='close_robo'>
          <div>패션 서베이 참여를 위해서
             기본정보 입력이 필요해요.</div>
          <div>👉🏻 전화번호/주소는 선택사항이지만
            래플 참여나 포인트 쇼핑 시에는 필수이니
            미리미리 입력해 두는 센스!!</div>
          <div>💋 입력하면 100P가 즉시 지급됩니다!</div>
        </robo>

      </div>

      <div class='section bottom'>
        <div class='tail'>
          <span class='item' @click='session.open_about()'>회사소개</span>
          <span class='item' @click='session.open_landing()'>서비스소개</span>
          <span class='item' @click='session.open_recruit()'>채용</span>
          <span class='item' @click='session.open_policy()'>약관</span>
          <span class='item' @click='session.open_privacy()'>개인정보보호</span>
          <span class='item' @click='session.contact()'>문의</span>
        </div>
      </div>
    </template>
  </page>
</script>


<script>
  Vue.component('signup', {
    template: '#signup-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        name: '',
        gender: '',
        birth: '2010-01-01',
        address: '',
        mobile: '',
        mobile_verified: false,

        robo_hidden: false,
        on_verifying: false,
      }
    },

    computed: {
      nextable: function() {
        return (this.name != '') && (this.gender != '') && (this.birth != '')
      }
    },

    methods: {
      close_robo: function() {
        this.robo_hidden = true;
      },

      mobilenumber: function() {
        this.mobile = this.mobile.replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-");
        this.mobile_verified = false;
      },

      goto_signupper: function() {
        const signupinfo = {
          name: this.name,
          gender: this.gender,
          birth: this.birth,
          mobile: this.mobile,
          address: this.address,
          mobile_verified: this.mobile_verified
        }

        sessionStorage.setItem('signupinfo', JSON.stringify(signupinfo));
        this.session.open_signupper();
      },

      mobile_verify: function() {
        this.on_verifying = true;

        const _mobile = this.mobile.replaceAll('-', '');
        fetch(`mobile/send_authkey?number=${_mobile}`)
          .then(x => x.json())
          .then(j => {
            const authkey = prompt('전송받은 인증번호를 정확히 입력해주세요', '');

            fetch(`mobile/verify?mobile=${_mobile}&authkey=${authkey}`)
              .then(x => x.json())
              .then(j => {
                if (j.code == 0) {
                  this.mobile_verified = true;
                  alert('인증완료 되었습니다!')

                } else if (j.code == 1) {
                  alert('인증번호가 잘못 입력되었습니다. 다시 시도해 주세요');

                } else {
                  alert('잠시후에 다시 시도해 주세요');
                }

                this.on_verifying = false;
              });
          });
      }
    }
  });
</script>
