{% include "getch/page.html" %}
{% include "getch/aboutboo.html" %}

<script type='text/x-template' id='authorpage-template'>
  <page class='authorpage' :open='session.page.authorpage.open' :from='session.page.authorpage.from' @close='session.close_page()'>
    <aboutboo :session='session' type='author' :is_active='session.page.authorpage.open'></aboutboo>
  </page>
</script>


<script>
  Vue.component('authorpage', {
    template: '#authorpage-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    }
  });
</script>
