<style>
  .boopage.vcomp .headerbar-body-trans > .profile {
    width: var(--w-8);
    height: var(--w-8);
    background: none;
  }

  .boopage.vcomp .headerbar-body-trans > .profile > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
  }
</style>

<script type='text/x-template' id='boopage-template'>
  <page2
    class='boopage vcomp'
    :open='session.page.boopage.open'
    :from='session.page.boopage.from'
    :scrolload='scrolload'
    :sticky_trigger_margin='sticky_trigger_margin'
    :onloading='onloading'
    @close='session.close_page()'>

    <template #headerbar-menu>
      <div class='item' @click='follow' v-if='!is_following'>팔로우하기</div>
      <div class='item' @click='see_followers'>팔로워 보기</div>
      <div class='item' @click='goto_feeds' v-if='has_post'>피드 둘러보기</div>
    </template>

    <template #headerbar-body-trans>
      <div class='profile'>
        <img :src='boo.profile.pix' v-if='boo'>
      </div>
    </template>

    <template #headerbar-body-default>
    </template>

    <template #page-body>
      <aboutboo v-if='boo' :boo='boo' :session='session' type='boo' :open='session.page.boopage.open' ref='aboutboo'></aboutboo>
    </template>
  </page2>
</script>


<script>
  Vue.component('boopage', {
    template: '#boopage-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {  }
    },

    computed: {
      boo: function() {
        if (this.session.page.boopage.boo && !this.session.page.boopage.boo.posts) {
          this.$set(this.session.page.boopage.boo, 'posts', {
            contents: undefined,
            univ: {
              own: new Booposts(this.session.page.boopage.boo, 'own')
            }
          });
          this.session.page.boopage.boo.posts.contents = this.session.page.boopage.boo.posts.univ.own;
        }

        return this.session.page.boopage.boo
      },

      scrolload: function() {
        if (this.boo) {
          return {
            obj: this.boo.posts.contents,
            n: 16
          }
        }
      },

      sticky_trigger_margin: function() {
        return document.querySelector('#window').clientWidth * 33 / 100
      },

      boo_onloading: function() {
        if (this.boo) {
          return !this.boo.id
        }
      },

      booposts_onloading: function() {
        if (this.boo && this.boo.posts && this.boo.posts.contents) {
          return this.boo.posts.contents.onloading
        }
      },

      onloading: function() {
        return this.boo_onloading || this.booposts_onloading
      },

      is_following: function() {
        if (this.$refs) {
          return this.$refs.aboutboo.is_following
        }
      },

      has_post: function() {
        if (this.$refs) {
          return this.$refs.aboutboo.postlist_own.length > 0
        }
      }
    },

    methods: {
      see_more: function() {
        alert('더보기')
      },

      follow: function() {
        if (this.$refs) {
          this.$refs.aboutboo.toggle_follow();
        }
      },

      goto_feeds: function() {
        if (this.$refs) {
          const postid = this.$refs.aboutboo.postlist_own[0][0].id;
          this.$refs.aboutboo.open_posts(postid);
        }
      },

      see_followers: function() {
        if (!this.boo.followers) {
          this.$set(this.boo, 'followers', new Followers(this.boo));
        }

        // this.session.open_network(this.boo.followers);
        this.session.open_network('followers', {0:this.boo.followers});
      }
    }
  });
</script>
