<style>
  .loginpage.vcomp {
    width: 100%;
    height: 100%;
    background: white;
    font-size: 12px;
  }

  .loginpage.vcomp > .divider {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid var(--color-dark);
    border-bottom: none;
  }

  .loginpage.vcomp > .section {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loginpage.vcomp > .section.top {
    top: 0;
    background: none;
  }

  .loginpage.vcomp > .section.top > .title {
    text-align: center;
    /* font-size: 12pt; */
  }

  .loginpage.vcomp > .section.top > .sub {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .loginpage.vcomp > .section.top > .login-alert {
    position: absolute;
    bottom: var(--w-4);
    left: 0;
    width: 100%;
    background: none;
    text-align: center;
    font-size: 10px;
    color: #CCCCCC;
  }

  .loginpage.vcomp > .section.top > .sub > .action {
    width: var(--w-40);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    /* font-size: 12pt; */
  }

  .loginpage.vcomp > .section.top > .sub > .action.login-google {
    background: black;
    margin-bottom: var(--w-12);
  }

  .loginpage.vcomp > .section.top > .sub > .action.login-kakao {
    background: #FFE810;
    margin-bottom: 10px;
    /* margin-bottom: var(--w-12); */
    color: black;
  }

  .loginpage.vcomp > .section.top > .sub > .action.login-naver {
    background: #04C75A;
    margin-bottom: 10px;
  }

  .loginpage.vcomp > .section.top > .sub > .action.login-facebook {
    background: #0095F6;
    margin-bottom: var(--w-12);
  }

  .loginpage.vcomp > .section.bottom {
    bottom: 0;
    background: none;
  }

  .loginpage.vcomp > .section.bottom > .sub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .loginpage.vcomp > .section.bottom > .sub > .action {
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    /* font-size: 12pt; */
  }

  .loginpage.vcomp > .section.bottom > .sub > .action.register {
    background: white;
    margin-top: var(--w-12);
    border: 1px solid var(--color-dark);
    opacity: 0;
  }

  .loginpage.vcomp > .section.bottom > .sub > .logo {
    margin-top: var(--w-8);
    width: 45%;
    height: auto;
  }

  .loginpage.vcomp > .section.bottom > .tail {
    position: absolute;
    bottom: calc(var(--w-16) + 10px);
    width: 100%;
    left: 0;
    background: none;
    font-size: 11px;
    color: #CCCCCC;
    text-align: center;
  }

  .loginpage.vcomp > .section.bottom > .tail > .item {
    margin-left: 5px;
    margin-right: 5px;
  }
</style>


{% load socialaccount %}
<script type='text/x-template' id='loginpage-template'>
  <page :open='session.page.loginpage.open' :from='session.page.loginpage.from' @close='session.close_page()'>
    <div class='loginpage vcomp'>
      <div class='section top'>
        <!-- <div class='title'>가입하고 솔직한 패션 조언을 얻으세요.</div> -->
        <div class='sub'>
          <p>가입하고 솔직한 패션 조언을 얻으세요.</p>
          <!-- <div class='action login-google' @click='action_login_google'>구글로 로그인</div> -->
          <div class='action login-kakao' @click='action_login_kakao'>카카오로 로그인</div>
          <div class='action login-naver' @click='action_login_naver'>네이버로 로그인</div>
          <div class='action login-facebook' @click='action_login_facebook'>페이스북으로 로그인</div>
        </div>
        <span class='login-alert'>약관에 동의하고 로그인합니다.</span>
      </div>

      <div class='section bottom' ref='login_frame'>
        <div class='sub'>
          <div class='action register' @click='action_register'>가입하기</div>
          <img class='logo' src='/static/materials/logos/moiber-logo.png'>
        </div>

        <div class='tail'>
          <span class='item' @click='corporate'>소개</span>
          <span class='item' @click='recruit'>채용</span>
          <!-- <span class='item' @click='help'>도움말</span> -->
          <span class='item' @click='policy'>약관</span>
          <span class='item' @click='privacy'>개인정보보호</span>
          <span class='item' @click='contact'>컨텍트</span>
        </div>
      </div>

      <hr class='divider'>
    </div>
  </page>
</script>


<script>
  Vue.component('loginpage', {
    template: '#loginpage-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return {
        facebook_login_url: "{% provider_login_url 'facebook' method='oauth2' %}",
        google_login_url: "{% provider_login_url 'google' method='oauth2' %}",
        kakao_login_url: "{% provider_login_url 'kakao' method='oauth2' %}",
        naver_login_url: "{% provider_login_url 'naver' method='oauth2' %}"
      }
    },

    methods: {
      action_login_facebook: function() {
        window.location.assign(this.facebook_login_url);
      },

      action_login_google: function() {
        // this.session.open_bridge('browser_guide', 'top');
        // return
        window.location.assign(this.google_login_url);
      },

      action_login_kakao: function() {
        window.location.assign(this.kakao_login_url);
        // var win = window.open(this.kakao_login_url, "PopupWin", "width=500,height=600");
        // this.$refs.login_frame.innerHTML = `<iframe src=${this.kakao_login_url} width="100%" height="100%" border="0"></iframe>`;
      },

      action_login_naver: function() {
        window.location.assign(this.naver_login_url);
      },

      action_register: function() {
        // alert('가입하기');
      },

      corporate: function() {
        this.session.open_company('who');
      },

      recruit: function() {
        this.session.open_company('recruit');
      },

      help: function() {
        alert('도움말');
      },

      policy: function() {
        window.open('/policy');
      },

      privacy: function() {
        window.open('/privacy');
      },

      contact: function() {
        window.open('mailto:contact@moiber.com')
      }
    }
  });
</script>
