<style>
  .my.vcomp .page-body {
    background: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .my.vcomp .page-body > .container {
    width: 100%;
    /* height: 100%; */
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<script type='text/x-template' id='my-template'>
  <page
    class='my vcomp'
    :open='session.page.my.open'
    :from='session.page.my.from'
    :hide_close='true'
    :hide_headerbar='true'>

    <template #headerbar-menu>
    </template>

    <template #headerbar-body-trans>
    </template>

    <template #headerbar-body-default>
    </template>

    <template #page-body>
      내옷장 페이지

      <div class='container'>
        <colib></colib>
      </div>
    </template>

  </page>
</script>


<script>
  Vue.component('my', {
    template: '#my-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {}
    }
  });
</script>
