<style>
  .oxer.vcomp {
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
  }

  .oxer.vcomp * {
    font-family: 'Montserrat', sans-serif;
  }

  .oxer.vcomp > .oxkey {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .oxer.vcomp > .oxkey > img {
    position: absolute;
    left: 50%;
    top: var(--w-4);
    height: var(--w-32);
    width: var(--w-32);
    object-fit: contain;
    transform: translateX(-50%);
  }

  .oxer.vcomp > table {
    border-collapse: collapse;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .oxer.vcomp > table td {
    border: 0;
    box-sizing: border-box;
    position: relative;
    height: 50%;
    overflow: hidden;
  }

  .oxer.vcomp > table td.top { }

  .oxer.vcomp > table td .score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }

  .oxer.vcomp .oxkey.devoted,
  .oxer.vcomp > table td .score.devoted {
    color: lightgray
  }

  .oxer.vcomp .show-score-enter-active,
  .oxer.vcomp .show-score-leave-active {
    transition: all 0.2s;
  }

  .oxer.vcomp .show-score-enter,
  .oxer.vcomp .show-score-leave-to {
    top: 100% !important;
  }
</style>

<script type='text/x-template' id='oxer-template'>
  <div class='oxer vcomp'>

    <div class='oxkey' :class='phase'>
      <img :src='ox_src'>
      <div v-if='is_active' style='position:absolute;top:var(--w-20);left:50%;transform:translate(-50%,-50%);font-size:var(--w-20);-webkit-text-stroke:2px white;color:var(--color-dark)'>[[ score ]]</div>
    </div>


    <!-- <table>
      <tbody>
        <tr>
          <td class='top'></td>
        </tr>
        <tr>
          <td class='bottom'>
            <transition name='show-score'>
              <div class='score' :class='phase' v-if='is_active'>[[ score ]]</div>
            </transition>
          </td>
        </tr>
      </tbody>
    </table> -->

  </div>
</script>


<script>
  Vue.component('oxer', {
    template: '#oxer-template',
    delimiters: ['[[', ']]'],
    props: [ 'act', 'vote_state', 'score', 'editable', 'is_active', 'keyvalue' ],
    data: function() {
      return {}
    },

    computed: {
      phase: function() {
        if (this.is_active) {
          if (this.vote_state == this.act) {
            return 'voted'
          } else {
            return 'devoted'
          }
        }
      },

      ox_src: function() {
        if (this.keyvalue=='O' || this.keyvalue=='살') {
          return '/static/materials/icons/moiber_letter_o.png'

        } else {
          return '/static/materials/icons/moiber_letter_x.png'
        }
      }
    }
  });
</script>
