<style>
  .pager {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 4;
    pointer-events: none;
  }

  /* .pager .toggle {
    display: none;
    visibility: hidden;
  }

  .mother {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: all 0.3s ease;
  }

  .mother .child {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: white;
    border: var(--border) solid black;
    pointer-events: auto;
  }

  .mother .child .close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: black;
  }

  .mother .child .close img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
  }

  .pager .toggle:checked + .mother {
    left: -100% !important;
    background: rgba(0,0,0,0.5) !important;
  } */

  /* .pager .toggle.postype-select:checked ~ div.postype-select {
    bottom: 0 !important;
  }

  .pager .toggle.postype-select:checked ~ div.shade {
    background: rgba(0,0,0,0.5) !important;
    pointer-events: auto;
  }

  .pager .postype {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    background: none;
    text-align: center;
    pointer-events: auto;
  }

  .pager .postype.ab {
    left: calc(50% - 70px);
  }

  .pager .postype.ox {
    left: 50%;
  }

  .pager .postype.salmal {
    left: calc(50% + 70px);
  }

  .pager .postype table {
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: 1px solid black;
    background: none;
    margin: 0;
  }

  .pager .postype span.txt {
    background: none;
  } */
</style>


<div class='pager'>
  <div id='loginpage'>
    {% include 'getch/loginpage.html' %}
  </div>

  <div id='mypage'>
    {% include 'getch/mypage.html' %}
  </div>

  <div id='boochooser'>
    {% include 'getch/boochooser.html' %}
  </div>

  <div id='profiler'>
    {% include 'getch/profiler.html' %}
  </div>

  <!-- <input class='toggle postype-select' type='checkbox'>
  <div class='shade' style='transition:0.1s;background:none;width:100%;height:100%;'></div>
  <div class='postype-select' style='position:absolute;bottom:-100px;left:0;width:100%;height:100px;background:white;transition:0.1s;border-top:1px solid black;font-size:10px;'>

    <div class='postype ab' onclick='goto_posting("ab")'>
      <table class='ui unstackable celled table'>
        <tbody>
          <tr><td style='border-bottom:1px solid black;'>A</td></tr>
          <tr><td>B</td></tr>
        </tbody>
      </table>
      <span class='txt'>골라주라</span>
    </div>

    <div class='postype ox' onclick='goto_posting("ox")'>
      <table class='ui unstackable celled table'>
        <tbody>
          <tr><td colspan='2' style='border-bottom:1px solid black;height:20px;'></td></tr>
          <tr>
            <td>O</td>
            <td>X</td>
          </tr>
        </tbody>
      </table>
      <span class='txt'>좋아싫어</span>
    </div>

    <div class='postype salmal' onclick='goto_posting("salmal")'>
      <table class='ui unstackable celled table'>
        <tbody>
          <tr><td colspan='2' style='border-bottom:1px solid black;height:20px;'></td></tr>
          <tr>
            <td>살</td>
            <td>말</td>
          </tr>
        </tbody>
      </table>
      <span class='txt'>살말</span>
    </div>

  </div>

  <div id='posting' class='ab'>
    % include 'getch/posting.html' with type='ab' %}
  </div>

  <div id='posting' class='ox'>
    % include 'getch/posting.html' with type='ox' %}
  </div>

  <div id='posting' class='salmal'>
    % include 'getch/posting.html' with type='salmal' %}
  </div> -->

</div>


<script>
  function close_page(bt) {
    bt.closest('.basepage').querySelector('.toggle').checked = false;
  }

  function goto_boochooser() {
    document.querySelector('#boochooser .toggle').checked = true;
    // $('#boochooser .toggle').prop('checked', true);
  }

  function goto_profiler() {
    document.querySelector('#profiler .toggle').checked = true;
  }

  function goto_posting(type) {
    document.querySelector('#posting.' + type + ' .toggle').checked = true;
  }
</script>
