{% include "getch/pixloader.html" %}
{% include "getch/editext.html" %}
{% include "getch/modal.html" %}

<style>
  .post {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .post .backbone {
    border-collapse: collapse;
  }

  .post .backbone td {
    position: relative;
    padding: 0;
    box-sizing: border-box;
    border: var(--border);
    text-align: center;
    transition: all 0.2s;
  }

  .post .backbone td.full {
    width: var(--s-0);
  }

  .post .backbone td.half {
    width: var(--s-1);
  }

  .post .backbone td.side {
    width: var(--s-menu);
    border-top: none;
    border-bottom: none;
  }

  .post .backbone td.top {
    height: var(--s-0);
  }

  .post .backbone td.bottom {
    border-bottom: none;
    height: calc(var(--s-0) + var(--border-w)/2);
    /* td.bottom의 아래경계선을 지워주면서, 그만큼 높이를 늘렸다 */
  }


  .post .description {
    position: absolute;
    top: 20%;
    left: calc(var(--s-1));
    right: calc(var(--s-menu) + var(--pix-margin));
    pointer-events: none;
    text-align: center;
    /* background: orange; */
  }

  .post .pixlabels .pixlabel {
    position: absolute;
    width: calc(var(--s-1) - var(--pix-margin));
    background: none;
    text-align: center;
    pointer-events: none;
  }

  .post .pixlabels .pixlabel.a {
    bottom: calc(50% + var(--pix-margin) * 2);
    left: var(--pix-margin);
  }

  .post .pixlabels .pixlabel.b {
    top: calc(50% + var(--pix-margin) * 2);
    left: var(--s-1);
  }

  .post span.vs {
    position: absolute;
    background: var(--color-pos);
    color: black;
    font-size: var(--vs-fsize);
    line-height: calc(var(--vs-fsize) + 8px);
    font-weight: bold;
  }

  .post[type='postvoteox'] span.vs {
    bottom: var(--s-1);
    left: calc(var(--s-1) + var(--border-w)/2);
    transform: translate(-50%,50%);
  }

  .post[type='postvoteab'] span.vs {
    top: calc(var(--s-0) + var(--border-w)/2);
    left: calc(var(--s-1) + var(--border-w)/2);
    transform: translate(-50%,-50%);
  }

  .post[type='postvoteox'] .backbone .ox {
    position: absolute;
    top: var(--pix-margin);
    width: calc(100% - var(--pix-margin));
    height: calc(100% - var(--pix-margin)*2);
    color: black;
    background: white;
    font-weight: bold;
    font-size: var(--ox-fsize);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: var(--ox-panel-border-w) solid black;
    font-family: 'Montserrat', sans-serif;
  }

  .post[type='postvoteox'] .backbone .ox.o {
    left: var(--pix-margin);
  }

  .post[type='postvoteox'] .backbone .ox.x {
    right: var(--pix-margin);
    border-left-width: 0;
  }

  .post .scores {
    font-size: 40px;
    opacity: 1;
    transition: opacity 0.2s;
    pointer-events: none;
  }

  .post .scores .score {
    position: absolute;
    background: none;
    transform: translate(-50%,-50%);
    font-family: 'Montserrat', sans-serif;
  }

  .post[type='postvoteox'] .scores .score.devoted {
    color: lightgray;
  }

  .post[type='postvoteox'] .scores .score.vote-0 {
    top: calc(var(--s-0) + var(--s-1) + var(--s-2));
    left: calc(var(--s-1) - (var(--s-1) - var(--pix-margin))/2);
  }

  .post[type='postvoteox'] .scores .score.vote-1 {
    top: calc(var(--s-0) + var(--s-1) + var(--s-2));
    left: calc(var(--s-1) + (var(--s-1) - var(--pix-margin))/2);
  }

  .post[type='postvoteox'] .scores .score.label {
    font-size: calc(var(--pix-margin) * 2);
    top: calc(var(--s-0) + var(--s-1));
    left: calc(var(--s-1) + var(--border-w)/2);
  }

  .post[type='postvoteab'] .scores .score.vote-0 {
    top: calc(var(--s-0) - var(--s-2));
    left: calc(var(--s-2));
  }

  .post[type='postvoteab'] .scores .score.vote-1 {
    top: calc(var(--s-0) + var(--s-2));
    left: calc(var(--s-2));
  }

  .post[type='postvoteab'] .scores .score.label {
    font-size: calc(var(--pix-margin) * 2);
    top: calc(var(--s-0));
    left: calc(var(--s-2));
  }


  .post .modify.button,
  .post .newpost.button {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: calc(var(--s-0) + var(--border-w) - 60px);
    height: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .post .modify.button div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .post .modify.button div.edit-post {
    background: black;
    flex-grow: 1
  }

  .post .modify.button div.edit-post.onedit {
    background: orange;
  }

  .post .modify.button div.delete-post {
    background: var(--color-pos);
    width: 35px;
    margin-left: 5px;
  }


  .post .modify.button div.delete-post img {
    width:20px;
    height: 20px;
    object-fit: contain;
    filter: invert(100%);
  }

  .post .newpost.button {
    background: black;
  }

  .post[type='postvoteab'] .backbone td.devoted img.pix {
    filter: grayscale(1);
    opacity: 0.5;
  }

  .post[type='postvoteox'] .backbone td.devoted .ox {
    color: lightgray;
  }

  .post[type='postvoteox'] .backbone td.devoted .ox div,
  .post[type='postvoteox'] .backbone td.voted .ox div {
    background: white !important;
  }


  .post .show-modify-enter-active,
  .post .show-modify-leave-active,
  .post .show-newpost-enter-active,
  .post .show-newpost-leave-active {
    transition: bottom 0.1s;
  }

  .post .show-modify-enter,
  .post .show-modify-leave-to,
  .post .show-newpost-enter,
  .post .show-newpost-leave-to {
    bottom: -40px !important;
  }
</style>


<script type='text/x-template' id='post-template'>
  <div class='post' :type='post_type' ref='post'>

    <table v-if='is_postvoteox' class='backbone'>
      <tbody>
        <tr>
          <td class='top full' colspan='2'>
            <pixloader field='pix' :pix='post_pix' :editable='on_edit'></pixloader>
          </td>
          <td class='top side'></td>
        </tr>

        <tr>
          <td class='bottom half' act='0' :class='voted_class_0' @click='toggle_vote'>
            <div class='ox o'>
              [[ oxkey_0 ]]
              <div style='position:absolute;bottom:0;left:0;width:100%;height:calc(50% - var(--ox-panel-border-w)/2);background:none;border-top:var(--ox-panel-border-w) solid black;'></div>
            </div>
          </td>
          <td class='bottom half' act='1' :class='voted_class_1' @click='toggle_vote'>
            <div class='ox x'>
              [[ oxkey_1 ]]
              <div style='position:absolute;bottom:0;left:0;width:100%;height:calc(50% - var(--ox-panel-border-w)/2);background:none;border-top:var(--ox-panel-border-w) solid black;'></div>
            </div>
          </td>
          <td class='bottom side'></td>
        </tr>
      </tbody>
    </table>

    <table v-if='is_postvoteab' class='backbone'>
      <tbody>
        <tr>
          <td class='top full' act='0' :class='voted_class_0' @click='toggle_vote'>
            <pixloader field='pix_a' :pix='post_pix_a' :editable='on_edit'></pixloader>
          </td>
          <td class='top side'></td>
        </tr>

        <tr>
          <td class='bottom full' act='1' :class='voted_class_1' @click='toggle_vote'>
            <pixloader field='pix_b' :pix='post_pix_b' :editable='on_edit'></pixloader>
          </td>
          <td class='bottom side'></td>
        </tr>
      </tbody>
    </table>

    <div class='author menublock' @click='session.open_authorpage()'>
      <img class='fit' :src='post_boo_profile_pix'>
    </div>

    <div class='scores' v-show='on_voted'>
      <div class='score vote-0' :class='voted_class_0'>[[ post_nvotes_up ]]</div>
      <div class='score vote-1' :class='voted_class_1'>[[ post_nvotes_down ]]</div>
      <div class='score label'>SCORE</div>
    </div>

    <div class='description' v-show='!on_voted'>
      <editext ref='post_text' :rawtext='post_text' :header='"@" + post_boo_nick' :editable='on_edit' placeholder='COMMENT HERE'></editext>
    </div>

    <div class='pixlabels' v-if='is_postvoteab' v-show='!on_voted'>
      <div class='pixlabel a'>
        <editext ref='post_pixlabel_a' :rawtext='post_pixlabel_a' :editable='on_edit' placeholder='LABELING A'></editext>
      </div>
      <div class='pixlabel b'>
        <editext ref='post_pixlabel_b' :rawtext='post_pixlabel_b' :editable='on_edit' placeholder='LABELING B'></editext>
      </div>
    </div>

    <span class='vs' v-show='!on_voted'>VS</span>

    <transition name='show-modify'>
      <div class='modify button' v-if='is_mypost'>
        <div class='edit-post' :class='{ onedit: on_edit }' @click='toggle_edit'>[[ edit_button_text ]]</div>
        <div class='delete-post' @click='delete_post'>
          <img src='/static/materials/icons/delete.png'>
        </div>
      </div>
    </transition>

    <transition name='show-newpost'>
      <div class='newpost button' v-if='!post' @click='save_post'>SAVE NEWPOST</div>
    </transition>

    <modal :pop='on_process' name='processing'></modal>
    <modal :pop='on_delete' name='deleting' @delete='delete_post_really($event)'></modal>
  </div>
</script>


<script>
  Vue.component('post', {
    template: '#post-template',
    delimiters: ['[[', ']]'],
    props: ['post', 'session', 'type'],

    data: function() {
      return {
        on_edit: (this.post ? false : true),
        on_process: false,
        on_delete: false
      }
    },

    computed: {
      is_postvoteox: function() {
        return (this.post_type == 'postvoteox')
      },

      is_postvoteab: function() {
        return (this.post_type == 'postvoteab')
      },

      post_type: function() {
        if (this.post) {
          return this.post.type
        } else {
          return this.type
        }
      },

      post_pix: function() {
        try { return this.post.pix }
        catch(e) { return '' }
      },

      post_pix_a: function() {
        try { return this.post.pix_a }
        catch(e) { return '' }
      },

      post_pix_b: function() {
        try { return this.post.pix_b }
        catch(e) { return '' }
      },

      post_pixlabel_a: function() {
        try { return this.post.pixlabel_a }
        catch(e) { return '' }
      },

      post_pixlabel_b: function() {
        try { return this.post.pixlabel_b }
        catch(e) { return '' }
      },

      post_boo_profile_pix: function() {
        if (this.post) {
          return this.post.boo.profile.pix
        } else {
          return this.session.auth.boo.profile.pix
        }
      },

      post_boo_nick: function() {
        if (this.post) {
          return this.post.boo.nick
        } else {
          return this.session.auth.boo.nick
        }
      },

      post_text: function() {
        if (this.post) {
          return this.post.text //(this.post.text ? this.post.text : '')
        } else {
          return ''
        }
      },

      post_nvotes_up: function() {
        if (this.post) {
          return this.post.nvotes_up
        } else {
          return 0
        }
      },

      post_nvotes_down: function() {
        if (this.post) {
          return this.post.nvotes_down
        } else {
          return 0
        }
      },

      oxkey_0: function() {
        if (this.post) {
          if (this.post.keys == 'OX') {
            return 'O'
          } else if (this.post.keys == 'SM') {
            return '살'
          }

        } else {
          return 'O'
        }
      },

      oxkey_1: function() {
        if (this.post) {
          if (this.post.keys == 'OX') {
            return 'X'
          } else if (this.post.keys == 'SM') {
            return '말'
          }

        } else {
          return 'X'
        }
      },

      vote_state: function() {
        if (this.session.auth && this.post) {
          return this.session.auth.has_voted_as(this.post.id)
        } else {
          return -1
        }
      },

      voted_class_0: function() {
        return {
          voted: (this.vote_state == 0) && this.is_cpost && !this.on_edit,
          devoted: (this.vote_state == 1) && this.is_cpost && !this.on_edit
        }
      },

      voted_class_1: function() {
        return {
          voted: (this.vote_state == 1) && this.is_cpost && !this.on_edit,
          devoted: (this.vote_state == 0) && this.is_cpost && !this.on_edit
        }
      },

      is_cpost: function() {
        if (this.session.cpost && this.post) {
          return (this.session.cpost.id == this.post.id)

        } else {
          return false
        }
      },

      is_mypost: function() {
        return this.session.auth && this.is_cpost && (this.session.auth.boo.id == this.post.boo.id)
      },

      edit_button_text: function() {
        if (this.on_edit) {
          return 'ON EDITING'
        } else {
          return 'EDIT'
        }
      },

      on_voted: function() {
        return this.post && (this.vote_state != -1)
      }
    },

    watch: {
      on_edit: function(_new, _old) {
        if (_new) {
          this.session.swiper.detachEvents()

        } else if (_old) {
          this.session.swiper.attachEvents();
          this.save_post();
        }
      },

      on_delete: function(_new, _old) {
        if (_new) {
          this.session.swiper.detachEvents()

        } else if (_old) {
          this.session.swiper.attachEvents();
        }
      }
    },

    methods: {
      toggle_vote: function(event) {
        if (this.session.auth && this.session.mode.on=='journey' && !this.on_edit) {
          const act = Number(event.currentTarget.getAttribute('act'));

          if (this.vote_state==act) {
            this.rescore(act, -1);
            this.session.auth.vote(this.post.id, -1);

          } else {
            this.rescore(this.vote_state, act);
            this.session.auth.vote(this.post.id, act);
          }
        }
      },

      rescore: function(_old, _new) {
        if (_old==-1 && _new==0) {
          this.post.nvotes_up += 1;

        } else if (_old==-1 && _new==1) {
          this.post.nvotes_down += 1;

        } else if (_old==0 && _new==-1) {
          this.post.nvotes_up -= 1;

        } else if (_old==1 && _new==-1) {
          this.post.nvotes_down -= 1;

        } else if (_old==0 && _new==1) {
          this.post.nvotes_up -= 1;
          this.post.nvotes_down += 1;

        } else if (_old==1 && _new==0) {
          this.post.nvotes_up += 1;
          this.post.nvotes_down -= 1;
        }
      },

      toggle_edit: function() {
        this.on_edit = !this.on_edit;
      },


      show_processing: function() {
        this.on_process = true;
      },

      hide_processing: function() {
        this.on_process = false;
      },

      show_deleting: function() {
        this.on_delete = true;
        this.session.swiper.detachEvents()
      },

      hide_deleting: function() {
        this.on_delete = false;
        this.session.swiper.attachEvents()
      },

      delete_post: function() {
        this.show_deleting();
      },

      delete_post_really: function(how) {
        this.hide_deleting();

        if (how==1) {
          const self = this;
          fetch(`post/${this.post.id}/delete`)
            .then(res => res.json())
            .then(js => {
              console.log(js);
            });

          self.session.delete_cpost();
        }
      },

      save_post: function() {
        // const post = this.$refs.post;
        // const pixloaders = post.querySelectorAll('input[type="file"]');
        const pixloaders = this.$el.querySelectorAll('input[type="file"]');
        const formdata = new FormData();

        // text가 바뀌는 경우
        // 참고: console.log("")로 하면 <empty string>이라고 나온다 (이걸로 한참 헤맴)

        const _post_text = this.$refs.post_text.get();
        if (_post_text) {
          formdata.append('text', _post_text);
        }

        if (this.$refs.post_pixlabel_a) {
          const _post_pixlabel_a = this.$refs.post_pixlabel_a.get();
          if (_post_pixlabel_a) {
            formdata.append('pixlabel_a', _post_pixlabel_a);
          }
        }

        if (this.$refs.post_pixlabel_b) {
          const _post_pixlabel_b = this.$refs.post_pixlabel_b.get();
          if (_post_pixlabel_b) {
            formdata.append('pixlabel_b', _post_pixlabel_b);
          }
        }

        // pix가 선택된 경우
        pixloaders.forEach(input => {
          if (input.files.length > 0) {
            formdata.append(input.getAttribute('field'), input.files[0]);
            input.value = '';
          }
        });

        if (formdata.has('text') | formdata.has('pix') | formdata.has('pix_a') | formdata.has('pix_b') | formdata.has('pixlabel_a') | formdata.has('pixlabel_b')) {
          formdata.append('csrfmiddlewaretoken', '{{csrf_token}}');
          formdata.append('type', this.post_type);

          // 포스트를 수정하는 경우
          if (this.post) {
            formdata.append('post_id', this.post.id);

          } else {
            this.show_processing();
          }

          const self = this;
          fetch('post/save/', { method: 'POST', body: formdata })
            .then(res => res.json())
            .then(js => {
              console.log(js)
              self.hide_processing();

              if (js.success && js.mode=='created') {
                const post = JSON.parse(js.post);
                console.log(post);
                self.session.push_post(post);
                self.session.close_page();
              }
            });
        }
      }
    }

  });
</script>
