<style>
  .post {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .post .backbone {
    border-collapse: collapse;
  }

  .post .backbone td{
    position: relative;
    padding: 0;
    box-sizing: border-box;
    border: var(--border-w) solid black;
    text-align: center;
  }

  .post .backbone td.full {
    width: var(--s-0);
  }

  .post .backbone td.half {
    width: var(--s-1);
  }

  .post .backbone td.side {
    width: var(--s-menu);
    border-top: none;
    border-bottom: none;
  }

  .post .backbone td.top {
    height: var(--s-0);
  }

  .post .backbone td.bottom {
    border-bottom: none;
    height: calc(var(--s-0) + var(--border-w)/2);
    /* td.bottom의 아래경계선을 지워주면서, 그만큼 높이를 늘렸다 */
  }

  .post .backbone img.pix {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .post .text {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 50%;
    transform: translate(0,-50%);
    font-size: 12px;
    line-height: 15px;
  }

  .post .text span {
    background: black;
    color: white;
    line-height: 15px;
  }

  .post span.vs {
    position: absolute;
    background: var(--color-pos);
    color: black;
    font-size: var(--vs-fsize);
    line-height: calc(var(--vs-fsize) + 8px);
    font-weight: bold;
  }

  .post.postvoteox span.vs {
    bottom: var(--s-1);
    left: calc(var(--s-1) + var(--border-w)/2);
    transform: translate(-50%,50%);
  }

  .post.postvoteab span.vs {
    top: calc(var(--s-0) + var(--border-w)/2);
    left: calc(var(--s-1) + var(--border-w)/2);
    transform: translate(-50%,-50%);
  }

  .post.postvoteox .backbone .ox {
    width: 100%;
    height: 100%;
    color: black;
    background: none;
    font-weight: bold;
    font-size: var(--ox-fsize);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: inline-block; */
  }

  .post input.vote-toggler {
    /* display: none;
    visibility: hidden; */
  }

  .post input.vote-toggler[id^='o']:checked ~ .backbone label[for^='o'] .ox {
    background: var(--color-pos);
  }

  .post input.vote-toggler[id^='x']:checked ~ .backbone label[for^='x'] .ox {
    background: var(--color-neg);
  }

  .post input.vote-toggler[id^='a']:checked ~ .backbone label[for^='b'] img,
  .post input.vote-toggler[id^='b']:checked ~ .backbone label[for^='a'] img {
    filter: grayscale(1);
  }

  .post .scores {
    font-size:40px;
  }

  .post .scores .score {
    position: absolute;
    background: lightpink;
    transform: translate(-50%,-50%);
  }

  .post .scores .score.up {
    top: calc(var(--s-0) + 50px);
    left: calc(var(--s-1) + var(--border-w)/2 - var(--s-1)/2);
  }

  .post .scores .score.down {
    top: calc(var(--s-0) + 50px);
    left: calc(var(--s-1) + var(--border-w)/2 + var(--s-1)/2);
  }
</style>

{% load ctags %}
{% with voted=post|voted:user %}

<div class='post {{post.type}}'>
  {% if post.type == 'postvoteox' %}
  <input id='o-{{post.pk}}' class='vote-toggler' type="radio" name='vote-{{post.pk}}' {% if voted == 0 %}checked{% endif %}>
  <input id='x-{{post.pk}}' class='vote-toggler' type="radio" name='vote-{{post.pk}}' {% if voted == 1 %}checked{% endif %}>

  <table class='backbone'>
    <tbody>
      <tr>
        <td class='top full' colspan='2'><img class='pix' src='{{post.pix.url}}'></td>
        <td class='top side'></td>
      </tr>

      <tr>
        <td class='bottom half'><label for='o-{{post.pk}}' onclick='deselect(this)'><div class='ox'>O</div></label></td>
        <td class='bottom half'><label for='x-{{post.pk}}'><div class='ox'>X</div></label></td>
        <td class='bottom side'></td>
      </tr>
    </tbody>
  </table>


  {% elif post.type == 'postvoteab' %}
  <input id='a-{{post.pk}}' class='vote-toggler' type="radio" name='vote-{{post.pk}}' {% if voted == 0 %}checked{% endif %}>
  <input id='b-{{post.pk}}' class='vote-toggler' type="radio" name='vote-{{post.pk}}' {% if voted == 1 %}checked{% endif %}>

  <table class='backbone'>
    <tbody>
      <tr>
        <td class='top full'><label for='a-{{post.pk}}'><img class='pix' src='{{post.pix_a.url}}'></label></td>
        <td class='top side'></td>
      </tr>

      <tr>
        <td class='bottom full'><label for='b-{{post.pk}}'><img class='pix' src='{{post.pix_b.url}}'></label></td>
        <td class='bottom side'></td>
      </tr>
    </tbody>
  </table>
  {% endif %}


  <div class='author menublock'>
    <img class='fit' src={{post.boo.profile.pix.url}}>
  </div>

  <div class='text'>
    <span>@{{post.boo.nick}}</span><br>
    <span>{{post.text|linebreaksbr}}</span>
  </div>

  <div class='scores'>
    <div class='score up'>{{post.num_vote_up}}</div>
    <div class='score down'>{{post.num_vote_down}}</div>
  </div>

  <span class='vs'>VS</span>
</div>

{% endwith %}

<script>
  // function deselect(label) {
  //   let radio_id = label.getAttribute('for');
  //   let radio = document.querySelector('#' + radio_id);
  //   if (radio.checked) {
  //     console.log('checked')
  //   } else {
  //     console.log('unchecked')
  //   }
  //   return false
  // }
</script>
