<style>
  .recruit.vcomp .page-body {
    background: white;
  }

  .recruit.vcomp .page-body > .container {
    width: 100%;
    /* height: 200px; */
    margin-top: var(--w-16);
    margin-bottom: var(--w-20);
    background: none;
    padding-left: var(--w-6);
    padding-right: var(--w-6);
    box-sizing: border-box;
  }

  .recruit.vcomp .page-body > .container > .section {
    font-size: 13px;
    white-space: pre-line;
  }

  .recruit.vcomp .page-body > .container > .section > .text {
    margin-top: var(--w-15);
    margin-bottom: var(--w-18);
    padding-left: var(--w-5);
    padding-right: var(--w-5);
    text-align: center;
    line-height: 1.5;
  }

  .recruit.vcomp .page-body > .container > .section > img {
    width: 100%;
    height: auto;
  }

  .recruit.vcomp .page-body > .container > .section > .tail {
    width: 100%;
    background: none;
    font-size: 11px;
    color: #CCCCCC;
    text-align: center;
    margin-bottom: 100px;
  }

  .recruit.vcomp .page-body > .container > .section > .tail > .item {
    margin-left: 5px;
    margin-right: 5px;
  }

  .recruit.vcomp .page-body > .container > .section .action {
    width: 75px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: var(--color-point);
    border: 2px solid var(--color-point);
    color: white;
    margin-top: 3px;
    font-size: 12px;
  }

  .recruit.vcomp .page-body > .container > .section > .position-category {
    font-size: 14px;
  }
</style>

<script type='text/x-template' id='recruit-template'>
  <page
    class='recruit vcomp'
    :order='session.page.recruit.order'
    :open='session.page.recruit.open'
    :from='session.page.recruit.from'
    :hide_menu='true'
    @close='session.close_page()'>

    <template #headerbar-body-trans>
      <span style='font-size:20px;font-weight:bold'>채용</span>
    </template>

    <template #headerbar-body-default>
      <span style='font-size:20px;font-weight:bold'>채용</span>
    </template>

    <template #page-body>
      <div class='container'>
        <div ref='upmost'></div>

        <div class='section'>
          <img src='/static/materials/pages/about4.png'>

          <br><br><br><br>
          <p class='position-category'>
            <div><u>기획 및 마케팅 직무</u></div>
            <p @click='goto_recruit("planner_0")'>
              <b>서비스 기획자(정규직)</b> 서울 서초구
              <span class='action'><b>보러가기</b></span>
            </p>
          </p>


          <p class='position-category' style='margin-top:30px;'>
            <div><u>디자인 및 사용자경험 직무</u></div>
            <p @click='goto_recruit("contents_designer_0")'>
              <b>콘텐츠 디자이너(정규직)</b> 서울 서초구
              <span class='action'><b>보러가기</b></span>
            </p>
          </p>


          <p class='position-category' style='margin-top:30px;'>
            <div><u>개발 직무</u></div>
            <p @click='goto_recruit("frontend_developer_junior_0")'>
              <b>프론트앤드 개발자(정규직)</b> 서울 서초구
              <span class='action'><b>보러가기</b></span>
            </p>

            <p @click='goto_recruit("developer_senior_0")'>
              <b>데이터 사이언티스트(정규직)</b> 서울 서초구 [채용완료]
              <span class='action'><b>보러가기</b></span>
            </p>
          </p>

        </div>
      </div>
    </template>

  </page>
</script>


<script>
  Vue.component('recruit', {
    template: '#recruit-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    },

    // watch: {
    //   'session.page.about.section': function() {
    //     this.goto_upmost();
    //   }
    // },

    // computed: {
    //   is_who: function() {
    //     return this.session.page.about.section == 'who'
    //   },
    //
    //   is_recruit: function() {
    //     return this.session.page.about.section == 'recruit'
    //   },
    //
    //   title: function() {
    //     if (this.is_who) {
    //       return '소개'
    //
    //     } else if (this.is_recruit) {
    //       return '채용'
    //     }
    //   }
    // },

    methods: {
      // goto_upmost: function() {
      //   if (this.$refs) {
      //     this.$refs.upmost.scrollIntoView({behavior: 'smooth', block: 'end', inline: 'nearest'});
      //   }
      // },

      goto_recruit: function(position) {
        this.session.open_infoboard(position);
      }
    }
  });
</script>
