<style>
  .close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: black;
  }

  .close img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
  }

  .login-bt {
    box-sizing: border-box;
    width: 100%;
    border: var(--border) solid black;
    padding: 10px;
    color: white;
    font-size: 11px;
  }

  .fb.login-bt {
    background: rgb(46,117,182);
    margin-bottom: 20px;
  }

  .google.login-bt {
    background: black;
  }

  #userinfo {
    background: none;
    position: absolute;
    top: calc(var(--border)*(-1));
    left: calc(var(--border)*(-1));
    width: var(--width);
    /* bottom: -5px; */
    border-radius: 0;
    margin: 0;
    border: var(--border) solid black;
  }

  #userinfo td {
    width: 25%;
    padding-top: 25%;
  }

  #userinfo tr:not(:last-child) td {
    border-bottom: var(--border) solid black;
  }

  #userinfo a.logout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  #userinfo .follow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgb(255,132,9);
    border-bottom: var(--border) solid black;
  }

  #userinfo .follow span {
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
  }

  #userinfo .fa-barcode {
    font-size: 50px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: none;
    transform: translate(-50%,0) scale(1,0.5);
    transform-origin: center bottom;
    color: rgb(255,132,9)
  }
</style>


<div style='position:absolute;top:0;left:0;height:100%;width:100%;background:white;'>
  {% if author %}
    <table id='userinfo' class='ui unstackable celled four column table'>
      <tbody>
        <tr>
          <td></td>
          <td>
            <div class='follow'>
              <span>FOLLOW</span>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <img src="{{ author }}" style="position:absolute;top:0;left:0;object-fit:cover;width:100%;height:100%;">
          </td>
          <td>
            <i class="fa fa-barcode"></i>
          </td>
          <td>
          </td>
        </tr>

        <tr>
          <td>
            <div style='position:absolute;top:50%;left:0;width:400%;background:none;z-index:3;transform:translate(0,-50%);'>
              <span style='background:black;color:white;'>@sexyismylife</span><br>
              <span style='background:black;color:white;'>짜증대마녀. 패덬 코덬 스니커즈마니야.</span><br>
              <span style='background:black;color:white;'>같이의 가치 얍얍얍.</span>
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
        </tr>

        <tr>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
        </tr>

        <tr>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
        </tr>

      </tbody>
    </table>



  {% else %}
    {% if user.is_authenticated %}
    <table id='userinfo' class='ui unstackable celled four column table'>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class='logout' href="{% url 'account_logout' %}"><span style='background:black;color:white;'>LOGOUT</span></a>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="position:absolute;top:0;left:0;object-fit:cover;width:100%;height:100%;">
          </td>
          <td>
            <i class="fa fa-barcode"></i>
          </td>
          <td>
          </td>
        </tr>

        <tr>
          <td>
            <div style='position:absolute;top:50%;left:0;width:400%;background:none;z-index:3;transform:translate(0,-50%);'>
              <span style='background:black;color:white;'>@sexyismylife</span><br>
              <span style='background:black;color:white;'>짜증대마녀. 패덬 코덬 스니커즈마니야.</span><br>
              <span style='background:black;color:white;'>같이의 가치 얍얍얍.</span>
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
        </tr>

        <tr>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
        </tr>

        <tr>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
          <td style='padding-top:50%;'></td>
        </tr>

      </tbody>
    </table>

    {% else %}
    {% load socialaccount %}
    <div style="margin-top:30vh;font-size:50px;font-weight:bold;font-family: 'Source Code Pro', monospace;">
      side B
    </div>

    <div style='position:absolute;background:lightyellow;width:100%;left:0;bottom:0;padding:30px;'>
      <div style='background:none;width:100%;margin-bottom:5px;text-align:right;'>
        <i class="fa fa-barcode" style='font-size:50px;transform:scale(1,0.5);transform-origin:right bottom;margin-right:2px;'></i>
      </div>

      <a href="{% provider_login_url 'facebook' method='oauth2' %}">
        <div class='fb login-bt'>LOGIN WITH FACEBOOK</div>
      </a>

      <a href="{% provider_login_url 'google' method='oauth2' %}">
        <div class='google login-bt'>LOGIN WITH GOOGLE</div>
      </a>

      <div style='font-size:8px;text-align:left;padding:10px;'>
        <p>
          BY CONTINUING, YOU AGREE TO GETCH'S <strong>TERMS OF SERVICE</strong> AND <strong>PRIVACY POLICY</strong>
        </p>
      </div>
    </div>
    {% endif %}
  {% endif %}

  <div class='close'>
    <img src='/static/materials/icons/times.png'>
  </div>
</div>
