<style>
  .scorekit.vcomp {
    position: relative;
    width: 100%;
    background: white;
  }

  .scorekit.vcomp * {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  .scorekit.vcomp > .loginplz {
    position: relative;
    width: 100%;
    height: calc(var(--s-menu) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }

  .scorekit.vcomp > .loginplz > div {
    width: 40%;
    height: 40%;
    background: black;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scorekit.vcomp > .scores {
    position: relative;
    width: 100%;
    height: calc(var(--s-menu) * 2);
    background: white;
    font-size: calc(var(--s-menu) * 1);
  }

  .scorekit.vcomp > .scores > .score {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
  }

  .scorekit.vcomp > .scores > .score.is_focused {
    opacity: 1;
    text-decoration: underline;
  }

  .scorekit.vcomp > .scores > .score.up {
    left: 0;
    /* background: lightpink; */
  }

  .scorekit.vcomp > .scores > .score.down {
    right: 0;
    /* background: lightyellow; */
  }

  .scorekit.vcomp > .scores > .label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: calc(var(--s-menu) * 0.3);
    transform: translate(-50%, -50%);
  }

  .scorekit.vcomp > .scores > .score > .yourpick {
    position: absolute;
    top: 25%;
    left: 50%;
    color: red;
    font-size: calc(var(--s-menu) * 0.2);
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .scorekit.vcomp > .scores > .score.is_yourpick > .yourpick {
    opacity: 1;
  }

  .scorekit.vcomp > .voters-section {
    position: relative;
    width: 100%;
    min-height: calc(var(--s-menu) * 1);
    background: none;
  }

  .scorekit.vcomp > .voters-section > .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scorekit.vcomp > .voters-section > .voters {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    transition: opacity 0.5s;
  }

  .scorekit.vcomp > .voters-section > .voters.loading {
    opacity: 0.5;
  }

  .scorekit.vcomp > .voters-section > .voters > .voter {
    position: relative;
    width: calc(100% / 7);
    padding-top: calc(100% / 7);
    background: none;
  }

  .scorekit.vcomp > .voters-section > .voters > .voter > img {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    object-fit: cover;
    background: white;
  }


  /* .scorekit.vcomp .voters-list-leave-active  */
  .scorekit.vcomp .voters-list-enter-active {
    transition: all 1s;
    position: absolute;
  }

  .scorekit.vcomp .voters-list-enter,
  .scorekit.vcomp .voters-list-leave-to {
    opacity: 0;
    transform: translateY(var(--s-menu));
  }

  .scorekit.vcomp .voters-list-move {
    transition: all 0.5s;
  }
</style>


<script type='text/x-template' id='scorekit-template'>
  <div class='scorekit vcomp'>

    <template v-if='boo'>
      <div class='scores'>
        <div class='score up' :class='score_0_class' @click='focus_this(0)'>
          <div class='yourpick'>your pick</div>
          [[ post.nvotes_up ]]
        </div>

        <div class='score down' :class='score_1_class' @click='focus_this(1)'>
          <div class='yourpick'>your pick</div>
          [[ post.nvotes_down ]]
        </div>

        <div class='label'>SCORE</div>
      </div>

      <div class='voters-section'>
        <transition-group tag='div' class='voters' :class='{loading:onloading}' name='voters-list' v-show='focused==0'>
          <div class='voter' v-for='(pix, boo_id) in voters[0]' :key='pix' @click='session.open_boopage(boo_id)'>
            <img :src='pix'>
          </div>
        </transition-group>

        <transition-group tag='div' class='voters' :class='{loading:onloading}' name='voters-list' v-show='focused==1'>
          <div class='voter' v-for='(pix, boo_id) in voters[1]' :key='pix' @click='session.open_boopage(boo_id)'>
            <img :src='pix'>
          </div>
        </transition-group>

        <scale-loader class='spinner' :loading='onloading'></scale-loader>
      </div>
    </template>

    <template v-else>
      <div class='loginplz' @click='session.open_loginpage()'>
        <div>See Result</div>
      </div>
    </template>

  </div>
</script>


<script>
  Vue.component('scorekit', {
    template: '#scorekit-template',
    delimiters: ['[[', ']]'],
    props: [ 'session', 'post' ],
    data: function() {
      return {
        focused: 0, // 디폴트
        post_id: undefined,
        voters: { 0:{}, 1:{} },
        onloading: false
      }
    },

    watch: {
      'session.page.comments.open': {
        handler: function(_new, _old) {
          if (_new) {
            if (this.post.id!=this.post_id) {
              this.post_id = this.post.id;
              this.load_voters();
            }

            if (this.yourpick != -1) {
              this.focused = this.yourpick;
            }
          }
        }, immediate: true
      },

      yourpick: {
        handler: function(_new, _old) {
          if (this.boo) {
            if (_old==-1) {
              this.$set(this.voters[_new], this.boo.id, this.boo.profile.pix);

            } else if (_new==-1) {
              this.$delete(this.voters[_old], this.boo.id);

            } else {
              this.$delete(this.voters[_old], this.boo.id);
              this.$set(this.voters[_new], this.boo.id, this.boo.profile.pix);
            }


            if (_new==-1) {
              this.$delete(this.post.ivoters, this.boo.id);

            } else {
              this.$set(this.post.ivoters, this.boo.id, _new);
            }
          }

        }//, immediate: true
      }
    },

    computed: {
      boo: function() {
        if (this.session.auth) {
          return this.session.auth.boo
        }
      },

      yourpick: function() {
        if (this.session.auth) {
          return this.session.auth.has_voted_as(this.post.id)
        } else {
          return -1
        }
      },

      score_0_class: function() {
        return {
          is_yourpick: this.yourpick == 0,
          is_focused: this.focused == 0
        }
      },

      score_1_class: function() {
        return {
          is_yourpick: this.yourpick == 1,
          is_focused: this.focused == 1
        }
      },
    },

    methods: {
      focus_this: function(act) {
        this.focused = act;
      },

      load_voters: function() {
        this.onloading = true;
        this.voters[0] = {};
        this.voters[1] = {};

        const promises = Object.entries(this.post.ivoters).map(([boo_id, act]) => this.load_voter(boo_id, act));
        Promise.all(promises).then(results => {
          this.onloading = false;
        });
      },

      load_voter: function(boo_id, act) {
        return fetch(`/boo/${boo_id}/profile/pix/`)
                .then(x => x.json())
                .then(js => {
                  this.$set(this.voters[act], boo_id, js.pix);
                })
      }
    }
  });
</script>
