<style>
  .searcher.vcomp {
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: auto;
    -ms-overflow-style: none; /*IE 11*/
    scrollbar-width: none; /*Firefox 64*/
  }

  .searcher.vcomp > .top-header {
    position: fixed;
    top: 0;
    width: var(--width);
    height: var(--w-16);
    background: white;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searcher.vcomp > .top-header > .search-button {
    background: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--w-10);
    right: var(--w-2);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .searcher.vcomp > .top-header > .search-button > img {
    width: var(--w-4);
    /* height: var(--w-5); */
    height: auto;
  }

  .searcher.vcomp > .top-header > .searchbar {
    position: absolute;
    top: 0;
    left: 12%;
    width: 76%;
    height: 100%;
    /* transform: translate(-50%,-50%); */
    font-size: 13px;
    font-weight: bold;
    /* background: lightblue; */
    /* padding: 5px; */
    /* border-radius: 50px; */
    text-align: center;
    border: 0;
    /* box-shadow: inset 0.5px 0.5px 2px rgb(0 0 0 / 10%); */
    box-sizing: border-box;
    padding: 0;
  }

  .searcher.vcomp > .top-header > .searchbar:focus {
    outline: none;
  }

  .searcher.vcomp > .top-header > .searchbar::placeholder {
    font-weight: normal;
    color: lightgray;
  }

  .searcher.vcomp > .contents {
    position: relative;
    width: 100%;
    margin-top: var(--w-16);
  }

  .searcher.vcomp > .spinner {
    position: fixed;
    bottom: var(--w-16);
  }
</style>

<script type='text/x-template' id='searcher-template'>
  <page :open='session.page.searcher.open' :from='session.page.searcher.from' @close='session.close_page()'>
    <div class='searcher vcomp'>

      <div class='contents'>
        <postlibrary
          :postlist='postlist'
          type='grid'
          @open_posts='backto_posts($event)'
        ></postlibrary>
      </div>

      <div class='top-header'>
        <div class='search-button' @click='run_search'>
          <img src='/static/materials/icons/search.png'>
        </div>

        <input class='searchbar' v-model.trim='keywords' @keyup.enter='run_search' placeholder='검색어를 입력하세요' spellcheck="false" ref='input'>
      </div>

      <bar-loader class='spinner' :loading='on_searching' :width='loader_width' :height='1' color="#D0021B"></bar-loader>
    </div>
  </page>
</script>


<script>
  Vue.component('searcher', {
    template: '#searcher-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        keywords: ''
      }
    },

    watch: {
      'session.page.searcher.open': function(_new, _old) {
        if (_new) {
          if (this.$refs) {
            this.fix_window_width();
            this.$nextTick(() => this.$refs.input.focus());
          }

        } else {
          if (this.$refs) {
            this.release_window_width();
          }
        }
      }
    },

    computed: {
      searchposts: function() {
        return this.session.page.posts.univ.search
      },

      postlist: function() {
        if (this.searchposts) {
          return this.searchposts.list.sort((a,b) => a.order - b.order)

        } else {
          return []
        }
      },

      on_searching: function() {
        if (this.searchposts) {
          return this.searchposts.onloading

        } else {
          return false
        }
      },

      loader_width: function() {
        return document.querySelector('#window').clientWidth
      },

      // postlist_rearranged: function() {
      //   const _postlist = this.postlist
      //   _postlist.sort((a,b) => a.order - b.order);
      //
      //   const _plist = _.groupBy(_postlist, post => post.type);
      //   const _ab = _plist.postvoteab ? _plist.postvoteab : [];
      //   const _plist_ox = _plist.postvoteox ? _plist.postvoteox : [];
      //   const _plist_qa = _plist.postqa ? _plist.postqa : [];
      //   const _oxqa = _plist_ox.concat(_plist_qa).sort((a,b) => a.order - b.order);
      //
      //   const plist_oxqa = new Array(Math.ceil(_oxqa.length / 2)).fill().map(_ => _oxqa.splice(0, 2));
      //   const plist_ab = _ab.map(_ => [_]);
      //
      //   return plist_ab.concat(plist_oxqa).sort((a,b) => a[0].order - b[0].order)
      // },
    },

    methods: {
      run_search: function() {
        if (this.$refs) {
          this.$refs.input.blur();
        }

        this.session.page.posts.univ.search = new SearchPosts(this.keywords);
        dataLayer.push({
          'event': 'search',
          'keywords': this.keywords
        });
      },

      backto_posts_old: function(idx) {
        this.session.page.posts.contents = this.searchposts;
        // this.session.page.posts.contents = this.session.page.posts.univ.history;

        // const selected = this.postlist[idx];
        // const where = this.session.page.posts.swiper.realIndex + 1;
        // this.session.page.posts.contents.list.splice(where, 0, selected);
        // this.session.page.posts.swiper.slideTo(where, 1, false);
        this.session.page.posts.swiper.slideTo(idx, 1, false);
        this.session.close_pages_all();
      },

      backto_posts: function(postid) {
        this.session.page.posts.contents = this.searchposts;
        const idx = _.findIndex(this.searchposts.list, ['id', postid]);
        this.session.page.posts.swiper.slideTo(idx, 1, false);
        this.session.close_pages_all();
      },

      fix_window_width: function() {
        const w = document.querySelector('#window').clientWidth;
        document.documentElement.style.setProperty('--width', w + 'px');
      },

      release_window_width: function() {
        document.documentElement.style.setProperty('--width', 'min(100vw, calc(100vh * 11 / 16))');
      }
    }
  });
</script>
