<style>
  .home.vcomp .page-body {
    background: lightpink;
    padding-top: 600px;
  }
</style>


<script type='text/x-template' id='home-template'>
  <page
    class='home vcomp'
    :order='session.page.home.order'
    :open='session.page.home.open'
    :from='session.page.home.from'
    :hide_close='true'
    @scroll='scroll'>

    <template #page-body>
      <div @click.stop='load_pix'>
        <input type="file" name="image" accept="image/*" style='display:none' @change='imagize' ref='pixinput'>
        업로드하기
      </div>
    </template>

  </page>
</script>


<script>
  Vue.component('home', {
    template: '#home-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {}
    },

    methods: {
      scroll: function(obj) {
        this.session.scroll_direction = obj.scroll_direction;

        if (obj.triggered && this.session.scroll_direction=='down') {
          // this.researches.load(3);
        }
      },

      load_pix: function() {
        if (this.$refs) {
          const input = this.$refs.pixinput;
          input.click();
        }
      },

      imagize: function(event) {
        const input = event.target;
        const self = this;

        if (input.files && input.files[0]) {
          let reader = new FileReader();
          reader.onload = function(e) {
            self.session.open_pixeditor(e.target.result, 'writer');
          };

          reader.readAsDataURL(input.files[0]);
        }
      },
    }
  });
</script>
