<!doctype html>
<html lang="ko">

<head>
  <title>MOIBER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1, maximum-scale=1, user-scalable=no">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://moiber.com">
  <meta property="og:title" content="MOIBER">
  <meta property="og:description" content="Metaverse Street Market">
  <meta property="og:image" content="/static/materials/imgs/shareimg.jpg">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@Moiber_NFT" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href='/static/jquery-ui/jquery-ui.min.css'>

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    model-viewer {
      width: 500px;
      height: 500px;
    }
  </style>
</head>


<body>
  <model-viewer bounds="tight" enable-pan src="/static/materials/bbs/orange.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls environment-image="neutral" poster="poster.webp" shadow-intensity="0.64" shadow-softness="1">
    <div class="progress-bar hide" slot="progress-bar">
        <div class="update-bar"></div>
    </div>
    <!-- <button slot="ar-button" id="ar-button">
        View in your space
    </button> -->
  </model-viewer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/jquery-ui/jquery-ui.min.js"></script>
  <script src="/static/jquery-ui/jquery.ui.touch-punch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

  <script>
  </script>

</body>
</html>
