<style>
  .aber {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
  }

  .aber * {
    font-family: 'Equilibrium';
  }

  .aber .pixloader {
    transition: all 0.2s;
    /* pointer-events: none; */
  }

  .aber.devoted .pixloader {
    opacity: 0.5;
    filter: grayscale(0.5);
  }

  .aber.devoted .score {
    opacity: 0.5;
  }

  .aber .score {
    pointer-events: none;
    pointer-events: none;
    position: absolute;
    left: 50%;
    font-size: var(--w-20);
    -webkit-text-stroke: 2px white;
    color: var(--color-dark);
    /* text-shadow:
      -1px -1px 0 white,
       0   -1px 0 white,
       1px -1px 0 white,
       1px  0   0 white,
       1px  1px 0 white,
       0    1px 0 white,
      -1px  1px 0 white,
      -1px  0   0 white; */
  }

  .aber .score.act-0 {
    bottom: calc(50% - var(--w-6));
    transform: translate(-50%,50%);
  }

  .aber .score.act-1 {
    top: calc(50% - var(--w-6));
    transform: translate(-50%,-50%);
  }

  .aber .show-score-enter-active,
  .aber .show-score-leave-active {
    transition: all 0.2s;
  }

  .aber .show-score-enter,
  .aber .show-score-leave-to {
    /* left: 0; */
    opacity: 0;
  }
</style>

<script type='text/x-template' id='aber-template'>
  <div class='aber' :class='phase'>
    <pixloader :pix='pix' :editable='editable' :session='session' ref='pixloader' :where='act==0 ? "top" : "bottom"'></pixloader>

    <transition name='show-score'>
      <div class='score' :class='act_class' v-if='is_active'><b>[[ score_display ]]</b></div>
    </transition>
  </div>
</script>


<script>
  Vue.component('aber', {
    template: '#aber-template',
    delimiters: ['[[', ']]'],
    props: [ 'act', 'vote_state', 'score', 'editable', 'is_active', 'pix', 'session' ],
    data: function() {
      return {}
    },

    computed: {
      phase: function() {
        if (this.is_active) {
          if (this.vote_state == this.act) {
            return 'voted'
          } else {
            return 'devoted'
          }
        }
      },

      act_class: function() {
        return 'act-' + this.act
      },

      score_display: function() {
        if (this.session.mode.on=='mbti') {
          if (this.phase=='voted')
            return 'V'
          else
            return ''

        } else {
          return this.score
        }
      }
    },

    methods: {
      get: function() {
        return this.$refs.pixloader.get()
      },

      reset: function() {
        this.$refs.pixloader.reset();
      }
    }
  });
</script>
