<style>
  .aboutboo.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: auto;
  }

  .aboutboo.vcomp > .top-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--w-16);
    background: lightpink;
  }

  .aboutboo.vcomp > .top-header > .btn {
    position: absolute;
    top: var(--w-5);
    height: var(--w-6);
    width: var(--w-6);
  }

  .aboutboo.vcomp > .top-header > .btn.hamburger {
    right: var(--w-6);
  }

  .aboutboo.vcomp > .top-header > .btn.goto-prev {
    left: var(--w-6);
  }

  .aboutboo.vcomp > .top-header > .btn > img {
    width: 100%;
    height: 100%;
  }

  .aboutboo.vcomp > .top-header > .btn.goto-prev > img {
    transform: rotate(180deg);
  }

  .aboutboo.vcomp > .profile-section {
    background: lightblue;
    /* height: var(--w-33); */
    padding-top: var(--w-16);
    /* margin-top: 100px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .aboutboo.vcomp > .profile-section > .profile {
    width: var(--w-33);
    height: var(--w-33);
    background: none;
  }

  .aboutboo.vcomp > .profile-section > .profile > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }

  .aboutboo.vcomp > .profile-section.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
</style>


<script type='text/x-template' id='aboutboo-template'>
  <div class='aboutboo vcomp' @scroll='scroll'>
    <div class='top-header'>
      <div class='btn hamburger'>
        <img src='/static/materials/icons/button_e.png'>
      </div>

      <div class='btn goto-prev'>
        <img src='/static/materials/icons/right-chevron.png'>
      </div>
    </div>

    <div class='profile-section' ref='profile_section'>
      <div class='profile'>
        <img :src='profilepix'>
      </div>
    </div>

    <div class='content-section'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</script>


<script>
  Vue.component('aboutboo', {
    template: '#aboutboo-template',
    delimiters: ['[[', ']]'],
    props: ['boo', 'session'],
    data: function() {
      return {
        on_booloading: false,
      }
    },

    mounted: function() {
      // var wrap = $(".aboutboo.vcomp");
      //
      // wrap.on("scroll", function(e) {
      //   if (this.scrollTop > 200) {
      //     wrap.addClass("sticky");
      //   } else {
      //     wrap.removeClass("sticky");
      //   }
      // });
      // window.onscroll = function() {myFunction()};
      //
      // var header = this.$refs.profile_section;
      // var sticky = header.offsetTop;
      //
      // function myFunction() {
      //   console.log(11111);
      //   if (window.pageYOffset > sticky) {
      //     header.classList.add("sticky");
      //   } else {
      //     header.classList.remove("sticky");
      //   }
      // }
    },

    computed: {
      postlist: function() {
        if (!this.boo.posts) {
          this.$set(this.boo, 'posts', new Booposts(this.boo));
        }

        if (this.session.auth && this.session.auth.boo.id==this.boo.id) {
          return this.boo.posts.list.map(post => {
            const _post = _.find(this.session.posts.list, ['id', post.id]);
            if (_post) {
              return _post;
            } else {
              return post
            }
          });

        } else {
          return this.boo.posts.list
        }
      },

      profilepix: function() {
        return this.boo.profile.pix
      },

      pscore: function() {
        return Math.round(this.session.pscore(this.boo));
      },

      nfollowers: function() {
        return this.boo.nfollowers
      },

      nposts: function() {
        return this.boo.nposts
      },

      text: function() {
        return this.boo.text
      },

      nick: function() {
        return this.boo.nick
      },

      // is_following: function() {
      //   return this.type=='author' && this.session.auth.is_following(this.boo.id)
      // },
      //
      // follow_button_message: function() {
      //   if (this.is_following) {
      //     return 'FOLLOWING'
      //   } else {
      //     return 'FOLLOW'
      //   }
      // },
    },

    methods: {
      // newpost를 저장한 경우, post.id가 undefined 일 때가 있어서
      // post_key를 따로 지정한다
      post_key: function(post) {
        if (post.id) {
          return post.id
        } else {
          return new Date().toISOString()
        }
      },

      open_boochooser: function() {
        if (this.session.auth && this.session.auth.boo.id==this.boo.id) {
          this.session.open_boochooser();
        }
      },

      open_booposts: function(where) {
        this.session.open_booposts(this.boo.posts, where);
      },

      toggle_follow: function() {
        if (this.is_following) {
          this.session.auth.unfollow(this.boo.id);
          this.boo.nfollowers -= 1;

        } else {
          this.session.auth.follow(this.boo.id);
          this.boo.nfollowers += 1;
        }
      },

      scroll: function() {
        console.log(this.$el.scrollTop);
        // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sticky_header

        if (this.$el.scrollTop > 0) {
          this.$refs.profile_section.classList.add("sticky");
        } else {
          this.$refs.profile_section.classList.add("sticky");
        }
      }
    }
  });
</script>
