<style>
  .aboutboo.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: auto;
    -ms-overflow-style: none; /*IE 11*/
    scrollbar-width: none; /*Firefox 64*/
  }

  .aboutboo.vcomp > .top-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--w-16);
    background: white;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .aboutboo.vcomp.sticky > .top-header {
    background: white;
  } */

  .aboutboo.vcomp > .top-header > .profile {
    width: var(--w-8);
    height: var(--w-8);
    background: none;
    opacity: 0;
    transition: all 0.5s;
    position: relative;
  }

  .aboutboo.vcomp.sticky > .top-header > .profile {
    opacity: 1;
  }

  .aboutboo.vcomp > .top-header > .profile > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
  }


  .aboutboo.vcomp > .top-header > .hamburger {
    background: none;
    position: absolute;
    top: var(--w-2);
    height: var(--w-12);
    width: var(--w-12);
    right: var(--w-1);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .aboutboo.vcomp > .top-header > .hamburger > img {
    height: var(--w-6);
    width: var(--w-6);
  }

  .aboutboo.vcomp > .profiles {
    position: relative;
    width: 100%;
    background: none;
    margin-top: var(--w-16);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutboo.vcomp > .profiles > .profile {
    width: var(--w-33);
    height: var(--w-33);
    background: none;
    transition: all 0.5s;
    position: relative;
  }

  .aboutboo.vcomp > .profiles > .profile > img.profilepix {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
  }

  .aboutboo.vcomp > .profiles.editing > .profile > img.profilepix {
    opacity: 0.5;
  }

  .aboutboo.vcomp > .profiles > .profile > img.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
    opacity: 0;
    pointer-events: none;
  }

  .aboutboo.vcomp > .profiles.editing > .profile > img.icon {
    opacity: 1;
  }

  .aboutboo.vcomp > .profiles > .profile > .editboo {
    position: absolute;
    top: 50%;
    left: calc(100% + var(--w-6));
    width: var(--w-12);
    height: var(--w-12);
    transform: translateY(-50%);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutboo.vcomp > .profiles > .profile > .editboo > img {
    width: var(--w-6);
    height: var(--w-6);
  }

  .aboutboo.vcomp > .profiles > .nick {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
  }

  .aboutboo.vcomp > .profiles > .text {
    font-size: 12px;
  }

  .aboutboo.vcomp > .profiles > .styletags,
  .aboutboo.vcomp > .profiles > .fashiontems {
    margin-top: 10px;
    width: var(--w-80);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .aboutboo.vcomp > .profiles > .styletags > .tag,
  .aboutboo.vcomp > .profiles > .fashiontems > .item {
    font-size: 11px;
    padding: 5px;
    border-radius: 20px;
    margin: 2px;
  }

  .aboutboo.vcomp > .profiles > .styletags > .tag.selected {
    background: var(--color-dark);
    color: white;
  }

  .aboutboo.vcomp > .profiles > .fashiontems > .item.selected {
    background: DarkSlateGray;
    color: white;
  }

  .aboutboo.vcomp.sticky > .profiles > .profile {
    opacity: 0;
  }

  .aboutboo.vcomp > .contents {
    margin-top: 50px;
    background: none;
    position: relative;
  }

  .aboutboo.vcomp > .spinner {
    position: fixed;
    bottom: var(--w-12);
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
  }

  .aboutboo.vcomp > .profiles > .boochooser {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* width: var(--w-80); */
    /* height: 0; */
    background: rgba(0,0,0,0.5);
    transition: all 0.5s;
    overflow: hidden;
    /* margin-top: 10px;
    margin-bottom: 10px; */
  }

  .aboutboo.vcomp > .profiles.editing > .boochooser {
    /* height: auto; */
    background: white;
  }

  .aboutboo.vcomp > .profiles > .boochooser > .boo-candidate {
    max-width: var(--w-25);
    max-height: var(--w-25);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }

  .aboutboo.vcomp > .profiles > .boochooser > .boo-candidate > img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
  }
</style>


<script type='text/x-template' id='aboutboo-template'>
  <div class='aboutboo vcomp' @scroll='scroll'>


    <div class='profiles' :class='edit_class' ref='profiles'>
      <div class='profile'>
        <input type="file" name="image" accept="image/*" style='display:none' @change='imagize' ref='pixinput'>
        <img class='profilepix' :src='profilepix' @click='load_pixeditor'>
        <img class='icon' src='/static/materials/icons/edit.png'>

        <div class='editboo' @click='toggle_edit' v-if='is_myboo'>
          <img src='/static/materials/icons/edit.png'>
        </div>
      </div>

      <div class='nick'>[[ nick ]]</div>
      <div class='text'>[[ text ]]</div>

      <div class='boochooser' v-if='is_myboo'>
        <div class='boo-candidate' :style='boo_candidate_style' v-for='b in myboos' @click='choose_this_boo(b)'>
          <img :src='b.profile.pix'>
        </div>

        <div class='boo-candidate' :style='boo_candidate_style'>
          <img src='/static/materials/icons/plus.png'>
        </div>
      </div>

      <div class='styletags' v-if='on_edit'>
        <span class='tag' v-for='(val, key) in session.styletags' :class='tag_class(Number(key))' @click='toggle_tag(Number(key))'>[[val]]</span>
      </div>

      <div class='styletags' v-else>
        <span class='tag selected' v-for='t in mytags'>[[ session.styletags[t] ]]</span>
      </div>

      <div class='fashiontems' v-if='on_edit'>
        <span class='item' v-for='(val, key) in session.fashiontems' :class='item_class(Number(key))' @click='toggle_item(Number(key))'>[[val]]</span>
      </div>

      <div class='fashiontems' v-else>
        <span class='item selected' v-for='t in myitems'>[[ session.fashiontems[t] ]]</span>
      </div>

    </div>


    <div class='contents'>
      <postlibrary
        :postlist='postlist'
        @open_posts='open_posts($event)'
      ></postlibrary>
    </div>

    <div class='top-header'>
      <div class='hamburger' @click='pop_boomenu'>
        <img src='/static/materials/icons/button_e.png'>
      </div>

      <div class='profile'>
        <img :src='profilepix'>
      </div>
    </div>

    <!-- <scale-loader class='spinner' v-if='boo.posts' :loading='boo.posts.onloading'></scale-loader> -->
    <bar-loader class='spinner' v-if='boo.posts' :loading='boo.posts.onloading' :width='loader_width' :height='1' color="#D0021B"></bar-loader>
  </div>
</script>


<script>
  Vue.component('aboutboo', {
    template: '#aboutboo-template',
    delimiters: ['[[', ']]'],
    props: ['boo', 'session', 'open'],
    data: function() {
      return {
        on_booloading: false,
        on_edit: false,
      }
    },

    watch: {
      open: function(_new, _old) {
        if (_new) {
          this.$refs.profiles.scrollIntoView({behavior: 'auto', block: 'end', inline: 'nearest'});
        }
      }
    },

    computed: {
      postlist: function() {
        if (!this.boo.posts) {
          this.$set(this.boo, 'posts', new Booposts(this.boo));
        }

        if (this.session.auth && this.session.auth.boo.id==this.boo.id) {
          return this.boo.posts.list.map(post => {
            const _post = _.find(this.session.page.posts.contents.list, ['id', post.id]);

            if (_post) {
              return _post;
            } else {
              return post
            }
          });

        } else {
          return this.boo.posts.list
        }
      },

      profilepix: function() {
        return this.boo.profile.pix
      },

      text: function() {
        return this.boo.text
      },

      nick: function() {
        return this.boo.nick
      },

      is_myboo: function() {
        return (this.session.auth && this.session.auth.boo.id==this.boo.id)
      },

      mytags: function() {
        return this.boo.styletags
      },

      myitems: function() {
        return this.boo.fashiontems
      },

      edit_class: function() {
        if (this.on_edit) {
          return 'editing'

        } else {
          return ''
        }
      },

      myboos: function() {
        if (this.is_myboo) {
          return this.session.auth.boos
        }
      },

      boo_candidate_style: function() {
        if (this.is_myboo) {
          let size;

          if (this.on_edit) {
            const n = Object.keys(this.myboos).length + 1;
            size = `calc(var(--w-80) / ${n})`;

          } else {
            size = '0px';
          }

          return { width: size, height: size }
        }
      },

      loader_width: function() {
        return document.querySelector('#window').clientWidth
      }
    },

    methods: {
      choose_this_boo: function(boo) {
        this.session.auth.boo = boo.id;
      },

      load_pixeditor: function() {
        if (this.on_edit) {
          this.$refs.pixinput.click();
        }
      },

      imagize: function(event) {
        const input = event.target;
        const self = this;

        if (input.files && input.files[0]) {
          let reader = new FileReader();
          reader.onload = function(e) {
            self.session.open_pixeditor(e.target.result, 'profile', self);
          };

          reader.readAsDataURL(input.files[0]);
        }
      },

      set: function(blob) {
        // this.boo.profile.type = 'IMAGE'
        // this.boo.profile.image = URL.createObjectURL(blob);
        // this.boo.profile.image_file = blob;
        this.boo.profile.pix = URL.createObjectURL(blob);
      },


      toggle_edit: function() {
        this.on_edit = !this.on_edit;
      },

      open_posts: function(idx) {
        this.session.booposts = this.boo.posts;
        this.session.page.booposts.swiper.slideTo(idx, 1, false);
        this.session.open_booposts();
      },

      toggle_follow: function() {
        if (this.is_following) {
          this.session.auth.unfollow(this.boo.id);
          this.boo.nfollowers -= 1;

        } else {
          this.session.auth.follow(this.boo.id);
          this.boo.nfollowers += 1;
        }
      },

      scroll: function() {
        // console.log(this.$el.scrollTop);
        // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sticky_header

        const sticky = this.$refs.profiles.offsetTop + this.$refs.profiles.clientHeight/4;
        const scrollTop = this.$el.scrollTop;

        if (scrollTop > sticky) {
          this.$el.classList.add("sticky");

        } else {
          this.$el.classList.remove("sticky");
        }
      },

      tag_class: function(key) {
        if (this.mytags.includes(key)) {
          return 'selected'

        } else {
          return ''
        }
      },

      item_class: function(key) {
        if (this.myitems.includes(key)) {
          return 'selected'

        } else {
          return ''
        }
      },

      toggle_tag: function(key) {
        if (this.mytags.includes(key)) {
          const idx = this.mytags.indexOf(key);

          if (idx !== -1) {
            this._fetch(`/styletags/untag/${key}`);
            this.mytags.splice(idx, 1);
          }

        } else {
          this._fetch(`/styletags/tag/${key}`);
          this.mytags.push(key);
        }
      },

      toggle_item: function(key) {
        if (this.myitems.includes(key)) {
          const idx = this.myitems.indexOf(key);

          if (idx !== -1) {
            this._fetch(`/fashiontems/untag/${key}`);
            this.myitems.splice(idx, 1);
          }

        } else {
          this._fetch(`/fashiontems/tag/${key}`);
          this.myitems.push(key);
        }
      },

      _fetch: function(url) {
        fetch(url).then(x => x.json()).then(console.log);
      },

      pop_boomenu: function() {
        alert('boopage-menu popup')
      },
    }
  });
</script>
