{% include "getch/struct.html" %}

<style>
  .aboutboo .header-0 > .profilepix {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--t-3);
    height: var(--t-3);
  }

  .aboutboo .header-0 > .profilepix > img.fit {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .aboutboo .header-0 > .profilepix > img.barcode {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, 50%)
  }

  .aboutboo .header-0 > .scorecard {
    position: absolute;
    left: 3vw;
    top: 3vw;
    bottom: calc(var(--t-3) + 3vw);
    width: calc(100% - var(--t-3) - 6vw);
    background: none;
    line-height: 1;
  }

  .aboutboo .header-0 > .scorecard > .score {
    position: absolute;
    height: 50%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutboo .header-0 > .scorecard > .score.pscore {
    top: 0;
    left: 0;
    width: 100%;
  }

  .aboutboo .header-0 > .scorecard > .score.nfollowers {
    top: 50%;
    left: 0;
    width: 50%;
  }

  .aboutboo .header-0 > .scorecard > .score.npostings {
    top: 50%;
    left: 50%;
    width: 50%;
  }

  .aboutboo .header-0 > .scorecard > .score .score-name {
    font-size: 8px;
  }

  .aboutboo .header-0 > .scorecard > .score .score-value {
    font-size: 20px;
    font-weight: bold;
  }

  .aboutboo .header-0 > .scorecard > .score.pscore .score-value {
    font-size: 30px;
  }

  .aboutboo .header-0 > .description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--t-3);
    background: none;
    line-height: 1;
    color: white;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutboo .header-0 > .description span.nick {
    background: black;
    font-size: 18px;
    font-weight: bold;
  }

  .aboutboo .header-0 > .description span.text {
    background: black;
    font-size: 12px;
  }

  .aboutboo .header-1 {
    font-size: 22px;
    font-weight: bold;
  }

  .aboutboo .header-1 > .follow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-pos);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutboo .header-1 > .follow.onfollow {
    background: white;
    color: black
  }


  .aboutboo .header-2 > img.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .aboutboo .content > .booposts > .boopost {
    position: relative;
    width: 25%;
    height: calc(var(--t-0) / 2);
  }
</style>


<script type='text/x-template' id='aboutboo-template'>

  <struct class='aboutboo'>
    <template #header-0>
      <div class='profilepix'>
        <img class='barcode' :src='session.barcode(boo.level)'>
        <img class='fit' :src='boo.profile.pix' @click='session.open_boochooser()'>
      </div>

      <div class='scorecard' @click='session.open_network()'>
        <div class='score pscore'>
          <div>
            <span class='score-name'>POWER SCORE</span><br>
            <span class='score-value'>[[ boo.pscore * 10 ]]</span>
          </div>
        </div>

        <div class='score nfollowers'>
          <div>
            <span class='score-value'>[[ nfollowers ]]</span><br>
            <span class='score-name'>FOLLOWERS</span>
          </div>
        </div>

        <div class='score npostings'>
          <div>
            <span class='score-value'>[[ boo.npost ]]</span><br>
            <span class='score-name'>POSTINGS</span>
          </div>
        </div>
      </div>

      <div class='description'>
        <div>
          <span class='nick'>[[ boo.nick ]]</span><br>
          <span class='text'>[[ '"' + boo.text + '"' ]]</span>
        </div>
      </div>
    </template>


    <template #header-1>
      <div v-if='type=="author"' class='follow' :class='{ onfollow:is_following }' @click='toggle_follow'>
        [[ follow_button_message ]]
      </div>
      <div v-else>나</div>
    </template>


    <template #header-2>
      <img class='logo' src='/static/materials/imgs/sideb_logo.jpg'>
    </template>


    <template #content>
      <div class='booposts' style='position:relative;width:100%;height:100%;display:flex;flex-wrap:wrap;overflow:hidden;'>
        <div class='boopost' v-for='post in posts'>

          <template v-if='post.type=="postvoteab"'>
            <div style='position:absolute;top:0;left:0;width:100%;height:50%;'>
              <img :src='post.pix_a' style='width:100%;height:100%;object-fit:cover;'>
            </div>
            <div style='position:absolute;top:50%;left:0;width:100%;height:50%;'>
              <img :src='post.pix_b' style='width:100%;height:100%;object-fit:cover;'>
            </div>
          </template>

          <template v-else>
            <div style='position:absolute;top:0;left:0;width:100%;height:50%;'>
              <img :src='post.pix' style='width:100%;height:100%;object-fit:cover;'>
            </div>
            <div style='position:absolute;top:50%;left:0;width:100%;height:50%;'>
              OX
            </div>
          </template>

        </div>
      </div>
    </template>
  </struct>

</script>


<script>
  Vue.component('aboutboo', {
    template: '#aboutboo-template',
    delimiters: ['[[', ']]'],
    props: ['session', 'type'],
    data: function() {
      return {
        posts: undefined,
        on_postloading: false,
      }
    },

    created: function() {
      // 이게 created에 있으면 안될듯 하다 ========================================================================
      this.load_posts();
    },

    watch: {
      'boo.id': function(_new, _old) {
        // this.load_posts();
        // 스크롤할때마다 이게 실행된다!!! 오마갓 ===================================================================
      }
    },

    computed: {
      boo: function() {
        if (this.type=='my' && this.session.auth) {
          return this.session.auth.boo

        } else if (this.type=='author' && this.session.cpost) {
          return this.session.cpost.boo
        }
      },

      nfollowers: function() {
        if (this.type=='my' && this.boo) {
          return this.boo.followers_id.length

        } else if (this.type=='author' && this.boo) {
          return this.boo.nfollowers
        }
      },

      is_following: function() {
        return this.type=='author' && this.session.auth.is_following(this.boo.id)
      },

      follow_button_message: function() {
        if (this.is_following) {
          return '팔로우중'
        } else {
          return '팔로우하기'
        }
      }
    },

    methods: {
      load_posts: function() {
        // this.show_postloading();

        const self = this;
        fetch(`/boo/${self.boo.id}/posts/`)
          .then(x => x.json())
          .then(js => {
            self.posts = JSON.parse(js.posts);
            console.log(self.posts);
            // self.hide_postloading();
          })
      },

      show_postloading: function() {
        this.on_postloading = true;
      },

      hide_postloading: function() {
        this.on_postloading = false;
      },

      toggle_follow: function() {
        if (this.is_following) {
          this.session.auth.unfollow(this.boo.id);
          this.boo.nfollowers -= 1;

        } else {
          this.session.auth.follow(this.boo.id);
          this.boo.nfollowers += 1;
        }
      }
    }
  });
</script>
