<style>
  .aboutboo.vcomp .header-0 > .profilepix {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--t-3);
    height: var(--t-3);
  }

  .aboutboo.vcomp .header-0 > .profilepix > img.fit {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
  }

  .aboutboo.vcomp .header-0 > .profilepix > img.barcode {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, 50%)
  }

  .aboutboo.vcomp .header-0 > .scorecard {
    position: absolute;
    left: calc(3 * var(--vw-unit));
    top: calc(3 * var(--vw-unit));
    bottom: calc(var(--t-3) + 3*var(--vw-unit));
    width: calc(100% - var(--t-3) - 6*var(--vw-unit));
    background: none;
    line-height: 1;
  }

  .aboutboo.vcomp .header-0 > .scorecard > .score {
    position: absolute;
    height: 50%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutboo.vcomp .header-0 > .scorecard > .score.pscore {
    top: 0;
    left: 0;
    width: 100%;
  }

  .aboutboo.vcomp .header-0 > .scorecard > .score.nfollowers {
    top: 50%;
    left: 0;
    width: 50%;
  }

  .aboutboo.vcomp .header-0 > .scorecard > .score.npostings {
    top: 50%;
    left: 50%;
    width: 50%;
  }

  .aboutboo.vcomp .header-0 > .scorecard > .score .score-name {
    font-size: 8px;
  }

  .aboutboo.vcomp .header-0 > .scorecard > .score .score-value {
    font-size: 20px;
    font-weight: bold;
  }

  .aboutboo.vcomp .header-0 > .scorecard > .score.pscore .score-value {
    font-size: 30px;
  }

  .aboutboo.vcomp .header-1 {
    font-size: 18px;
    font-weight: bold;
  }

  .aboutboo.vcomp .header-1 > .follow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    /* background: var(--color-pos); */
    /* color: white; */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutboo.vcomp .header-1 > .follow.onfollow {
    background: lightgray;
    color: black
  }


  .aboutboo.vcomp .content > .booposts-section {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .aboutboo.vcomp .content > .booposts-section > .booposts {
    position: relative;
    /* minipost의 좌우여백을 동일하게 맞출수 없어서, booposts 자체의 너비를 여백만큼 줄였다
    minipost.html에 가보면, 오른쪽 border=0 으로 한것을 알 수 있다. */
    width: calc(100% - 1px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* 아래처럼 스크롤을 보이면, booposts 같은 뒤의 페이지에서 이 스크롤이 보인다ㅠ 뭐지.. */
    overflow-y: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
  }

  .aboutboo.vcomp .content > .booposts-section > .booposts > .boopost {
    position: relative;
    width: 25%;
    height: calc(var(--t-0) / 2);
  }

  .aboutboo.vcomp .show-boo-enter-active {
    transition: all 0.3s;
  }

  .aboutboo.vcomp .show-boo-enter,
  .aboutboo.vcomp .show-boo-leave-to {
    filter: blur(10px);
  }

  /* .aboutboo.vcomp .show-booposts-leave-active, */
  .aboutboo.vcomp .show-booposts-enter-active {
    transition: all 1s;
  }

  .aboutboo.vcomp .show-booposts-enter,
  .aboutboo.vcomp .show-booposts-leave-to {
    opacity: 0;
    /* transform: translateY(30px); */
  }


  .aboutboo.vcomp .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>


<script type='text/x-template' id='aboutboo-template'>

  <struct class='aboutboo vcomp'>
    <template #header-0>

      <transition name='show-boo'>
        <div class='profilepix' :style='level_style' v-if='!on_booloading'>
          <img class='fit' :src='profilepix' @click='open_boochooser'>
        </div>
      </transition>

      <transition name='show-boo'>
        <div class='scorecard' @click='session.open_network()' v-if='!on_booloading'>
          <div class='score pscore'>
            <div>
              <span class='score-name'>POWER SCORE</span><br>
              <span class='score-value'>[[ pscore ]]</span>
            </div>
          </div>

          <div class='score nfollowers'>
            <div>
              <span class='score-value'>[[ nfollowers ]]</span><br>
              <span class='score-name'>FOLLOWERS</span>
            </div>
          </div>

          <div class='score npostings'>
            <div>
              <span class='score-value'>[[ nposts ]]</span><br>
              <span class='score-name'>POSTINGS</span>
            </div>
          </div>
        </div>
      </transition>

      <scale-loader class='spinner' :loading='on_booloading'></scale-loader>
    </template>


    <template #header-1>
      <transition name='show-boo'>
        <editext :rawtext='text' :header='nick' type='in-boo' freeze='true' v-if='!on_booloading'></editext>
      </transition>

      <!-- <div v-if='type=="author" && session.auth' class='follow' :class='{ onfollow:is_following }' @click='toggle_follow'>
        [[ follow_button_message ]]
      </div>
      <div v-else></div> -->
      <scale-loader class='spinner' :loading='on_booloading'></scale-loader>
    </template>


    <template #header-2></template>


    <template #content>
      <div class='booposts-section'>
        <transition-group name='show-booposts' tag='div' class='booposts'>
        <!-- <transition-group name='show-booposts' tag='div' class='booposts' v-if='boo.posts'>   -->
          <div class='boopost' v-for='(post, idx) in postlist' :key='post_key(post)' @click='open_booposts(idx)'>
            <minipost :post='post' :session='session'></minipost>
          </div>
        </transition-group>

        <scale-loader class='spinner' v-if='boo.posts' :loading='boo.posts.onloading'></scale-loader>
      </div>
    </template>
  </struct>

</script>


<script>
  Vue.component('aboutboo', {
    template: '#aboutboo-template',
    delimiters: ['[[', ']]'],
    props: ['boo', 'session'],
    data: function() {
      return {
        on_booloading: false,
      }
    },

    computed: {
      postlist: function() {
        if (!this.boo.posts) {
          this.$set(this.boo, 'posts', new Booposts(this.boo));
        }

        if (this.session.auth && this.session.auth.boo.id==this.boo.id) {
          return this.boo.posts.list.map(post => {
            const _post = _.find(this.session.posts.list, ['id', post.id]);
            if (_post) {
              return _post;
            } else {
              return post
            }
          });

        } else {
          return this.boo.posts.list
        }
      },

      profilepix: function() {
        return this.boo.profile.pix
      },

      pscore: function() {
        return Math.round(this.session.pscore(this.boo));
      },

      nfollowers: function() {
        return this.boo.nfollowers
      },

      nposts: function() {
        return this.boo.nposts
      },

      text: function() {
        return this.boo.text
      },

      nick: function() {
        return this.boo.nick
      },

      // is_following: function() {
      //   return this.type=='author' && this.session.auth.is_following(this.boo.id)
      // },
      //
      // follow_button_message: function() {
      //   if (this.is_following) {
      //     return 'FOLLOWING'
      //   } else {
      //     return 'FOLLOW'
      //   }
      // },

      level_style: function() {
        return {
          borderBottom: `calc(var(--t-3) * 0.3) solid ${this.session.levelcolor(this.boo)}`
        }
      },
    },

    methods: {
      // newpost를 저장한 경우, post.id가 undefined 일 때가 있어서
      // post_key를 따로 지정한다
      post_key: function(post) {
        if (post.id) {
          return post.id
        } else {
          return new Date().toISOString()
        }
      },

      open_boochooser: function() {
        if (this.session.auth && this.session.auth.boo.id==this.boo.id) {
          this.session.open_boochooser();
        }
      },

      open_booposts: function(where) {
        this.session.open_booposts(this.boo.posts, where);
      },

      toggle_follow: function() {
        if (this.is_following) {
          this.session.auth.unfollow(this.boo.id);
          this.boo.nfollowers -= 1;

        } else {
          this.session.auth.follow(this.boo.id);
          this.boo.nfollowers += 1;
        }
      }
    }
  });
</script>
