{% block style %}
<style>
  .basepage input.page-toggler {
    display: none;
    visibility: hidden;
  }

  .basepage .shader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: all 0.3s ease;
  }

  .basepage .drawer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: white;
    pointer-events: auto;
    transition: all 0.3s ease;
  }

  .basepage .page {
    width: 100%;
    height: 100%;
  }

  .basepage .close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: black;
  }

  .basepage .close img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
  }

  .basepage input.page-toggler:checked ~ .shader {
    background: rgba(0,0,0,0.5);
  }

  .basepage input.page-toggler:checked ~ .drawer {
    left: 0;
  }
</style>
{% endblock style %}


<div class='basepage'>
  <input class='page-toggler' type='checkbox' {% if open == 1 %}checked{% endif %}>
  <div class='shader'></div>

  <div class='drawer'>
    <div class='page'>
      {% block page %}{% endblock page %}
    </div>
    <div class='close' onclick='close_page(this)'>
      <img src='/static/materials/icons/times.png'>
    </div>
  </div>
</div>

{% block js %}
{% endblock js %}
