<style>
  .baseposts.vcomp {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .baseposts.vcomp > .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .baseposts.vcomp > .swiper-container > .swiper-wrapper {
    z-index: 0;
  }


  .baseposts.vcomp .show-author-profile-enter-active {
    transition: all 0.5s;
  }

  .baseposts.vcomp .show-author-profile-leave-active {
    transition: all 0.1s;
  }

  .baseposts.vcomp .show-author-profile-enter,
  .baseposts.vcomp .show-author-profile-leave-to {
    opacity: 0;
  }

  .baseposts.vcomp > .hamburger {
    position: absolute;
    top: calc(var(--width-unit) * 5);
    right: calc(var(--width-unit) * 4);
    width: calc(var(--width-unit) * 6);
    height: calc(var(--width-unit) * 6);
  }

  .baseposts.vcomp > .menu-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--width-unit) * 12);
    /* background: lightblue; */
    background: rgba(255,255,255,0.6);
  }

  .baseposts.vcomp > .menu-bottom > .discover {
    position: absolute;
    top: 50%;
    left: calc(var(--width-unit) * 3);
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(0,-50%);
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom > ._oi {
    position: absolute;
    top: 50%;
    left: calc(var(--width-unit) * 29.5);
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(-50%,-50%);
    opacity: 0.1;
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom > .mypage {
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(-50%,-50%);
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom > ._e {
    position: absolute;
    top: 50%;
    right: calc(var(--width-unit) * 29.5);
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(50%,-50%);
    opacity: 0.1;
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom > .posting {
    position: absolute;
    top: 50%;
    right: calc(var(--width-unit) * 3);
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(0,-50%);
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom img {
    /* width: calc(var(--width-unit) * 6); */
    width: auto;
    height: calc(var(--width-unit) * 6);
    object-fit: contain;
  }

  .baseposts.vcomp > .hamburger > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .baseposts.vcomp > .hamburger > .submenu {
    position: absolute;
    top: 130%;
    right: 0;
    background: rgba(255,255,255,0.9);
    width: var(--w-24);
    /* border: 1px solid black; */
    border-radius: var(--w-3);
    overflow: hidden;
    font-size: 12px;
  }

  .baseposts.vcomp > .hamburger > .submenu > .item {
    background: none;
    height: var(--w-8);
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .hamburger > .submenu > .item:last-child {
    border-bottom: none;
    color: red;
  }

  .baseposts.vcomp .show-more-enter-active,
  .baseposts.vcomp .show-more-leave-active {
    transition: all 0.1s;
  }

  .baseposts.vcomp .show-more-enter,
  .baseposts.vcomp .show-more-leave-to {
    opacity: 0;
  }

</style>


<script type='text/x-template' id='baseposts-template'>
  <div class='baseposts vcomp'>
    <swiper ref='swiper' :options='swiper_options'>
      <swiper-slide v-for='post in postlist' :key='post.id'>
        <post
          :post='post'
          :session='session'
          :mother='me'
          @on_modify='toggle_modify($event)'
        ></post>
      </swiper-slide>
    </swiper>


    <div class='hamburger' @click='toggle_more'>
      <img src='/static/materials/icons/button_e.png'>

      <transition name='show-more'>
        <div class='submenu' v-if='more'>
          <div class='item' v-if='!is_mypost' @click='report_this_post'>신고하기</div>
          <div class='item' v-if='is_mypost' @click='modify_this_post'>수정하기</div>
          <div class='item' v-if='is_mypost' @click='delete_this_post'>삭제</div>
        </div>
      </transition>
    </div>


    <div class='menu-bottom' v-show='!modifying'>
      <!-- <div class='discover' @click='session.open_navigator()'>
        <img src='/static/materials/icons/button_m.png'>
      </div>

      <div class='_oi'>
        <img src='/static/materials/icons/button_oi.png'>
      </div>

      <div class='mypage' @click='session.open_mypage()'>
        <img src='/static/materials/icons/button_b_profile.png'>
      </div>

      <div class='_e'>
        <img src='/static/materials/icons/button_e.png'>
      </div>

      <div class='posting' @click='open_posting()'>
        <img src='/static/materials/icons/button_r.png'>
      </div> -->
    </div>
  </div>

</script>


<script>
  Vue.use(VueAwesomeSwiper);

  Vue.component('baseposts', {
    template: '#baseposts-template',
    delimiters: ['[[', ']]'],
    props: ['postlist', 'session', 'open_at', 'posts'],

    data: function() {
      return {
        more: false,
        modifying: false,
        swiper: undefined,
        swiper_options: {
          direction: 'vertical',
        },
      }
    },

    computed: {
      me: function() {
        return this
      },

      cpost: function() {
        if (this.swiper && this.postlist) {
          return this.postlist[this.swiper.realIndex]
        }
      },

      cpost_id: function() {
        if (this.cpost) {
          return this.cpost.id
        }
      },

      cpost_boo: function() {
        if (this.session.auth && this.cpost && this.cpost.boo.id==this.session.auth.boo_selected) {
          return this.session.auth.boo

        } else if (this.cpost) {
          return this.cpost.boo
        }
      },

      cpost_boo_id: function() {
        if (this.cpost_boo) {
          return this.cpost_boo.id
        }
      },

      cpost_boo_profile: function() {
        if (this.cpost_boo) {
          return this.cpost_boo.profile.pix
        }
      },

      is_mypost: function() {
        if (this.session.auth) {
          return this.session.auth.boo_selected==this.cpost_boo_id
        }
      },

      level_style: function() {
        if (this.cpost_boo) {
          return {
            borderBottom: `calc(var(--s-menu) * 0.3) solid ${this.session.levelcolor(this.cpost_boo)}`
          }
        }
      }
    },

    mounted: function() {
      this.swiper = this.$refs.swiper.$swiper;
      this.swiper.slideTo(this.open_at, 1, false);
    },

    watch: {
      open_at: function(_new, _old) {
        // console.log(_new);
        if (this.swiper) {
          this.swiper.slideTo(_new, 1, false);
        }

        // nexttick으로 안하면 swiper가 존재하지 않는 에러 발생
        // this.$nextTick(function() {
        //   this.posts.open_at(_new);
        // })
      },

      cpost_id: function(_new, _old) {
        if (this.postlist.length > 1) {
          console.log(this.postlist.length, this.swiper.realIndex);
          if (this.postlist.length-this.swiper.realIndex < 5) {
            this.posts.load();
          }
        }
      },

      more: function(_new, _old) {}
    },

    methods: {
      open_posting: function() {
        this.session.open_posting(this);
      },

      toggle_more: function() {
        this.more = !this.more;
      },

      report_this_post: function() {
        alert('신고했다')
      },

      modify_this_post: function() {
        this.$set(this.cpost, 'on_edit', true);
      },

      delete_this_post: function() {
        alert('삭제했다')
      },

      toggle_modify: function(bool) {
        this.modifying = bool;
      }
    }
  });
</script>
