<style>
  .baseposts.vcomp {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .baseposts.vcomp > .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .baseposts.vcomp > .swiper-container > .swiper-wrapper {
    z-index: 0;
  }

  .baseposts.vcomp > .hamburger {
    position: absolute;
    top: calc(var(--width-unit) * 5);
    right: calc(var(--width-unit) * 4);
    width: calc(var(--width-unit) * 6);
    height: calc(var(--width-unit) * 6);
  }

  .baseposts.vcomp > .hamburger > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .baseposts.vcomp > .hamburger > .submenu {
    position: absolute;
    top: 130%;
    right: 0;
    background: rgba(255,255,255,0.9);
    width: var(--w-24);
    /* border: 1px solid black; */
    border-radius: var(--w-3);
    overflow: hidden;
    font-size: 12px;
  }

  .baseposts.vcomp > .hamburger > .submenu > .item {
    background: none;
    height: var(--w-8);
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .hamburger > .submenu > .item:last-child {
    border-bottom: none;
    color: red;
  }

  .baseposts.vcomp .show-more-enter-active,
  .baseposts.vcomp .show-more-leave-active {
    transition: all 0.1s;
  }

  .baseposts.vcomp .show-more-enter,
  .baseposts.vcomp .show-more-leave-to {
    opacity: 0;
  }

  .baseposts.vcomp > .spinner {
    position: fixed;
    bottom: var(--w-12);
  }
</style>


<script type='text/x-template' id='baseposts-template'>
  <div class='baseposts vcomp'>
    <swiper ref='swiper' :options='swiper_options'>
      <swiper-slide v-for='post in postlist' :key='post.id'>
        <post :post='post' :session='session'></post>
      </swiper-slide>
    </swiper>


    <div class='hamburger' @click='toggle_more'>
      <img src='/static/materials/icons/button_e.png'>

      <transition name='show-more'>
        <div class='submenu' v-if='more'>
          <div class='item' v-if='!is_mypost' @click='report_this_post'>신고하기</div>
          <div class='item' v-if='is_mypost && cpost_id' @click='modify_this_post'>수정하기</div>
          <div class='item' v-if='is_mypost && cpost_id' @click='delete_this_post'>삭제</div>
        </div>
      </transition>
    </div>

    <bar-loader class='spinner' :loading='!cpost_id' :width='loader_width' :height='1' color="#D0021B"></bar-loader>
  </div>
</script>


<script>
  Vue.use(VueAwesomeSwiper);

  Vue.component('baseposts', {
    template: '#baseposts-template',
    delimiters: ['[[', ']]'],
    props: ['postlist', 'session', 'posts'],

    data: function() {
      return {
        more: false,
        swiper: undefined,
        swiper_options: {
          direction: 'vertical',
          mousewheel: {
            releaseOnEdges: true,
          },
        },
      }
    },

    computed: {
      me: function() {
        return this
      },

      cpost: function() {
        if (this.swiper && this.postlist) {
          return this.postlist[this.swiper.realIndex]
        }
      },

      cpost_id: function() {
        if (this.cpost) {
          return this.cpost.id
        }
      },

      cpost_boo: function() {
        if (this.session.auth && this.cpost && this.cpost.boo.id==this.session.auth.boo_selected) {
          return this.session.auth.boo

        } else if (this.cpost) {
          return this.cpost.boo
        }
      },

      cpost_boo_id: function() {
        if (this.cpost_boo) {
          return this.cpost_boo.id
        }
      },

      cpost_boo_profile: function() {
        if (this.cpost_boo) {
          return this.cpost_boo.profile.pix
        }
      },

      is_mypost: function() {
        if (this.session.auth) {
          return this.session.auth.boo_selected==this.cpost_boo_id
        }
      },

      level_style: function() {
        if (this.cpost_boo) {
          return {
            borderBottom: `calc(var(--s-menu) * 0.3) solid ${this.session.levelcolor(this.cpost_boo)}`
          }
        }
      },

      // on_saving: function() {
      //   return this.post && !this.post.id
      // },

      loader_width: function() {
        return document.querySelector('#window').clientWidth
      }
    },


    mounted: function() {
      this.swiper = this.$refs.swiper.$swiper;
    },

    watch: {
      cpost_id: function(_new, _old) {
        if (this.postlist.length > 1) {
          if (this.postlist.length-this.swiper.realIndex < 5) {
            this.posts.load(3);
          }
        }
      },

      more: function(_new, _old) {}
    },

    methods: {
      toggle_more: function() {
        this.more = !this.more;
      },

      report_this_post: function() {
        window.open('mailto:contact@moiber.com');
      },

      modify_this_post: function() {
        this.session.open_editpost(this.cpost);
      },

      delete_this_post: function() {
        this.session.open_bridge('delpost_guide', 'top', () => {
          fetch(`post/${this.cpost_id}/delete`).then(res => res.json()).then(console.log);
          this.cpost_listout();
        });
      },

      cpost_listout: function() {
        if (this.swiper) {
          const cpost = this.cpost; // 아래에서 swiper로 이동할거기때문에, cpost를 고정
          let where = this.swiper.realIndex;
          this.swiper.slideTo(where - 1);

          this.listout_from(cpost.id, this.session.page.posts.univ.history);
          this.listout_from(cpost.id, this.session.page.posts.univ.hot);
          this.listout_from(cpost.id, this.session.page.posts.univ.custom);
          this.listout_from(cpost.id, this.session.page.posts.univ.search);
          this.listout_from(cpost.id, cpost.boo.posts);
        }
      },

      listout_from: function(post_id, from) {
        if (from) {
          where = _.findIndex(from.list, ['id', post_id]);

          if (where != -1) {
            from.list.splice(where, 1);
          }
        }
      }

    }
  });
</script>
