<style>
  .baseposts.vcomp {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .baseposts.vcomp > .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .baseposts.vcomp > .swiper-container > .swiper-wrapper {
    z-index: 0;
  }


  /* .baseposts.vcomp > .menublock {
    position: absolute;
    width: var(--s-menu);
    height: var(--s-menu);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menublock.author {
    top: 0;
    left: 0;
    background: white;
  }


  .baseposts.vcomp > .menublock.my {
    bottom: 10%;
    right: 0;
  }

  .baseposts.vcomp > .menublock.posting {
    bottom: calc(10% + var(--s-menu));;
    right: 0;
  }

  .baseposts.vcomp > .menublock.comment {
    bottom: calc(10% + 2 * var(--s-menu));;
    right: 0;
  }

  .baseposts.vcomp > .menublock > img.fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .baseposts.vcomp > .menublock > img.icon {
    object-fit: contain;
    width: 80%;
    height: 80%;
  } */


  .baseposts.vcomp .show-author-profile-enter-active {
    transition: all 0.5s;
  }

  .baseposts.vcomp .show-author-profile-leave-active {
    transition: all 0.1s;
  }

  .baseposts.vcomp .show-author-profile-enter,
  .baseposts.vcomp .show-author-profile-leave-to {
    opacity: 0;
  }

  .baseposts.vcomp > .hamburger {
    position: absolute;
    top: calc(var(--width-unit) * 5);
    right: calc(var(--width-unit) * 6);
    width: calc(var(--width-unit) * 6);
    height: calc(var(--width-unit) * 6);
  }

  .baseposts.vcomp > .menu-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--width-unit) * 12);
    /* background: lightblue; */
    background: rgba(255,255,255,0.6);
  }

  .baseposts.vcomp > .menu-bottom > .discover {
    position: absolute;
    top: 50%;
    left: calc(var(--width-unit) * 3);
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(0,-50%);
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom > ._oi {
    position: absolute;
    top: 50%;
    left: calc(var(--width-unit) * 29.5);
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(-50%,-50%);
    opacity: 0.1;
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom > .mypage {
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(-50%,-50%);
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom > ._e {
    position: absolute;
    top: 50%;
    right: calc(var(--width-unit) * 29.5);
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(50%,-50%);
    opacity: 0.1;
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom > .posting {
    position: absolute;
    top: 50%;
    right: calc(var(--width-unit) * 3);
    height: calc(var(--width-unit) * 12);
    width: calc(var(--width-unit) * 12);
    transform: translate(0,-50%);
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menu-bottom img {
    /* width: calc(var(--width-unit) * 6); */
    width: auto;
    height: calc(var(--width-unit) * 6);
    object-fit: contain;
  }
</style>


<script type='text/x-template' id='baseposts-template'>
  <div class='baseposts vcomp'>
    <swiper ref='swiper' :options='swiper_options'>
      <swiper-slide v-for='post in postlist' :key='post.id'>
        <post
          :post='post'
          :session='session'
          :mother='me'
        ></post>
      </swiper-slide>
    </swiper>

    <!-- <div style='position:absolute;top:12vw;right:16vw;width:8vw;height:8vw;background:black;border-radius:50%;display:flex;align-items:center;justify-content:center;' @click='session.open_comments(cpost)'>
      <img src='/static/materials/icons/SIDEB_ICON_COMMENT.png' style='width:100%;height:100%;object-fit:contain;'>
      <span v-if='cpost_ncomments!=0' style='color:white;font-size:12px;'>[[cpost_ncomments]]</span>
    </div> -->

    <div class='hamburger'>
      <img src='/static/materials/icons/button_e.png' style='width:100%;height:100%;object-fit:contain;'>
    </div>

    <!-- <div style='position:absolute;bottom:0;left:50%;width:10vw;height:10vw;transform:translateX(-50%)' @click='open_posting()'>
      <img src='/static/materials/icons/SIDEB_ICON_RECORD.png' style='width:100%;height:100%;object-fit:cover;'>
    </div>

    <div style='position:absolute;bottom:0;right:0;width:10vw;height:10vw;' @click='session.open_mypage()'>
      <img src='/static/materials/icons/SIDEB_ICON_USER.png' style='width:100%;height:100%;object-fit:cover;'>
    </div> -->

    <div class='menu-bottom'>
      <div class='discover'>
        <img src='/static/materials/icons/button_m.png'>
      </div>

      <div class='_oi'>
        <img src='/static/materials/icons/button_oi.png'>
      </div>

      <div class='mypage' @click='session.open_mypage()'>
        <img src='/static/materials/icons/button_b_profile.png'>
      </div>

      <div class='_e'>
        <img src='/static/materials/icons/button_e.png'>
      </div>

      <div class='posting' @click='open_posting()'>
        <img src='/static/materials/icons/button_r.png'>
      </div>
    </div>
  </div>
</script>


<script>
  Vue.use(VueAwesomeSwiper);

  Vue.component('baseposts', {
    template: '#baseposts-template',
    delimiters: ['[[', ']]'],
    props: ['postlist', 'session', 'open_at', 'posts'],

    data: function() {
      return {
        is_fullscreen: false,
        swiper: undefined,
        swiper_options: {
          direction: 'vertical',
        },
      }
    },

    computed: {
      me: function() {
        return this
      },

      cpost: function() {
        if (this.swiper && this.postlist) {
          return this.postlist[this.swiper.realIndex]
        }
      },

      cpost_id: function() {
        if (this.cpost) {
          return this.cpost.id
        }
      },

      // cpost_ncomments: function() {
      //   if (this.cpost) {
      //     return this.cpost.ncomments
      //   }
      // },

      cpost_boo: function() {
        if (this.session.auth && this.cpost && this.cpost.boo.id==this.session.auth.boo_selected) {
          return this.session.auth.boo

        } else if (this.cpost) {
          return this.cpost.boo
        }
      },

      cpost_boo_id: function() {
        if (this.cpost_boo) {
          return this.cpost_boo.id
        }
      },

      cpost_boo_profile: function() {
        if (this.cpost_boo) {
          return this.cpost_boo.profile.pix
        }
      },

      level_style: function() {
        if (this.cpost_boo) {
          return {
            borderBottom: `calc(var(--s-menu) * 0.3) solid ${this.session.levelcolor(this.cpost_boo)}`
          }
        }
      }
    },

    mounted: function() {
      this.swiper = this.$refs.swiper.$swiper;
    },

    watch: {
      open_at: function(_new, _old) {
        this.swiper.slideTo(_new, 1, false);
        // nexttick으로 안하면 swiper가 존재하지 않는 에러 발생
        // this.$nextTick(function() {
        //   this.posts.open_at(_new);
        // })
      },

      cpost_id: function(_new, _old) {
        if (this.postlist.length > 1) {
          console.log(this.postlist.length, this.swiper.realIndex);
          if (this.postlist.length-this.swiper.realIndex < 5) {
            this.posts.load();
          }
        }
      }
    },

    methods: {
      open_posting: function() {
        this.session.open_posting(this);
      }
    }
  });
</script>
