<style>
  .baseposts.vcomp {
    width: 100%;
    height: 100%;
  }

  .baseposts.vcomp > .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .baseposts.vcomp > .swiper-container > .swiper-wrapper {
    z-index: 0;
  }

  .baseposts.vcomp > .back {
    position: absolute;
    top: calc(352 * var(--x));
    left: 0;
    width: 100%;
    height: calc(572 * var(--x));
    /* background: rgba(255,242,204,0.25); */
    background: rgba(0,0,0,0.1);
  }

  .baseposts.vcomp > .back > img.logo {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--s-menu) + var(--pix-margin));
    height: calc(var(--s-menu) + var(--pix-margin));
  }

  .baseposts.vcomp > .menublock {
    position: absolute;
    width: var(--s-menu);
    height: var(--s-menu);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .baseposts.vcomp > .menublock.author {
    top: 0;
    right: 0;
    background: white;
  }


  .baseposts.vcomp > .menublock.my {
    bottom: calc(64 * var(--x));
    right: 0;
  }

  .baseposts.vcomp > .menublock.posting {
    bottom: calc(64 * var(--x) + var(--s-menu));;
    right: 0;
  }

  .baseposts.vcomp > .menublock.comment {
    bottom: calc(64 * var(--x) + 2 * var(--s-menu));;
    right: 0;
  }

  .baseposts.vcomp > .menublock > img.fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .baseposts.vcomp > .menublock > img.icon {
    object-fit: contain;
    width: 80%;
    height: 80%;
  }


  .baseposts.vcomp .show-author-profile-enter-active {
    transition: all 0.5s;
  }

  .baseposts.vcomp .show-author-profile-leave-active {
    transition: all 0.1s;
  }

  .baseposts.vcomp .show-author-profile-enter,
  .baseposts.vcomp .show-author-profile-leave-to {
    opacity: 0;
  }


  .baseposts.vcomp > .post-score {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(var(--s-menu) + var(--pix-margin));
    height: calc(var(--x) * 64);
  }

  .baseposts.vcomp > .post-score > img.barcode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - var(--pix-margin) * 2);
  }

  .baseposts.vcomp > .post-score > .score {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(var(--pix-margin) * 2);
    background: none;
    text-align: right;
    font-size: calc(var(--pix-margin) * 1.3);
  }


  .baseposts.vcomp > .post-score > .score > img {
    float: right;
    width: calc(var(--pix-margin) * 2);
    height: calc(var(--pix-margin) * 2);
    object-fit: contain;
    margin-left: 3px;
  }
</style>


<script type='text/x-template' id='baseposts-template'>
  <div class='baseposts vcomp' ref='kkkk'>
    <div class='back'>
      <img class='logo' src='/static/materials/imgs/sideb_logo.jpg'>
    </div>

    <div class='post-score'>
      <img class='barcode' src='/static/materials/icons/barcode_0.png'>
      <div class='score'>
        264
        <img src='/static/materials/icons/fire.png'>
      </div>
    </div>

    <swiper ref='swiper' :options='swiper_options'>
      <swiper-slide v-for='post in postlist' :key='post.id'>
        <post
          :post='post'
          :session='session'
          :mother='me'
        ></post>
      </swiper-slide>
    </swiper>

    <transition name='show-author-profile' mode=in-out>
      <div class='author menublock' :style='level_style' :key='cpost_boo_id' @click='session.open_boopage(cpost_boo)'>
        <img class='fit' :src='cpost_boo_profile'>
      </div>
    </transition>


    <div class='comment menublock' @click='session.open_comments(cpost)'>
      <img class='icon' src='/static/materials/icons/SIDEB_ICON_COMMENT.png'>
      <div v-if='cpost_ncomments!=0' style='position:absolute;top:0;left:50%;background:red;color:white;font-size:12px;transform:translate(-50%,-50%);padding-left:4px;padding-right:4px;'>[[cpost_ncomments]]</div>
    </div>

    <div class='posting menublock' @click='open_posting()'>
      <img class='icon' src='/static/materials/icons/SIDEB_ICON_RECORD.png'>
    </div>

    <div class='my menublock' @click='session.open_mypage()'>
      <img class='icon' src='/static/materials/icons/SIDEB_ICON_USER.png'>
    </div>
  </div>
</script>


<script>
  Vue.use(VueAwesomeSwiper);

  Vue.component('baseposts', {
    template: '#baseposts-template',
    delimiters: ['[[', ']]'],
    props: ['postlist', 'session', 'open_at', 'posts'],

    data: function() {
      return {
        swiper: undefined,
        swiper_options: {
          direction: 'vertical'
        }
      }
    },

    computed: {
      // posts_list: function() {
      //   if (this.posts) {
      //     return  this.posts.list
      //
      //   } else {
      //     return []
      //   }
      // },

      me: function() {
        return this
      },

      cpost: function() {
        if (this.swiper && this.postlist) {
          return this.postlist[this.swiper.realIndex]
        }
      },

      cpost_id: function() {
        if (this.cpost) {
          return this.cpost.id
        }
      },

      cpost_ncomments: function() {
        if (this.cpost) {
          return this.cpost.ncomments
        }
      },

      cpost_boo: function() {
        if (this.session.auth && this.cpost && this.cpost.boo.id==this.session.auth.boo_selected) {
          return this.session.auth.boo

        } else if (this.cpost) {
          return this.cpost.boo
        }
      },

      cpost_boo_id: function() {
        if (this.cpost_boo) {
          return this.cpost_boo.id
        }
      },

      cpost_boo_profile: function() {
        if (this.cpost_boo) {
          return this.cpost_boo.profile.pix
        }
      },

      level_style: function() {
        if (this.cpost_boo) {
          return {
            borderBottom: `calc(var(--s-menu) * 0.3) solid ${this.session.levelcolor(this.cpost_boo)}`
          }
        }
      }
    },

    mounted: function() {
      this.swiper = this.$refs.swiper.$swiper;
    },

    watch: {
      open_at: function(_new, _old) {
        this.swiper.slideTo(_new, 1, false);
        // nexttick으로 안하면 swiper가 존재하지 않는 에러 발생
        // this.$nextTick(function() {
        //   this.posts.open_at(_new);
        // })
      },

      cpost_id: function(_new, _old) {
        if (this.postlist.length > 1) {
          console.log(this.postlist.length, this.swiper.realIndex);
          if (this.postlist.length-this.swiper.realIndex < 5) {
            this.posts.load();
          }
        }
      }
    },

    methods: {
      open_posting: function() {
        this.session.open_posting(this);
      }
      // test: function() { console.log(this)}
      // open_comments: function() {
      //   if (this.type=='booposts') {
      //   } else {
      //     this.session.open_comments();
      //   }
      // },
      //
      // open_posting: function() {
      //   this.session.open_posting(this.posts)
      // }
    }
  });
</script>
