<style>
  .post {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .post .backbone {
    border-collapse: collapse;
  }

  .post .backbone td{
    position: relative;
    padding: 0;
    box-sizing: border-box;
    border: var(--border-w) solid black;
    text-align: center;
  }

  .post .backbone td.full {
    width: var(--s-0);
  }

  .post .backbone td.half {
    width: var(--s-1);
  }

  .post .backbone td.side {
    width: var(--s-menu);
    border-top: none;
    border-bottom: none;
  }

  .post .backbone td.top {
    height: var(--s-0);
  }

  .post .backbone td.bottom {
    border-bottom: none;
    height: calc(var(--s-0) + var(--border-w)/2);
    /* td.bottom의 아래경계선을 지워주면서, 그만큼 높이를 늘렸다 */
  }

  .post .backbone img.pix {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .post .description {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 50%;
    transform: translate(0,-50%);
    font-size: 12px;
    line-height: 15px;
  }

  .post .description span {
    background: black;
    color: white;
    line-height: 15px;
  }

  .post span.vs {
    position: absolute;
    background: var(--color-pos);
    color: black;
    font-size: var(--vs-fsize);
    line-height: calc(var(--vs-fsize) + 8px);
    font-weight: bold;
  }

  .post.postvoteox span.vs {
    bottom: var(--s-1);
    left: calc(var(--s-1) + var(--border-w)/2);
    transform: translate(-50%,50%);
  }

  .post.postvoteab span.vs {
    top: calc(var(--s-0) + var(--border-w)/2);
    left: calc(var(--s-1) + var(--border-w)/2);
    transform: translate(-50%,-50%);
  }

  .post.postvoteox .backbone .ox {
    width: 100%;
    height: 100%;
    color: black;
    background: none;
    font-weight: bold;
    font-size: var(--ox-fsize);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: inline-block; */
  }

  .post input.toggler,
  .post input[type='file'] {
    display: none;
    visibility: hidden;
  }

  .post input.vote.toggler:checked ~ .scores {
    opacity: 1;
  }

  .post.postvoteox input.vote.toggler[vote='up']:checked ~ .backbone td[vote='up'] {
    background: var(--color-pos);
  }

  .post.postvoteox input.vote.toggler[vote='down']:checked ~ .backbone td[vote='down'] {
    background: var(--color-neg);
  }

  .post.postvoteab input.vote.toggler[vote='up']:checked ~ .backbone td[vote='down'],
  .post.postvoteab input.vote.toggler[vote='down']:checked ~ .backbone td[vote='up'] {
    filter: grayscale(1);
  }

  .post input.show-edit-button.toggler:checked ~ .edit.button,
  .post input.show-newpost-button.toggler:checked ~ .newpost.button {
    bottom: 30px;
  }

  .post .scores {
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }

  .post .scores .score {
    position: absolute;
    background: none;
    transform: translate(-50%,-50%);
  }

  .post.postvoteox .scores .score.up {
    top: calc(var(--s-0) + var(--s-1)/2);
    left: calc(var(--s-1) + var(--border-w)/2 - var(--s-1)/2);
  }

  .post.postvoteox .scores .score.down {
    top: calc(var(--s-0) + var(--s-1)/2);
    left: calc(var(--s-1) + var(--border-w)/2 + var(--s-1)/2);
  }

  .post.postvoteab .scores .score.up {
    top: calc(var(--s-0) - var(--s-1)/2);
    left: calc(var(--s-1) + var(--border-w)/2);
  }

  .post.postvoteab .scores .score.down {
    top: calc(var(--s-0) + var(--s-1)/2);
    left: calc(var(--s-1) + var(--border-w)/2);
  }

  .post .pix-space {
    position: absolute;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    background: none;
    border: 5px dashed silver;
  }

  .post .pix-space img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
    transform: translate(-50%,-50%);
    opacity: 0.3;
  }

  .post .edit.button,
  .post .newpost.button {
    position: absolute;
    bottom: -40px;
    left: 30px;
    width: calc(var(--s-0) + var(--border-w) - 60px);
    height: 35px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.1s;
    font-size: 12px;
  }

  .post .newpost.button:after {
    content: 'SAVE NEWPOST';
  }

  .post .edit.button:after {
    content: 'EDIT';
    transition: bottom 0.1s;
  }

  .post input.edit.toggler:checked ~ table.backbone label.loader {
    pointer-events: auto;
  }

  .post input.edit.toggler:checked ~ .edit.button {
    background: orange;
  }

  .post input.edit.toggler:checked ~ .edit.button:after {
    content: 'ON EDITING';
  }

  .post table.backbone label.loader {
    pointer-events: none;
  }

  /* [contenteditable="true"] {
    color: yellow !important;
    pointer-events: auto !important;
    z-index: 10 !important;
  } */
</style>


<div class='post {{type}}' id='{{post.pk}}'>
  <input class='edit toggler' type="checkbox" {% if not post %}checked{% endif %}>
  <!-- <input mode='show' class='mode toggler' type="radio" name='mode-{{post.pk}}' {% if mode == 'show' %}checked{% endif %}>
  <input mode='edit' class='mode toggler' type="radio" name='mode-{{post.pk}}' {% if mode == 'edit' %}checked{% endif %}>
  <input mode='new' class='mode toggler' type="radio" name='mode-{{post.pk}}' {% if mode == 'new' %}checked{% endif %}> -->

  {% if post %}
  <input vote='up' class='vote toggler' type="radio" name='vote-{{post.pk}}' {% if post.voted == 0 %}checked{% endif %}>
  <input vote='down' class='vote toggler' type="radio" name='vote-{{post.pk}}' {% if post.voted == 1 %}checked{% endif %}>
  {% endif %}

  <!-- <form method="post" enctype="multipart/form-data"> -->

    {% if type == 'postvoteox' %}
    <table class='backbone'>
      <tbody>
        <tr>
          <td class='top full' colspan='2'>{% block post-pix %}{% endblock post-pix %}</td>
          <td class='top side'></td>
        </tr>

        <tr>
          <td class='bottom half' vote='up' onclick='toggle_vote(this)'><div class='ox'>O</div></td>
          <td class='bottom half' vote='down' onclick='toggle_vote(this)'><div class='ox'>X</div></td>
          <td class='bottom side'></td>
        </tr>
      </tbody>
    </table>


    {% elif type == 'postvoteab' %}
    <table class='backbone'>
      <tbody>
        <tr>
          <td class='top full' vote='up' onclick='toggle_vote(this)'>{% block post-pix-a %}{% endblock post-pix-a %}</td>
          <td class='top side'></td>
        </tr>

        <tr>
          <td class='bottom full' vote='down' onclick='toggle_vote(this)'>{% block post-pix-b %}{% endblock post-pix-b %}</td>
          <td class='bottom side'></td>
        </tr>
      </tbody>
    </table>
    {% endif %}


    {% block post-etc %}
    {% endblock post-etc %}
  <!-- </form> -->

  <!-- <span class='vs' contenteditable="true" onclick='this.focus();console.log(1234);'>VS</span> -->
  <!-- contenteditable이 swiperjs에서은 안먹히는거 같다 -->
  <span class='vs'>VS</span>
  <input class='show-edit-button toggler' type='checkbox'>
  <div class='edit button' onclick='toggle_edit(this)'></div>

  <input class='show-newpost-button toggler' type='checkbox' {% if not post %}checked{% endif %}>
  <div class='newpost button' onclick='save_newpost(this)'></div>
</div>


<script>
  function toggle_vote(td) {
    // 처음에는 label로 처리했는데, label로 하면 deselect가 안된다
    let voted_to = td.getAttribute('vote');
    // 나중에 이부분을 예외처리 해야할듯 하다: vote-toggler가 없는 경우
    let toggler = td.closest('.post').querySelector(`input.vote.toggler[vote=${voted_to}]`);
    toggler.checked = !toggler.checked;
  }

  function save_post() {}

  function toggle_edit(div) {
    let post = div.closest('.post');
    let toggler = post.querySelector('input.edit.toggler');

    if (toggler.checked) {
      toggler.checked = false;

      let formData = new FormData();
      formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
      formData.append('post_id', post.id);
      formData.append('text', post.querySelector('span.text').innerHTML.replace(/<br>/gi,'\n'));

      let pix_files;

      if (post.classList.contains('postvoteox')) {
        formData.append('type', 'postvoteox');
        pix_files = post.querySelector('input[id^="pix-loader"]').files;
        if (pix_files.length>0) {
          formData.append('pix', pix_files[0]);
        }

      } else if ((post.classList.contains('postvoteab'))) {
        formData.append('type', 'postvoteab');
        pix_files = post.querySelector('input[id^="pix-a-loader"]').files;
        if (pix_files.length>0) {
          formData.append('pix_a', pix_files[0]);
        }

        pix_files = post.querySelector('input[id^="pix-b-loader"]').files;
        if (pix_files.length>0) {
          formData.append('pix_b', pix_files[0]);
        }
      }

      fetch('post/save/', {
        method: 'POST',
        body: formData
      }).then(res => res.json()).then(js => {
        console.log(js);
      });

    } else {
      toggler.checked = true;
    }
  }


  function load_pix(input) {
    if (input.files && input.files[0]) {
      let reader = new FileReader();

      reader.onload = function(e) {
        let img = $(input).siblings('label').children('img');  // 여기서는 jquery가 되네; 희안하다 (함수 안에서는 되는듯)
        img.css('display', 'block');
        img.attr("src", e.target.result);
        // img.parent().css("display", "block");
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  function imgerr(img) {
    img.style.display = 'none';
  }
</script>
