<style>
  .boolist.vcomp > .boo {
    background: none;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: calc(var(--w-12) + 10px);
    padding-right: var(--w-12);
    position: relative;
  }

  .boolist.vcomp > .boo > .profile {
    position: absolute;
    top: 50%;
    left: var(--w-4);
    width: var(--w-8);
    height: var(--w-8);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    transform: translateY(-50%);
  }

  .boolist.vcomp > .boo > .profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .boolist.vcomp > .boo > .follow {
    position: absolute;
    top: 50%;
    right: var(--w-4);
    width: var(--w-6);
    height: var(--w-6);
    transform: translateY(-50%);
    background: none;
  }

  .boolist.vcomp > .boo > .follow > img {
    width: 100%;
    height: auto;
    /* height: 100%; */
  }

  .boolist.vcomp > .boo > .follow > .nfollowers {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    font-size: 10px;
    line-height: 10px;
  }
</style>

<script type='text/x-template' id='boolist-template'>
  <div class='boolist vcomp'>
    <div class='boo' v-for='b in boolist'>
      <div class='profile' @click='session.open_boopage(b)'>
        <img :src='b.profile.pix'>
      </div>

      <div class='follow' @click='toggle_follow(b)'>
        <img class='follow-on' src='/static/materials/icons/like_filled.png' v-if='session.is_following(b)'>
        <img class='follow-off' src='/static/materials/icons/like.png' v-else>
        <span class='nfollowers'>[[ b.nfollowers ]]</span>
        <!-- // 좀전에 다른 화면에서 follow 한 경우, nfollower 숫자가 업데이트 안된다...  -->
      </div>

      <span><b>[[b.nick]]</b></span><br>
      <span>[[b.text ? b.text : "&nbsp;"]]</span>
    </div>
  </div>
</script>


<script>
  Vue.component('boolist', {
    template: '#boolist-template',
    delimiters: ['[[', ']]'],
    props: [ 'boolist', 'session' ],
    data: function() {
      return { }
    },

    methods: {
      toggle_follow: function(boo) {
        // if (this.is_myboo(boo)) {
        if (this.session.is_myboo(boo)) {
          return
        }

        // if (this.is_following(boo)) {
        if (this.session.is_following(boo)) {
          // this.session.auth.unfollow(boo.id);
          this.session.unfollow(boo);
          boo.nfollowers -= 1;

        } else {
          // this.session.auth.follow(boo.id);
          this.session.follow(boo);
          boo.nfollowers += 1;
        }
      },

      // is_following: function(boo) {
      //   // if (!this.is_myboo(boo) && this.session.auth) {
      //   if (!this.session.is_myboo(boo) && this.session.auth) {
      //     return this.session.auth.is_following(boo.id)
      //   }
      // },

      // is_myboo: function(boo) {
      //   return (this.session.auth && this.session.auth.boo.id==boo.id)
      // },
    }
  });
</script>
