{% include "getch/page.html" %}
{% include "getch/baseposts.html" %}

<style>
  .booposts.vcomp {
    width: 100%;
    height: 100%;
  }
</style>

<script type='text/x-template' id='booposts-template'>
  <page class='booposts' :open='session.page.booposts.open' :from='session.page.booposts.from' @close='session.close_page()'>
    <baseposts :session='session' :postlist='postlist' :open_at='session.page.booposts.open_at'></baseposts>
  </page>
</script>


<script>
  Vue.component('booposts', {
    template: '#booposts-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {}
    },

    computed: {
      postlist: function() {
        if (!this.session.booposts) {
          return []
        }

        const _postlist = this.session.booposts.list.map(post => {
          const _post = _.find(this.session.posts.list, ['id', post.id]);
          if (_post) {
            return _post;
          } else {
            return post
          }
        });

        if (this.session.auth && this.session.auth.boo.id==this.session.booposts.boo.id) {
          _postlist.forEach(post => {
            post.boo = this.session.auth.boo;
          });

        } else {
          _postlist.forEach(post => {
            post.boo = this.session.booposts.boo;
          });
        }

        return _postlist
      }
    }
  });
</script>
