<script type='text/x-template' id='boopage-template'>
  <page class='boopage vcomp' :open='session.page.boopage.open' :from='session.page.boopage.from' @close='session.close_page()'>
    <aboutboo v-if='boo' :boo='boo' :session='session' type='boo' :open='session.page.boopage.open'></aboutboo>
  </page>
</script>


<script>
  Vue.component('boopage', {
    template: '#boopage-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    },

    computed: {
      boo: function() {
        return this.session.page.boopage.boo
      }
    }
  });
</script>
