{% include "getch/scorekit.html" %}

<style>
  .comments.vcomp {
    font-size: 13px;
  }

  .comments.vcomp .headerbar-body-default {
    font-size: 17px;
  }

  .comments.vcomp .page-body {
    background: white;
  }

  .comments.vcomp .page-body > .author-header {
    position: relative;
    width: 100%;
    /* height: 100px; */
    background: white;
    margin-top: var(--w-16);
    padding-left: var(--w-6);
  }

  .comments.vcomp .page-body > .author-header > .profile {
    width: var(--w-10);
    height: var(--w-10);
    background: none;
    border-radius: 50%;
    overflow: hidden;
  }

  .comments.vcomp .page-body > .author-header > .author-nick {
    position: absolute;
    top: 50%;
    left: var(--w-18);
    transform: translateY(-50%);
    font-size: 15px;
  }

  .comments.vcomp .page-body > .author-header > .author-nick > .post-date {
    font-size: 11px;
    color: var(--color-inactive);
    margin-left: 5px;
  }

  .comments.vcomp .page-body > .post-text {
    /* background: orange; */
    padding-top: 15px;
    padding-left: var(--w-6);
    padding-right: var(--w-6);
    white-space: pre-line;
  }

  .comments.vcomp .page-body > hr {
    margin-left: var(--w-6);
    margin-right: var(--w-6);
    margin-top: 15px;
    margin-bottom: 15px;
    background: var(--color-inactive);
    border: 0;
    height: 1px;
  }

  .comments.vcomp .profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .comments.vcomp .page-body > .commenter {
    position: absolute;
    bottom: var(--w-20);
    left: var(--w-5);
    right: var(--w-5);
    border: 1px solid var(--color-inactive);
    border-radius: var(--w-6);
    /* box-sizing: border-box; */
    min-height: var(--w-12);
    display: flex;
    align-items: center;
    overflow: hidden;
    background: white;
  }

  .comments.vcomp .page-body > .commenter > .profile {
    position: absolute;
    top: var(--w-2);
    left: var(--w-2);
    width: var(--w-8);
    height: var(--w-8);
    background: none;
    border-radius: 50%;
    overflow: hidden;
  }

  .comments.vcomp .page-body > .commenter > .send {
    background: none;
    position: absolute;
    top: 50%;
    right: var(--w-3);
    transform: translateY(-50%);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--w-8);
    width: var(--w-8);
  }

  .comments.vcomp .page-body > .commenter > .commenter-body {
    width: 100%;
  }

  .comments.vcomp .page-body > .commenter > .commenter-body > .mention {
    padding-left: var(--w-12);
    /* padding-bottom: 3px; */
    margin-top: var(--w-2);
    color: red;
  }

  .comments.vcomp .page-body > .commenter > .commenter-body > textarea {
    width: 100%;
    background: lightpink;
    border: none;
    box-sizing: border-box;
    padding-left: var(--w-12);
    padding-right: var(--w-12);
    resize: none;
    /* margin-top: var(--w-2); */
    margin-bottom: var(--w-2);
    overflow: hidden;
    display: block;
  }

  .comments.vcomp .page-body > .commenter > div > textarea:focus {
    outline: none;
  }


  .comments.vcomp .page-body > .contents {
    position: relative;
    width: 100%;
    margin-bottom: var(--w-40);
  }

  /* .comments.vcomp.commenting .page-body > .contents {
    opacity: 0;
  } */

  .comments.vcomp .page-body > .contents > .comment {
    /* background: orange; */
    min-height: var(--w-8);
    margin-bottom: 15px;
    /* display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; */
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-radius: var(--w-6); */
  }

  .comments.vcomp .page-body > .contents > .comment > .profile {
    position: absolute;
    top: 0;
    left: var(--w-5);
    width: var(--w-8);
    height: var(--w-8);
    border-radius: 50%;
    overflow: hidden;
  }

  .comments.vcomp .page-body > .contents > .comment > .nick {
    background: none;
    padding-left: var(--w-16);
    padding-bottom: 3px;
  }

  .comments.vcomp .page-body > .contents > .comment > .text {
    position: relative;
    padding-left: var(--w-16);
    padding-right: var(--w-25);
    white-space: pre-line;
  }

  .comments.vcomp .page-body > .contents > .comment > .nick > .when {
    background: none;
    color: var(--color-inactive);
    font-size: 10px;
    margin-left: 5px;
  }

  .comments.vcomp .page-body > .contents > .comment > .text > .action {
    position: absolute;
    top: 0;
    width: var(--w-4);
    height: var(--w-4);
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .comments.vcomp .page-body > .contents > .comment > .text > .reply.action {
    right: var(--w-13);
    background: none;
  }

  .comments.vcomp .page-body > .contents > .comment > .text > .like.action {
    right: var(--w-5);
    background: none;
  }

  .comments.vcomp .page-body > .contents > .comment > .text > .action > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>

<script type='text/x-template' id='comments-template'>
  <page2
    class='comments vcomp'
    :class='on_commenting ? "commenting" : ""'
    :open='session.page.comments.open'
    :from='session.page.comments.from'
    :scrolload='{ obj:the_post.comments, n:10 }'
    :sticky_trigger_margin='100'
    :onloading='onloading'
    ref='page'
    @close='session.close_page()'>


    <template #headerbar-menu>
      <div class='item' @click='report_this_post'>신고하기</div>
    </template>

    <template #headerbar-body-trans>
      <b>댓글 달기</b>
    </template>

    <template #headerbar-body-default>
      <b>댓글 달기</b>
    </template>

    <template #page-body>
      <div class='author-header'>
        <div class='profile'>
          <img :src='author.profile.pix'>
        </div>

        <div class='author-nick'>
          <b>[[ author.nick ]]</b>
          <span class='post-date'>[[ the_post_date ]]</span>
        </div>
      </div>

      <div class='post-text'>
        [[ the_post_text ]]
      </div>

      <hr class='divider'>

      <div class='contents'>
        <div class='comment' v-for='c in commentlist'>
          <div class='profile'><img :src='c.boo.profile.pix'></div>
          <div class='nick'>
            <b>[[ c.boo.nick ]]</b>
            <span class='when'>[[ relative_date(c.created_at) ]]</span>
          </div>
          <div class='text'>
            <span>[[ c.text ]]</span>

            <div class='action reply' @click='reply(c.boo)'><img src='/static/materials/icons/comment.png'></div>
            <div class='action like' @click='toggle_like_comment(c.id)'>
              <img src='/static/materials/icons/like_filled.png' v-if='is_liking_comment(c.id)'>
              <img src='/static/materials/icons/like.png' v-else>
            </div>
          </div>
        </div>
      </div>


      <div class='commenter' v-if='myboo'>
        <div class='commenter-body'>
          <div class='mention'>[[ mention ? mention : '' ]]</div>

          <textarea
            v-model.trim='mycomment'
            :placeholder="myboo.nick + '(으)로 댓글달기'"
            spellcheck='false'
            rows='1'
            @input='texting'
            @focus='begin_commenting'
            @blur='finish_commenting'
            ref='input'>
          </textarea>
        </div>

        <div class='profile'>
          <img v-if='myboo' :src='myboo.profile.pix'>
        </div>

        <div class='send' @click='save'>전송</div>
      </div>
    </template>
  </page2>
</script>


<script>
  Vue.component('comments', {
    template: '#comments-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        mycomment: '',
        on_commenting: false,
        mention: undefined
      }
    },

    watch: {
      'session.page.comments.open': function(_new, _old) {
        if (_new) {
          this.fix_window_width();

          // if (!this.the_post.voters) {
          //   this.$set(this.the_post, 'voters', {
          //     0: new Voters(this.the_post, 0),
          //     1: new Voters(this.the_post, 1),
          //   });
          // }

          if (!this.the_post.comments) {
            this.$set(this.the_post, 'comments', new Comments(this.the_post))
          }

        } else {
          this.release_window_width();
        }
      }
    },

    computed: {
      the_post: function() {
        return this.session.page.comments.post
      },

      the_post_text: function() {
        return this.the_post.text
      },

      the_post_date: function() {
        return this.relative_date(this.the_post)
      },

      myboo: function() {
        if (this.session.auth) {
          return this.session.auth.boo
        }
      },

      author: function() {
        return this.the_post.boo
      },

      commentlist: function() {
        if (this.the_post.comments) {
          return this.the_post.comments.list.sort((a,b) => new Date(a.created_at) - new Date(b.created_at))

        } else {
          return []
        }
      },

      comments_onloading: function() {
        if (this.the_post.comments) {
          return this.the_post.comments.onloading
        }
      },

      // voters_onloading: function() {
      //   if (this.the_post.voters) {
      //     return this.the_post.voters[0].onloading || this.the_post.voters[1].onloading
      //   }
      // },

      onloading: function() {
        return this.comments_onloading //|| this.voters_onloading
      }
    },

    methods: {
      texting: function() {
        this.$refs.input.style.height = "auto";
        this.$refs.input.style.height = (this.$refs.input.scrollHeight)+"px";
      },

      report_this_post: function() {
        window.open('mailto:contact@moiber.com');
      },

      relative_date: function(date) {
        moment.locale('ko');
        return moment(date).fromNow()
      },

      begin_commenting: function() {
        this.on_commenting = true;
      },

      finish_commenting: function() {
        this.on_commenting = false;
        // setTimeout(() => { this.mycomment = ''; }, 500);
      },

      fix_window_width: function() {
        const w = document.querySelector('#window').clientWidth;
        document.documentElement.style.setProperty('--width', w + 'px');
      },

      release_window_width: function() {
        document.documentElement.style.setProperty('--width', 'min(100vw, calc(100vh * 11 / 16))');
      },

      reply: function(boo) {
        this.mention = '@ ' + boo.nick;
        // this.$refs.input.focus();
        this.begin_commenting();
      },

      is_liking_comment: function(comment_id) {
        if (this.session.auth) {
          return this.session.auth.has_liked_comment(comment_id)
        }
      },

      toggle_like_comment: function(comment_id) {
        if (!this.session.auth)
          return

        let how;
        if (this.is_liking_comment(comment_id)) {
          how = 'delike';
          this.session.auth.delike_comment(comment_id);

        } else {
          how = 'like';
          this.session.auth.like_comment(comment_id);
        }

        fetch(`/comment/${comment_id}/${how}/`)
          .then(res => res.json())
          .then(js => {
            console.log(js);
          })
      },

      save: function() {
        if (this.mycomment=='')
          return

        this.finish_commenting();

        let when;
        const formdata = new FormData();
        formdata.append('csrfmiddlewaretoken', '{{csrf_token}}');
        formdata.append('post_id', this.the_post.id);
        formdata.append('text', this.mycomment);

        when = new Date().toISOString();

        const _comment = {
          boo: this.myboo,
          id: undefined,
          text: this.mycomment,
          created_at: when
        };

        this.the_post.comments.list.push(_comment);
        this.mycomment = '';

        fetch('/comment/save/', { method: 'POST', body: formdata })
          .then(res => res.json())
          .then(js => {
            console.log(js);

            if (js.success) {
              const comment_unsaved = _.find(this.the_post.comments.list, ['created_at', when]);
              comment_unsaved.id = Number(js.comment_id);
            }
          });
      },
    }
  });
</script>
