{% include "getch/comment.html" %}
{% include "getch/scorekit.html" %}

<style>
  .comments.vcomp .comments-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    background: white;
  }

  .comments.vcomp .comments-layout > .section {
    position: relative;
    padding: 10px;
  }

  .comments.vcomp .comments-layout > .score.section {
    background: none;
    border-bottom: 1px solid black;
    box-sizing: content-box;
    /* height: calc(var(--s-0) * 0.6); */
  }

  .comments.vcomp .comments-layout > .commentlist.section {
    background: white;
    overflow-y: auto;
    flex-grow: 1;
  }

  .comments.vcomp .comments-layout > .commenting.section {
    background: white;
    box-sizing: content-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .comments.vcomp .comments-layout > .section > .container {
    position: relative;
    background: none;
  }

  /* .comments.vcomp .comment-listing-leave-active, */
  .comments.vcomp .comment-listing-enter-active {
    transition: all 0.5s;
  }

  .comments.vcomp .comment-listing-enter,
  .comments.vcomp .comment-listing-leave-to {
    opacity: 0;
    /* transform: translateX(100px); */
  }

  .comments.vcomp .comment-listing-move {
    transition: all 0.5s;
  }

  .comments.vcomp .comments-layout > .commentlist.section .scroll-to-top {
    position: absolute;
    top: 0;
  }

  .comments.vcomp .comments-layout > .commentlist.section > .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<script type='text/x-template' id='comments-template'>
  <page class='comments vcomp' :open='session.page.comments.open' :from='session.page.comments.from' @close='session.close_page()'>
    <div class='comments-layout'>

      <div class='score section'>
        <scorekit :session='session' :post='cpost'></scorekit>
      </div>

      <div class='commentlist section'>
        <div class='scroll-to-top' ref='scroll_to_top'></div>

        <transition-group tag='div' class='container' name='comment-listing'>
          <comment
            v-for='comment in commentlist'
            :comment='comment'
            :session='session'
            :key='comment.created_at'
            :comment_focused='the_comment'
          ></comment>
        </transition-group>

        <scale-loader class='spinner' :loading='comments_onloading'></scale-loader>
      </div>

      <div class='commenting section' v-if='session.auth'>
        <div class='container'>
          <comment
            type='commenter'
            :comment='the_comment'
            :session='session'
            :comment_focused='the_comment'
            @save='save'
          ></comment>
        </div>
      </div>

    </div>
  </page>
</script>


<script>
  Vue.component('comments', {
    template: '#comments-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        the_comment: {
          text: '',
          id: undefined
        }
      }
    },

    computed: {
      cpost: function() {
        return this.session.page.comments.post
      },

      commentlist: function() {
        if (!this.cpost.comments) {
          this.$set(this.cpost, 'comments', new Comments(this.cpost))
        }

        return this.cpost.comments.list.sort((a,b) => new Date(b.created_at) - new Date(a.created_at))
      },

      comments_onloading: function() {
        if (this.cpost.comments) {
          return this.cpost.comments.onloading
        } else {
          return true
        }
      }
    },

    methods: {
      save: function() {
        let when;

        const formdata = new FormData();
        formdata.append('csrfmiddlewaretoken', '{{csrf_token}}');
        formdata.append('post_id', this.cpost.id);
        formdata.append('text', this.the_comment.text);

        if (this.the_comment.id) {
          formdata.append('id', this.the_comment.id);
          const comment_changed = _.find(this.cpost.comments.list, ['id', this.the_comment.id]);
          comment_changed.id = undefined;
          comment_changed.text = this.the_comment.text;
          when = comment_changed.created_at;

        } else {
          this.$refs.scroll_to_top.scrollIntoView({behavior: 'smooth', block: 'start', inline: 'nearest'});
          when = new Date().toISOString();

          const _comment = {
            boo: this.session.auth.boo,
            id: undefined,
            text: this.the_comment.text,
            created_at: when
          };

          this.cpost.comments.list.push(_comment);
        }

        fetch('comment/save/', { method: 'POST', body: formdata })
          .then(res => res.json())
          .then(js => {
            console.log(js);

            if (js.success) {
              const comment_unsaved = _.find(this.cpost.comments.list, ['created_at', when]);
              comment_unsaved.id = Number(js.comment_id);

              this.the_comment.id = undefined;
              this.the_comment.text = '';
            }
          });
      }
    }
  });
</script>
