{% if post %}
{% load ctags %}
<input field='{{pixfield}}' type="file" accept="image/*" id="{{pixfield}}_{{post.id}}" onchange="load_pix(this)">
<label class='pixloader' for='{{pixfield}}_{{post.id}}'>
  <div class='pixloader-icon'>
    <img src='/static/materials/icons/pix.png'>
  </div>
  <img class='pix' src='{{post|pix_src:pixfield}}' onerror='this.style.display="none"'>
</label>

{% else %}
{% now 'c' as pixloader_id %}
<input field='{{pixfield}}' type="file" accept="image/*" id="{{pixfield}}_{{pixloader_id}}" onchange="load_pix(this)">
<label class='pixloader' for='{{pixfield}}_{{pixloader_id}}'>
  <div class='pixloader-icon'>
    <img src='/static/materials/icons/pix.png'>
  </div>
  <img class='pix' onerror='imgerr(this)'>
  <!-- <img src=''> 이런식으로 src에 빈칸 들어가면 안된다 에러다! -->
</label>
{% endif %}
