{% if post %}
<div class='author menublock' author='{{post.boo.pk}}' onclick='open_authorpage()'>
  <img class='fit' src='{{post.boo.profile.pix.url}}'>
</div>

<div class='description'>
  <span class='nick'>@{{post.boo.nick}}</span><br>
  <span class='text' asis='{{post.text|linebreaksbr}}' contenteditable="true" spellcheck='false' placeholder='COMMENT HERE'>{{post.text|linebreaksbr}}</span>
</div>

<div class='scores'>
  <div class='score vote-0'>{{post.nvotes_up}}</div>
  <div class='score vote-1'>{{post.nvotes_down}}</div>
</div>

{% else %}
<div class='author menublock' author='{{user.boo.pk}}'>
  <img class='fit' src='{{user.boo.profile.pix.url}}'>
</div>

<div class='description' style='pointer-events:none;'>
  <span class='nick'>@{{user.boo.nick}}</span><br>
  <span class='text' asis='COMMENT HERE' contenteditable="true" spellcheck='false' placeholder='COMMENT HERE'></span>
  <!-- <span class='text' asis='COMMENT HERE' contenteditable="true" onfocus='start_texting(this)' onblur='end_texting(this)' style='white-space: pre;'>COMMENT HERE</span> -->
</div>
{% endif %}
