<style>
  .controller.vcomp {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--w-16);
    background: white;
    transition: all 0.2s;
  }

  .controller.vcomp.semi-trans {
    background: rgba(255,255,255,0.6);
  }

  .controller.vcomp.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .controller.vcomp > .btn {
    position: absolute;
    top: 50%;
    height: 100%;
    width: var(--w-16);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background: orange; */
  }

  .controller.vcomp > ._m {
    /* left: calc(var(--width-unit) * 3); */
    left: var(--w-3);
    transform: translate(0,-50%);
  }

  .controller.vcomp > ._oi {
    /* left: calc(var(--width-unit) * 29.5); */
    left: calc(var(--width-unit) * 30.5);
    transform: translate(-50%,-50%);
    /* opacity: 0.1; */
  }

  .controller.vcomp > ._b {
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .controller.vcomp > ._e {
    /* right: calc(var(--width-unit) * 29.5); */
    right: calc(var(--width-unit) * 30.5);
    transform: translate(50%,-50%);
    opacity: 0.1;
  }

  .controller.vcomp > ._r {
    /* right: calc(var(--width-unit) * 3); */
    right: var(--w-3);
    transform: translate(0,-50%);
  }

  .controller.vcomp > .btn > img {
    width: auto;
    height: var(--w-5);
    object-fit: contain;
    position: absolute;
    /* top: 40%; */
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }

  .controller.vcomp > ._b > img.profilepix {
    height: var(--w-10);
    border-radius: 50%;
    border: 1px solid whitesmoke;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  .controller.vcomp > .btn > .title {
    font-size: 11px;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
  }
</style>

<script type='text/x-template' id='controller-template'>
  <div class='controller vcomp' :class='controller_class'>
    <div class='_m btn' @click='open_navigator'>
      <img src='/static/materials/icons/collection_button.png'>
      <span class='title'>모아보기</span>
    </div>

    <div class='_oi btn' @click='open_home'>
      <img src='/static/materials/icons/search.png'>
      <span class='title'>검색 및 추천</span>
    </div>

    <div class='_b btn' @click='open_mypage'>
      <img class='profilepix' v-if='boo' :src='boo.profile.pix'>
      <img v-else src='/static/materials/icons/mypage_button.png'>
      <span class='title' v-if='!boo'>내 페이지</span>
    </div>

    <div class='_e btn'>
      <img src='/static/materials/icons/notification_button.png'>
      <span class='title'>알림</span>
    </div>

    <!-- <div class='_r btn' @click='session.open_posting()'> -->
    <!-- <div class='_r btn' @click='session.open_posting_guide()'> -->
    <div class='_r btn' @click='open_posting_guide'>
      <img src='/static/materials/icons/newfeed_button.png'>
      <span class='title'>새 피드</span>
    </div>
  </div>
</script>


<script>
  Vue.component('controller', {
    template: '#controller-template',
    delimiters: ['[[', ']]'],
    props: [ 'session' ],
    data: function() {
      return { }
    },

    computed: {
      boo: function() {
        if (this.session.user.auth) {
          return this.session.user.auth.boo
        }
      },

      controller_class: function() {
        if (this.on('posts') || this.on('booposts')) {
          return 'semi-trans'

        } else if (this.on('posting') || this.on('profiler') || this.on('pixeditor') || this.on('texteditor') || this.on('company') || this.on('bridge', 'profiler')) {
          return 'hidden'
        }
      }
    },

    methods: {
      on: function(where, prev) {
        if (prev) {
          return (this.session.mode.on == where) && (this.session.mode.prev.on == prev)

        } else {
          return this.session.mode.on == where
        }
      },

      open_navigator: function() {
        if (this.on('navigator')) {
          this.session.close_page();

        } else {
          this.session.open_navigator();
        }
      },

      open_home: function() {
        if (this.on('home')) {
          this.session.close_page();

        } else {
          this.session.open_home();
        }
      },

      open_mypage: function() {
        if (this.on('bridge') || this.on('mypage')) {
          this.session.close_page();

        } else {
          this.session.open_mypage();
        }
      },

      open_posting_guide: function() {
        if (this.on('bridge')) {
          this.session.close_page();

        } else {
          this.session.open_posting_guide();
        }
      }
    }
  });
</script>
