<style>
  .editext.vcomp {
    background: none;
    /* font-size: calc(var(--width-unit)*3.3); */
    font-size: 14px;
    white-space: pre-line;
    /* pre-line으로 해야 span 앞에 여백이 없어진다.. 왜? */
  }

  .editext.vcomp > span.text[contentEditable=true]:empty::before {
    content: attr(placeholder);
    color: gray;
  }

  .editext.vcomp > .text {
    padding-top: 3px;
  }

  .editext.vcomp > span {
    background: none;
    color: black;
    pointer-events: auto;
  }

  /* 중요참고: contenteditable은 swiper에서 안먹힌다. swiper에서 detachEvents를 해야한다 */
  .editext.vcomp > span.text[contenteditable=true]:focus {
    outline: none;
  }


  .editext.in-post.vcomp {
    /* line-height: 1.4; */
    /* line-height: 16px; */
    line-height: var(--w-4);
  }

  .editext.in-post.vcomp > span.header {
    color: black;
    /* font-weight: bold; */
    /* line-height: calc(var(--width-unit)*6); */
    line-height: var(--w-4);
  }

  .editext.in-post.vcomp > span.date {
    color: lightgray;
    margin-left: 5px;
    font-size: 12px;
  }

  .editext.in-post.vcomp > span.text[contenteditable=true]:focus {
    font-size: 20px;
    line-height: 1.3;
  }


  .editext.in-boo.vcomp {
    line-height: 1.2;
  }

  .editext.in-boo.vcomp > span.header {
    font-size: 18px;
    font-weight: bold;
  }

  .editext.in-boo-texting.vcomp {
    font-size: 16px;
    line-height: 1.2;
  }

  .editext.in-boo-texting.vcomp > span.header {
    font-size: 9px;
    color: gray;
  }

  .editext.in-boo-texting.vcomp > span.text[contenteditable=true]:focus {
    font-size: 20px;
    line-height: 1.3;
  }

  .editext.vcomp > .text > span.text-more {
    color: lightgray;
    margin-left: 5px;
    font-size: 12px;
  }
</style>


<script type='text/x-template' id='editext-template'>
  <div class='editext vcomp' :class='type'>
    <template v-if='header'>
      <span class='header'><b>[[ header ]]</b></span>
      <!-- <span class='date' v-if='date'>[[ date ]]</span> -->
      <br>
    </template>

    <div class='text' v-if='freeze'>[[ rawtext_display ]]<span class='text-more' v-if='has_more'>더보기</span></div>
    <span class='text' v-else v-show='text || editable' :contenteditable='editable' spellcheck='false' :placeholder='placeholder' @input='change_text'></span>
  </div>
</script>

<script>
  Vue.component('editext', {
    template: '#editext-template',
    delimiters: ['[[', ']]'],
    props: ['rawtext', 'header', 'date', 'editable', 'placeholder', 'type', 'freeze', 'squeeze'],
    data: function() {
      return {
        text: (this.rawtext ? this.rawtext : ''),
        changed: false,
        has_more: false
      }
    },

    mounted: function() {
      if (!this.freeze) {
        this.$el.querySelector('span.text').innerHTML = this.text;
      }
    },

    computed: {
      rawtext_display: function() {
        if (this.squeeze && this.rawtext) {
          this.has_more = true;
          const lines = this.rawtext.slice(0,40).split('\n');
          // console.log(lines)

          if (lines.length==1) {
            return lines[0].replace(/\s+$/, '') + '  ..'// 더보기'

          } else {
            const line1 = lines[0].replace(/\s+$/, '');
            const line2 = lines[1].replace(/\s+$/, '');

            return line1 + (line2.length==0 ? '' : '\n' + line2) + '  ..'// 더보기'
          }

        } else {
          this.has_more = false;
          return this.rawtext
        }


        // return (this.squeeze && this.rawtext) ? this.rawtext.slice(0,15).split('\n')[0] + '...' : this.rawtext
        // return (this.squeeze && this.rawtext && this.rawtext.length>15) ? this.rawtext.slice(0,15).split('\n')[0] + '...' : this.rawtext
      }
    },

    watch: {
      text: function(_new, _old) {
        if (_new != this.rawtext) {
          this.changed = true;

        } else {
          this.changed = false;
        }
      },

      rawtext: function(_new, _old) {
        if (!this.freeze) {
          this.text = (_new ? _new : '');
          this.reset();
        }
      }
    },

    methods: {
      change_text: function(event) {
        this.text = event.currentTarget.innerHTML.replace(/<br>/gi,'\r\n').replace(/&nbsp;/gi,' ');
      },

      reset: function() {
        this.$el.querySelector('span.text').innerHTML = this.rawtext;
      },

      get: function() {
        if (this.changed) {
          this.changed = false;
          return this.text
        }
      }
    }
  });
</script>
