<style>
  .landing.vcomp .page-body {
    background: white;
  }

  .landing.vcomp .page-body > .container {
    width: 100%;
    /* height: 200px; */
    margin-top: var(--w-16);
    /* margin-bottom: var(--w-20); */
    background: none;
    padding-left: var(--w-6);
    padding-right: var(--w-6);
    box-sizing: border-box;
  }


  .landing.vcomp .page-body > .container > .section > img {
    width: 100%;
    height: auto;
  }

  .landing.vcomp .page-body > .container > .section > .journey {
    background: var(--color-dark);
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 50px; */
    font-size: 12px;
    width: 200px;
  }

  .landing.vcomp .page-body > .container > .section > .tail {
    width: 100%;
    background: none;
    font-size: 11px;
    color: #CCCCCC;
    text-align: center;
    margin-bottom: 100px;
  }

  .landing.vcomp .page-body > .container > .section > .tail > .item {
    margin-left: 5px;
    margin-right: 5px;
  }

  .landing.vcomp .page-body > .container > .section {
    margin-left: calc((-1) * var(--w-6));
    margin-right: calc((-1) * var(--w-6));
  }

  .landing.vcomp .page-body > .container > .section > .cover {
    width: 100%;
    position: relative;
  }

  .landing.vcomp .page-body > .container > .section > .cover > img {
    width: 100%;
    height: auto;
    display: block;
  }

  .landing.vcomp .page-body > .container > .section > .cover > .journey {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-dark);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    width: var(--w-30);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .landing.vcomp .page-body > .container > .section > .cover > .journey.top {
    top: var(--w-50);
  }

  .landing.vcomp .page-body > .container > .section > .cover > .journey.bottom {
    /* bottom: var(--w-20); */
    bottom: calc(var(--w-10) + var(--w-60));
  }


  .landing.vcomp .page-body > .container > .section > .cover > .contactus {
    position: absolute;
    width: 100%;
    bottom: calc(var(--w-10) + var(--w-50));
    /* background: orange; */
    text-align: center;
    font-size: 15px;
    color: white;
  }

  .landing.vcomp .page-body > .container > .section > .cover > .links {
    position: absolute;
    width: 100%;
    bottom: calc(var(--w-10) + var(--w-40));
    /* height: 50px; */
    /* background: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
  }

  .landing.vcomp .page-body > .container > .section > .cover > .links > .link {
    width: var(--w-10);
    height: var(--w-10);
    /* margin: 5px; */
    /* background: lightpink; */
    position: relative;
  }

  .landing.vcomp .page-body > .container > .section > .cover > .links > .link > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--w-7);
    height: var(--w-7);
    transform: translate(-50%,-50%);
    /* filter: invert(100%); */
  }

  .landing.vcomp .page-body > .container > .section > .cover > .links > .link > span {
    position: absolute;
    top: calc(60% + 7px);
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
  }


  .landing.vcomp .page-body > .container > .section > .cover > .tail {
    position: absolute;
    left: 0;
    bottom: var(--w-10);
    /* bottom: 30px; */
    width: 100%;
    background: none;
    font-size: 11px;
    /* color: #CCCCCC; */
    color: white;
    text-align: center;
  }

  .landing.vcomp .page-body > .container > .section > .cover > .tail > .item {
    margin-left: 8px;
    margin-right: 8px;
  }
</style>


<script type='text/x-template' id='landing-template'>
  <page2
    class='landing vcomp'
    :open='session.page.landing.open'
    :from='session.page.landing.from'
    @close='session.close_page()'>

    <template #headerbar-menu>
      <div class='item' @click='open_who'>회사소개</div>
      <div class='item' @click='open_recruit'>채용정보</div>
      <div class='item' @click='privacy'>개인정보보호</div>
      <div class='item' @click='policy'>약관보기</div>
      <div class='item' @click='suggest'>건의하기</div>
    </template>

    <template #page-body>
      <div class='container'>
        <div class='section'>
          <div class='cover'>
            <img src='/static/materials/pages/landing0.gif'>
          </div>

          <div class='cover'>
            <img src='/static/materials/pages/landing1@2x.png'>
            <div class='journey top' @click='session.close_page()'>시작하기</div>
          </div>

          <div class='cover'>
            <img src='/static/materials/pages/landing2@3x-100.jpg'>
          </div>

          <div class='cover'>
            <img src='/static/materials/pages/landing3@3x-100.jpg'>
          </div>

          <div class='cover'>
            <img src='/static/materials/pages/landing4@3x-100.jpg'>
          </div>

          <div class='cover'>
            <img src='/static/materials/pages/landing5@2x.png'>
            <div class='journey bottom' @click='session.close_page()'>시작하기</div>

            <div class='contactus'>
              Contact us
            </div>

            <div class='links'>
              <div class='link' @click='goto_fb'>
                <img src='/static/materials/icons/fb_inverted.png'>
              </div>

              <div class='link' @click='goto_insta'>
                <img src='/static/materials/icons/insta_inverted.png'>
              </div>
            </div>

            <div class='tail'>
              <span class='item' @click='open_who'>소개</span>
              <span class='item' @click='open_recruit'>채용</span>
              <span class='item' @click='policy'>약관</span>
              <span class='item' @click='privacy'>개인정보보호</span>
              <span class='item' @click='suggest'>컨텍트</span>
            </div>
          </div>
        </div>
      </div>
    </template>

  </page2>
</script>


<script>
  Vue.component('landing', {
    template: '#landing-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    },

    watch: {
      'session.page.landing.section': function() {
        this.goto_upmost();
      }
    },

    methods: {
      open_who: function() {
        // this.session.page.company.section = 'who';
        this.session.open_company('who');
      },

      open_recruit: function() {
        // this.session.page.company.section = 'recruit';
        this.session.open_company('recruit');
      },

      policy: function() {
        window.open('/policy');
      },

      privacy: function() {
        window.open('/privacy');
      },

      suggest: function() {
        window.open('mailto:contact@moiber.com');
      },

      goto_upmost: function() {
        if (this.$refs) {
          this.$refs.upmost.scrollIntoView({behavior: 'smooth', block: 'end', inline: 'nearest'});
        }
      },

      goto_recruit: function(position) {
        this.session.open_infoboard(position);
      },

      journey: function() {
        console.log(1);
      },

      goto_fb: function() {
        window.open('https://www.facebook.com/moiber.official');
      },

      goto_insta: function() {
        window.open('https://www.instagram.com/moiber_official');
      },
    }
  });
</script>
