<style>
  .mbti.vcomp {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .mbti.vcomp .page-body > .swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .mbti.vcomp .page-body > .swiper-container > .swiper-wrapper {
    z-index: 0;
  }

  .mbti.vcomp .page-body > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
  }

  .mbti.vcomp .page-body > .swiper-container > .swiper-wrapper > .outro.swiper-slide {
    background: white;
    height: var(--w-50);
  }

  .mbti.vcomp .page-body > .swiper-container > .swiper-wrapper > .intro.swiper-slide > img {
    width: 100%;
    height: auto;
  }

  .mbti.vcomp .page-body > .swiper-container > .swiper-wrapper > .swiper-slide > .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-dark);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    width: var(--w-30);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .mbti.vcomp .page-body > .swiper-container > .swiper-wrapper > .intro.swiper-slide > .btn {
    bottom: var(--w-30);
    opacity: 0.1;
    pointer-events: none;
  }

  .mbti.vcomp .page-body > .swiper-container > .swiper-wrapper > .intro.swiper-slide > .btn.ready {
    opacity: 1;
    pointer-events: auto;
  }

  .mbti.vcomp .page-body > .swiper-container > .swiper-wrapper > .outro.swiper-slide > .btn {
    top: 0;
  }
</style>


<script type='text/x-template' id='mbti-template'>
  <page2
    class='mbti vcomp'
    :onloading='onloading'
    :open='session.page.mbti.open'
    :hide_close='true'
    :hide_menu='true'
    :hide_headerbar='false'
    :trans_headerbar='true'>

    <template #headerbar-menu>
    </template>

    <template #headerbar-body-default>
    </template>

    <template #page-body>
      <div class='swiper-container' ref='swiper'>
        <div class='swiper-wrapper'>
          <div class="intro swiper-slide">
            <img src='/static/materials/mbti/dongne/start_page.png'>
            <div class='btn' :class='!onloading ? "ready" : ""' @click='goto_first'>시작하기</div>
          </div>

          <template v-if='!onloading'>
            <div class="swiper-slide" v-for='c in contentlist'>
              <post v-if='c' :post='c' :session='session' :swiper='swiper'></post>
            </div>
          </template>

          <div class="outro swiper-slide" v-if='!onloading'>
            <div class='btn' :class='result ? "ready" : ""' @click='see_result'>결과보기</div>
          </div>
        </div>

        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </template>
  </page2>
</script>


<script>
  Vue.component('mbti', {
    template: '#mbti-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        swiper: undefined,
        swiper_options: {
          direction: 'vertical',
          simulateTouch: true,
          observer: true,
          observeParents: true,
          // autohHeight: true,
          slidesPerView: 'auto',
          mousewheel: {
            releaseOnEdges: true,
          },
          // pagination: {
          //   el: '.swiper-pagination',
          //   type: 'fraction',
          // },
        }
      }
    },

    mounted: function() {
      this.swiper = new Swiper(this.$refs.swiper, this.swiper_options);
    },

    watch: {
      'session.page.mbti.open': function(_new, _old) {
        if (_new && this.swiper) {
          this.swiper.slideTo(0);
        }
      }
    },

    methods: {
      content_of: function(group, pagination) {
        const cont = _.find(this.contents.list, ['group', group])

        if (cont && pagination)
          cont.pagination = pagination;

        return cont
      },

      goto_first: function() {
        this.swiper.slideNext();
      },

      see_result: function() {
        if (this.result) {
          this.session.open_mbtiresult(this.result, this.gender);
          // this.session.open_mbtiresult(this.result, this.gender=='m' ? '남' : '여');
          // alert(this.result + ' ' + this.final_feature);
        }
      },

      vote_state_of: function(content) {
        if (content) {
          return this.session.user.has_voted_as(content.id)

        } else {
          return -1
        }
      },

      mixed_feature_of: function(c1, c2, c3) {
        const cnt = _.countBy([
          this.vote_state_of(c1),
          this.vote_state_of(c2),
          this.vote_state_of(c3)
        ]);

        if (cnt[0] > 1) {
          return 'A'

        } else if (cnt[1] > 1) {
          return 'B'

        } else {
          return ''
        }
      },

      single_feature_of: function(c1) {
        const state = this.vote_state_of(c1);

        if (state == 0) {
          return 'A'

        } else if (state == 1) {
          return 'B'

        } else {
          return ''
        }
      }
    },

    computed: {
      // cur_content: function() {
      //   if (this.swiper && this.contentlist) {
      //     return this.contentlist[this.swiper.realIndex]
      //   }
      // },

      contents: function() {
        return this.session.page.mbti.contents
      },

      content_gender: function() {
        return this.content_of('mbti-dongne-0')
      },

      content_type1_1: function() {
        return this.content_of('mbti-dongne-개성대세-1', '1/10')
      },

      content_type1_2: function() {
        return this.content_of('mbti-dongne-개성대세-2', '2/10')
      },

      content_type1_3: function() {
        return this.content_of('mbti-dongne-개성대세-3', '3/10')
      },

      content_type2_1: function() {
        return this.content_of('mbti-dongne-멋부림무난-1', '4/10')
      },

      content_type2_2: function() {
        return this.content_of('mbti-dongne-멋부림무난-2-' + this.gender, '5/10')
      },

      content_type2_3: function() {
        return this.content_of('mbti-dongne-멋부림무난-3-' + this.gender, '6/10')
      },

      content_type3_1: function() {
        return this.content_of('mbti-dongne-포멀캐쥬얼-1-' + this.gender, '7/10')
      },

      content_type3_2: function() {
        return this.content_of('mbti-dongne-포멀캐쥬얼-2-' + this.gender, '8/10')
      },

      content_type3_3: function() {
        return this.content_of('mbti-dongne-포멀캐쥬얼-3-' + this.gender, '9/10')
      },

      content_type4: function() {
        return this.content_of('mbti-dongne-도시휴양지', '10/10')
      },

      contentlist: function() {
        return [
          this.content_gender,
          this.content_type1_1,
          this.content_type1_2,
          this.content_type2_1,
          this.content_type3_1,
          this.content_type1_3,
          this.content_type3_2,
          this.content_type2_2,
          this.content_type3_3,
          this.content_type2_3,
          this.content_type4
        ]
      },

      onloading: function() {
        return this.content_gender ? false : true
      },

      gender: function() {
        if (this.content_gender && this.vote_state_of(this.content_gender)==0) {
          return 'w'
        } else {
          return 'm'
        }
      },

      final_feature: function() {
        const feat1 = this.mixed_feature_of(this.content_type1_1, this.content_type1_2, this.content_type1_3)
        const feat2 = this.mixed_feature_of(this.content_type2_1, this.content_type2_2, this.content_type2_3)
        const feat3 = this.mixed_feature_of(this.content_type3_1, this.content_type3_2, this.content_type3_3)
        const feat4 = this.single_feature_of(this.content_type4)
        return feat1 + feat2 + feat3 + feat4
      },

      result: function() {
        if (this.final_feature.length==4) {
          switch(this.final_feature) {
            case 'BABA':
            case 'BABB':
              return 'gangnam'

            case 'AABA':
              return 'etaewon'

            case 'AAAA':
            case 'AAAB':
              return 'chungdam'

            case 'ABBA':
            case 'ABBB':
              return 'noryang'

            case 'AABB':
              return 'jeju'

            case 'BAAA':
            case 'BAAB':
              return 'teheran'

            case 'BBAA':
            case 'BBAB':
            case 'ABAA':
            case 'ABAB':
              return 'yeoui'

            case 'BBBA':
            case 'BBBB':
              return 'pangyo'
          }
        }
      }
    }
  });
</script>


<!--
강남	BABA, BABB
이태원	AABA
청담	AAAA, AAAB
노량진	ABBA, ABBB
제주도	AABB
테헤란	BAAA, BAAB
여의도	BBAA, BBAB
판교	BBBA, BBBB
여의도	ABAA, ABAB -->
