<style>
  .minipost.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .minipost.vcomp > .postbody {
    border-collapse: collapse;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .minipost.vcomp > .postbody > tbody > tr > td {
    position: relative;
    height: 50%;
    border: 1px solid white;
    border-right: 0;
  }

  .minipost.vcomp > .postbody > tbody > tr > td > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .minipost.vcomp > .postbody > tbody > tr > td > .oxcard {
    border-collapse: collapse;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .minipost.vcomp > .postbody > tbody > tr > td > .oxcard td {
    position: relative;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: calc(var(--t-0) / 12);
  }

  .minipost.vcomp > .postbody > tbody > tr > td > .oxcard:last-child td {
    height: 100%;
  }
</style>

<script type='text/x-template' id='minipost-template'>
  <div class='minipost vcomp'>
    <table class='postbody' v-if='post.type=="postvoteab"'>
      <tbody>
        <tr><td><img :src='post.pix_a'></td></tr>
        <tr><td><img :src='post.pix_b'></td></tr>
      </tbody>
    </table>

    <table class='postbody' v-if='post.type=="postvoteox"'>
      <tbody>
        <tr><td><img :src='post.pix'></td></tr>
        <tr>
          <td>
            <table class='oxcard'>
              <tbody>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
              </tbody>
            </table>

            <table class='oxcard'>
              <tbody>
                <tr><td>O</td><td>X</td></tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</script>

<script>
  Vue.component('minipost', {
    template: '#minipost-template',
    delimiters: ['[[', ']]'],
    props: [ 'post' ],
    data: function() {
      return {}
    }
  });
</script>
