<style>
  .minipost.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 2s;
  }

  .minipost.vcomp.active {
    opacity: 1;
  }

  .minipost.vcomp > .postbody {
    border-collapse: collapse;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .minipost.vcomp > .postbody > tbody > tr > td {
    position: relative;
    height: 50%;
    border: 3px solid white;
    border-right: 0;
  }

  .minipost.vcomp > .postbody > tbody > tr > td > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .minipost.vcomp > .postbody > tbody > tr > td > .oxcard {
    background: none;
    border-collapse: collapse;
    width: 100%;
    height: 35%;
  }

  .minipost.vcomp > .postbody > tbody > tr > td > .oxcard td {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
  }

  .minipost.vcomp > .postbody > tbody > tr > td > .oxcard td:first-child {
    border-right: 1px solid black;
  }

  .minipost.vcomp > .postbody > tbody > tr > td > .oxcard td > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
</style>

<script type='text/x-template' id='minipost-template'>
  <div class='minipost vcomp' :class='status<=0 ? "active" : ""'>
    <table class='postbody' v-if='post.type=="postvoteab"'>
      <tbody>
        <tr><td><img :src='post.pix_a' @load='imgloaded'></td></tr>
        <tr><td><img :src='post.pix_b' @load='imgloaded'></td></tr>
      </tbody>
    </table>

    <table class='postbody' v-if='post.type=="postvoteox"'>
      <tbody>
        <tr><td><img :src='post.pix' @load='imgloaded'></td></tr>
        <tr>
          <td>
            <table class='oxcard'>
              <tbody>
                <tr>
                  <td><img src='/static/materials/icons/moiber_letter_o.png' @load='imgloaded'></td>
                  <td><img src='/static/materials/icons/moiber_letter_x.png' @load='imgloaded'></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</script>

<script>
  Vue.component('minipost', {
    template: '#minipost-template',
    delimiters: ['[[', ']]'],
    props: [ 'post' ],
    data: function() {
      return {
        status: (this.post.type=='postvoteab' ? 2 : 3)
      }
    },

    methods: {
      imgloaded: function() {
        this.status -= 1;
      }
    }
  });
</script>
