<style>
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    transition: background 0.1s;
    pointer-events: none;
  }

  .modal.pop {
    background: rgba(0, 0, 0, 0.5);
  }

  .modal .content {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 1;
    pointer-events: auto;
  }

  .modal .content .sub {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal .show-modal-enter-active,
  .modal .show-modal-leave-active {
    transition: all 0.1s;
  }

  .modal .show-modal-enter,
  .modal .show-modal-leave-to {
    opacity: 0;
    pointer-events: none;
  }

  .modal .content .sub.posting .postypes {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    background: none;
    width: 100%;
    /* height: 100px; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .modal .content .sub.posting .postype {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: none;
    margin: 10px;
  }

  .modal .content .sub.posting .postype table {
    border-collapse: collapse;
  }

  .modal .content .sub.posting .postype table td {
    border: 3px solid white;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  /* .modal .content .sub.posting .postype table td.wide {
    width: 50px;
  } */

  .modal .content .actions {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 100%;
    /* height: 50px; */
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal .content .actions .action {
    width: 50px;
    height: 50px;
    margin: 20px;
  }

  .modal .content .actions .action img {
    filter: invert(100%);
    width: 100%;
    height: 100%;
  }

  .modal .content .sub.intro,
  .modal .content .sub.processing,
  .modal .content .sub.deleting {
    font-size: 30px;
    font-weight: bold;
  }

  .modal .content .sub.intro {
    background: white;
    color: black;
  }

  .modal .content .sub.intro > .logos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--vw-unit) * 2.6);
  }

  .modal .content .sub.intro img {
    width: 40%;
    height: auto;
    object-fit: contain;
  }

  /* .modal .content .sub.intro img {
    width: calc(30 * var(--vw-unit));
    height: calc(30 * var(--vw-unit));
    object-fit: contain;
    animation: blink normal 2s infinite ease-in-out;
  } */

  @keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
</style>

<script type='text/x-template' id='modal-template'>
  <div class='modal' :class='{ pop: pop }'>
    <transition name='show-modal'>
      <div class='content' v-if='pop'>

        <div class='sub posting' v-if='is_posting'>
          <div class='postypes'>
            <div class='postype' @click='$emit("posting", "postvoteox")'>
              <table>
                <tbody>
                  <!-- <tr>
                    <td class='wide' colspan='2'></td>
                  </tr> -->
                  <tr>
                    <td>O</td>
                    <td>X</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class='postype' @click='$emit("posting", "postvoteab")'>
              <table>
                <tbody>
                  <tr>
                    <!-- <td class='wide'>A</td> -->
                    <td>A</td>
                  </tr>
                  <tr>
                    <!-- <td class='wide'>B</td> -->
                    <td>B</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class='actions'>
            <div class='action' @click='$emit("posting", "cancel")'>
              <img src='/static/materials/icons/times.png'>
            </div>
          </div>
        </div>


        <div class='sub processing' v-if='is_processing'>
        </div>

        <div class='sub intro' v-if='is_intro'>
          <div class='logos'>
            <img src='/static/materials/icons/moiber-logo.png'>
            <bar-loader :loading='true' :width='loader_width' :height='2' color="#D0021B"></bar-loader>
            <img src='/static/materials/icons/moiber-logo.png' style='transform: rotate(180deg) scaleX(-1);opacity:0.2;'>
            <div style='position:absolute;background:none;bottom:105%;left:50%;transform:translateX(-50%);'>
              나, 뭐입어? -스타일 컨설팅 플랫폼
            </div>
          </div>

          <div style='position:absolute;bottom:30px;left:0;width:100%;font-size:calc(var(--vw-unit) * 2.5)'>
            &#169; 2020 MOIBER CO. LTD. All Right Reserved.
          </div>
        </div>

        <!-- <div class='sub intro' v-if='is_intro'>
          <div>
            <img src='/static/materials/imgs/sideb_logo.jpg'>
          </div>
        </div> -->

        <div class='sub deleting' v-if='is_deleting'>
          진짜 삭제?

          <div class='actions'>
            <div class='action' @click='$emit("delete", 0)'>
              <img src='/static/materials/icons/times.png'>
            </div>

            <div class='action' @click='$emit("delete", 1)'>
              <img src='/static/materials/icons/o.png'>
            </div>
          </div>
        </div>

      </div>
    </transition>
  </div>
</script>


<script>
  Vue.component('modal', {
    template: '#modal-template',
    delimiters: ['[[', ']]'],
    props: ['pop', 'name'],

    computed: {
      is_posting: function() {
        return this.name == 'posting-type-selector'
      },

      is_processing: function() {
        return this.name == 'processing'
      },

      is_deleting: function() {
        return this.name == 'deleting'
      },

      is_intro: function() {
        return this.name == 'intro'
      },

      loader_width: function() {
        return document.querySelector('#window').clientWidth
      }
    }
  });
</script>
