{% include "getch/page.html" %}
{% include "getch/aboutboo.html" %}

<script type='text/x-template' id='mypage-template'>
  <page class='mypage' :open='session.page.mypage.open' :from='session.page.mypage.from' @close='session.close_page()'>
    <aboutboo :session='session' type='my' :is_active='session.page.mypage.open'></aboutboo>

    <a class='logout' href="{% url 'account_logout' %}" style='position:absolute;bottom:0;right:0;'>
      <span style='background:black;color:white;'>LOGOUT</span>
    </a>
  </page>
</script>


<script>
  Vue.component('mypage', {
    template: '#mypage-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {  }
    }
  });
</script>
