<style>
  .navigator.vcomp {
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: auto;
    -ms-overflow-style: none; /*IE 11*/
    scrollbar-width: none; /*Firefox 64*/
  }

  .navigator.vcomp > .top-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--w-16);
    background: white;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigator.vcomp > .top-header > .profile {
    width: var(--w-8);
    height: var(--w-8);
    background: none;
    opacity: 1;
    transition: all 0.5s;
  }


  .navigator.vcomp > .top-header > .profile > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
  }


  .navigator.vcomp > .top-header > .hamburger {
    background: none;
    position: absolute;
    top: var(--w-2);
    height: var(--w-12);
    width: var(--w-12);
    right: var(--w-1);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .navigator.vcomp > .top-header > .hamburger > img {
    height: var(--w-6);
    width: var(--w-6);
  }

  .navigator.vcomp > .searcher {
    background: none;
    margin-top: var(--w-16);
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .navigator.vcomp > .spinner {
    position: absolute;
    bottom: var(--w-33);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navigator.vcomp > .searcher > .searchbar {
    position: relative;
    box-sizing: border-box;
    width: var(--w-90);
    height: var(--w-12);
    font-size: 15px;
    font-weight: bold;
    /* text-align: center; */
    background: whitesmoke;
    padding: 5px;
    /* padding-left: 15%; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigator.vcomp > .searcher > .searchbar > img {
    position: absolute;
    top: 50%;
    left: 5%;
    width: var(--w-6);
    height: var(--w-6);
    transform: translateY(-50%);
  }

  .navigator.vcomp > .top-header > .searchbar {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: var(--w-70);
    height: var(--w-10);
    transform: translate(-50%,-50%);
    font-size: 15px;
    font-weight: bold;
    background: whitesmoke;
    padding: 5px;
    /* padding-left: 15%; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
  }

  .navigator.vcomp > .top-header > .searchbar > img {
    position: absolute;
    top: 50%;
    left: 5%;
    width: var(--w-6);
    height: var(--w-6);
    transform: translateY(-50%);
  }

  .navigator.vcomp.sticky > .top-header > .profile {
    opacity: 0;
  }

  .navigator.vcomp.sticky > .top-header > .searchbar {
    opacity: 1;
  }
</style>

<script type='text/x-template' id='navigator-template'>
  <page :open='session.page.navigator.open' :from='session.page.navigator.from' @close='session.close_page()'>
    <div class='navigator vcomp' @scroll='scroll' ref='navigator'>
      <div class='searcher'>
        <!-- <div class='searchbar' placeholder='검색' ref='searchbar'> -->
        <div class='searchbar' ref='searchbar'>
          <img src='/static/materials/icons/search.png'>
        </div>
      </div>

      <div class='contents'>
        <postlibrary
          :postlist='postlist'
          :onloading='session.posts.onloading'
          @open_posts='backto_posts($event)'
        ></postlibrary>
      </div>

      <div class='top-header'>
        <div class='hamburger' @click='pop_navigator_menu'>
          <img src='/static/materials/icons/button_e.png'>
        </div>

        <div class='profile'>
          <img :src='profilepix'>
        </div>

        <!-- <div class='searchbar' placeholder='검색'> -->
        <div class='searchbar'>
          <img src='/static/materials/icons/search.png'>
        </div>
      </div>

      <scale-loader class='spinner' :loading='session.posts.onloading'></scale-loader>
    </div>
  </page>
</script>


<script>
  Vue.component('navigator', {
    template: '#navigator-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return { }
    },

    computed: {
      postlist: function() {
        return this.session.posts.list
      },

      profilepix: function() {
        if (this.session.auth) {
          return this.session.auth.boo.profile.pix
        }
      },
    },

    methods: {
      backto_posts: function(idx) {
        this.session.posts_open_at = idx;
        this.session.close_page();
        // console.log(idx);
        // this.session.open_booposts(this.boo.posts, idx);
      },

      scroll: function() {
        const h0 = this.$el.clientHeight;
        const h1 = this.$refs.navigator.scrollHeight;
        const scrollTop = this.$refs.navigator.scrollTop;
        const nload = 8 + (this.session.posts.list.length % 4);

        const gap = h1 - scrollTop - h0;

        if (gap == 100) {
          this.session.posts.load(nload);
        }

        const sticky = this.$refs.searchbar.offsetTop;

        if (scrollTop > sticky) {
          this.$refs.navigator.classList.add("sticky");

        } else {
          this.$refs.navigator.classList.remove("sticky");
        }
      },

      pop_navigator_menu: function() {
        alert('navigator menu');
      }
    }
  });
</script>
