<style>
  .navigator.vcomp {
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: auto;
    -ms-overflow-style: none; /*IE 11*/
    scrollbar-width: none; /*Firefox 64*/
  }

  .navigator.vcomp > .top-header {
    position: fixed;
    top: 0;
    width: var(--width);
    height: var(--w-16);
    background: white;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigator.vcomp > .top-header > .logo {
    height: 100%;
    background: none;
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .navigator.vcomp > .top-header > .logo > img {
    height: var(--w-6);
    width: auto;
  }


  .navigator.vcomp > .top-header > .hamburger {
    background: none;
    position: absolute;
    top: var(--w-2);
    height: var(--w-12);
    width: var(--w-12);
    right: var(--w-1);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .navigator.vcomp > .top-header > .hamburger > img {
    height: var(--w-6);
    width: var(--w-6);
  }

  .navigator.vcomp > .searcher {
    background: none;
    margin-top: var(--w-16);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }

  .navigator.vcomp > .spinner {
    position: fixed;
    bottom: var(--w-12);
  }

  .navigator.vcomp > .top-header > .searchbar {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: var(--w-70);
    height: var(--w-10);
    transform: translate(-50%,-50%);
    font-size: 15px;
    font-weight: bold;
    background: whitesmoke;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.5s;
  }

  .navigator.vcomp > .top-header > .searchbar > img {
    position: absolute;
    top: 50%;
    left: 5%;
    width: var(--w-6);
    height: var(--w-6);
    transform: translateY(-50%);
  }

  .navigator.vcomp.sticky > .top-header > .logo {
    opacity: 1;
  }

  .navigator.vcomp.sticky > .top-header > .searchbar {
    opacity: 0;
  }

  .navigator.vcomp > .searcher > .sorter {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 50px;
  }

  .navigator.vcomp > .searcher > .sorter.active {
    background: var(--color-dark);
    color: white;
  }

  .navigator.vcomp > .contents {
    position: relative;
    width: 100%;
    background: none;
    overflow: hidden;
  }

  .navigator.vcomp > .contents > .sections {
    position: relative;
    width: 200%;
    margin-left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    transition: margin-left 0.5s;
  }

  .navigator.vcomp > .contents > .sections.history {
    margin-left: 0;
  }

  .navigator.vcomp > .contents > .sections.hot {
    margin-left: -100%;
  }

  .navigator.vcomp > .contents > .sections > .section {
    position: relative;
    width: 50%;
    background: none;
  }
</style>

<script type='text/x-template' id='navigator-template'>
  <page :open='session.page.navigator.open' :from='session.page.navigator.from' @close='session.close_page()'>
    <div class='navigator vcomp' @scroll='scroll' ref='navigator'>
      <div class='searcher' ref='searcher'>
        <span class='sorter' :class='active_sorter=="history" ? "active" : ""' @click='sort_history'>최신</span>
        <span class='sorter' :class='active_sorter=="hot" ? "active" : ""' @click='sort_hot'>인기</span>
        <!-- <span @click='sort_custom'>맞춤</span> -->
      </div>

      <div class='contents'>
        <div class='sections' :class='active_sorter'>
          <div class='section' ref='section_history'>
            <postlibrary
              :postlist='postlist_history'
              @open_posts='backto_posts($event)'
            ></postlibrary>
          </div>

          <div class='section' ref='section_hot'>
            <postlibrary
              :postlist='postlist_hot'
              @open_posts='backto_posts($event)'
            ></postlibrary>
          </div>
        </div>
      </div>

      <div class='top-header' @click='upmost'>
        <div class='hamburger' @click='pop_navigator_menu'>
          <img src='/static/materials/icons/button_e.png'>
        </div>

        <div class='searchbar'>
          <img src='/static/materials/icons/search.png'>
        </div>

        <div class='logo'>
          <img src='/static/materials/logos/moiber-logo.png'>
        </div>
      </div>

      <bar-loader class='spinner' :loading='session.page.posts.contents.onloading' :width='loader_width' :height='1' color="#D0021B"></bar-loader>
    </div>
  </page>
</script>


<script>
  Vue.component('navigator', {
    template: '#navigator-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        active_sorter: 'history'
      }
    },

    computed: {
      the_posts: function() {
        return this.session.page.posts.univ[this.active_sorter]
      },

      the_postlist: function() {
        return this.the_posts.list
      },

      postlist_history: function() {
        // return this.session.page.posts.contents.list
        return this.session.page.posts.univ.history.list
      },

      postlist_hot: function() {
        return this.session.page.posts.univ.hot.list
      },

      loader_width: function() {
        return document.querySelector('#window').clientWidth
      }
    },

    methods: {
      backto_posts: function(idx) {
        this.session.page.posts.contents = this.the_posts;
        this.session.page.posts.swiper.slideTo(idx, 1, false);
        this.session.close_page();
      },

      scroll: function() {
        const h0 = this.$el.clientHeight;
        const h1 = this.$refs.navigator.scrollHeight;
        const scrollTop = this.$refs.navigator.scrollTop;
        const nload = 16; // + (this.session.page.posts.contents.list.length % 4);

        const gap = h1 - scrollTop - h0;
        if ((gap < h0/2) && (!this.the_posts.onloading)) {
          this.the_posts.load(nload);
        }

        // if ((gap < h0/2) && (!this.session.page.posts.contents.onloading)) {
        //   this.session.page.posts.contents.load(nload);
        // }

        const sticky = this.$refs.searcher.offsetTop + this.$refs.searcher.clientHeight;

        if (scrollTop > sticky) {
          this.$refs.navigator.classList.add("sticky");

        } else {
          this.$refs.navigator.classList.remove("sticky");
        }
      },

      pop_navigator_menu: function() {
        alert('navigator menu');
      },

      upmost: function() {
        this.$refs.searcher.scrollIntoView({behavior: 'smooth', block: 'end', inline: 'nearest'});
      },

      sort_history: function() {
        this.active_sorter = 'history';
        // this.session.page.posts.contents = this.session.page.posts.univ.history;
        console.log(this.$refs.section_history.clientHeight);
      },

      sort_hot: function() {
        this.active_sorter = 'hot';
        // this.session.page.posts.contents = this.session.page.posts.univ.hot;
        console.log(this.$refs.section_hot.clientHeight);
      },

      sort_custom: function() {
        alert('맞춤순');
      },
    }
  });
</script>
