<style>
  .navigator.vcomp .page-body {
    background: white;
  }

  .navigator.vcomp .page-body > .groupers {
    background: none;
    margin-top: var(--w-16);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding: 10px; */
  }

  .navigator.vcomp .page-body > .groupers > .grouper {
    /* font-size: 15px; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 10px; */
    /* border-radius: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--w-25);
    height: var(--w-6);
    font-size: 12px;
    border-bottom: 1px solid whitesmoke;
    color: lightgray;
  }

  .navigator.vcomp .page-body > .groupers > .grouper.active {
    color: black;
    border-bottom: 1px solid var(--color-dark);
    /* background: var(--color-dark); */
    /* color: white; */
  }

  .navigator.vcomp .page-body > .contents {
    position: relative;
    width: 100%;
    background: none;
    overflow: hidden;
  }

  .navigator.vcomp .page-body > .contents > .sections {
    position: relative;
    width: 200%;
    margin-left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    transition: margin-left 0.5s;
  }

  .navigator.vcomp .page-body > .contents > .sections.history {
    margin-left: 0;
  }

  .navigator.vcomp .page-body > .contents > .sections.hot {
    margin-left: -100%;
  }

  .navigator.vcomp .page-body > .contents > .sections > .section {
    position: relative;
    width: 50%;
    background: none;
  }

  .navigator.vcomp .headerbar-body-trans > .logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* pointer-events: none; */
  }

  .navigator.vcomp .headerbar-body-trans > .logo > img {
    height: var(--w-5);
    width: auto;
  }

  .navigator.vcomp .headerbar-body-default > .searchbar {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: var(--w-70);
    height: var(--w-10);
    transform: translate(-50%,-50%);
    font-size: 15px;
    font-weight: bold;
    background: whitesmoke;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigator.vcomp .headerbar-body-default > .searchbar > img {
    position: absolute;
    top: 50%;
    left: 5%;
    width: var(--w-6);
    height: var(--w-6);
    transform: translateY(-50%);
  }
</style>

<script type='text/x-template' id='navigator-template'>
  <page2
    class='navigator vcomp'
    :open='session.page.navigator.open'
    :from='session.page.navigator.from'
    :scrolload='{ obj:the_posts, n:16 }'
    :sticky_trigger_margin='sticky_trigger_margin'
    :onloading='the_posts_onloading'
    @close='session.close_page()'>

    <template #headerbar-menu>
      <div class='item' @click='company'>팀 모이버</div>
    </template>

    <template #headerbar-body-trans>
      <div class='logo'>
        <img src='/static/materials/icons/moiber-logo.png'>
      </div>
    </template>

    <template #headerbar-body-default>
      <div class='searchbar' @click='session.open_searcher()'>
        <img src='/static/materials/icons/search.png'>
      </div>
    </template>

    <template #page-body>
      <div class='groupers'>
        <span class='grouper' :class='active_grouper=="history" ? "active" : ""' @click='group_history'>최신</span>
        <span class='grouper' :class='active_grouper=="hot" ? "active" : ""' @click='group_hot'>인기</span>
        <span class='grouper'></span>
        <span class='grouper'></span>
      </div>

      <div class='contents'>
        <div class='sections' :class='active_grouper'>
          <div class='section' :style='{ height: history_section_height }' ref='section_history'>
            <postlibrary
              :postlist='postlist_history'
              @open_posts='backto_posts($event)'
            ></postlibrary>
          </div>

          <div class='section' :style='{ height: hot_section_height }' ref='section_hot'>
            <postlibrary
              :postlist='postlist_hot'
              @open_posts='backto_posts($event)'
            ></postlibrary>
          </div>
        </div>
      </div>

    </template>
  </page2>
</script>


<script>
  Vue.component('navigator', {
    template: '#navigator-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        active_grouper: 'history',
        history_section_height: 'auto',
        hot_section_height: 'auto',
      }
    },

    mounted: function() {
      this.group_history();
    },

    computed: {
      the_posts: function() {
        return this.session.page.posts.univ[this.active_grouper]
      },

      the_posts_onloading: function() {
        if (this.the_posts) {
          return this.the_posts.onloading
        }
      },

      postlist_history: function() {
        if (this.session.page.posts.univ.history) {
          return this.session.page.posts.univ.history.list.sort((a,b) => b.id - a.id )
        }
      },

      postlist_hot: function() {
        if (this.session.page.posts.univ.hot) {
          return this.session.page.posts.univ.hot.list
        }
      },

      loader_width: function() {
        return document.querySelector('#window').clientWidth
      },

      sticky_trigger_margin: function() {
        return this.loader_width * 10 / 100
      }
    },

    methods: {
      backto_posts: function(idx) {
        this.session.page.posts.contents = this.the_posts;
        this.session.page.posts.swiper.slideTo(idx, 1, false);
        this.session.close_page();
      },

      group_history: function() {
        this.active_grouper = 'history';
        // console.log(this.$refs.section_history.clientHeight);

        // sections 엘리먼트가 relative로 되어있기 때문에,
        // history와 hot 섹션 중 높이가 큰 쪽으로 sections 의 높이가 결정된다.
        // 이러면 history-hot 무엇을 선택하든 스크롤 높이가 일정하다.
        // history-hot 선택에 따라 sections의 높이가 다르게 하기 위해 다음을 설정한다
        const baseh = this.$refs.section_history.clientHeight;
        this.history_section_height = 'auto';
        this.hot_section_height = Math.min(this.$refs.section_hot.clientHeight, baseh) + 'px';
      },

      group_hot: function() {
        this.active_grouper = 'hot';

        const baseh = this.$refs.section_hot.clientHeight;
        this.hot_section_height = 'auto';
        this.history_section_height = Math.min(this.$refs.section_history.clientHeight, baseh) + 'px';
      },

      group_custom: function() {
        alert('맞춤순');
      },

      company: function() {
        this.session.open_company('who');
      }
    }
  });
</script>
