<script type='text/x-template' id='network-template'>
  <page class='network' :open='session.page.network.open' :from='session.page.network.from' @close='session.close_page()'>
    <img :src='session.cnetwork.boo.profile.pix' style="object-fit:cover;width:100px;height:100px;">

    <div class='followers'>
      팔로워
      <p>
        <img class='follower' v-for='fol in session.cnetwork.followers' :src='fol.profile.pix' style="object-fit:cover;width:50px;height:50px;border-radius: 50%;">
      </p>
    </div>

    <div class='followees'>
      팔로잉
      <p>
        <img class='followee' v-for='fol in session.cnetwork.followees' :src='fol.profile.pix' style="object-fit:cover;width:50px;height:50px;border-radius: 50%;">
      </p>
    </div>
  </page>
</script>


<script>
  Vue.component('network', {
    template: '#network-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {}
    },

    computed: { },
    methods: { }
  });
</script>
