<style>
  .network.vcomp .headerbar-body-default,
  .network.vcomp .headerbar-body-trans {
    font-size: 17px;
  }

  .network.vcomp .page-body {
    background: white;
  }

  .network.vcomp .page-body > .content {
    background: none;
    margin-top: var(--w-2);
    margin-bottom: var(--w-16);
  }

  .network.vcomp .page-body > .groupers {
    background: none;
    margin-top: var(--w-16);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .network.vcomp .page-body > .groupers > .grouper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--w-50);
    height: var(--w-6);
    font-size: 15px;
    border-bottom: 1px solid whitesmoke;
    color: lightgray;
  }

  .network.vcomp .page-body > .groupers > .grouper.active {
    color: black;
    border-bottom: 2px solid var(--color-dark);
  }
</style>

<script type='text/x-template' id='network-template'>
  <page2
    class='network vcomp'
    :open='session.page.network.open'
    :from='session.page.network.from'
    :scrolload='scrolload'
    :onloading='onloading'
    @close='session.close_page()'>

    <template #headerbar-menu>
    </template>

    <template #headerbar-body-trans>
      <b>[[title]]</b>
    </template>

    <template #headerbar-body-default>
      <b>[[title]]</b>
    </template>

    <template #page-body>
      <div class='groupers'>
        <span class='grouper' :class='group==0 ? "active": ""' @click='group_by(0)' v-if='is_voters'><b>[[groupkey_0]]</b></span>
        <span class='grouper' :class='group==1 ? "active": ""' @click='group_by(1)' v-if='is_voters'><b>[[groupkey_1]]</b></span>
      </div>

      <div class='content'>
        <boolist :session='session' :boolist='boolist'></boolist>
      </div>
    </template>
  </page2>
</script>


<script>
  Vue.component('network', {
    template: '#network-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        group: 0
        // 선택놀이 직후에 바로 내 부캐가 해당 그룹으로 업데이트 안된다
      }
    },

    watch: {
      'session.page.network.open': {
        handler: function(_new, _old) {
          if (_new) {
            this.group = this.boos_group.default ? this.boos_group.default : 0;
          }
        }, immediate: true
      }
    },

    computed: {
      type: function() {
        return this.session.page.network.type
      },

      boos_group: function() {
        return this.session.page.network.boos_group
      },

      is_voters: function() {
        return this.type=='ox_voters' || this.type=='ab_voters'
      },

      is_followers: function() {
        return this.type=='followers'
      },

      is_likers: function() {
        return this.type=='likers'
      },

      groupkey_0: function() {
        if (this.type == 'ox_voters') {
          return 'O'

        } else if (this.type == 'ab_voters') {
          return '위'
        }
      },

      groupkey_1: function() {
        if (this.type == 'ox_voters') {
          return 'X'

        } else if (this.type == 'ab_voters') {
          return '아래'
        }
      },

      title: function() {
        if (this.is_followers) {
          return '팔로워 리스트'

        } else if (this.is_voters) {
          return '투표 리스트'

        } else if (this.is_likers) {
          return '좋아요 리스트'
        }
      },

      boos: function() {
        return this.boos_group[this.group]
      },

      boolist: function() {
        if (this.boos.list.length < 10) {
          this.boos.load(10);
        }
        return this.boos.list
      },

      scrolload: function() {
        if (this.boos) {
          return {
            obj: this.boos,
            n: 20
          }
        }
      },

      onloading: function() {
        return this.boos.onloading
      }
    },

    methods: {
      group_by: function(what) {
        this.group = what;
      }
    }
  });
</script>
