<style>
  .oxer.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
  }

  .oxer.vcomp * {
    font-family: 'Equilibrium';
    /* font-family: 'Montserrat', sans-serif; */
  }

  .oxer.vcomp > .oxkey {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .oxer.vcomp > .oxkey.devoted {
    opacity: 0.2;
  }

  .oxer.vcomp > .oxkey > img {
    position: absolute;
    left: 50%;
    /* top: var(--w-4); */
    /* height: var(--w-32); */
    height: 100%;
    width: auto;
    /* width: var(--w-32); */
    object-fit: contain;
    transform: translateX(-50%);
  }

  .oxer.vcomp > .oxkey > .score {
    position: absolute;
    top: calc(50% + var(--width-unit) * 2);
    /* top: var(--w-21); */
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: var(--w-20);
    -webkit-text-stroke: 2px white;
    color: var(--color-dark);
    /* text-shadow:
      -1px -1px 0 white,
       0   -1px 0 white,
       1px -1px 0 white,
       1px  0   0 white,
       1px  1px 0 white,
       0    1px 0 white,
      -1px  1px 0 white,
      -1px  0   0 white; */
  }
</style>

<script type='text/x-template' id='oxer-template'>
  <div class='oxer vcomp'>

    <div class='oxkey' :class='phase'>
      <img :src='ox_src'>
      <div class='score' v-if='is_active'><b>[[ score_display ]]</b></div>
    </div>

  </div>
</script>


<script>
  Vue.component('oxer', {
    template: '#oxer-template',
    delimiters: ['[[', ']]'],
    props: [ 'act', 'vote_state', 'score', 'is_active', 'keyvalue', 'session' ],
    data: function() {
      return {}
    },

    computed: {
      phase: function() {
        if (this.is_active) {
          if (this.vote_state == this.act) {
            return 'voted'
          } else {
            return 'devoted'
          }
        }
      },

      ox_src: function() {
        if (this.keyvalue=='O' || this.keyvalue=='살') {
          return '/static/materials/icons/moiber_letter_o.png'

        } else if (this.keyvalue=='X' || this.keyvalue=='말') {
          return '/static/materials/icons/moiber_letter_x.png'

        } else if (this.keyvalue=='A') {
          return '/static/materials/icons/moiber_letter_a.png'

        } else if (this.keyvalue=='B') {
          return '/static/materials/icons/moiber_letter_b.png'
        }
      },

      score_display: function() {
        if (this.session.mode.on=='mbti') {
          if (this.phase=='voted')
            return ''
          else
            return ''

        } else {
          return this.score
        }
      }
    }
  });
</script>
