<style>
  .pager {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 4;
    pointer-events: none;
  }

  .pager .toggle {
    display: none;
    visibility: hidden;
  }

  .page {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: all 0.3s ease;
  }

  .page .content {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: white;
    border: var(--border) solid black;
    pointer-events: auto;
  }

  .page .content .close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: black;
  }

  .page .content .close img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
  }

  .pager .toggle:checked + .page {
    left: -100% !important;
    background: rgba(0,0,0,0.5) !important;
  }
</style>

<div class='pager'>

  <div class='login-page'>
    <input class='toggle' type='checkbox'>
    <div class='page' style='z-index:1;'>
      <div class='content'>
        {% include 'getch/login_page.html' %}
        <div class='close'>
          <img src='/static/materials/icons/times.png'>
        </div>
      </div>
    </div>
  </div>

  <div class='my-page'>
    <input class='toggle' type='checkbox'>
    <div class='page' style='left:0;z-index:2;'>
      <div class='content'>
        {% include 'getch/my_page.html' %}
        <div class='close'>
          <img src='/static/materials/icons/times.png'>
        </div>
      </div>
    </div>
  </div>

  <div class='boochoose-page'>
    <input class='toggle' type='checkbox'>
    <div class='page' style='left:-100%;z-index:3;'>
      <div class='content'>
        {% include 'getch/boochoose_page.html' %}
        <div class='close'>
          <img src='/static/materials/icons/times.png'>
        </div>
      </div>
    </div>
  </div>

  <div class='profiler-page'>
    <input class='toggle' type='checkbox'>
    <div class='page' style='left:0%;z-index:4;'>
    <!-- <div class='page' style='left:-100%;'> -->
      <div class='content'>
        {% include 'getch/profiler_page.html' %}
        <div class='close'>
          <img src='/static/materials/icons/times.png'>
        </div>
      </div>
    </div>
  </div>

</div>
