<style>
  .pager {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    pointer-events: none;
    overflow: hidden;
  }
</style>


<div class='pager'>
  <div id='loginpage'>
    {% include 'getch/loginpage.html' %}
  </div>

  <div id='mypage'>
    {% include 'getch/mypage.html' %}
  </div>

  <div id='boochooser'>
    {% include 'getch/boochooser.html' %}
  </div>

  <div id='profiler'>
    {% include 'getch/profiler.html' %}
  </div>

  <div id='posting'>
    {% include 'getch/posting.html' %}
  </div>

</div>


<script>
  function close_page(bt) {
    bt.closest('.basepage').querySelector('.page-toggler').checked = false;
  }

  function goto_boochooser() {
    document.querySelector('#boochooser .page-toggler').checked = true;
  }

  function goto_profiler() {
    document.querySelector('#profiler .page-toggler').checked = true;
  }

  function goto_posting(type) {
    $('.popup input.toggler').prop('checked', false);
    document.querySelector(`#posting .posting-type.toggler[posting-type=${type}]`).checked = true;
    document.querySelector('#posting .page-toggler').checked = true;
  }
</script>
