<style>
  .pager {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    pointer-events: none;
    overflow: hidden;
  }
</style>


<div class='pager'>
  <div id='loginpage'>
    {% include 'getch/loginpage.html' %}
  </div>

  <div id='authorpage'>
    {% include 'getch/authorpage.html' %}
  </div>

  <div id='mypage'>
    {% include 'getch/mypage.html' %}
  </div>

  <div id='network'>
    {% include 'getch/network.html' %}
  </div>

  <div id='boochooser'>
    {% include 'getch/boochooser.html' %}
  </div>

  <div id='profiler'>
    {% include 'getch/profiler.html' %}
  </div>

  <div id='posting'>
    {% include 'getch/posting.html' %}
  </div>

</div>


<script>
  function close_page(bt) {
    bt.closest('.basepage').querySelector('.page-toggler').checked = false;
  }

  function goto_mypage() {
    if (session) {
      document.querySelector('#mypage .page-toggler').checked = true;
    } else {
      goto_loginpage();
    }
  }

  function goto_loginpage() {
    document.querySelector('#loginpage .page-toggler').checked = true;
  }

  function goto_authorpage() {
    set_authorpage();
    document.querySelector('#authorpage .page-toggler').checked = true;
  }

  function goto_network(who) {
    // let boo_id = btn.getAttribute('boo_id');
    let boo_id;

    if (who=='my') {
      boo_id = session.boo_selected;

    } else if (who=='author') {
      boo_id = session.cpost.author.id;
    }

    document.querySelector('#network .page-toggler').checked = true;
    $('#network').load(`/boo/${boo_id}/network`);
  }

  function goto_boochooser() {
    document.querySelector('#boochooser .page-toggler').checked = true;
  }

  function goto_profiler() {
    document.querySelector('#profiler .page-toggler').checked = true;
  }

  function goto_posting(type) {
    session.mode.on = 'posting';
    $('.popup input.toggler').prop('checked', false);
    document.querySelector(`#posting .posting-type.toggler[posting-type=${type}]`).checked = true;
    document.querySelector(`#posting .${type} .description span.text`).innerHTML = '';
    document.querySelectorAll(`#posting .${type} input[type='file']`).forEach(input => { input.value = ''; });
    document.querySelectorAll(`#posting .${type} img.pix`).forEach(img => { img.src = ''; });
    document.querySelector('#posting .page-toggler').checked = true;
  }
</script>
