<style>
  .pixeditor.vcomp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .pixeditor.vcomp .cropper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
  }

  .pixeditor.vcomp .cropper > .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .pixeditor.vcomp .cropper > .container > .image {
    display: block;
    max-width: 100%;
    opacity: 0;
  }

  .pixeditor.vcomp .cropper > .toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: orange;
    display: flex;
    justify-content: center;
  }

  .pixeditor.vcomp .cropper > .toolbar > .opt {
    width: 35px;
    height: 35px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pixeditor.vcomp .cropper > .toolbar > .opt > img {
    width: 60%;
    height: 60%;
  }
</style>

<script type='text/x-template' id='pixeditor-template'>
  <page class='pixeditor vcomp' :open='session.page.pixeditor.open' @close='close'>
    <div class='cropper'>
      <div class='container'>
        <img class='image' :src='session.page.pixeditor.src' ref='image' @load='init_cropper'>
      </div>

      <div class='toolbar'>
        <div class='opt' @click='fit_inside'><img src='/static/materials/icons/expand.png'></div>
        <div class='opt' @click='zoom(0.1)'><img src='/static/materials/icons/zoomin.png'></div>
        <div class='opt' @click='zoom(-0.1)'><img src='/static/materials/icons/zoomout.png'></div>
        <div class='opt' @click='rotate(-10)'><img src='/static/materials/icons/rotate-left.png'></div>
        <div class='opt' @click='rotate(10)'><img src='/static/materials/icons/rotate-right.png'></div>
        <div class='opt' @click='flip("x")'><img src='/static/materials/icons/flip-horizontal.png'></div>
        <div class='opt' @click='flip("y")'><img src='/static/materials/icons/flip-vertical.png'></div>
        <div class='opt' @click='ok'>OK</div>
      </div>
    </div>
  </page>
</script>


<script>
  Vue.component('pixeditor', {
    template: '#pixeditor-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        cropper: undefined,
        cropsize: 0.7
      }
    },

    watch: {
      'session.page.pixeditor.src': function(_new, _old) {
        if (this.cropper) {
          this.cropper.replace(_new);
        }
      }
    },

    methods: {
      init_cropper: function() {
        console.log('init_cropper');

        const self = this;
        this.cropper = new Cropper(this.$refs.image, {
          dragMode: 'move',
          viewMode: 0,
          aspectRatio: 1,
          guides: false,
          highlight: false,
          background: false,
          cropBoxMovable: false,
          cropBoxResizable: false,
          autoCropArea:  this.cropsize,
          minCropBoxWidth: this.$el.clientWidth * this.cropsize,

          ready: function() {
            self.fit_inside();
            console.log('cropperjs is now ready');
          }
        });
      },

      close: function() {
        this.session.close_page()
        this.cropper.destroy();
        this.cropper = undefined;
      },


      ok: function() {
        const img = this.cropper.getImageData();
        const size = Math.min(img.naturalWidth, img.naturalHeight);

        const canvas = this.cropper.getCroppedCanvas({
          width: size,
          height: size,
          imageSmoothingEnabled: false,
          imageSmoothingQuality: 'high',
        });

        canvas.toBlob(blob => {
          // console.log(URL.createObjectURL(blob));
      		this.session.page.pixeditor.pixloader.set(blob);
          this.close();
        },'image/png');
      },


      fit_inside: function() {
        let top, left, width, height;
        const cropbox = this.cropper.getCropBoxData();
        const canvas = this.cropper.getCanvasData();

        if (canvas.naturalWidth < canvas.naturalHeight) {
          top = cropbox.top;
          height = cropbox.height;
          width = canvas.naturalWidth / canvas.naturalHeight * height;
          left = cropbox.left + cropbox.width/2 - width/2;

        } else {
          left = cropbox.left;
          width = cropbox.width;
          height = canvas.naturalHeight / canvas.naturalWidth * width;
          top = cropbox.top + cropbox.height/2 - height/2;
        }

        this.cropper.setCanvasData({
          top: top,
          left: left,
          width: width,
          height: height
        });
      },

      zoom: function(ratio) {
        this.cropper.zoom(ratio);
      },

      rotate: function(degree) {
        this.cropper.rotate(degree);
      },

      flip: function(dir) {
        if (dir == 'x') {
          this.cropper.scaleX(-this.cropper.getData().scaleX || -1);

        } else if (dir == 'y') {
          this.cropper.scaleY(-this.cropper.getData().scaleY || -1);
        }
      }
    }
  });
</script>
