<style>
  .pixloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* top: var(--pix-margin);
    left: var(--pix-margin);
    width: calc(100% - var(--pix-margin)*2);
    height: calc(100% - var(--pix-margin)*2);
    background: white; */
  }

  .pixloader img.pix {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: auto; */
    height: 100%;
  }

  .pixloader img.pix.focused {
    object-fit: contain;
  }

  .pixloader input[type='file'] {
    display: none;
    visibility: hidden;
  }

  .pixloader .pix-clicker {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: none;
    border: 1px dashed black;
    box-sizing: border-box;
    /* border: 5px dashed silver; */
    opacity: 0.5;
    /* pointer-events: none; */
  }

  .pixloader .pix-clicker img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
    transform: translate(-50%,-50%);
    opacity: 0.5;
  }

  .pixloader .show-pix-clicker-enter-active,
  .pixloader .show-pix-clicker-leave-active {
    transition: opacity 0.2s;
  }

  .pixloader .show-pix-clicker-enter,
  .pixloader .show-pix-clicker-leave-to {
    opacity: 0;
  }
</style>


<script type='text/x-template' id='pixloader-template'>
  <div class='pixloader'>
    <input v-if='editable' type="file" accept="image/*" :id="pixloader_id" @change='loadpix' ref='input'>
    <label class='pixloader-label' :for='pixloader_id'>
      <img class='pix' :class='{ focused:pixfocused }' :src='pix' onerror='this.style.display="none"' ref='pix'>

      <transition name='show-pix-clicker'>
        <div class='pix-clicker' v-show='editable'>
          <!-- <img src='/static/materials/icons/pix.png'> -->
        </div>
      </transition>
    </label>

    <div class='pixfocuser' style='position:absolute;top:0;right:0;width:15%;height:15%;background:none;' @click.stop='pixfocus'>
      <img v-if='pixfocused' src='/static/materials/icons/times.png' style='position:absolute;top:12%;right:12%;width:42%;height:42%'>
      <img v-else src='/static/materials/icons/expand.png' style='position:absolute;top:12%;right:12%;width:42%;height:42%'>
    </div>
  </div>
</script>


<script>
  Vue.component('pixloader', {
    template: '#pixloader-template',
    delimiters: ['[[', ']]'],
    props: [ 'pix', 'editable', 'session' ],
    data: function() {
      return {
        pixloader_id: 0,
        changed: false,
        pixfocused: false,
        blob: undefined
      }
    },

    watch: {
      changed: function(_new, _old) { }
    },

    created: function() {
      this.pixloader_id = Date.now();
    },

    methods: {
      pixfocus: function() {
        this.pixfocused = !this.pixfocused;
      },

      loadpix: function() {
        const input = this.$refs.input; //event.target;
        const self = this;

        if (input.files && input.files[0]) {
          let reader = new FileReader();

          reader.onload = function(e) {
            self.session.open_pixeditor(e.target.result, 'post', self);
            // self.$refs.pix.src = e.target.result;
            // self.$refs.pix.style.display = 'block';
          };

          reader.readAsDataURL(input.files[0]);
        }
      },

      set: function(blob) {
        this.blob = blob;
        this.$refs.pix.src = URL.createObjectURL(blob);
        this.$refs.pix.style.display = 'block';
        this.changed = true;
      },

      get: function() {
        // input.value='' 을 하면 input.files도 비워진다
        // 그 반대는 안된다
        if (this.changed) {
          this.changed = false;
          // const file = this.$refs.input.files[0];
          // this.$refs.input.value = ''
          // return file

          // 사실 input.value=''를 할필요도 없다
          // input이 v-if로 되어 있어, 다시 여는 경우 어짜피 초기화된다
          // return this.$refs.input.files[0];
          return this.blob
        }
      }
    }
  });
</script>
