<!doctype html>
<html lang="ko">

{% load static %}
<head>
  <title>MOIBER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1, maximum-scale=1">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    :root {
      --color-pos: rgb(241,20,15);
      --color-neg: rgb(22,187,204);
      --color-dark: #302E2F;
      --s-menu: 50px;

      /* --width: min(100vw, calc(100vh * 9 / 16)); */
      /* --width: min(100vw, calc(100vh * 3 / 4)); */
      --width: min(100vw, calc(100vh * 11 / 16));
    }


    html, body {
      /* 모바일브라우저 검색바를 고정하기 위함
      https://stackoverflow.com/questions/18061308/prevent-address-bar-hiding-in-mobile-browsers */
      margin: 0;
      height: 100%;
      overflow: hidden;
    }

    * {
      font-family: 'Noto Sans KR', sans-serif;
    }

    #window {
      /* width: 100%; */
      width: var(--width);
      height: 100%;
      background: white;
      position: relative;
      margin: auto;
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      overflow-y: auto;
      padding: 50px;
      box-sizing: border-box;
    }
  </style>
</head>


<body style='background:none;margin:0;'>
  <div id='window'>

    <p style='font-size:20px;font-weight:bold;'>모이버 서비스약관</p>

    MOIBER 서비스를 방문하거나 사용할 때 회원님은 이 서비스 약관 ( "약관")을 준수해야 합니다. 이 약관을 주의 깊게 읽고 질문이 있으시면 저희에게 연락하십시오. MOIBER에 방문하거나 사용하는 것은 회원님은 본 약관, 당사의 개인 정보 보호 정책 , 쿠키 정책 및 커뮤니티 가이드 을 준수하는 데 동의하는 것으로 간주됩니다.

    간단히 말해서
    모든 회사에는 조건이 있습니다. 이것이 우리의 조건입니다.


    MOIBER의 서비스

    MOIBER는 모든 패션에 대한 고민을 해결 할 수 있도록 도와줍니다. 이를 위해 우리는 회원님의 질문 및 활동을 기반으로 관련성 있고 흥미롭고 개인화 된 콘텐츠를 보여줄 것입니다. 회원님에게 우리의 서비스를 제공하려면 회원님의 신원과 관심사를 확인해야합니다. 회원님에게 제공되는 일부 콘텐츠는 광고주가 제공 한 것일 수 있습니다. 우리 서비스의 일환으로 광고 홍보 콘텐츠도 회원님과 관련이 있고 관심사에 부합하도록 최선을 다합니다. 홍보 내용은 명확하게 표시되므로 식별 할 수 있습니다.

    간단히 말해서
    MOIBER는 패션 고민을 해결 할 수 있도록 도와줍니다. 이는 회원님을 위해 맞춤화 되었으며, 더 정확한  귀하와 관련이 있도록 귀하의 선호도를 이해해야 합니다.


    MOIBER 사용

    a. MOIBER의 목표

    MOIBER와 법적 구속력이 있는 계약에 서명하고 본 약관 및 모든 관련 법률을 준수하는 경우에만 MOIBER를 사용할 수 있습니다. 회원님은 MOIBER 계정을 만들 때 정확하고 완전한 정보를 제공해야 합니다. 국가 기관의 제재가 MOIBER 사용을 금지하는 경우 MOIBER를 사용할 수 없습니다. 13 세 미만은 어떤 방식으로든 MOIBER를 사용하거나 액세스 할 수 없습니다. 타 국가에 거주하는 경우 해당 국가에서 정의한 법적 연령 이상이어야 하며 데이터 처리에 대한 권한이 부여되면 MOIBER를 사용할 수 있습니다. MOIBER 사용에는 컴퓨터, 휴대 전화, 태블릿 또는 기타 기기에 소프트웨어를 다운로드하는 것이 포함될 수 있습니다. 귀하는 당사가 소프트웨어를 자동으로 업데이트 할 수 있으며 이러한 조건이 모든 업데이트에 적용된다는 데 동의합니다.

    b. 사용 가능한 라이선스
    본 약관 및 당사의 정책 (커뮤니티 가이드 포함)에 따라 제공된 서비스를 사용할 수 있는 제한적이고 비 독점적이며 양도 불가능하며 취소 가능한 라이선스를 부여합니다.

    c. 상업적 목적으로 MOIBER 사용
    상업적 목적으로 MOIBER를 사용해야하는 경우 회사 계정을 만들고 회사 서비스 약관에 동의해야합니다 . 회원님이 회사, 조직 또는 기타 법인 계정을 개설 한 경우 "회원님"에는 회원님과 법인이 포함되며 회원님은 본 약관에 제공된 권한 및 권한을 부여하고 법인이 이 항목을 따르도록 할 권한이 있음을 약속합니다. 약관에 구속되며 법인을 대신하여 약관에 동의 할 권리가 있습니다.

    간단히 말해서
    13 세 미만인 경우 (일부 국가에서는 연령 제한이 13 세 이상일 수 있음) MOIBER를 사용할 수 없습니다. 마찬가지로 업무용으로 MOIBER를 사용하는 경우 비즈니스 계정을 설정해야 합니다.


    회원님의 콘텐츠

    a. 콘텐츠 공개
    MOIBER가 게시 할 수 있는 콘텐츠에는 사진, 댓글, 링크 및 기타 자료가 포함됩니다. MOIBER에 게시하는 콘텐츠와 MOIBER에서 사용할 수 있는 콘텐츠를 "사용자 콘텐츠"라고 합니다. MOIBER에 게시 된 사용자 콘텐츠에 대해 귀하는 모든 관련 권리를 보유하며 이에 대한 전적인 책임이 있습니다.

    간단히 말해서
    MOIBER에 콘텐츠를 게시해도 해당 콘텐츠는 여전히 귀하의 소유입니다.

    b. MOIBER 및 다른 사용자가 귀하의 콘텐츠를 사용하는 방법
    회원님은 MOIBER 및 MOIBER 사용자에게 MOIBER를 운영, 개발, 제공 및 사용하기위한 목적으로만 사용, 저장, 표시, 복사 및 수집 할 수 있도록 비 독점적이고 로열티가 없고 양도 가능하고 재 라이선스가 가능한 글로벌 라이선스를 부여했습니다. (예를 들면 수정, 2차 컨텐츠 생성, MOIBER에 게시 된 사용자 콘텐츠 실행 및 배포). 본 약관은 다른 라이선스에 따라 부여 된 법적 권리와 같은 사용자 콘텐츠에 대한 MOIBER의 기타 법적 권리를 제한하지 않습니다. 당사는 사용자 콘텐츠를 제거 또는 수정하고 어떤 이유로 든 MOIBER에서 사용자 콘텐츠가 사용되는 방식을 변경할 권리를 보유합니다. 이러한 상황에는 본 약관, 커뮤니티 가이드 또는 기타 정책을 위반하는 것으로 판단되는 사용자 콘텐츠 가 포함됩니다 .

    간단히 말해서
    MOIBER에 콘텐츠를 게시하면 이는 다른 사용자에게 표시 될 수 있으며 다른 사용자는 이 콘텐츠를 북마크 할 수 있습니다. MOIBER에 포르노 콘텐츠를 게시하거나 스팸을 보내는 것은 금지되어 있으며 MOIBER에서 다른 사람을 무례하게 여기는 것도 금지되어 있습니다.

    c. 콘텐츠 보관 기간
    회원님의 계정을 해지 또는 비활성화 한 후 또는 귀하가 MOIBER에서 사용자 콘텐츠를 제거하는 경우, 당사는 백업, 보관 또는 검토 목적으로 합당한 기간 동안 귀하의 사용자 콘텐츠를 보관할 수 있습니다. MOIBER와 그 사용자는 다른 사용자가 MOIBER에 저장하거나 공유 한 모든 사용자 콘텐츠를 유지하고 계속해서 사용, 저장, 표시, 복사, 수정, 2차 컨텐츠 생성, 실행 및 배포 할 수 있습니다.

    간단히 말해서
    콘텐츠를 게시하기로 선택한 경우 게시 된 콘텐츠를 사용하여 MOIBER를 제공하거나 개선 할 수 있습니다. 계정에서 콘텐츠를 삭제하더라도 다른 사람과 공유 한 콘텐츠의 사본은 계속 유지 될 수 있습니다.

    d. 회원님의 피드백
    우리는 사용자의 목소리를 소중히 여기며 MOIBER를 개선 할 수 있는 방법에 대해 계속 관심을 갖고 있습니다. 회원님이 의견, 아이디어 또는 피드백을 제출하기로 선택한 경우 회원님은 제출하신 의견, 아이디어 또는 피드백을 제한없이 또는 아무런 보상없이 자유롭게 사용할 수 있다는 데 동의합니다. MOIBER가 회원님의 피드백을 ​​수락한다고 해서 MOIBER가 이전에 MOIBER에 알려 졌거나 MOIBER 직원이 개발했거나 회원님이 아닌 다른 출처에서 얻은 유사하거나 관련된 피드백을 사용할 권리를 포기한다는 의미는 아닙니다.

    간단히 말해서
    MOIBER를 개선하기 위해 회원님의 제안을 사용할 것입니다.


    저작권 정책

    MOIBER는 적용 가능한 모든 저작권법에 따라 MOIBER 저작권 정책을 채택하고 구현합니다. 자세한 내용은 저작권 정책을 참조하십시오.

    간단히 말해서
    우리는 저작권을 존중합니다. 당신도 해야합니다.


    보안

    우리는 사용자의 안전을 중요하게 생각합니다. MOIBER는 귀하의 콘텐츠와 계정의 보안을 보호하기 위해 최선을 다하고 있지만 승인되지 않은 제 3자가 당사의 보안 조치를 약화시키지 않는다고 보장 할 수는 없습니다. 암호를 안전하게 유지해야합니다. 회원님의 계정이 손상되거나 무단 사용 된 경우 즉시 당사에 알려주십시오.

    간단히 말해서
    회원님의 계정이 손상되거나 무단 사용 된 경우 즉시 당사에 알려주십시오.


    제 3자 링크, 웹사이트 및 서비스

    MOIBER는 MOIBER가 소유하거나 통제하지 않는 제 3자 웹 사이트, 광고주, 서비스, 제안 또는 기타 이벤트 또는 활동에 대한 링크를 포함 할 수 있습니다. 우리는 그러한 제 3 자 웹 사이트, 정보, 자료, 제품 또는 서비스에 대해 보증하거나 책임을 지지 않습니다. 회원님이 MOIBER에서 제 3자 웹 사이트, 서비스 또는 콘텐츠에 액세스하는 경우 회원님은 자신의 책임하에 액세스해야 하며, 회원님은 MOIBER가 제 3자 웹 사이트, 서비스 또는 콘텐츠에 대한 사용 또는 액세스에 대해 책임을 지지 않는다는 데 동의합니다.

    간단히 말해서
    MOIBER는 MOIBER 외부의 콘텐츠에 대한 링크를 제공합니다. 이러한 유형의 콘텐츠는 대부분 유용한 콘텐츠이지만 그렇지 않은 콘텐츠에 대해서 책임을 지지는 않습니다.


    해지

    MOIBER는 적절한 통지를 통해 어떤 이유로 든 MOIBER에 접근하거나 사용할 수있는 회원님의 권리를 종료하거나 중지 할 수 있습니다. 커뮤니티 가이드 위반 등 정당한 사유가 있는 경우 예고없이 즉시 방문을 종료하거나 일시 중지 할 수 있습니다. 정지가 발효 된 후에도 이 조항의 항목 3 및 8을 준수해야합니다.

    간단히 말해서
    MOIBER에서 제공하는 서비스는 무료입니다. 우리는 누구에게도 서비스 제공을 거부 할 권리가 있지만 적절한 통지를 제공 할 것입니다.


    보상

    본 조항의 항목 2 (c)의 요구 사항에 따라 비즈니스 약관에 동의하지 않고 MOIBER를 상업적 목적 (즉, 소비자가 아님 )으로 무단 사용하는 경우 MOIBER Ltd. 및 기타 계열사 및 해당 관리자, 이사, 직원 및 대리인은 귀하의 당사 서비스 액세스 또는 사용, 귀하의 콘텐츠와 또는 어떠한 방식으로든 귀하의 본 약관 위반과 관련된 청구, 기소, 소송, 분쟁으로부터 면제되거나 면제됩니다. (합당한 법적 및 회계 비용 (제 3자가 제기 한 청구, 소송 또는 소송에 대한 응답 비용 포함)을 포함하며 나아가 소환, 책임, 손해, 손실, 소송 수수료 및 비용 등.)

    간단히 말해서
    MOIBER에서 귀사의 행위로 인해 고소를 당하면 수수료를 지불해야합니다. 또한 먼저 비즈니스 계정을 만들고 비즈니스 약관에 동의해야합니다 .


    면책

    MOIBER의 서비스와 모든 콘텐츠는 명시 적 또는 묵시적 보증없이 "있는 그대로"제공됩니다.
    MOIBER는 상품성, 특정 목적에 대한 적용 가능성 및 비 침해성에 대한 모든 보증 및 조건을 명시 적으로 거부하고 거래 프로세스 또는 거래 관행에서 발생하는 모든 보증을 명시 적으로 거부합니다.
    MOIBER는 회원님이나 다른 사람 또는 제 3자가 당사 서비스를 사용하여 게시 한 사용자 콘텐츠에 대해 책임을 지지 않습니다. 회원님은 부정확하거나 공격적이거나 어린이에게 부적절하거나 귀하의 목적과 일치하지 않는 사용자 콘텐츠에 노출 될 수 있음을 이해하고 이에 동의합니다.

    간단히 말해서
    사람들이 MOIBER를 통해 부적적하고 나쁜 콘텐츠를 게시하는 것은 유감입니다. 우리는 불쾌감을 주는 콘텐츠를 진지하게 생각하지만 삭제하기 전에 여전히 콘텐츠를 접할 게 될 수도 있습니다. 부적절한 콘텐츠를 발견하면 여기를 클릭 하여 알려주십시오.


    책임의 제한

    법이 허용하는 최대 범위 내에서 MOIBER는 다음 요인으로 인한 간접적, 부수적, 특수, 결과적 또는 징벌 적 손해, 수익 또는 수입, 데이터, 사용 권한 또는 영업권의 직간접 적 손실에 대해 책임을 지지 않습니다. 손실 또는 기타 무형 손실에 대한 책임 : (A) 서비스에 대한 액세스 또는 사용 또는 액세스 또는 사용할 수 없음; (B) 다른 사용자 또는 제 3자를 포함하되 이에 국한되지 않는 제 3 자의 서비스 행동 또는 콘텐츠 명예 훼손, 공격적 또는 불법적 인 행동 또는 (C) 귀하의 전송 또는 콘텐츠에 대한 무단 액세스, 사용 또는 수정.
    MOIBER는 기타 적용 가능한 관리 의무의 중요하지 않은 위반으로 인한 손해에 대해 책임을 지지 않습니다. 이 책임 제한은 제한되지 않은 법적 책임, 당사의 과실 또는 고의적 비행으로 인한 사망 또는 개인 상해에 대한 책임 또는 당사가 귀하에게 명시 적으로 약속 한 콘텐츠에 대한 책임을 배제하는 데 적용되지 않으며 당사의 명시 적에도 적용되지 않습니다. (약속하신 내용에 대한 책임이 배제 된 경우)

    간단히 말해서
    우리는 최상의 서비스를 제공하기 위해 노력하지만 서비스가 완벽하다고 보장 할 수 없습니다. 우리의 책임이 아닌 많은 문제가 있습니다. 그러나 우리가 문제에 대한 책임이 있다고 생각한다면 합리적으로 해결하도록 합시다.


    중재

    회원님과 MOIBER 간의 분쟁에 대해 회원님은 먼저 당사에 연락하고 비공식적으로 분쟁을 해결하는 데 동의합니다. 연락이 필요한 경우 MOIBER 계정에 입력 한 이메일 주소를 사용합니다. MOIBER가 귀하와의 분쟁을 비공식적으로 해결할 수없는 경우, 당사 모두는 구속력 있는 중재 또는 소액 청구 법원 (적격 청구의 경우)을 사용하여 이 조항과 관련되거나이 조항과 관련된 분쟁을 해결하는 데 동의합니다. 모든 청구, 분쟁 또는 분쟁 (금지 또는 공정한 구제에 대한 청구 제외).
    법원 소송과 비교할 때 중재는 차이를 해결하는 보다 비공식적 인 방법입니다. 예를 들어, 중재는 판사 나 배심원 대신 중립 중재자를 사용하고, 중재에는 증거 발견이 더 제한적이며 법원 검토도 극히 제한적입니다. 이 절차는 더 비공식적이지만 중재자는 보상 및 구제에 대해 법원이 내릴 수있는 것과 동일한 결정을 내릴 수 있습니다. 귀하는 본 서비스 약관에 동의함으로써 미국 연방 중재법이 본 약관의 해석 및 집행을 규율하고 귀하와 MOIBER가 배심 재판에 대한 권리를 포기하거나 집단 소송에 참여할 수 있음에 동의합니다. 중재자는이 구속력있는 중재 계약의 해석, 적용 가능성 또는 집행 가능성과 관련된 모든 분쟁을 해결할 유일한 권한이 있습니다. 이 중재 조항은 본 계약이 종료되고 MOIBER 계정 사용이 종료 된 후에도 계속 유효합니다.
    모든 중재는 달리 명시되지 않는 한 AAA에 대한 당시의 소비자 중재 규칙에 따라 미국 중재 협회 ( "AAA")에 의해 중재됩니다. www.adr.org 에서 다양한 양식 을 찾을 수 있습니다 . 귀하와 MOIBER가 달리 동의하지 않는 한 중재는 귀하가 거주하는 카운티 (또는 본당)에서 이루어집니다. 각 당사자는 AAA 규칙에 따라 AAA 제출, 관리 및 중재 비용을 지불 할 책임이 있지만, 손해 배상 청구 금액이 $ 75,000을 초과하지 않고 성급하게 기소되지 않는 경우 (연방 민사 절차 11 (b)에 명시된 표준에 따라 측정 됨), MOIBER는 귀하에게 합리적인 제출, 행정 및 중재 수수료를 지불 할 것입니다. 귀하의 청구 금액이 미화 10,000 달러 이하인 경우, AAA 규칙에 따라 전화 심리 또는 대면 심리를 통해 중재자에게 제출 된 문서만을 기반으로 중재를 선택할 수 있다는 데 동의합니다. 청구 금액이 $ 10,000를 초과하는 경우 청문회 권리는 AAA 규칙에 따라 결정됩니다. 중재 방법에 관계없이 중재자는 판정의 근거가되는 중요한 요소와 결론을 설명하는 합리적인 서면 결정을 내릴 것입니다. 중재자가 내린 모든 판결은 관할 법원에서 내릴 수 있습니다. 이 항목의 어떠한 내용도 데이터 보안, 지적 재산권 또는 서비스에 대한 무단 액세스와 관련된 문제를 포함하여 당사자가 법원으로부터 금지 명령 또는 기타 공정한 구제를 구하는 것을 방해하지 않습니다. 모든 청구는 당사자의 개별 자격으로 제출해야하며, 집단 소송 또는 대표 소송에서 소위 원고 또는 집단 구성원으로 제출할 수 없습니다. 달리 명시하지 않는 한 중재자는 한 명 이상의 청구를 통합 할 수 없습니다. 귀하는이 조항에 서명함으로써 귀하와 MOIBER 모두 배심 재판을 통과하거나 집단 소송에 참여할 권리를 포기하는 데 동의합니다.
    본 서비스 약관의 어떠한 내용도 귀하에게 적용되는 취소 불가능한 법적 권리에 영향을 미치지 않습니다. MOIBER 또는 당사 서비스와 관련된 클레임, 분쟁 또는 분쟁이 관련 법률 또는 기타 조건에 따라 중재 할 수없는 경우 : 귀하와 MOIBER는 모두 본 약관의 항목 12에 따라서 만 MOIBER 관련 클레임 또는 분쟁을 해결하는 데 동의합니다.


    관련 법률 및 관할권

    본 약관은 법률 규칙의 충돌을 제외하고 대한민국 법률의 적용을 받습니다. 본 계약과 관련하여 발생하는 모든 분쟁에 대한 배타적 관할권은 대한민국 법원이며 당사의 분쟁은 대한민국 법률에 따라 결정됩니다. .


    기타 일반 약관


    약관의 변경 및 고지 절차
    우리는 회원님에게 통지 할 양식 또는 방법을 결정합니다. 그것이 우리의 결정이라면 회원님은 법적 고지를 전자적으로 수신하는 데 동의합니다. 이 약관은 수시로 개정될 수 있으며 최신 버전은 항상 웹 사이트에 게시됩니다. 당사가 자체적으로 주요 변경을 결정하는 경우 회원님에게 통지합니다. 수정 사항이 적용된 후에도 MOIBER에 계속 접근하거나 사용하는 것은 새로운 약관을 준수하는 데 동의 함을 의미합니다. 새로운 약관에 동의하지 않는 경우 MOIBER 사용을 중지하십시오.

    간단히 말해서
    본 약관을 크게 변경하는 경우 회원님에게 알려드립니다. 새 약관에 동의 할 수 없다면 MOIBER 사용을 중지하십시오.

    이전
    회원님은 본 약관 및 본 약관에 따라 부여 된 권리 및 라이선스를 할당하거나 할당 할 수 없지만 MOIBER는 제한없이 양도하거나 할당 할 수 있습니다. 양도 또는 양도 조건을 위반하려는 시도는 무효입니다.

    완전한 합의 / 분리 가능성
    본 약관은 MOIBER의 개인 정보 보호 정책 및 수정 사항, 귀하와 MOIBER간에 체결 된 추가 계약과 함께 귀하와 MOIBER 간의 전체 서비스 계약을 구성합니다. 이 조항의 조항이 유효하지 않은 것으로 간주되는 경우 해당 조항은 필요한 최소한으로 제한되거나 제거되며 이 조항의 나머지 조항은 여전히 ​​완전한 효력을 갖습니다.
    면제 조항
    본 조항의 모든 조항을 행사할 권리의 포기는 본 조항 또는 기타 조항에 대한 권리의 추가 또는 지속적인 포기로 간주되지 않습니다. MOIBER가 본 조항의 권리 또는 조항을 주장하지 않는 것은 이와 관련하여 회사의 권리 또는 조항을 구성하지 않습니다.
    당사자
    귀하가 한국에 거주하는 경우이 조항은 귀하와 MOIBER Ltd (서울시 마포구 양화로 147, 4층 03995) 간의 계약입니다. 한국 이외의 지역에 거주하는 경우 본 약관은 귀하와 MOIBER Inc. () 간의 계약입니다.
    간단히 말해서
    당신이 다루는 사람은 당신이 사는 곳에 달려 있습니다.

    발효일 : 2020 년 12 월 1 일
    최근 수정일 : 2020년 12월 1일

    커뮤니티 가이드 (별도 창)


    사명

    MOIBER의 사명은 모두의 패션 고민을 해결하고 자신만의 취향과 코디와 스타일을 찾아가게 하는 것 입니다. 이를 위해 모든 컨텐츠가 기여하는 것은 아닙니다. 따라서 MOIBER에서 수행하는 작업과 허용하지 않는 작업을 설명하는 커뮤니티 가이드 라인이 있습니다. 이 가이드 라인은 허용되는 사용 정책이므로 MOIBER에 있으면 안되는 콘텐츠를 발견하면 신고 해주세요.. 우리는 회원님의 피드백을 통해 표준을 배우고 발전시키고 주제별 전문가와 협력하여 지침을 알리고 업데이트합니다.


    콘텐츠 안전


    MOIBER는 적대적이거나, 노골적이거나, 거짓이거나, 오해의 소지가 있거나, 유해하거나, 증오하거나, 폭력적인 콘텐츠 또는 행동을 위한 장소가 아닙니다. 당사는 그러한 콘텐츠의 배포를 제거, 제한 또는 차단할 수 있으며, 해당 콘텐츠가 초래하는 피해의 정도에 따라 이를 생성하거나 확산하는 계정, 개인, 그룹 및 도메인을 차단할 수 있습니다.

    우리는 이해하고 따르기 쉬운 명확하고 투명한 기대치를 제공하기 위해 최선을 다하고 있습니다. 질문이 있거나 문제가 발생하는 경우, 저희에게 연락하십시오.

    성인용 콘텐츠
    MOIBER는 포르노를 위한 장소가 아닙니다. 다음을 포함한 성인물 및 노골적인 콘텐츠의 배포를 제한하거나 제거합니다.
    페티쉬 이미지, 생생한 성적 묘사, 성행위를 생생하게 묘사
    포즈, 카메라 각도 또는 소품이 포르노 의도를 암시하는 과도한 노출 이미지
    우리는 포르노와 기타 성인용 콘텐츠를 구별하기 위해 최선을 다합니다. 일부 누드가 포함 된 패션 화보 컨텐츠 등은 포르노가 아닌 맥락에서 게시될 수 있지만, 사람들이 우연히 접하지 않도록 배포를 제한 할 수 있습니다.

    착취
    MOIBER는 사람이나 동물을 착취하는 장소가 아닙니다. 성적, 신체적, 재정적 착취를  포함하여 사람이나 동물에 해를 끼칠 위험이 있는 관행  과 관련된 콘텐츠 및 계정의 배포를 제거하거나 제한합니다 . 그것은
    몸단장, 성적 발언 또는 부적절한 이미지와 같은 미성년자의 성적 착취 또는 성적 착취. 발견되면 국립 실종 및 학대 아동 센터와 같은 관련 당국에 신고 할 것입니다.
    동의없이 획득하거나 게시 한 사적 또는 성적 성격의 이미지를 의미하는 비 합의 적 이미지. 여기에는 복수 포르노 및 업 스커트 이미지가 포함됩니다.
    섹스 캠 및 에스코트 서비스와 같이 성적 또는 신체적 착취 또는 인신 매매와 관련 될 수있는 성인 성 서비스.
    인신 매매, 노예, 노예, 강제 노동 또는 강제 노동.
    인간의 유해 또는 신체 부위로 만든 장기 또는 제품 거래와 같은 기타 불법적 인 상업적 착취.
    야생 동물 또는 보호되고 멸종 위기에 처한 야생 동물의 판매.
    시체, 동물 부분 또는 고양이 또는 개 부분에서 파생 된 제품 또는 상아를 포함하여 보호되고 멸종 위기에 처한 야생 동물.
    무책임하고 유해한 동물 관광 또는 조직적인 동물 싸움과 같은 기타 착취 행위.

    혐오스러운 활동
    MOIBER는 증오 성 콘텐츠 또는 증오 성 활동을 조장하는 사람 및 그룹을위한 공간이 아닙니다. 당사는 다음을 포함하여 이러한 콘텐츠 및 계정의 배포를 제한하거나 제거합니다.
    슬러 또는 부정적인 고정 관념, 캐리커처 및 일반화
    증오 행위, 편견 및 음모 이론을 조장하는 증오 단체 및 사람들 지원
    피해자가 취약하거나 보호받는 집단에 속해 있다는 이유로 폭력을 조롱하거나 사소하게 만드는 행위
    백인 우월주의 지원, 여성의 권리 및 기타 차별적 아이디어 제한
    홀로 코스트 거부와 같은 증오 기반 음모 이론 및 잘못된 정보
    개인의 성 정체성이나 성적 지향 거부, 전환 치료 및 관련 프로그램 지원
    취약하거나 보호받는 집단에 속해있는 공인을 포함한 개인에 대한 공격
    아래에 명시된 보호 대상 또는 취약 집단의 신념, 신성한 상징, 운동 또는 제도를 조롱하거나 공격하는 행위
    보호되고 취약한 그룹에는 다음이 포함됩니다. 실제 또는 인지 된 인종, 피부색, 카스트, 민족, 이민 신분, 출신 국가, 종교 또는 신앙, 성별 또는 성 정체성, 성적 지향, 장애 또는 의학적 상태에 따라 그룹화 된 사람들. 여기에는 낮은 사회 경제적 지위, 나이, 체중 또는 크기, 임신 또는 퇴역 군인 상태를 기준으로 함께 그룹화 된 사람들도 포함됩니다.

    정치적 메시지나 오보
    MOIBER는 패션 고민을 해결하기 위한 플랫폼이며 이는 정치적인 메세지 유포나잘못된 정보, 허위 정보, 잘못된 정보의 생산이나 유포를 위한 장소가 아닙니다. 다음을 포함하여 대중의 안녕, 안전 또는 신뢰에 해를 끼칠 수있는 허위 또는 오해의 소지가 있는 콘텐츠의 배포를 제거하거나 제한합니다.
    허위 치료, 예방 접종 조언 또는 공중 보건 또는 안전 응급 상황에 대한 잘못된 정보를 포함하여 공중 보건 및 안전을 위협하는 의학적으로 지원되지 않는 건강 주장
    두려움, 증오 또는 편견을 조장하는 개인 또는 보호 대상 그룹에 대한 허위 또는 오해의 소지가 있는 콘텐츠
    개인, 집단, 장소 또는 조직을 괴롭힘 또는 신체적 폭력의 대상으로 만들도록 조장하는 허위 또는 오해의 소지가있는 콘텐츠
    음모 이론이나 허위 정보 캠페인에서 비롯된 콘텐츠
    컨텍스트, 날짜 또는 시간의 변경 또는 생략과 같이 신뢰를 약화 시키거나 해를 입히기 위해 게시되거나 의도적으로 수정 된 사실 정보
    신뢰를 약화 시키거나 해를 끼치는 조작되거나 의미있게 조작 된 시각 또는 청각 콘텐츠

    시민 참여 잘못된 정보 :
    투표 등록, 투표 및 인구 조사 집계를 포함하여 선거의 무결성 또는 개인 또는 그룹의 시민 참여를 방해하는 허위 또는 오해의 소지가있는 콘텐츠
    투표 또는 인구 조사 참여를위한 날짜, 시간, 장소 및 절차에 대한 허위 또는 오해의 소지가있는 정보
    우편 투표 용지 또는 인구 조사 양식을 포함하여 투표 용지를 올바르게 작성하고 제출하는 방법에 대해 유권자를 오도하는 콘텐츠
    인구 조사에 투표하거나 참여할 수있는 사람과 참여하기 위해 제공해야하는 정보에 대한 허위 또는 오해의 소지가있는 정보
    정보를 수집하는 사람 및 / 또는 정보가 사용되는 방식에 대한 허위 또는 오해의 소지가있는 진술
    사람들이 투표권을 행사하거나 인구 조사에 참여하는 것을 막기위한 공공 안전에 대한 허위 또는 오해의 소지가있는 정보
    유권자 또는 참가자가 자신을 허위 진술하거나 불법적으로 참여하도록 장려하거나 지시하는 콘텐츠
    허위 또는 오해의 소지가있는 주장을 근거로 선거 결과를 불법화하려는 것으로 보이는 콘텐츠
    취약하거나 보호받는 그룹 유권자 또는 참가자에 대한 위협을 포함하여 투표 장소, 인구 조사 또는 투표 담당자, 유권자 또는 인구 조사 참가자에 대한 위협

    괴롭힘과 비판
    MOIBER는 개인이나 집단을 모욕하거나, 상처를 주거나, 적대하는 곳이 아닙니다. 비판을 표명 할 충분한 이유가 있지만 MOIBER를 긍정적이고 고무적인 장소로 유지하기 위해 모욕적 인 콘텐츠의 배포를 제한하거나 삭제할 수 있습니다. 여기에는 다음이 포함됩니다.
    품질을 떨어 뜨리거나 수치심을 주기 위한 조작 된 이미지
    사람들의 몸을 비난하거나 성적 수치심을 불러 일으키는 이미지나 문구
    사람들의 신체에 대한 성적 발언 및 성적 행위의 권유 또는 제안
    욕설, 욕설 및 기타 모욕적 인 언어 또는 이미지와 관련된 비판
    슬픔, 슬픔, 상실 또는 분노를 경험 한 사람을 조롱

    개인 정보
    개인 정보 나 민감한 정보를 노출하는 콘텐츠는 허용되지 않습니다. 다음을 제거합니다.
    개인 ID 및 여권 정보
    개인 연락처 정보 및 주소
    온라인 로그인 정보 (사용자 이름 및 암호)
    온라인에 게시하고 싶지 않은 개인 사진
    개인 재정 또는 병력
    원하지 않는 사진이나 정보를 발견 한 경우 도움말 센터를 통해 문의 할 수 있습니다.

    자해 및 유해한 행동
    MOIBER는 자살, 자해, 섭식 장애 또는 약물 남용을 표시, 합리화 또는 장려하는 콘텐츠를위한 공간이 아닙니다. 다음을 포함하여 이러한 콘텐츠의 배포를 제한하거나 제거합니다.
    자해 지침
    자살 사고와 따옴표
    그래픽 또는 기타 트리거 이미지
    자해 조장
    자해하거나 자살을 시도하거나 사망 한 사람을 조롱하는 행위
    자해에 사용되는 액세서리 이미지
    자해 행위에 대한 부정적인 자기 대화와 무감각 한 유머
    귀하 또는 귀하가 아는 사람이 자살 충동으로 어려움을 겪고 있거나 자해를 고려하고있는 경우, 리소스 가 있습니다.(새 창에서 열림) 무료, 기밀 및 즉각적인 지원을받을 수있는 도움말 센터에서

    폭력
    MOIBER는 폭력적이거나 위협적인 언어를위한 장소가 아닙니다. 당사는 다음을 포함하여 그러한 콘텐츠의 배포를 제한하거나 제거합니다.
    폭력 사용을 보여주는 콘텐츠
    폭력 사건 전후의 방해 장면
    폭력을 미화하는 위협 또는 언어
    몇몇 경우에 우리는 기억과 옹호에 전념하는 방해 이미지의 저장을 허용하지만 플랫폼의 공개 부분에서 그러한 콘텐츠의 배포를 제한합니다.

    위험한 조직 및 개인
    MOIBER는 폭력적인 콘텐츠, 그룹 또는 개인을위한 공간이 아닙니다. 위험한 행위자 또는 그룹과 그 활동을 장려, 칭찬, 홍보 또는 지원하는 콘텐츠 및 계정의 배포를 제한하거나 제거합니다. 여기에는 다음이 포함됩니다.
    극단 주의자
    테러 조직
    갱 및 기타 범죄 조직
    우리는 업계, 정부 및 보안 전문가와 협력하여 이러한 그룹을 식별하도록 돕습니다.

    위험물 및 활동
    MOIBER는 특정 규제 상품 (무책임하게 사용, 변경 또는 제조 될 때 해를 끼칠 수있는 제품 또는 물질)을 거래 또는 판매하거나 위험한 활동을 표시하거나 장려하는 장소가 아닙니다. 당사는 다음을 포함하여 이러한 콘텐츠 및 계정의 배포를 제한하거나 제거합니다.
    술, 담배, 마약 및 무기 (화기 및 액세서리, 총기 부품 또는 부착물, 탄약 포함)를 판매, 구매 또는 거래하는 개인 및 무면허 소매 업체
    나에 대한 내용 , 확인되지 않은 승인되지 않은 또는 불법  온라인 약국
    구매 법률 및 규정을 우회하기위한 제안, 시도 또는 지침
    치명적 또는 독성 물질 생성 지침
    3D 프린트 무기를 포함하여 폭탄이나 수류탄과 같은 치명적인 무기를 만드는 방법
    마리화나, 마리화나 제품 및 도구의 상업적 판매
    특정 무기 및 부착물의 상업적 판매
    특히 미성년자의 참여를 보여 주거나 장려하는 경우, 임박한 신체적 상해 또는 극도의 정서적 고통을 초래할 수있는 유해한 장난 또는 도전

    거짓된 계정 (사칭)
    개인 또는 조직과의 관계를 사칭하거나 허위 진술하는 계정은 허용되지 않습니다. 공인 또는 브랜드에 대한 팬 또는 논평 계정이 있는 경우 사용자 이름 또는 MOIBER 프로필을 통해 공식적으로 관련이 없음을 분명히 하십시오.

    게시물, 댓글 및 메시지
    모든 커뮤니티 가이드 라인은 게시 된 게시물, 댓글, 메시지 및 시도에 적용됩니다. 배포를 제한하거나 커뮤니티 지침 위반 사항을 제거 또는 계정의 사용을 제한할 수 있습니다. 여기에는 다음이 포함됩니다.
    불법적인 행동
    개인 정보
    원치 않는 체인 메일
    모욕적 인 언어를 사용한 비판
    성적 성격에 대한 의견 및 권유
    원치 않거나 관련 없는 제품 및 비즈니스 홍보.
    외모에 대한 언급과 같은 증오 또는 수치스러운 발언


    저작권 정책


    저작권에 대하여

    MOIBER는 타인의 지적 재산권을 존중합니다. 저작권 또는 기타 지적 재산권을 반복적으로 침해하거나 반복적으로 기소 된 사람들의 계정을 비활성화하거나 해지하는 것이 적절한 상황과 재량에 따라 당사의 정책입니다.

    저작권법에 따라 MOIBER는 아래 명시된 저작권 대리인에게 신고 된 MOIBER의 저작권 침해 주장에 신속하게 대응할 것입니다.

    귀하가 저작권 소유자이거나 이를 대신 할 권한이 있는 경우, 저작권 침해 혐의에 대한 저작권 침해 통지를 작성하고 이를 당사의 지정된 저작권 대리인에게 보내 MOIBER에서 저작권 침해 혐의를 신고 할 수 있습니다.
    귀하의 저작권 침해 통지를 받으면 MOIBER에서 신고 된 콘텐츠를 삭제하는 등 적절하다고 생각되는 모든 조치를 취할 것입니다.
    DMCA 통지에 대한 응답으로 콘텐츠를 제거하는 경우 MOIBER에 저장 한 사람에게 이의 제기 신청서를 보낼 수 있도록 통지 할 수 있습니다. 또한 적절한 경우 통지서의 전체 사본을 다른 사람에게 보낼 수 있습니다.


    저작권 침해 신고 제출

    저작권 침해 신고서를 제출하려면 저작권 침해 신고 양식을 작성하세요.
    저작권 침해 신고서 작성

    이 양식을 사용하지 않으려면 지정된 저작권 대리인에게 다음 정보를 보내주십시오.


    침해되었다고 생각되는 저작물을 식별하십시오. 여러 저작물을 신고하는 경우 해당 저작물의 대표 목록을 제공 할 수 있습니다.
    MOIBER의 페이지 URL과 같이 이를 찾는 데 필요한 정보를 포함하여 귀하의 권리를 침해한다고 주장하는 MOIBER의 콘텐츠를 식별합니다.
    우편 주소, 전화 번호 및 이메일 주소를 제공하십시오.
    통지 본문에 다음 두 진술을 모두 포함하십시오.
    "저는 저작권이 있는 자료의 분쟁 사용 또는 그러한 자료에 대한 참조 또는 링크가 저작권 소유자, 그 대리인 또는 법률 (예 : 공정 사용)에 의해 승인되지 않았다고 선의로 믿습니다."
    "본인은 이 통지서의 정보가 정확하며 위증 시 처벌을 받으며 본인이 소유자이거나 저작권 소유자 또는 침해 된 것으로 의심되는 저작권에 따른 배타적 권리를 대신하여 행동 할 권한이 있음을 진술합니다. "
    실명과 전자 서명 또는 실제 서명을 포함하십시오 (예 : 전체 이름 입력).
    신고하는 작품이 이미지 인 경우 이미지의 모든 사본을 삭제하도록 요청할 수 있습니다. 통지를 시작할 때 "이미지가 포함 된 모든 게시물을 제거"하도록 요청하십시오. 이미지의 동일한 사본 만 제거 할 수 있습니다. 이미지 파일의 크기가 조정되거나 변경된 경우 해당 이미지를 찾거나 제거 할 수 없습니다.

    작성한 통지를 다음 주소로 보내십시오.
    MOIBER Copyright Agent
    서울시 마포구 양화로 147, 4층
    팩스 : +82 504 297 3940
    이메일 : contact@MOIBER.com


    저작권 침해 신고 알림을 받았을 경우

    저작권 침해 신고로 인해 게시물 중 하나가 삭제되었다는 알림을 받았다면 콘텐츠 소유자가 삭제를 요청했다는 의미입니다. 당신이 우리 그냥 이메일을 보내, 저작권 불만 통지의 정보를 전달하려는 경우 contact@MOIBER.com로 알려 주시기 바랍니다. 이 과정에서 우리는 몇 가지 개인 연락처 정보를 제거 할 수 있습니다.
    계정에 저작권 침해 신고가 너무 많으면 MOIBER에 게시물을 등록하는 기능을 잃거나 계정이 완전히 비활성화 될 수 있습니다.

    게시물을 실수로 삭제했다고 생각되면 이의 제기 신청서를 제출할 수 있습니다. 유효한 이의 제기 신청서가 접수되면 계정 기록에서 불만 사항을 삭제합니다.

    참고 : 사기성 또는 악의적 인 이의 제기 신청서에 대한 법적 및 재정적 결과가 있습니다. 이의 제기 신청서를 제출하기 전에 Google이 오류로 콘텐츠를 삭제했다는 선의의 믿음을 가지고 있으며 허위 신고를 제출 한 결과를 이해하고 있는지 확인하세요.


    이의 제기 신청 방법

    저작권 게시 중단 통지의 결과로 콘텐츠가 삭제 된 경우 Google에서 보내는 이메일 알림을 통해 이의 제기 신청서를 제출하는 방법에 대한 안내를 받게 됩니다. 실수 나 오인으로 인해 콘텐츠가 삭제되었다고 생각되는 경우에만 이의 제기 신청서를 제출해야 합니다.
    유효한 이의 제기 신청서가 접수되면 계정 기록에서 불만 사항을 삭제합니다. 삭제 된 콘텐츠를 복원 해달라고 요청한 경우 해당 콘텐츠를 신고 한 당사자에게 이의 제기 신청서를 전달합니다. 그들이 받는 정보에는 귀하의 연락처 정보가 포함되어 귀하에게 직접 연락하는 데 사용할 수 있습니다.
    당사가 콘텐츠를 신고 한 당사자에게 귀하의 반론 통지를 제공하고 그들이 콘텐츠 유지 명령을 요구하는 법원 소송을 제기했다는 사실을 당사에 알리지 않는 경우 당사는 콘텐츠를 복원합니다. 이 프로세스는 영업일 기준 최대 30 일이 소요될 수 있습니다.

    저작권 침해 신고서

    연락 정보 (콘텐츠 신고자용)
    실명
    회사이름
    연락처
    이메일 주소
    주소
    국가/지역

    작업 식별
    귀하의 작업을 설명하십시오. 사진 속의 자신의 모습이 반드시 저작권 침해를 의미하는 것은 아닙니다. 귀하의 개인 정보 권리가 침해되었다고 생각되는 경우 안전 팀에 요청을 제출 하십시오.
    아래에서 소유권을 주장하는 작품을 선택하세요.
    이미지 / 텍스트 / 비디오 / 비디오의 오디오 / 레시피 또는 지침 / 내이름 / 디자인 또는 삽화 / 기타
    귀하의 웹 사이트에서 귀하의 작품을 볼 수 있는 곳을 알려 주십시오
    예 : http://
    작업에 대한 자세한 설명을 제공하고 가능한 한 많은 정보를 제공하십시오,.

    제거하려는 재료를 식별하십시오.
    모이버에서 저작권을 침해하는 것으로 의심되는 자료 식별
    >모이버 내 주소

    다음 체크 박스를 선택하여 확인합니다.
    - 이 통지서의 정보는 정확합니다.
    - 본인은 저작권이 있는 자료의 분쟁 사용이 저작권 소유자, 그 대리인 또는 법률 (예 : 공정 사용)에 의해 승인되지 않았다고 확신합니다.
    - 본인은 위증 시 처벌을 받으며 침해 된 것으로 의심되는 저작권에 대한 저작권 또는 배타적 권리의 소유자이거나 소유자를 대신하여 행동 할 권한이 있음을 진술합니다.

    여기에 실명을 입력하십시오. (전자 서명으로 사용 됩니다.)


  </div>
</body>
</html>
