<style>
  .post {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .post .backbone {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
  }

  .post .backbone > tbody > tr > td {
    position: relative;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
  }


  .post.postvoteab .backbone > tbody > tr > td.top {
    height: 50%;
    border-bottom: 1px solid var(--color-dark);
  }

  .post.postvoteab .backbone > tbody > tr > td.bottom {
    height: 50%;
  }

  .post.postvoteox .backbone > tbody > tr > td.top {
    height: calc(100% - var(--w-52));
  }

  .post.postvoteox .backbone > tbody > tr > td.bottom {
    height: var(--w-52);
  }

  .post.postqa .backbone > tbody > tr > td {
    height: 100%;
  }

  .post .description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: var(--w-8);
    text-align: left;
    background: rgba(255,255,255,0.6);
    padding-left: var(--w-18);
    padding-top: var(--w-4);
    /* padding-bottom: var(--w-4); */
    /* padding-right: var(--w-32); */
    padding-right: var(--w-12);
  }

  .post .pagination {
    background: white;
    position: absolute;
    font-size: 13px;
    padding: 5px;
    border-radius: 10px;
    bottom: var(--w-18);
    right: var(--w-8);
    box-shadow: 0px 2px 6px rgb(70, 71, 105, 0.3);
  }

  .post .backbone .pixlabel {
    position: absolute;
    background: rgba(255,255,255,0.6);
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 10px;
  }

  .post .backbone .pixlabel.active {
    opacity: 0.3;
  }

  .post .backbone tr:first-child .pixlabel {
    bottom: var(--w-5);
  }

  .post .backbone tr:last-child .pixlabel {
    top: var(--w-5);
  }

  .post > .description > .styletags {
    margin-top: 10px;
    margin-bottom:5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap
  }

  .post span.tag {
    font-size: 11px;
    /* background: var(--color-dark); */
    background: white;
    /* color: red; */
    padding: 7px;
    border-radius: 20px;
    margin: 2px;
    height: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(70, 71, 105, 0.2);
  }

  .post > .scorebutton {
    position: absolute;
    top: var(--w-4);
    left: var(--w-4);
    width: var(--w-11);
    height: var(--w-11)
  }
</style>


<script type='text/x-template' id='post-template'>
  <div class='post' :class='post_type' ref='post'>

    <table v-if='is_postvoteox' class='backbone'>
      <tbody>
        <tr>
          <td class='top'>
            <pixloader ref='post_pix' :pix='post_pix' :session='session' :editable='editable' where='top'></pixloader>
          </td>
        </tr>

        <tr>
          <td class='bottom'>
            <oxcard :rawkeys='oxkeys'>
              <template #O='sprops'>
                <oxer
                  @click.native='toggle_vote(0)'
                  :keyvalue='sprops.keyvalue'
                  :act='0'
                  :vote_state='vote_state'
                  :score='post_nvotes_up'
                  :is_active='is_active'
                  :session='session'
                ></oxer>
              </template>

              <template #X='sprops'>
                <oxer
                  @click.native='toggle_vote(1)'
                  :keyvalue='sprops.keyvalue'
                  :act='1'
                  :vote_state='vote_state'
                  :score='post_nvotes_down'
                  :is_active='is_active'
                  :session='session'
                ></oxer>
              </template>
            </oxcard>

            <!-- <div class='v-divider'></div> -->
          </td>
        </tr>
      </tbody>
    </table>

    <table v-if='is_postvoteab' class='backbone'>
      <tbody>
        <tr>
          <td class='top'>
            <aber
              @click.native='toggle_vote(0)'
              ref='post_pix_a'
              :pix='post_pix_a'
              :editable='editable'
              :act='0'
              :vote_state='vote_state'
              :score='post_nvotes_up'
              :is_active='is_active'
              :session='session'
            ></aber>

            <div class='pixlabel' v-if='post_pixlabel_a || editable'>
              <editext ref='post_pixlabel_a' :rawtext='post_pixlabel_a' :editable='editable' placeholder='제목을 적어주세요' type='in-post'></editext>
            </div>
          </td>
        </tr>

        <tr>
          <td class='bottom'>
            <aber
              @click.native='toggle_vote(1)'
              ref='post_pix_b'
              :pix='post_pix_b'
              :editable='editable'
              :act='1'
              :vote_state='vote_state'
              :score='post_nvotes_down'
              :is_active='is_active'
              :session='session'
            ></aber>

            <div class='pixlabel' v-if='post_pixlabel_b || editable'>
              <editext ref='post_pixlabel_b' :rawtext='post_pixlabel_b' :editable='editable' placeholder='제목을 적어주세요' type='in-post'></editext>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table v-if='is_postqa' class='backbone'>
      <tbody>
        <tr>
          <td>
            <pixloader ref='post_pix' :pix='post_pix' :session='session' :editable='editable' where='full'></pixloader>
          </td>
        </tr>
      </tbody>
    </table>

    <div class='pagination' v-if='pagination'>[[ pagination ]]</div>


    <div class='description'>
      <editext
        ref='post_text'
        @click.native='toggle_squeeze'
        :rawtext='post_text'
        :header='post_boo_nick'
        :date='post_date'
        :editable='editable'
        placeholder='질문을 입력해주세요'
        type='in-post'
        :freeze='!editable'
        :squeeze='squeezed'>
      </editext>

      <!-- <div class='styletags' v-show='post && !squeezed'>
        <span class='tag' v-for='l in mylabels("gender")'>[[ l.label ]]</span>
        <span class='tag' v-for='l in mylabels("age")'>[[ l.label ]]</span>
        <span class='tag' v-for='l in mylabels("body")'>[[ l.label ]]</span>
        <span class='tag' v-for='l in mylabels("style")'>[[ l.label ]]</span>
        <span class='tag' v-for='l in mylabels("item")'>[[ l.label ]]</span>
      </div> -->
    </div>

    <scorebutton
      :session='session'
      :boo='post_boo'
      v-if='post_boo'
      @click.native='open_boopage(post_boo)'
    ></scorebutton>
  </div>
</script>


<script>
  Vue.component('post', {
    template: '#post-template',
    delimiters: ['[[', ']]'],
    props: ['post', 'session', 'type', 'editable', 'swiper'],

    data: function() {
      return {
        squeeze_toggled: true,
      }
    },

    // mounted: function() {
    //   if (this.session.mode.on=='mbti')
    //    this.squeezed = false;
    // },

    computed: {
      squeezed: function() {
        if (this.session.mode.on=='mbti') {
          return false

        } else {
          return this.squeeze_toggled
        }
      },

      pagination: function() {
        if (this.post) {
          return this.post.pagination
        }
      },

      // swiper: function() {
      //   return this.session.page.posts.swiper
      // },

      post_type: function() {
        if (this.post) {
          return this.post.type
        } else {
          return this.type
        }
      },

      is_postvoteox: function() {
        return (this.post_type == 'postvoteox')
      },

      is_postvoteab: function() {
        return (this.post_type == 'postvoteab')
      },

      is_postqa: function() {
        return (this.post_type == 'postqa')
      },

      post_pix: function() {
        try { return this.post.pix }
        catch(e) { return '' }
      },

      post_pix_a: function() {
        try { return this.post.pix_a }
        catch(e) { return '' }
      },

      post_pix_b: function() {
        try { return this.post.pix_b }
        catch(e) { return '' }
      },

      post_pixlabel_a: function() {
        try { return this.post.pixlabel_a }
        catch(e) { return '' }
      },

      post_pixlabel_b: function() {
        try { return this.post.pixlabel_b }
        catch(e) { return '' }
      },

      post_boo: function() {
        if (this.post) {
          return this.post.boo
        } else {
          return this.session.user.auth.boo
        }
      },

      post_boo_profile_pix: function() {
        return this.post_boo.profile.pix
      },

      post_boo_nick: function() {
        return this.post_boo.nick
      },

      // post_boo_styletags: function() {
      //   return this.post_boo.styletags
      // },

      post_text: function() {
        if (this.post) {
          return this.post.text
        } else {
          return ''
        }
      },

      post_date: function() {
        if (this.post) {
          return this.relative_date(this.post.created_at)
        }
      },

      post_nvotes_up: function() {
        if (this.post) {
          return this.post.nvotes_up ? this.post.nvotes_up : 0
        } else {
          return 0
        }
      },

      post_nvotes_down: function() {
        if (this.post) {
          return this.post.nvotes_down ? this.post.nvotes_down : 0
        } else {
          return 0
        }
      },

      post_nvotes: function() {
        return this.post_nvotes_up + this.post_nvotes_down
      },

      post_ncomments: function() {
        if (this.post) {
          return this.post.ncomments
        }
      },

      oxkeys: function() {
        if (this.post) {
          return this.post.keys
        }
      },

      vote_state: function() {
        if (this.post) {
          return this.session.user.has_voted_as(this.post.id)
        } else {
          return -1
        }
      },

      is_active: function() {
        return !this.editable && (this.vote_state != -1)
      },
    },


    methods: {
      open_boopage: function(boo) {
        if (this.session.mode.on=='mbti')
          return

        this.session.open_boopage(boo);
      },

      relative_date: function(date) {
        moment.locale('ko');
        return moment(date).fromNow()
      },

      mylabels: function(type) {
        return this.session.labels[type].filter(l => {
          return this.post_boo[type + 'labels'].includes(l.id)
        })
      },

      toggle_squeeze: function() {
        this.squeeze_toggled = !this.squeeze_toggled;
      },

      toggle_vote: function(act) {
        if (!this.editable && (this.session.mode.on=='posts' || this.session.mode.on=='booposts' || this.session.mode.on=='mbti')) {
          if (this.vote_state==act) {
            this.rescore(act, -1);
            this.session.user.vote(this.post.id, -1);

          } else {
            this.rescore(this.vote_state, act);
            this.session.user.vote(this.post.id, act);
          }
        }

        if (this.swiper && this.session.mode.on=='mbti') {
          setTimeout(() => { this.swiper.slideNext(); }, 500);
        }
      },

      rescore: function(_old, _new) {
        if (_old==-1 && _new==0) {
          this.post.nvotes_up += 1;

        } else if (_old==-1 && _new==1) {
          this.post.nvotes_down += 1;

        } else if (_old==0 && _new==-1) {
          this.post.nvotes_up -= 1;

        } else if (_old==1 && _new==-1) {
          this.post.nvotes_down -= 1;

        } else if (_old==0 && _new==1) {
          this.post.nvotes_up -= 1;
          this.post.nvotes_down += 1;

        } else if (_old==1 && _new==0) {
          this.post.nvotes_up += 1;
          this.post.nvotes_down -= 1;
        }
      }

    }
  });
</script>
