<div class="swiper-container">
  <div class="swiper-wrapper">

    {% for post in posts %}
    <div class="swiper-slide">
      {% include "getch/post.html" with post=post type=post.type %}
    </div>
    {% endfor %}

  </div>
</div>


<script src="/static/swiper/swiper.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    direction: 'vertical',
    on: {
      init: function() {
        // init_post();
      },
      slideChangeTransitionEnd: function() {
        set_post();
      },
      slideChange: function() {
        unset_post();
      },
    },
    // spaceBetween: '-10'
    // loop: true
    // preventClicks: false,
    // preventClicksPropagation: false
  });

  function set_post() {
    let cpost = document.querySelector('.swiper-slide-active');
    let cpost_id = cpost.querySelector('.post').getAttribute('post_id');
    let author_id = cpost.querySelector('.author.menublock').getAttribute('author');
    let author_nfollowers = cpost.querySelector('.author.menublock').getAttribute('nfollowers');
    let author_nfollowees = cpost.querySelector('.author.menublock').getAttribute('nfollowees');
    let author_profile = cpost.querySelector('.author.menublock img.fit').src;

    if (author_id==session.boo_selected) {
      cpost.querySelector('input.show-modify-button.toggler').checked = true;
    } else {
      cpost.querySelector('input.show-modify-button.toggler').checked = false;
    }

    session.cpost = {
      id: Number(cpost_id),
      voted: -1,
      author: {
        id: Number(author_id),
        nfollowers: Number(author_nfollowers),
        nfollowees: Number(author_nfollowees),
        profile: author_profile,
      }
    }
  }

  function unset_post() {
    let cpost = document.querySelector('.swiper-slide-active');
    cpost.querySelector('input.show-modify-button.toggler').checked = false;
  }
</script>
