<style>
</style>

<div class="swiper-container">
  <div class="swiper-wrapper">

    {% for post in posts %}
    <div class="swiper-slide">
      {% include "getch/post.html" with post=post type=post.type %}
    </div>
    {% endfor %}

  </div>
</div>


<script src="/static/swiper/swiper.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    direction: 'vertical',
    on: {
      init: function() {
        init_post();
      },
      slideChangeTransitionEnd: function() {
        init_post();
      },
      slideChange: function() {
        close_post();
      },
    },
    // spaceBetween: '-10'
    // loop: true
    // preventClicks: false,
    // preventClicksPropagation: false
  });

  function init_post() {
    let cpost = document.querySelector('.swiper-slide-active');
    let author = cpost.querySelector('.author.menublock').getAttribute('author');
    let cboo = '{{user.boo.pk}}';
    if (cboo==author) {
      cpost.querySelector('input.show-edit-button.toggler').checked = true;
    }
  }

  function close_post() {
    let cpost = document.querySelector('.swiper-slide-active');
    cpost.querySelector('input.show-edit-button.toggler').checked = false;
    cpost.querySelector('input.edit.toggler').checked = false;
  }
</script>
