{% include "getch/page.html" %}
{% include "getch/post.html" %}
{% include "getch/modal.html" %}

<script type='text/x-template' id='posting-template'>
  <div class='posting'>
    <modal
      :pop='session.open.posting'
      name='posting-type-selector'
      @posting='posting($event)'
    ></modal>

    <page :open='postvoteab' @close='session.close_page()'>
      <post type='postvoteab' :session='session'></post>
    </page>

    <page :open='postvoteox' @close='session.close_page()'>
      <post type='postvoteox' :session='session'></post>
    </page>
  </div>
</script>


<script>
  Vue.component('posting', {
    template: '#posting-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {
        postvoteab: false,
        postvoteox: false
      }
    },

    watch: {
      // 초기화
      'session.open.posting': function(_new, _old) {
        this.postvoteab = false;
        this.postvoteox = false;
      }
    },

    computed: { },
    methods: {
      posting: function(type) {
        if (type=="cancel") {
          this.session.close_page();
        } else {
          this[type] = true;
        }
      },

      // close: function(type) {
      //   this[type] = false;
      //   this.session.close_page();
      // }
    }
  });
</script>
