{% include "getch/page.html" %}
{% include "getch/post.html" %}

<script type='text/x-template' id='posting-template'>
  <page class='posting' :open='session.open.posting' @close='session.close_page()'>
    <post type='postvoteab' :session='session'></post>
  </page>
</script>


<script>
  Vue.component('posting', {
    template: '#posting-template',
    delimiters: ['[[', ']]'],
    props: ['session'],
    data: function() {
      return {}
    },

    computed: { },
    methods: { }
  });
</script>
