{% extends "getch/basepage.html" %}

{% block style %}
{{ block.super }}
<style>
  .posting input.posting-type.toggler {
    display: none;
    visibility: hidden;
  }

  .posting .postvoteox,
  .posting .postvoteab {
    display: none;
  }

  .posting input.posting-type.toggler[posting-type='postvoteox']:checked ~ .postvoteox,
  .posting input.posting-type.toggler[posting-type='postvoteab']:checked ~ .postvoteab {
    display: block;
  }
</style>
{% endblock style %}

{% block page %}
{{ block.super }}

<div class='posting'>
  <input posting-type='postvoteox' class='posting-type toggler' type="radio" name='posting-type'>
  <input posting-type='postvoteab' class='posting-type toggler' type="radio" name='posting-type'>

  <div class='postvoteox'>
    {% include "getch/post.html" with type='postvoteox' %}
  </div>

  <div class='postvoteab'>
    {% include "getch/post.html" with type='postvoteab' %}
  </div>
</div>

{% endblock page %}


{% block js %}
<script>
  function set_posting() {
    let postings = document.querySelectorAll('#posting .post');
    postings.forEach(posting => {
      posting.querySelector('.author.menublock').setAttribute('author', session.boo_selected);
      posting.querySelector('.author.menublock img.fit').src = session.boo.profile.pix;
      posting.querySelector('.description span.nick').innerHTML = '@' + session.boo.nick;
    })
  }
</script>
{% endblock js %}
