<script>
  let authors = {};
  let author_id;
</script>

<div class="swiper-container">
  <div class="swiper-wrapper">

    {% for post in posts %}
    <div class="swiper-slide" post_id='{{post.id}}' author_id='{{post.boo.id}}'>
      {% include "getch/post.html" with post=post type=post.type %}

      <script>
        author_id = {{post.boo.id}};
        if (!(author_id in authors)) {
          const author = {{post.boo.serialized|safe}};
          authors[author_id] = {
            nick: author.nick,
            text: author.text,
            profile: author.profile,
            followers_id: author.followers_id,
            followees_id: author.followees_id,
            voting_record: author.voting_record,
          };
        }
      </script>
    </div>
    {% endfor %}

  </div>
</div>


<script src="/static/swiper/swiper.js"></script>
<script>
  const swiper = new Swiper('.swiper-container', {
    direction: 'vertical',
    on: {
      init: function() {
      },
      slideChangeTransitionEnd: function() {
        set_post();
      },
      slideChange: function() {
        unset_post();
      },
    },
    // spaceBetween: '-10'
    // loop: true
    // preventClicks: false,
    // preventClicksPropagation: false
  });

  function set_post() {
    const cpost = document.querySelector('.swiper-slide-active');
    const cpost_id = cpost.getAttribute('post_id');
    const author_id = cpost.getAttribute('author_id');

    session.cpost = {
      post_id: Number(cpost_id),
      author_id: Number(author_id)
    }

    cpost.querySelector('.author.menublock').setAttribute('author', author_id);
    cpost.querySelector('.author.menublock img.fit').src = session.author.profile.pix;
    cpost.querySelector('.description span.nick').innerHTML = '@' + session.author.nick;

    if (author_id==session.boo_selected) {
      cpost.querySelector('input.show-modify-button.toggler').checked = true;

    } else {
      cpost.querySelector('input.show-modify-button.toggler').checked = false;
    }

    if (cpost_id in session.boo.voting_record) {
      const vote_action = session.boo.voting_record[cpost_id];
      cpost.querySelector(`input.vote.toggler[value='${vote_action}']`).checked = true;

    } else {
      cpost.querySelector('input.vote.toggler[value="0"]').checked = false;
      cpost.querySelector('input.vote.toggler[value="1"]').checked = false;
    }
  }

  function unset_post() {
    let cpost = document.querySelector('.swiper-slide-active');
    cpost.querySelector('input.show-modify-button.toggler').checked = false;
    cpost.querySelector('input.vote.toggler[value="0"]').checked = false;
    cpost.querySelector('input.vote.toggler[value="1"]').checked = false;
  }
</script>
