<!doctype html>
<html lang="ko">

{% load static %}
<head>
  <title>MOIBER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1, maximum-scale=1">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    :root {
      --color-pos: rgb(241,20,15);
      --color-neg: rgb(22,187,204);
      --color-dark: #302E2F;
      --s-menu: 50px;

      /* --width: min(100vw, calc(100vh * 9 / 16)); */
      /* --width: min(100vw, calc(100vh * 3 / 4)); */
      --width: min(100vw, calc(100vh * 11 / 16));
    }


    html, body {
      /* 모바일브라우저 검색바를 고정하기 위함
      https://stackoverflow.com/questions/18061308/prevent-address-bar-hiding-in-mobile-browsers */
      margin: 0;
      height: 100%;
      overflow: hidden;
    }

    * {
      font-family: 'Noto Sans KR', sans-serif;
    }

    #window {
      /* width: 100%; */
      width: var(--width);
      height: 100%;
      background: white;
      position: relative;
      margin: auto;
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      overflow-y: auto;
      padding: 50px;
      box-sizing: border-box;
    }
  </style>
</head>


<body style='background:none;margin:0;'>
  <div id='window'>

    <p style='font-size:20px;font-weight:bold;'>모이버 개인정보보호정책</p>

    MOIBER 서비스 개요

    MOIBER는 모든 사람들이 즐기면서 자신만의 취향과 스타일, 자신의 새로운 가능성을 발견하는 데 도움이 되는 서비스가 되고자 합니다. 이를 위해 저희는 회원님과 타사로부터 수집한 정보를 토대로 회원님이 관심을 가질 만한 맞춤 콘텐츠와 광고 를 표시합니다. 저희는 항상 적절한 법적 근거를 바탕으로 이러한 정보를 사용합니다.
    저희가 수집하는 정보의 종류, 사용 용도, 회원님의 선택권을 이해하는 데 도움을 주고자 이 정책을 작성했습니다. 아래에 설명된 개념 중 일부는 다소 기술적인 개념이지만 최대한 이해하기 쉽게 설명하기 위해 노력했습니다. 저희는 이 정책과 관련한 질문이나 의견을 언제나 환영합니다.


    정보를 수집하는 다양한 방식

    1. 사용자 정보를 제공 시 또는 정보 획득 권한 부여 시
    MOIBER에 가입하거나 MOIBER를 사용하면 이름, 이메일 주소, 전화번호, 사진, 댓글, 기타 회원님이 MOIBER에 제공한 정보가 자발적으로 공유됩니다. 또한 회원님의 선택에 따라 기기 설정 또는 사진을 통해 회원님의 정확한 위치를 공유할 수도 있습니다. 회원님이 정확한 위치를 공유하지 않더라도 MOIBER는 계속 IP 주소를 사용하여 회원님의 대략적인 위치를 파악합니다. 또한 성별, 연령, 선호 언어 등 회원님에 대한 기타 정보를 공유할지 여부도 선택할 수 있습니다.

    MOIBER에 Facebook, Google 계정을 연결(opens in a new window)했거나 기타 타사 계정을 연결한 경우 MOIBER는 서비스 개선을 위해 이러한 계정 정보(친구 또는 연락처 등)를 사용할 수 있습니다. 이는 해당 계정의 개인정보 보호정책 또는 설정에 따라 달라집니다.

    2. 기술 정보 수집
    웹사이트, 모바일 앱, 기타 인터넷 서비스를 사용할 때는 특정 인터넷 및 전자 네트워크 활동 정보가 자동으로 생성되어 기록됩니다. MOIBER를 사용할 때에도 마찬가지입니다. MOIBER에서 수집하는 정보의 유형은 다음과 같습니다.
    로그 데이터. 회원님이 MOIBER를 사용하면 MOIBER 서버에 정보("로그 데이터")가 기록되며, 여기에는 회원님이 웹사이트를 방문할 때마다 브라우저가 자동으로 전송하는 정보, 모바일 앱을 사용할 때 앱에서 자동으로 전송하는 정보가 포함됩니다. 이러한 로그 데이터에는 인터넷 프로토콜 주소(대략적인 위치를 파악하는 데 사용), MOIBER 기능(예: '저장' 버튼, 자세한 내용은 아래 참조)을 포함하는 방문 웹사이트 주소 및 해당 웹사이트에서의 활동, 검색어, 브라우저 종류와 설정, 요청 일시, MOIBER를 사용한 방법, 쿠키 데이터, 기기 데이터가 포함됩니다. MOIBER가 수집하는 로그 데이터에 대한 자세한 정보는 여기에서 확인하실 수 있습니다.
    쿠키 데이터. "쿠키"(MOIBER 웹사이트를 방문할 때마다 컴퓨터에서 전송되는 MOIBER 계정이나 브라우저 고유의 작은 텍스트 파일) 또는 이와 유사한 기술로 로그 데이터를 기록할 수 있습니다. 쿠키 또는 이와 유사한 기술을 사용할 때에는 세션 쿠키(브라우저를 닫을 때까지 저장) 또는 영구 쿠키(사용자나 브라우저가 삭제할 때까지 저장)를 사용할 수 있습니다. 예를 들어 MOIBER를 방문할 때마다 매번 설정할 필요가 없도록 언어 설정이나 기타 설정을 저장하는 용도로 쿠키를 사용합니다. MOIBER가 사용하는 쿠키 중에는 MOIBER 계정과 관련이 있는 쿠키(MOIBER에 제공한 이메일 주소 등의 개인정보 포함)도 있고 그렇지 않은 쿠키도 있습니다. MOIBER의 쿠키 활용 방법에 관한 자세한 정보는 쿠키 정책(opens in a new window)을 참조하세요.
    기기 정보. 저희는 로그 데이터뿐만 아니라 MOIBER를 사용하는 기기에 대한 정보도 수집하며, 여기에는 문제가 발생한 시기를 파악하는 데 도움이 되는 충돌 데이터, 기기 종류, 운영체제, 설정, 고유 기기 식별자가 포함됩니다.
    클릭스트림 데이터 및 추론. MOIBER를 사용하면 MOIBER에서 회원님이 클릭하는 핀, 만드는 보드, 댓글 또는 설명에 추가하는 모든 텍스트 등의 활동과 더불어 처음 가입할 때 제공한 정보, MOIBER 파트너 및 광고주로부터 받은 정보를 사용하여 회원님에 대해 추론합니다. 예를 들어 여행에 대한 보드를 만든 사람은 여행을 매우 좋아하는 사람이라고 추론할 수 있습니다. 또한 Facebook 또는 Google 등의 타사 계정에 MOIBER 계정을 연결하면 회원님의 활동을 바탕으로 회원님의 학력 또는 직업에 대한 정보도 추론할 수 있습니다.


    3. 파트너 광고주 정보 공유
    MOIBER는 MOIBER가 아닌 당사 제휴사, 광고주, 파트너 및 기타 당사와 함께 일하는 제3자를 통해 이루어지는 사용자 정보 및 사용자의 활동 정보도 수집할 수 있습니다. 예를 들면 다음과 같습니다.
    일부 웹사이트나 앱이 '저장' 버튼과 같은 MOIBER 기능을 사용하고 있을 수 있습니다. 또는 회원님이 직접 브라우저에 MOIBER의 '저장' 버튼을 설치할 수 있습니다. 이 경우 저희가 해당 웹사이트나 앱으로부터 로그 정보를 수집할 수 있습니다.
    온라인 광고주나 타사가 MOIBER에서 이루어지는 광고 성과를 측정, 보고하거나 개선하기 위해 또는 MOIBER 및 기타 플랫폼에서 회원님에게 표시할 광고 종류를 파악하기 위해 저희에게 정보를 공유할 수 있습니다. 여기에는 광고주 웹사이트 방문, 해당 웹사이트에서의 구매, 타사 서비스로부터 받은 관심사 정보 등이 포함되며, MOIBER는 이 정보를 활용하여 회원님에게 광고를 표시할 수 있습니다. 광고주나 기타 타사가 MOIBER에 공유하는 정보 유형에 대해 자세히 알아보세요.

    수집한 정보의 사용 용도

    MOIBER는 회원님과 관련이 있고 회원님이 관심을 가질 만한 맞춤 패션 콘텐츠를 회원님에게 표시하기 위해 노력합니다. 이를 위해 MOIBER는 회원님의 정보를 이용해 다음과 같은 방법으로 회원님께 서비스를 제공하고 서비스 경험을 개선합니다.
    회원님이 MOIBER를 사용할 때 본인임을 인증.
    MOIBER에서 이루어지는 활동을 바탕으로 회원님이 좋아할 만한 패션, 아이템, 사용자 그룹 별 포스팅을 추천 합니다.
    회원님의 질문이나 댓글에 응답.
    MOIBER는 이러한 방식으로 회원님의 정보를 사용할 적법한 이해 관계를 가지고 있습니다. 이는 MOIBER가 하는 일의 기본이 되며 MOIBER 및 그 기능을 회원님과 관련성이 있게 맞춤화하는 데 꼭 필요합니다.
    또한 MOIBER를 안전한 공간으로 만들고 상품 기능을 개선하여 사용자가 원하는 아이디어를 계속 찾을 수 있도록 하는 데에도 적법한 이해 관계를 갖고 있습니다. 다음과 같은 목적으로 회원님의 정보를 활용하면 저희와 회원님 모두에게 이익이 됩니다.
    관심사가 비슷한 사람 추천. 예를 들어 회원님이 스니커즈 관심사 사용자를 팔로우하면 회원님이 좋아할 만한 사용자의 포스팅을 추천해 드립니다.
    설정에서 동의한 경우 친구나 친분이 있는 사람이 MOIBER에서 회원님을 검색할 수 있음. 예를 들어 Facebook 계정으로 가입을 하면 처음 MOIBER에 가입할 때 회원님의 Facebook 친구들이 MOIBER에서 회원님을 쉽게 찾을 수 있습니다. 또는 회원님의 이메일 주소를 이용하여 회원님의 MOIBER 계정을 검색할 수도 있습니다.
    법 집행 기관에 협조하여 MOIBER의 안전을 유지. MOIBER는 경찰, 법원 등과 같은 법 집행 기관으로부터 계정 정보에 대한 요청을 받을 수 있습니다. 법 집행 기관의 요청에 대응하는 방법에 관한 자세한 내용은 법 집행 가이드라인에서 확인하실 수 있습니다.
    MOIBER 메시지를 검토해 사용자, MOIBER 커뮤니티, 공공의 안전에 위협이 되는 활동을 감지.
    MOIBER를 사용하는 사람과 사용 내용을 분석하고 조사함. 예를 들어 두 가지 버전으로 제공되는 MOIBER 기능 중 사람들이 어느 것을 더 많이 사용하는지를 기록하여 더 나은 버전이 무엇인지 파악할 수 있습니다.
    MOIBER를 개선하고 새로운 기능을 제공.
    MOIBER 상품 및 서비스를 다른 사이트에 있는 회원님께 광고. MOIBER가 다른 사이트에 회원님의 정보를 공유하여 아래의 "정보와 관련한 사용자 선택권" 섹션에 설명된 바와 같이 광고를 맞춤화하는 데 사용하지 못하도록 선택할 수 있습니다.
    회원님의 설정에 따라 이메일이나 푸시 알림 등으로 소식이나 변경 사항(예: 저장, 댓글 등과 같은 활동이 MOIBER에서 이루어졌을 때)을 알립니다. 예를 들어 저희는 회원님이 좋아할 만한 핀이 포함된 주간 업데이트를 전송합니다. 설정을 업데이트하여 알림이 전달되지 않게 할 수 있습니다.
    저희는 수익을 창출하기 위해 법이 허용하는 한도 내에서 회원님과 관련이 있고 회원님이 관심을 가질 만한 맞춤 광고를 게재합니다. 이를 위해 저희는 다음과 같은 목적으로 수집한 정보를 사용합니다.
    회원님에게 표시할 광고를 결정. 예를 들어 MOIBER에서 스웨트팬츠에 관심을 보이면 다른 스웨트팬츠 상품 광고가 표시될 수 있습니다. 저희는 웹사이트 안팎에서 이루어지는 회원님의 활동에 근거하여 회원님의 관심사를 파악하고, 광고 파트너나 기타 타사로부터 받은 정보를 활용하여 회원님에게 표시할 광고 콘텐츠를 맞춤화합니다. 웹사이트 외부에서의 관심사를 파악하기 위해 쿠키가 사용되는 경우에는 필요 시 회원님의 동의를 구합니다. 광고 파트너나 타사가 사용자 정보를 저희에게 공유할 때에는 해당 광고 파트너나 타사가 사용자로부터 이미 받은 동의 내용을 따릅니다.
    광고 파트너에게 MOIBER에 게재한 광고 성과와 개선 방법을 알림. 일부 정보는 종합 정보로 제공됩니다. 예를 들어 저희는 광고를 본 사람 중에서 해당 광고주의 웹사이트를 방문한 사람의 비율을 광고주에 보고합니다. 정보가 종합 정보로 제공되지 않을 때도 있습니다. 예를 들어 광고주에게 어떤 사람들이 특정 광고를 저장했는지 알리기도 합니다. 광고 보고에 관한 자세한 내용은 도움말 센터에서 확인하세요.
    MOIBER는 합법적인 이해에 따라 웹사이트 외부 활동에 근거하여 회원님에게 맞춤형 MOIBER 서비스를 제공하기 위해 수집한 정보를 활용합니다. 쿠키로 웹사이트 외부 활동에 근거하여 회원님의 관심사를 파악할 때에는 반드시 필요한 동의를 받게 되어 있습니다. MOIBER의 쿠키 활용 방법에 관한 자세한 정보는 쿠키 정책을 참조하세요.
    위와 같은 구체적인 사례 이외에 저희는 다음과 같은 목적을 위해 회원님의 동의가 있을 때에만 회원님의 정보를 사용합니다.
    사진 검색 허용. 예를 들어 회원님이 마음에 드는 신발이나 가구 사진을 찍은 다음 저희에게 비슷한 제품을 보여 달라고 요청할 수 있습니다. 이 기능은 기기의 운영체제 설정에서 설정할 수 있습니다.
    회원님의 계정이나 운영 체제 설정에 따라 이메일, 문자, 푸시 알림, 휴대폰 전화로 마케팅 자료 전송. 마케팅 자료를 전송할 때마다 수신을 거부할 수 있는 옵션이 제공됩니다.
    회원님의 정확한 위치를 파악하여 회원님에게 가장 알맞은 콘텐츠를 제공. 예를 들어 회원님이 어떤 상점 근처에 있는 게 파악되면 회원님이 관심을 가질 만한 해당 소매점의 핀이 표시될 수 있습니다. 이 기능은 기기의 운영체제 설정에서 설정할 수 있습니다.
    광고 파트너에게 MOIBER 태그를 사용하여 광고 성과 전달. MOIBER 태그(광고주가 사이트에 배치하는 코드 조각)는 MOIBER와 MOIBER 광고 파트너에게 사람들이 MOIBER 광고를 본 후에 웹사이트에서 수행한 행동에 대한 인사이트를 제공합니다. MOIBER 태그에 관한 자세한 내용은 도움말 센터에서 확인하세요.
    저희는 다음과 같은 목적으로 쿠키를 사용할 때에도 회원님의 동의를 받습니다.
    여러 브라우저 세션에서 본인 확인. 휴대폰(또는 다른 모든 기기)으로 MOIBER에 로그인하면 회원님이 기억되기 때문에 MOIBER를 방문할 때마다 로그인 정보를 입력하지 않아도 됩니다.
    회원님이 관심을 가질 만한 광고 표시. MOIBER는 웹사이트 외부 활동을 바탕으로 회원님의 관심사를 파악하기 위해 쿠키를 사용합니다. 기존 MOIBER 사용자 및 신규 사용자 모두에게 쿠키가 사용되며, 이는 회원님께서 MOIBER를 시작하는 방법을 맞춤 서비스로 제공하는 데 도움이 됩니다.
    MOIBER가 쿠키를 사용하는 방법과 이와 관련한 회원님의 선택권에 대한 자세한 정보는 쿠키 정책을 참조하세요.

    정보 이전

    MOIBER는 전 세계를 대상으로 하는 서비스입니다. 저희의 상품이나 서비스를 사용하면 이 정책에 기술된 목적을 위해 회원님이 거주하는 국가 밖으로 회원님의 정보를 이전, 저장할 수 있는 권한을 저희에게 부여하게 됩니다. 이러한 국가에서 적용되는 개인정보 보호 및 정부당국의 개인정보 접근 권한은 거주 국가와 다를 수 있습니다.

    정보와 관련한 회원님의 선택권

    저희는 회원님이 회원님의 정보와 관련한 선택을 쉽고 편리하게 할 수 있게 하려 합니다. MOIBER 계정이 있다면 이러한 선택 사항 중 상당수가 MOIBER 또는 회원님의 설정에 바로 반영됩니다. 예를 들면 회원님은 언제라도 다음과 같이 설정할 수 있습니다.
    언제든지 프로필에서 정보를 수정 하고, 프로필이 검색 엔진에서 검색되게 할지 결정하고, 다른 사람들이 회원님의 이메일 주소로 회원님의 MOIBER 계정을 찾을 수 있게 할지 선택 할 수 있습니다.
    다른 서비스(예: Facebook, Google)에서 MOIBER 계정을 연결하거나 연결 해제할 수 있습니다. 일부 서비스(Facebook 등)의 경우 해당 서비스에 MOIBER 활동을 게시할지 여부도 선택할 수 있습니다.
    비밀 보드 설정을 수정할 수 있습니다. 비밀 보드는 회원님과 참여자에게만 보이며 모든 참여자는 보드 공개 여부를 선택할 수 있습니다. 예를 들어 참여자는 누군가를 보드에 초대하거나, MOIBER를 보는 용도로 사용하는 앱에서 보드를 이용 가능하게 하거나, 보드 이미지를 친구에게 이메일로 전송할 수 있습니다.
    MOIBER 외부 웹사이트나 앱으로부터 전달된 정보를 바탕으로 MOIBER에서 맞춤형 서비스를 제공받을지 선택할 수 있습니다. MOIBER 계정이 있다면 설정에서 '개인 설정'을 업데이트하여 외부 데이터가 맞춤형 서비스에 이용되는 방식을 관리할 수 있습니다.
    다른 플랫폼, 사이트 또는 앱에서 회원님께 노출되는 MOIBER 광고가 회원님의 계정 활동 정보에 맞추어 선정되게 할지 여부를 결정할 수 있습니다. 설정에서 '개인 설정'을 업데이트하는 방법으로 제어할 수 있습니다.
    MOIBER가 광고 성과를 보고할 수 있도록 회원님의 MOIBER 활동에 관한 정보를 공유할지 여부를 선택하세요. 설정에서 '개인 설정'을 업데이트하는 방법으로 제어할 수 있습니다.
    언제라도 회원님의 계정을 폐쇄할 수 있습니다. 회원님이 계정을 폐쇄하면 저희는 회원님의 계정을 비활성화한 후 MOIBER에서 핀과 보드를 삭제하고 계정 데이터를 지웁니다.
    또한 브라우저의 추적 거부 기능뿐만 아니라 iOS에서는 광고 추적 제한, Android 기기에서는 광고 개인 설정 기능도 지원됩니다. 추적 거부 기능이 MOIBER 외부에서 수집된 데이터의 수집과 사용에 어떠한 영향을 미치는지 자세히 알아보세요.
    MOIBER를 이용하기 위해 사용하는 기기나 소프트웨어를 통해서도 여러 가지를 선택할 수도 있습니다. 예를 들면 다음과 같습니다.
    사용하는 브라우저로 쿠키 및 기타 로컬 데이터 저장소 유형을 선택할 수 있습니다.
    모바일 기기로 정확한 위치, 사진, 연락처, 기타 데이터를 MOIBER에 공유할지 여부와 공유하는 방법을 선택할 수 있습니다.
    이러한 선택 사항에 대한 자세한 내용은 기기 또는 소프트웨어 제공업체의 정보를 참조하세요.


    정보를 공유하는 방식과 시기

    누구나 회원님이 만든 공개 포스팅과 회원님이 MOIBER에 제공한 프로필 정보를 볼 수 있습니다. MOIBER는 이러한 공개 정보를 API(정보를 빠르게 공유하기 위한 기술)를 통해서도 이용할 수 있도록 합니다. 예를 들어 파트너는 MOIBER API를 사용하여 어떤 포스팅이 가장 인기가 있는지, 핀이 MOIBER에서 어떻게 공유되는지를 파악할 수 있습니다. MOIBER는 다음과 같은 대상에도 회원님의 정보를 공유합니다.
    회원님이 MOIBER에 가입 또는 로그인할 수 있게 하는 기타 서비스, Facebook, Google 등의 서비스와 MOIBER 계정을 연결하기로 한 경우 해당 서비스, MOIBER 콘텐츠를 게시한 경우 해당 서비스. 예를 들어 핀을 Facebook 또는 Twitter에 게시하기로 한 경우 해당 콘텐츠 정보가 Facebook 또는 Twitter에 공유됩니다.
    Facebook Ads, Google Marketing Platform, Microsoft Advertising, LinkedIn Advertising, The Trade Desk 등 MOIBER 외 다른 사이트 및 앱에서 회원님께 MOIBER를 마케팅하는 데 사용하는 서비스. 설정에서 이런 광고 서비스와의 공유를 거부할 수 있습니다.
    웹사이트 및 앱에서의 광고나 콘텐츠의 게재 및 성과를 감사하거나 개선하기 위해 MOIBER나 타사가 사용하는 온라인 광고주와 타사 서비스(예: Google Analytics). 여기에는 회원님이 MOIBER에서 본 핀이나 광고, 이러한 핀이나 광고에 대한 회원님의 반응 여부와 반응 방식, 기타 MOIBER 활동 정보가 포함됩니다. MOIBER가 온라인 광고주에게 정보를 어떻게 공유하고 있는지 자세히 알아보세요. 광고 성과를 분석하는 타사 기업에 관한 자세한 내용은 도움말 센터에서 확인하세요.
    본 개인정보 보호정책에 기술된 목적과 MOIBER 지침에 따라 MOIBER를 대신하여 정보를 처리하기 위해 MOIBER에 고용된 개인, 타사 업체, 서비스 제공업체. 예를 들어 스팸을 더 잘 파악하기 위해 MOIBER에서 보안 업체에 데이터를 공유할 수도 있습니다. MOIBER가 수집하는 정보의 일부는 MOIBER를 대신하여 타사 업체가 수집할 수 있습니다.
    법 집행 기관이나 정부 기관. 저희는 정보 공개가 법률, 규정, 법적 요청을 준수하는 데 필요하다는 합리적인 판단이 드는 경우에 한해, 대중, 특정인 또는 MOIBER의 안전, 권리, 자산을 보호하기 위한 목적으로 사기, 보안, 기술적 문제를 해결하기 위해서만 정보를 공유합니다.
    MOIBER가 전액 출자한 자회사 및 계열사. 이 정책에 기술된 정보의 이전이 수반되는 합병, 인수, 파산, 해산, 조직 개편, 이와 유사한 거래 또는 소송 절차에 MOIBER가 관여되는 경우 해당 절차와 관련 있는 당사자(예: 잠재 구매자)에게 정보를 공유할 수 있습니다.

    정보 보관 기간

    MOIBER는 회원님에게 서비스를 제공하고 이 정책에 기술된 목적을 달성하는 데 필요한 만큼만 회원님의 정보를 보관합니다. 이러한 원칙은 MOIBER를 대신하여 서비스를 제공하거나 MOIBER가 정보를 공유한 당사자에게도 마찬가지로 적용됩니다. 더 이상 회원님의 정보를 사용할 필요가 없고, 이에 수반되는 법률이나 규제 의무를 준수할 필요가 없어지면 MOIBER는 시스템에서 회원님의 정보를 삭제하거나 회원님의 신원을 확인할 수 있는 모든 정보를 파기합니다.

    아동 정보에 관한 정책

    13세 미만의 어린이는 MOIBER를 사용할 수 없습니다. EEA 거주자는 거주 국가의 법률에 따라 데이터 처리에 동의를 할 수 있는 나이를 넘은 경우에만 MOIBER를 이용할 수 있습니다.

    사용자 옵션

    저희가 보관 중인 회원님의 정보와 관련하여 회원님에게는 선택권이 있습니다. 이러한 권리를 행사하려면 계정 설정으로 이동하세요. 도움이 더 필요한 경우 도움말 센터에 문의해 주십시오.
    회원님은 MOIBER가 수집 및 보관 중인 회원님의 정보에 대해 액세스를 요청할 수 있습니다. 도움말 센터를 통해 정보를 요청해 주시면 대개 30일 이내에 해당 정보를 회원님에게 공유합니다.
    회원님의 정보를 수정하거나 삭제할 수 있습니다. 프로필에서 정보를 업데이트하거나 계정을 폐쇄하여 데이터를 삭제할 수 있습니다.
    저희가 회원님의 정보를 처리하는 것에 반대할 수 있습니다. 회원님은 마케팅 이메일이나 푸시 알림을 전송하기 위해 회원님의 정보를 사용하는 것을 비롯하여 MOIBER가 회원님의 정보를 사용하지 못하도록 요청할 수 있습니다. MOIBER로부터 마케팅 메시지를 받지 않더라도 다른 사용자가 회원님의 핀에 댓글을 달았을 때 전달되는 알림 등 계정에 관한 업데이트는 계속 전송될 수 있습니다.
    회원님의 동의가 있었거나 회원님과의 계약을 이행하기 위해 기술적으로 실현 가능한 경우 회원님이 MOIBER에 제공한 정보를 다른 조직에 전송할 수 있습니다.
    MOIBER에서 수집하는 정보, 정보를 수집 및 공유하는 방법과 이유에 대한 자세한 내용을 요청하실 수 있습니다.
    개인 정보와 관련한 선택권을 행사하더라도 MOIBER에서는 이와 관련하여 아무런 차별 대우를 하지 않습니다. MOIBER는 회원님의 선택권 및 특정 선택권의 행사 결과에 대해 회원님께 명확하게 안내하고 이를 투명하게 진행하기 위해 노력합니다. 궁금한 점이 있으면 MOIBER에 문의하세요.

    정책 변경 방법

    MOIBER는 본 정책을 때에 따라 변경할 수 있으며 이러한 경우 본 페이지에 변경 내용이 게시됩니다. 변경 후 계속 MOIBER를 사용하면 새로운 정책에 동의하는 것으로 간주됩니다. 중요한 내용이 변경되는 경우 법률에 의거하여 보다 확실한 방법으로 공지를 하거나 사용자의 동의를 구할 수 있습니다.

    문의하기

    MOIBER에 문의하거나 위에 기술된 권리를 행사하는 가장 좋은 방법은 도움말 센터를 이용하는 것입니다. 한국에 거주하고 계신다면 MOIBER Ltd에서 회원님의 정보를 책임지고 있습니다. 서울시 마포구 양화로 147, 4층에 위치한 MOIBER 본사에 직접 연락하실 수 있습니다.
    시행일 2020년 12월 1일
    최종 업데이트 2020년 12월 1일


    수집 로그 데이터 (별도 윈도우)
    사용 데이터 및 환경 설정
    가입 관련 데이터
    인증 세부 정보
    로그인 기록
    설정
    이메일 환경 설정
    앱 및 웹 알림 환경 설정
    개인정보 보호 및 개인 설정
    세션 로그
    세션 중 취한 행동
    기기 세부 정보(기기 종류 및 식별자, 충돌 등의 이벤트)
    계정 프로필 정보
    사용자가 MOIBER에 제공한 기타 소셜 서비스 연락처 정보
    MOIBER 콘텐츠 참여도
    검색어
    포스팅에 취한 행동(투표참여, 클릭, 클로즈업, 저장, 공유)
    사용자 페이지에 취한 행동(좋아요(팔로우), 공유)
    댓글
    광고 참여도
    페이지에 기여한 광고 및 광고를 보았을 확률
    광고에 취한 행동(광고 클릭, 광고가 노출된 페이지 저장)
    계정 관련 쿠키
    로그인 자격 증명 확인
    개인 환경 설정 적용 (알림, 개인정보 보호, 언어 등)
    여러 세션과 기기 전체에서 사용자를 기억하고 전송된 알림 기록 저장
    MOIBER 기능이 통합된 사이트 또는 브라우저에서 취한 행동 및 조회한 페이지
    MOIBER 기능의 인기도 측정
    MOIBER의 쿠키 활용에 관한 자세한 정보는 쿠키 정책을 참조하세요.


    쿠키 정책 (별도 윈도우)
    MOIBER의 개인 정보 보호 정책 은 당사가 정보를 수집하고 사용하는 방법과 회원님이 선택할 수 있는 사항을 설명합니다. 정보를 수집하는 방법 중 하나인 "쿠키"라는 기술과 픽셀, 로컬 저장소 및 소프트웨어 개발 키트 (SDK)와 같은 유사한 기술을 사용하는 것입니다. MOIBER의 모든 종류에 대해 쿠키를 사용합니다.

    온라인에 접속하면 "브라우저"라는 프로그램 (예 : Apple의 Safari 또는 Google의 Chrome)을 사용합니다. 대부분의 웹 사이트는 브라우저에 소량의 텍스트를 저장하며 이 텍스트를 "쿠키"라고합니다. 다른 기술은 검색 활동에 대한 데이터를 수집하기 위해 유사하게 작동합니다.

    MOIBER는 세션 쿠키 (사용자가 브라우저를 닫을 때까지 지속됨) 또는 영구 쿠키 (사용자 또는 사용자의 브라우저가 삭제할 때까지 지속됨)를 사용합니다. 예를 들어, 당사는 영구 쿠키를 사용하여 귀하의 언어 기본 설정 또는 기타 설정을 저장하므로 귀하가 MOIBER를 방문 할 때마다 설정할 필요가 없습니다.
    우리가 사용하는 일부 쿠키는 회원님의 MOIBER 계정 (귀하가 제공 한 이메일 주소와 같은 귀하에 대한 정보 포함)과 관련되어 있으며 다른 쿠키는 그렇지 않습니다.

    쿠키에는 네 가지 범주가 있습니다.
    MOIBER가 기대 한 방식으로 작동하려면 필수 쿠키 가 필요합니다. 이러한 유형의 쿠키의 예로는 MOIBER를 스크롤하거나 핀을 검색 할 때 로그인 상태를 유지하는 로그인 쿠키가 있습니다.
    내부 분석에 사용되며 Google Analytics 와 같은 제공 업체의 쿠키를 포함하는 Analytics 쿠키 .
    MOIBER에서 귀하에게 제공되는 광고를 포함한 콘텐츠를 맞춤화하기위한 개인화 쿠키 .
    MOIBER에서 귀하에게 MOIBER를 광고하는 데 사용되는 마케팅 쿠키

    필수 쿠키
    MOIBER는 귀하가 선호하는 언어 및 개인 정보 보호 설정과 같은 귀하의 설정 및 기본 설정을 기억하기 위해 필수 쿠키를 사용합니다.
    필수 쿠키를 통해 MOIBER에 로그인 및 로그 아웃 할 수 있습니다.
    필수 쿠키는 보안 위험으로부터 사용자를 보호하는 한 가지 방법 일뿐입니다. 예를 들어, 누군가가 MOIBER 계정을 해킹하거나 MOIBER 커뮤니티에 스팸을 보내려고 할 때 이를 감지하기 위해 이를 사용합니다.

    분석 쿠키
    MOIBER를 개선하기 위해 분석 쿠키를 사용합니다. 예를 들어, 이러한 쿠키는 얼마나 많은 사람들이 특정 기능을 사용하고 얼마나 인기가 있는지 또는 사람들이 우리가 보내는 이메일을 여는 지 여부를 알려줍니다.
    또한 쿠키를 사용하여 광고주가 광고를 보고 상호 작용하는 사람, 웹 사이트를 방문하거나 제품을 구매하는 사람을 이해하는 데 도움이 됩니다.
    때때로 우리는 사람들이 MOIBER를 사용하는 방식을 이해하는 데 도움을주기 위해 보안 공급 업체를 고용하거나 타사 분석 제공 업체를 사용합니다. 우리와 마찬가지로 이러한 공급자는 쿠키를 사용할 수 있습니다. 당사가 사용하는 제 3 자 제공 업체에 대해 자세히 알아보십시오 .

    개인화 쿠키
    MOIBER는 쿠키를 사용하여 회원님이 상호 작용 한 포스팅, 사람 또는 웹 사이트를 기억하여 회원님이 좋아할만한 관련 콘텐츠를 보여줄 수 있습니다.
    또한 광고주가 흥미로운 광고를 표시 할 수 있도록 쿠키를 사용합니다. 예를 들어 광고주로부터 텐트를 구입 한 경우 캠핑 용 난로 광고를 보여달라고 요청할 수 있습니다. 도움말 센터에서 광고주가 Google과 공유하는 정보 유형에 대해 자세히 알아볼 수 있습니다 . 이러한 서비스를 선택 해제하려면 설정 에서 할 수 있습니다 .

    마케팅 쿠키
    때때로 우리는 다른 웹 사이트 및 앱에서 MOIBER 제품을 마케팅 할 수 있도록 광고 공급 업체를 고용합니다. 이러한 공급자는 쿠키를 사용하여 이 서비스를 당사에 제공 할 수 있습니다. 이러한 서비스를 선택 해제하려면 설정 에서 할 수 있습니다 .

    당사는 MOIBER.com, 모바일 애플리케이션, 제품 및 서비스 (예 : 광고, 이메일 및 애플리케이션)에서 쿠키를 사용합니다. 또한 MOIBER의 저장 버튼 , MOIBER 위젯 또는 전환 추적과 같은 광고 도구 를 사용하는 파트너의 웹 사이트에서도 사용합니다 .

    MOIBER에서 쿠키가 사용되는 방식을 선택할 수있는 몇 가지 방법이 있습니다.

    설정 의 개인화 섹션에서 회원님을 위해 MOIBER를 개인화하기 위해 파트너 및 기타 서비스의 정보를 사용할지 또는 MOIBER에서 알게 된 정보를 사용하여 MOIBER를 다른 사이트 및 앱에서 귀하에게 마케팅할지 여부를 결정할 수 있습니다.

    또한 Digital Advertising Alliance의 Browser Check  및 European Interactive Digital Advertising Alliance의 Your Online Choices  사이트 와 같은 온라인 도구 를 사용하여 사용중인 장치 및 브라우저에 따라 웹에서 쿠키가 사용되는 방식을 선택할 수 있습니다.

    회원님의 브라우저는 아마도 쿠키 선택을 제공 할 것입니다. 예를 들어, 대부분의 브라우저에서는 방문중인 사이트가 아닌 다른 사이트의 쿠키 인 "타사 쿠키"를 차단할 수 있습니다. 이러한 옵션은 브라우저마다 다르므로 자세한 내용은 브라우저 설정을 확인하세요.  당사 사이트의 타사 쿠키 목록은 도움말 센터에서 찾을 수 있습니다.(새 창에서 열림).

    일부 브라우저에는 Google에서 지원하는 "추적 안 함"이라는 개인 정보 설정도 있습니다. 이 설정은 MOIBER가 귀하를 위해 MOIBER를 맞춤 설정하기 위해 파트너 및 기타 서비스의 정보를 사용할지 여부를 결정하는 또 다른 방법입니다.

    마지막으로 귀하의 휴대 기기에는 광고 파트너가 귀하의 모바일 애플리케이션 사용에 대한 정보를 사용하여 귀하에게 광고를 표시 할 수 있는지 여부를 제어 할 수있는 설정이 있습니다. iOS 기기에서는이 설정을 '광고 추적 제한'이라고하고 Android 기기에서는이 설정을 '광고 개인 최적화 선택 해제'라고합니다.

    기타 질문이 있거나 도움이 필요한 경우 도움말 센터를 이용해 문의해 주세요.

    발효 일 : 2020 년 12 월 1 일
    최종 업데이트 : 2020 년 12 월 1 일


    법 집행 가이드 라인 (별도 윈도우)
    사용자 정보를 저장하는 모든 업체는 법 집행 기관이나 법원 등의 사용자 정보 요청에 대한 정책 및 가이드라인을 갖고 있어야 합니다. MOIBER의 정책은 아래와 같습니다.
    아래 정보의 대부분은 법 집행기관, 사법기관 및 규제기관을 위한 것입니다.
    사용자 정보 저장
    MOIBER는 MOIBER의 개인정보 보호정책 및 해당 서비스 약관[소비자, 비즈니스]에 명시된 바에 따라 사용자 정보를 저장하고 관리합니다. MOIBER 개인정보 보호정책에서 MOIBER가 저장하는 정보의 예를 확인할 수 있습니다.
    MOIBER는 특정 사용자에 대한 개인정보 보호정책 또는 해당 서비스 약관에 명시된 정보의 제공을 보장할 수는 없습니다. MOIBER는 사용자가 저장하는 이미지, 음성 및 동영상 파일의 사본을 갖고 있지는 않습니다. 예를 들어, 사용자는 YouTube와 같은 동영상 서비스를 연결할 수 있고 해당 동영상은 YouTube의 API를 통해 재생됩니다.
    사용자 정보 제공 요건
    한국 법 집행기관
    MOIBER가 사용자 정보를 제공하도록 강제하려면 유효한 소환장, 법원 명령 또는 수색영장('사법기관 요청')이 있어야 합니다. MOIBER가 사용자 콘텐츠를 제공하도록 강제하려면 유효한 수색영장을 제시해야 합니다.
    한국 외 법 집행기관
    사법공조조약 또는 서면심리를 통해 발부된 유효한 미합중국 법원 명령을 제시하지 않는 한 MOIBER에 어떠한 사용자 정보 제공도 강요할 수 없습니다.
    법 집행기관과의 사용자 정보 공유 요건
    MOIBER가 귀하의 요청에 응하려면 다음 사항이 필요합니다.
    상기된 해당 서류
    고유 사용자 이름(MOIBER.com/[username]) 및 계정을 만들 때 사용된 이메일 주소
    공식 정부기관 도메인에서 발행된 유효한 회신 이메일 주소
    귀하의 법 집행 요청이 한정적이며 추가 비용 및 시간이 소요될 수 있는 필요 이상의 정보를 요구하지 않는지 확인하기 위하여 MOIBER는 다음을 요청합니다.
    충분히 한정된/명확한 기간
    대상에 의한 특정 사건이나 행동
    구체적인 참고내역(예: 사용자 URL = https://www.MOIBER.com/MOIBERpolicy/)
    사용자 정보의 보존 및 제공 요청 요건
    해당 한국법 또는 유효한 법적절차에 따라 MOIBER의 사법기관 요청 양식을 통해 MOIBER에 통지해야 합니다. 본 양식은 전자처리만 가능합니다.
    MOIBER는 법 집행기관의 요청에만 응답합니다. 귀하가 법 집행기관이 아니지만 문제가 있는 경우 MOIBER 도움말 문서를 참조하세요.
    법적 절차를 따르는 것은 사법권 또는 적합한 송달을 포함하여 MOIBER가 가질 수 있는 어떠한 이의의 포기도 의미하지 않습니다.
    사용자에게 요청에 대해 알림
    MOIBER는 사용자의 정보를 법 집행기관에 제공하기 전에 해당 사용자에게 법 집행기관의 요청에 대한 전체 사본을 제공하여 통보합니다. 다음의 경우에는 이 정책 적용이 예외가 될 수 있습니다.
    MOIBER의 통지가 법적으로 금지된 경우
    사망, 심각한 인명 피해 또는 장소에 대한 피해가 우려되는 긴급 상황의 경우
    계정이 도용되었거나 이메일 주소가 유효하지 않는 경우와 같이 실 계정 소유자에게 통지가 전달되지 않을 것으로 간주되는 경우
    미국 정부로부터 무기한 비공개 명령이 포함된 국가안보서신(NSL)이 접수되는 경우 정부에 해당 명령이 미국자유법(USA FREEDOM Act)에 저촉되지 않는지 검토해 줄 것을 요청하는 것이 MOIBER의 정책입니다.
    법원 명령이나 긴급 상황으로 인해 통지되지 않은 경우, MOIBER는 자사 정책에 따라 해당 명령 또는 상황이 종료된 후에 해당 사용자에게 통지합니다.
    주: 집행관이 작성한 진술서, 기술서, 커버레터 또는 기타 문서는 MOIBER 사용자에 대한 통지를 제한할 수 있는 충분한 근거가 되지 않습니다. 법 집행기관의 요청에 대해 사용자 통보를 금지하려면 미국법전 18편2705조 b항에 따라 발부되거나 해당 법률을 언급한 법원 명령을 제시해야 합니다.
    보존 및 제공 요청에 대한 비용
    정보의 보존 및 제공에 대한 실 비용을 상환받을 수 있다면, MOIBER는 정보 제공 시 또는 법 집행기관의 요청을 받은 후 처리 과정 전에 정직한 예상 비용을 첨부할 것입니다. 해당 비용은 MOIBER가 유지하는 원 데이터를 처리하고 분류하는 데 필요한 시간, 자원 및 데이터의 양에 기반하여 책정됩니다.
    인증서 또는 전문가의 증언
    MOIBER는 정보 제공에 있어서 해당 정보의 기록물 관리인의 인증서를 제공하지만, 개인적인 증언이나 전문가의 증언은 일반적으로 제공할 수 없습니다.
    비상시 연락처
    귀하가 MOIBER 사용자이며 개인이나 다수에 대한 일촉즉발의 위해에 대해 알고 있다면, 즉시 지역 법 집행기관에 연락하세요.
    살인 및 심각한 상해가 우려되는 긴급 상황의 경우 법 집행기관은 MOIBER의 사법기관 요청 양식(긴급 요청 옵션에 '예'를 클릭하고 요청된 정보를 반드시 기입해야 함)을 제출하거나 MOIBER의 대외 접촉 담당자 이메일(contact@moiber.com)을 이용하는 방법으로 사용자 정보 제공 요청을 접수할 수 있습니다.
    MOIBER는 법 집행기관의 이메일에만 응답합니다. 귀하가 법 집행기관이 아니지만 문제가 있는 경우, MOIBER 도움말 문서를 참조하시기 바랍니다. 위 이메일로 문의하는 것은 악용으로 간주되어 MOIBER 계정에 제재가 가해질 수 있습니다.
    MOIBER는 이러한 요청을 개별적으로 검토하고 응답할 것입니다.
    정부의 대량 사찰 요청에 대한 공식적인 입장
    위에 명시된 법 집행 가이드라인에 따라 MOIBER는 사용자 정보에 대한 모든 요청이 합법적인 취지에 맞게 특정 사용자에게 제한되기를 요구합니다. MOIBER는 정부의 요청에 따른 대량의 사용자 정보 수집에 참여하지 않습니다. MOIBER는 강압적인 우회 수단에 반대하며 대규모 감시 요청을 제한하기 위한 법 개정을 지지합니다.
    계정 식별 정보
    MOIBER 사용자에게는 표시 이름(프로필 상단)과 고유한 사용자 이름(프로필 URL)이 있습니다. 계정을 찾으려면 계정에 등록한 이메일 주소나 사용자 이름이 있어야 합니다. (이메일 주소는 개인 정보이며 일반적으로 피의자 본인을 통해 확인할 수 있습니다.)
    사용자 이름 확인 방법:
    MOIBER 웹사이트에서 사용자 프로필에 들어가면 주소창의 “https://www.MOIBER.com/” 다음에서 사용자 이름을 확인할 수 있습니다.
    iOS 앱의 경우 사용자 프로필에서 화면 왼쪽 상단에 있는 깃발 아이콘을 누르면 사용자 이름 괄호는 화면 아래쪽에 표시 됩니다.
    Android 앱의 경우 사용자 프로필에서 화면 왼쪽 상단에 있는 깃발 아이콘을 누르면 사용자 이름 괄호는 화면 아래쪽에 표시 됩니다.
    투명성 보고서
    MOIBER의 최신 투명성 보고서 또는 투명성 보고서 기록을 확인하세요.




  </div>
</body>
</html>
