<style>
  .scorekit.vcomp {
    position: relative;
    width: 100%;
    background: white;
  }

  .scorekit.vcomp * {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  .scorekit.vcomp > .loginplz {
    position: relative;
    width: 100%;
    height: calc(var(--s-menu) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }

  .scorekit.vcomp > .loginplz > div {
    width: 40%;
    height: 40%;
    background: black;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scorekit.vcomp > .scores {
    position: relative;
    width: 100%;
    height: calc(var(--s-menu) * 2);
    background: white;
    font-size: calc(var(--s-menu) * 1);
  }

  .scorekit.vcomp > .scores > .score {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
  }

  .scorekit.vcomp > .scores > .score.is_focused {
    opacity: 1;
    text-decoration: underline;
  }

  .scorekit.vcomp > .scores > .score.up {
    left: 0;
    /* background: lightpink; */
  }

  .scorekit.vcomp > .scores > .score.down {
    right: 0;
    /* background: lightyellow; */
  }

  .scorekit.vcomp > .scores > .label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: calc(var(--s-menu) * 0.3);
    transform: translate(-50%, -50%);
  }

  .scorekit.vcomp > .scores > .score > .yourpick {
    position: absolute;
    top: 25%;
    left: 50%;
    color: red;
    font-size: calc(var(--s-menu) * 0.2);
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .scorekit.vcomp > .scores > .score.is_yourpick > .yourpick {
    opacity: 1;
  }

  .scorekit.vcomp > .voters-section {
    position: relative;
    width: 100%;
    min-height: calc(var(--s-menu) * 1);
    background: none;
  }

  .scorekit.vcomp > .voters-section > .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scorekit.vcomp > .voters-section > .voters {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    transition: opacity 0.5s;
  }

  .scorekit.vcomp > .voters-section > .voters.loading {
    opacity: 0.5;
  }

  .scorekit.vcomp > .voters-section > .voters > .voter {
    position: relative;
    width: calc(100% / 8);
    padding-top: calc(100% / 8);
    background: none;
    margin-right: 1px;
  }

  .scorekit.vcomp > .voters-section > .voters > .voter > img {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    object-fit: cover;
    background: white;
  }


  /* .scorekit.vcomp .voters-list-leave-active  */
  .scorekit.vcomp .voters-list-enter-active {
    transition: all 1s;
    position: absolute;
  }

  .scorekit.vcomp .voters-list-enter,
  .scorekit.vcomp .voters-list-leave-to {
    opacity: 0;
    transform: translateY(var(--s-menu));
  }

  .scorekit.vcomp .voters-list-move {
    transition: all 0.5s;
  }
</style>


<script type='text/x-template' id='scorekit-template'>
  <div class='scorekit vcomp'>

    <template v-if='boo'>
      <div class='scores'>
        <div class='score up' :class='score_0_class' @click='focus_this(0)'>
          <div class='yourpick'>your pick</div>
          [[ post.nvotes_up ]]
        </div>

        <div class='score down' :class='score_1_class' @click='focus_this(1)'>
          <div class='yourpick'>your pick</div>
          [[ post.nvotes_down ]]
        </div>

        <div class='label'>SCORE</div>
      </div>

      <div class='voters-section'>
        <transition-group tag='div' class='voters' :class='{loading:postvoters[0].onloading}' name='voters-list' v-show='focused==0'>
          <div class='voter' :style='level_style(voter)' v-for='voter in postvoters[0].list' :key='voter.id' @click='session.open_boopage(voter)'>
            <img :src='voter.profile.pix'>
          </div>
        </transition-group>

        <transition-group tag='div' class='voters' :class='{loading:postvoters[1].onloading}' name='voters-list' v-show='focused==1'>
          <div class='voter' :style='level_style(voter)' v-for='voter in postvoters[1].list' :key='voter.id' @click='session.open_boopage(voter)'>
            <img :src='voter.profile.pix'>
          </div>
        </transition-group>

        <scale-loader class='spinner' :loading='postvoters[0].onloading || postvoters[1].onloading'></scale-loader>
      </div>
    </template>

    <template v-else>
      <div class='loginplz' @click='session.open_loginpage()'>
        <div>See Result</div>
      </div>
    </template>

  </div>
</script>


<script>
  Vue.component('scorekit', {
    template: '#scorekit-template',
    delimiters: ['[[', ']]'],
    props: [ 'session', 'post' ],
    data: function() {
      return {
        focused: 0, // 디폴트
      }
    },

    watch: {
      'session.page.comments.open': {
        handler: function(_new, _old) {
          if (_new) {
            if (this.yourpick != -1) {
              this.focused = this.yourpick;
            }
          }
        }, immediate: true
      },

      yourpick: function(_new, _old) {
        if (this.boo && this.post.voters) {
          if (_old==-1) {
            this.post.voters[_new].list.push(this.boo);

          } else if (_new==-1) {
            const where = _.findIndex(this.post.voters[_old].list, ['id', this.boo.id]);
            this.post.voters[_old].list.splice(where, 1);

          } else {
            const where = _.findIndex(this.post.voters[_old].list, ['id', this.boo.id]);
            this.post.voters[_old].list.splice(where, 1);
            this.post.voters[_new].list.push(this.boo);
          }
        }
      }
    },

    computed: {
      boo: function() {
        if (this.session.auth) {
          return this.session.auth.boo
        }
      },

      postvoters: function() {
        if (!this.post.voters) {
          this.$set(this.post, 'voters', {
            0: new Voters(this.post, 0),
            1: new Voters(this.post, 1),
          });
        }

        return this.post.voters
      },

      yourpick: function() {
        if (this.session.auth) {
          return this.session.auth.has_voted_as(this.post.id)
        } else {
          return -1
        }
      },

      score_0_class: function() {
        return {
          is_yourpick: this.yourpick == 0,
          is_focused: this.focused == 0
        }
      },

      score_1_class: function() {
        return {
          is_yourpick: this.yourpick == 1,
          is_focused: this.focused == 1
        }
      },
    },

    methods: {
      focus_this: function(act) {
        this.focused = act;
      },

      level_style: function(boo) {
        return {
          borderBottom: `calc(var(--s-menu) * 0.1) solid ${this.session.levelcolor(boo)}`
        }
      },
    }
  });
</script>
