<style>
  .scorebar {
    position: absolute;
    width: var(--scorebar-w);
    opacity: 0;
  }

  .scorebar-unit {
    width: 100%;
    height: var(--scorebar-h);
    margin-top: 2px;
    color: white;
  }

  .scorebar-unit.num {
    height: var(--scorebar-w);
    line-height: var(--scorebar-w);
    font-size: 10px;
    font-weight: bold;
  }

  .o.vote .scorebar {
    bottom: calc(var(--scorebar-w) + var(--scorebar-offset));
    right: 0;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
  }

  .o.vote .scorebar-unit {
    background: var(--color-pos);
  }

  .o.vote .scorebar-unit div {
    transform: rotate(90deg);
  }

  .x.vote .scorebar {
    bottom: calc(var(--scorebar-w) + var(--scorebar-offset));
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 100%;
  }

  .x.vote .scorebar-unit {
    background: var(--color-neg);
  }

  .x.vote .scorebar-unit div {
    transform: rotate(-90deg);
  }

  .a.vote .scorebar {
    bottom: 0;
    left: var(--scorebar-offset);

  }

  .a.vote .scorebar-unit {
    background: var(--color-pos);
  }

  .b.vote .scorebar {
    bottom: 100%;
    left: var(--scorebar-offset);
    transform: rotate(180deg);
    transform-origin: 50% 100%;

  }

  .b.vote .scorebar-unit {
    background: var(--color-neg);
  }

  .b.vote .scorebar-unit div {
    transform: rotate(180deg);
  }
</style>


{% load ctags %}
<div class='scorebar'>
  {% with score|score_unitize as nunits %}
  {% with ''|center:nunits as range %}

  <div class='scorebar-unit num'>
    <div>{{ score }}%</div>
  </div>

  {% for _ in range %}
  <div class='scorebar-unit'></div>
  {% endfor %}
  {% endwith %}
  {% endwith %}
</div>
