<!doctype html>
<html lang="ko">

{% load static %}
<head>
  <title>GET.CH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <style>
  </style>
</head>

<body style='margin:0;background:white;'>
  ABCD

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    setTimeout(function(){
    	// Hide the address bar!
    	window.scrollTo(0, 1);
    }, 20);
  </script>

</body>
</html>
