<!doctype html>
<html lang="ko">

<head>
  <title>GET.CH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <style>
  </style>
</head>

<body style='margin:0;background:white;'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Load TensorFlow.js. This is required to use coco-ssd model. -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
  <!-- Load the coco-ssd model. -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"> </script>


  <img id='img' src='/static/materials/imgs/adidas_shoe.jpg'>

  <script>
    const img = document.getElementById('img');

    // // Load the model.
    // cocoSsd.load().then(model => {
    //   // detect objects in the image.
    //   model.detect(img).then(predictions => {
    //     console.log('Predictions: ', predictions);
    //   });
    // });


    // Load the model.
    mobilenet.load().then(model => {
      // Classify the image.
      model.classify(img, 5).then(predictions => {
        console.log('Predictions: ');
        console.log(predictions);
      });

      model.infer(img).then(predictions => {
        console.log('Predictions: ');
        console.log(predictions);
      });
    });
  </script>

</body>

</html>
